<%- include("./layout/layout-header"); -%>
<body class="archive post-type-archive post-type-archive-khach-hang full-width lightbox lazy-icons nav-dropdown-has-arrow">
    <%- include("./layout/contact-sidebar"); -%>
    <a class="skip-link screen-reader-text" href="https://devteam.mobi/khach-hang/#main">Skip to content</a>
    <div id="wrapper">
        <%- include("./layout/header"); -%>
        <main id="main" class="">
            <header class="archive-page-header" style="padding-top:200px">
                <div class="row">
                    <div class="large-12 text-center col">
                        <h1 class="page-title is-large uppercase"> <span>Sản phẩm thực tế</span></h1>
                        <div class="entry-divider is-divider small"></div>
                    </div>
                </div>
            </header>
            <div class="row">
                <div class="col medium-6 small-12 large-6 customer_style" data-animate="fadeInUp" data-animated="true">
                    <div class="col-inner">
                        <a href="https://devteam.mobi/khach-hang/sieu-thi-oto-di-an/" class="plain" title="Siêu Thị Ôtô Dĩ An">
                            <div class="box box-text-bottom box-blog-post has-hover">
                                <div class="box-image">
                                    <div class="image-cover" style="padding-top:56%;"> <img width="300" height="225" src="./../assets/haeva.png" class="attachment-medium size-medium wp-post-image lazy-load-active" alt="Siêu Thị Ôtô Dĩ An" style="border: 1px solid #f3f0f0;padding: 10px;max-width:240px;margin:auto;"></div>
                                </div>
                                <div class="box-text text-left">
                                    <div class="box-text-inner blog-post-inner">
                                        <h5 class="post-title is-large text-center">Siêu Thị Ôtô Dĩ An</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col medium-6 small-12 large-6 customer_style" data-animate="fadeInUp" data-animated="true">
                    <div class="col-inner">
                        <a href="https://devteam.mobi/khach-hang/cong-ty-quoc-te-haeva/" class="plain" title="Công Ty Quốc Tế Haeva">
                            <div class="box box-text-bottom box-blog-post has-hover">
                                <div class="box-image">
                                    <div class="image-cover" style="padding-top:56%;"> <img width="300" height="225" src="./../assets/haeva.png" class="attachment-medium size-medium wp-post-image lazy-load-active" alt="Công Ty Quốc Tế Haeva" style="border: 1px solid #f3f0f0;padding: 10px;max-width:240px;margin:auto;"></div>
                                </div>
                                <div class="box-text text-left">
                                    <div class="box-text-inner blog-post-inner">
                                        <h5 class="post-title is-large text-center">Công Ty Quốc Tế Haeva</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col medium-6 small-12 large-6 customer_style" data-animate="fadeInUp" data-animated="true">
                    <div class="col-inner">
                        <a href="https://devteam.mobi/khach-hang/rao-vat-mua-ban-xe/" class="plain" title="Rao Vặt Mua Xe Bán Xe">
                            <div class="box box-text-bottom box-blog-post has-hover">
                                <div class="box-image">
                                    <div class="image-cover" style="padding-top:56%;"> <img width="300" height="225" src="./../assets/haeva.png" class="attachment-medium size-medium wp-post-image lazy-load-active" alt="Rao Vặt Mua Xe Bán Xe" style="border: 1px solid #f3f0f0;padding: 10px;max-width:240px;margin:auto;"></div>
                                </div>
                                <div class="box-text text-left">
                                    <div class="box-text-inner blog-post-inner">
                                        <h5 class="post-title is-large text-center">Rao Vặt Mua Xe Bán Xe</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col medium-6 small-12 large-6 customer_style" data-animate="fadeInUp" data-animated="true">
                    <div class="col-inner">
                        <a href="https://devteam.mobi/khach-hang/trung-tam-thuong-mai-saigon-centre/" class="plain" title="Trung tâm thương mại Saigon Centre">
                            <div class="box box-text-bottom box-blog-post has-hover">
                                <div class="box-image">
                                    <div class="image-cover" style="padding-top:56%;"> <img width="300" height="225" src="./../assets/haeva.png" class="attachment-medium size-medium wp-post-image lazy-load-active" alt="Trung tâm thương mại Saigon Centre" style="border: 1px solid #f3f0f0;padding: 10px;max-width:240px;margin:auto;"></div>
                                </div>
                                <div class="box-text text-left">
                                    <div class="box-text-inner blog-post-inner">
                                        <h5 class="post-title is-large text-center">Trung tâm thương mại Saigon Centre</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col medium-6 small-12 large-6 customer_style" data-animate="fadeInUp" data-animated="true">
                    <div class="col-inner">
                        <a href="https://devteam.mobi/khach-hang/chuoi-lam-dep-elodie-tai-my/" class="plain" title="Chuỗi làm đẹp ELodie tại Mỹ">
                            <div class="box box-text-bottom box-blog-post has-hover">
                                <div class="box-image">
                                    <div class="image-cover" style="padding-top:56%;"> <img width="300" height="225" src="./../assets/haeva.png" class="attachment-medium size-medium wp-post-image lazy-load-active" alt="Chuỗi làm đẹp ELodie tại Mỹ" style="border: 1px solid #f3f0f0;padding: 10px;max-width:240px;margin:auto;"></div>
                                </div>
                                <div class="box-text text-left">
                                    <div class="box-text-inner blog-post-inner">
                                        <h5 class="post-title is-large text-center">Chuỗi làm đẹp ELodie tại Mỹ</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col medium-6 small-12 large-6 customer_style" data-animate="fadeInUp" data-animated="true">
                    <div class="col-inner">
                        <a href="https://devteam.mobi/khach-hang/cong-ty-co-phan-dau-tu-bat-dong-san-thoi-dai-land/" class="plain" title="Công ty Cổ phần Đầu Tư Bất Động Sản Thời Đại Land">
                            <div class="box box-text-bottom box-blog-post has-hover">
                                <div class="box-image">
                                    <div class="image-cover" style="padding-top:56%;"> <img width="300" height="225" src="./../assets/haeva.png" class="attachment-medium size-medium wp-post-image lazy-load-active" alt="Công ty Cổ phần Đầu Tư Bất Động Sản Thời Đại Land" style="border: 1px solid #f3f0f0;padding: 10px;max-width:240px;margin:auto;"></div>
                                </div>
                                <div class="box-text text-left">
                                    <div class="box-text-inner blog-post-inner">
                                        <h5 class="post-title is-large text-center">Công ty Cổ phần Đầu Tư Bất Động Sản Thời Đại Land</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col medium-6 small-12 large-6 customer_style" data-animate="fadeInUp" data-animated="true">
                    <div class="col-inner">
                        <a href="https://devteam.mobi/khach-hang/cong-ty-tnhh-dien-may-aqua/" class="plain" title="Công ty TNHH điện máy AQUA">
                            <div class="box box-text-bottom box-blog-post has-hover">
                                <div class="box-image">
                                    <div class="image-cover" style="padding-top:56%;"> <img width="300" height="225" src="./../assets/haeva.png" class="attachment-medium size-medium wp-post-image lazy-load-active" alt="Công ty TNHH điện máy AQUA" style="border: 1px solid #f3f0f0;padding: 10px;max-width:240px;margin:auto;"></div>
                                </div>
                                <div class="box-text text-left">
                                    <div class="box-text-inner blog-post-inner">
                                        <h5 class="post-title is-large text-center">Công ty TNHH điện máy AQUA</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col medium-6 small-12 large-6 customer_style" data-animate="fadeInUp" data-animated="true">
                    <div class="col-inner">
                        <a href="https://devteam.mobi/khach-hang/cong-ty-tnhh-tm-dv-dong-hung-citimart/" class="plain" title="Công ty TNHH TM DV Đông Hưng (CITIMART)">
                            <div class="box box-text-bottom box-blog-post has-hover">
                                <div class="box-image">
                                    <div class="image-cover" style="padding-top:56%;"> <img width="300" height="225" src="./../assets/haeva.png" class="attachment-medium size-medium wp-post-image lazy-load-active" alt="Công ty TNHH TM DV Đông Hưng (CITIMART)" style="border: 1px solid #f3f0f0;padding: 10px;max-width:240px;margin:auto;"></div>
                                </div>
                                <div class="box-text text-left">
                                    <div class="box-text-inner blog-post-inner">
                                        <h5 class="post-title is-large text-center">Công ty TNHH TM DV Đông Hưng (CITIMART)</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </main>
        <%- include("./layout/footer"); -%>
    </div>
    <%- include("./layout/hotline"); -%>
    <div class="block-profile-capacity"> 
        <img class="icon-doc" src="./../assets/file.svg"> 
        <img class="icon-devteam" src="./../assets/devteam-logo.svg"> 
        <a href="https://devteam.mobi/ho-so-nang-luc-devteam.pdf" target="_blank" class="link-sub"></a>
    </div>
    <%- include("./layout/sidebar"); -%>
    <!-- <%- include("./layout/fb-login"); -%> -->
    <div style="display:none"></div>
    <script id="lazy-load-icons">
        /* Lazy load icons css file */
        var fl_icons = document.createElement('link');
        fl_icons.rel = 'stylesheet';
        fl_icons.href = 'https://devteam.mobi/wp-content/themes/flatsome/assets/css/fl-icons.css';
        fl_icons.type = 'text/css';
        var fl_icons_insert = document.getElementsByTagName('link')[0];
        fl_icons_insert.parentNode.insertBefore(fl_icons, fl_icons_insert);
    </script>
    <script type="text/javascript">
        var wpcf7 = {
            "apiSettings": {
                "root": "https:\/\/devteam.mobi\/wp-json\/contact-form-7\/v1",
                "namespace": "contact-form-7\/v1"
            },
            "cached": "1"
        };
    </script>
    <script type="text/javascript" src="./../assets/devicepx-jetpack.js"></script>
    <script type="text/javascript">
        var tocplus = {
            "visibility_show": "hi\u1ec7n",
            "visibility_hide": "\u1ea9n",
            "visibility_hide_by_default": "1",
            "width": "Auto"
        };
    </script>
    <script type="text/javascript" src="./../assets/gprofiles.js"></script>
    <script type="text/javascript">
        var WPGroHo = {
            "my_hash": ""
        };
    </script>
    <script type="text/javascript">
        var flatsomeVars = {
            "ajaxurl": "https:\/\/devteam.mobi\/wp-admin\/admin-ajax.php",
            "rtl": "",
            "sticky_height": "70",
            "user": {
                "can_edit_pages": false
            }
        };
    </script>
    <%- include("./layout/form-show"); -%>
    <script>
        function setCookie(name, value, days) {
            var expires = '';
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = 'expires=' + date.toUTCString();
            }
            document.cookie = name + '=' + (value || '');
        }

        function getCookie(name) {
            var nameEQ = name + '=';
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }

        function msToTime(duration) {
            var milliseconds = parseInt((duration % 1000) / 100),
                seconds = Math.floor((duration / 1000) % 60),
                minutes = Math.floor((duration / (1000 * 60)) % 60),
                hours = Math.floor((duration / (1000 * 60 * 60)) % 24);
            hours = (hours < 10) ? '0' + hours : hours;
            minutes = (minutes < 10) ? '0' + minutes : minutes;
            seconds = (seconds < 10) ? '0' + seconds : seconds;
            return hours;
        }
        if (!getCookie('access_websites')) {
            setCookie('access_websites', new Date(), 4555858);
            setTimeout(function () {
                jQuery('.wp-form-show').addClass('active');
            }, 10000);
        } else {
            var datecookie = (new Date(getCookie('access_websites'))).getTime();
            var today = (new Date()).getTime();
            var result = today - datecookie;
            var subdate = msToTime(result);
            if (subdate && subdate > 24) {
                setCookie('access_websites', new Date(), 4555858);
                setTimeout(function () {
                    jQuery('.wp-form-show').addClass('active');
                }, 10000);
            }
        }
        jQuery(document).ready(function () {
            jQuery('.wp-form-show .overlays').click(function () {
                jQuery('.wp-form-show').removeClass('active');
            });
            jQuery('.remove-icon').click(function () {
                jQuery('.wp-form-show').removeClass('active');
                $(this).removeClass('overlays');
            });
        });
    </script>
    <div class="sidebar-footer"><span class="hidden" style="display:none">10000</span></div>
    <%- include("./layout/form-show-phone"); -%>
    <%- include("./layout/layout-footer"); -%>
