<%- include("./layout/layout-header"); -%>
<body class="home page-template page-template-page-blank page-template-page-blank-php page page-id-8575 full-width lightbox lazy-icons nav-dropdown-has-arrow">
    <%- include("./layout/contact-sidebar"); -%>
    <a class="skip-link screen-reader-text" href="">Skip to content</a>
    <div id="wrapper">
        <%- include("./layout/header"); -%>
	    <main id="main" class="">
	        <div id="content" role="main" class="content-area">
	            <section class="section header-wc" id="section_1794893576">
	                <div class="bg section-bg fill bg-fill bg-loaded"></div>
	                <div class="section-content relative">
	                    <div class="row" id="row-1803587599">
	                        <div class="col header-top-dev medium-12 small-12 large-6">
	                            <div class="col-inner">
	                                <div class="icon-box featured-box icon-box-top text-left" style="margin:150px 0px 0px 0px;">
	                                    <div class="icon-box-img" style="width: 35px">
	                                        <div class="icon">
	                                            <div class="icon-inner">
	                                                <!--?xml version="1.0" encoding="UTF-8"?--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 31.25 27.07"><defs><lineargradient id="New_Gradient_Swatch_2" x1="-30.56" y1="35.53" x2="42.46" y2="35.53" gradientTransform="translate(51.16 19.91) rotate(90)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#fff9a1"></stop><stop offset="0.5" stop-color="#f70"></stop><stop offset="1" stop-color="#9e0000"></stop></lineargradient></defs><title>id_icon_retancle</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><g id="section_banner" data-name="section banner"><g id="icon_welcome" data-name="icon welcome"><polygon class="cls-1" points="15.63 21.79 26.69 2.64 4.57 2.64 15.63 21.79"></polygon><path class="cls-1" d="M29.71.89,15.63,25.28,1.55.89H29.71M31.25,0H0L.77,1.34,14.85,25.73l.78,1.34.77-1.34L30.48,1.34,31.25,0Z"></path></g></g></g></g></svg></div>
	                                        </div>
	                                    </div>
	                                    <div class="icon-box-text last-reset"></div>
	                                </div>
	                                <h1 class="p1"><span style="color: #ffffff; font-size: 115%;">TulPo – Phát triển phần mềm</span></h1>
	                                <div class="custom-div-head" style="display: flex;">
	                                    <p><img class="details-image img-list-li" draggable="false" src="./../assets/id_icon_bullet.svg" alt="" width="10px"></p>
	                                    <p style="color: #cccccc; margin-left: 16px;">Bot, chatbot trong nhiều lĩnh vực</p>
	                                </div>
	                                <div style="display: flex;">
	                                    <p><img class="details-image img-list-li" draggable="false" src="./../assets/id_icon_bullet.svg" alt="" width="13px"></p>
	                                    <p style="color: #cccccc; margin-left: 16px;">Ứng dụng Blockchain và các sản phẩm như : Exchange, Wallet, Cổng thanh toán, Network, Market Maker, Smart Contract….</p>
	                                </div>
	                                <div style="display: flex;">
	                                    <p><img class="details-image img-list-li" draggable="false" src="./../assets/id_icon_bullet.svg" alt="" width="13px"></p>
	                                    <p style="color: #cccccc; margin-left: 16px;">Xây dựng chuyên nghiệp trên các nền tảng : Website, App, Dapp, BOT/Tool,…</p>
	                                </div>
	                                <div class="row" id="row-526758052">
	                                    <div class="col btn-center-contact small-12 large-12">
	                                        <div class="col-inner" style="padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;"> <a class="button primary btn-contact btnshow" style="border-radius:10px;"> <span>Liên Hệ</span> </a></div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="col custum-right medium-12 small-12 large-6">
	                            <div class="col-inner">
	                                <div class="img has-hover img-right-header x md-x lg-x y md-y lg-y" id="image_1126426771">
	                                    <div class="img-inner image-cover dark" style="padding-top:95%;"> <img src="" class="attachment-thumbnail size-thumbnail" alt="" height="729" width="751.6"></div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </section>
	            <section class="section wp-t" id="section_573983017">
	                <div class="bg section-bg fill bg-fill bg-loaded"></div>
	                <div class="section-content relative">
	                    <div class="row" id="row-111268904">
	                        <div class="col small-12 large-12" data-animate="fadeInDown" data-animated="true">
	                            <div class="col-inner">
	                                <div class="devteam-poxstion devteam-postions">
	                                    <h2 style="text-align: center; font-size: 64px; color: #e6e6e6;">TULPO</h2>
	                                    <p style="text-align: center;">Đôi nét về chúng tôi</p>
	                                </div>
	                                <p style="text-align: center; font-size: 19px; color: #4d4d4d;">Chúng tôi có trên 4 năm kinh nghiệm nghiên cứu và phát triển Bot, Chatbot , nền tảng Blockchain với các giao diện sản phẩm đa dạng  Website, App, Dapp... Cùng đội ngũ giàu kinh nghiệm và xuất sắc về
										tư duy đổi mới sáng tạo chúng tôi tự tin có thể làm hài lòng mỗi khách hàng.</p>
	                                <div class="row descript-devteam" id="row-737869429">
	                                    <div class="col abounts small-12 large-12">
	                                        <div class="col-inner">
	                                            <div class="img has-hover img-amimation x md-x lg-x y md-y lg-y" id="image_657992088">
	                                                <div class="img-inner dark"> <img src="./../assets/about-home.jpg" class="attachment-large size-large" alt="" height="732.5" width="850.1"></div>
	                                            </div>
	                                            <p class="des-php" style="text-align: center; background-color: white; border-radius: 8px; color: #4d4d4d;">Chuyên nghiệp – Tự tin – Sáng tạo
													Quá trình lịch sử học tập và rèn luyện đã tạo nên đội ngũ TulPo ngày hôm nay
													Luôn sẵn sàng tâm huyết với các dự án của khách hàng.</p>
	                                            <p class="read-more-dev"
	                                                style="color: #04328a; text-align: center; position: relative; top: 80px; font-size: 17px; z-index: 999999; font-weight: 500;"><a style="color: #04328a;" href="/about/about-us"><br>Xem thêm</a></p>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </section>
	            <section class="section services" id="section_1783771770">
	                <div class="bg section-bg fill bg-fill  bg-loaded"></div>
	                <div class="section-content relative">
	                    <div class="devteam-postion">
	                        <h2 style="text-align: center; font-size: 64px; color: #e6e6e6;">TULPO</h2>
	                        <p style="text-align: center;">Dịch Vụ</p>
	                        <div class="hr-service"></div>
	                    </div>
	                    <p style="text-align: center; font-size: 17px; color: #4d4d4d; width: 100%; margin: 0 auto;">Nhằm đáp ứng nhu cầu thị trường, từ đầu năm 2019, Tulpo đã đẩy mạnh thêm các loại hình dịch vụ khác."</p>
	                    <div class="row" id="row-570513346">
	                        <div class="col small-12 large-12">
	                            <div class="col-inner">
	                                <div class="container">
	                                    <div class="owl-carousel owl-loaded owl-drag">
	                                        <div class="owl-stage-outer">
	                                            <div class="owl-stage" style="transition: all 0.25s ease 0s; width: 4200px; transform: translate3d(-2450px, 0px, 0px);">
	                                                <div class="owl-item cloned" style="width: 450px!important;">
	                                                    <div class="items">
	                                                        <div class="item-custom" style="text-align: center; padding-bottom: 10px;">
	                                                            <div><img src="./../assets/sv-bot.jpg" alt="Logo 1"></div>
	                                                            <div style="margin-top: 50px;"></div>
	                                                            <h4 class="color-red">Chatbot/Bot</h4>
	                                                            <p style="padding: 0 15px;">Chatbot chăm sóc KH<br>Chatbot chiến dịch PR<br>Bot thanh toán tự động<br>Nền tảng Telegram, Messenger, Discord, Wechat</p>
	                                                        </div>
	                                                        <div class="button-slide"><a class="uppercase" href="#">Xem thêm</a></div>
	                                                    </div>
	                                                </div>
	                                                <div class="owl-item cloned" style="width: 450px!important;">
	                                                    <div class="items">
	                                                        <div class="item-custom" style="text-align: center; padding-bottom: 10px;">
	                                                            <div><img src="./../assets/sv-tool.jpg" alt="Logo 1"></div>
	                                                            <div style="margin-top: 50px;"></div>
	                                                            <h4 class="color-red">Tool</h4>
	                                                            <p style="padding: 0 15px;">Tool chỉ báo<br>Tool đặt lệnh tự động<br>Tool check user<br>Tool phân tích</p>
	                                                        </div>
	                                                        <div class="button-slide"><a class="uppercase" href="#">Xem thêm</a></div>
	                                                    </div>
	                                                </div>
	                                                <div class="owl-item cloned" style="width: 450px!important;">
	                                                    <div class="items">
	                                                        <div class="item-custom" style="text-align: center; padding-bottom: 10px;">
	                                                            <div><img src="./../assets/sv-blockchain.jpg" alt="Logo 1"></div>
	                                                            <div style="margin-top: 50px;"></div>
	                                                            <h4 class="color-red">Blockchain Platform</h4>
	                                                            <p style="padding: 0 15px;">- Dịch vụ tài chính<br>Bảo hiểm<br>Truy suất nguồn gốc<br>Bất động sản<br>Smart Contract</p>
	                                                        </div>
	                                                        <div class="button-slide"><a class="uppercase" href="#">Xem thêm</a></div>
	                                                    </div>
	                                                </div>
	                                                <div class="owl-item" style="width: 450px!important;">
	                                                    <div class="items">
	                                                        <div class="item-custom" style="text-align: center; padding-bottom: 10px;">
	                                                            <div><img src="./../assets/sv-wallet.jpg" alt="Logo 1"></div>
	                                                            <div style="margin-top: 50px;"></div>
	                                                            <h4 class="color-red">Ví tiền điện tử</h4>
	                                                            <p style="padding: 0 15px;">Ví phi tập trung<br>Công nghệ Multisignature<br>Swap<br>Ví nóng, ví lạnh</p>
	                                                        </div>
	                                                        <div class="button-slide"><a class="uppercase" href="#">Xem thêm </a></div>
	                                                    </div>
	                                                </div>
	                                                <div class="owl-item" style="width: 450px!important;">
	                                                    <div class="items">
	                                                        <div class="item-custom" style="text-align: center; padding-bottom: 10px;">
	                                                            <div><img src="./../assets/sv-web-mlm.jpg" alt="Logo 1"></div>
	                                                            <div style="margin-top: 50px;"></div>
	                                                            <h4 class="color-red">Website đa tầng</h4>
	                                                            <p style="padding: 0 15px;">Dịch vụ tài chính<br>Bán hàng trực tiếp<br>Quản lý người dùng<br>Thanh toán tự động</p>
	                                                        </div>
	                                                        <div class="button-slide"><a class="uppercase" href="#">Xem thêm </a></div>
	                                                    </div>
	                                                </div>
	                                                <div class="owl-item" style="width: 450px!important;">
	                                                    <div class="items">
	                                                        <div class="item-custom" style="text-align: center; padding-bottom: 10px;">
	                                                            <div><img src="./../assets/sv-airdrop.jpg" alt="Logo 1"></div>
	                                                            <div style="margin-top: 50px;"></div>
	                                                            <h4 class="color-red">Bounty/Airdrop</h4>
	                                                            <p style="padding: 0 15px;">Xây dựng nội dung<br>Các bot tự động hóa<br>Lan tỏa chiến dịch<br>Quản lý User</p>
	                                                        </div>
	                                                        <div class="button-slide"><a class="uppercase" href="#">Xem thêm</a></div>
	                                                    </div>
	                                                </div>
	                                                <div class="owl-item" style="width: 450px!important;">
	                                                    <div class="items">
	                                                        <div class="item-custom" style="text-align: center; padding-bottom: 10px;">
	                                                            <div><img src="./../assets/sv-maker.jpg" alt="Logo 1"></div>
	                                                            <div style="margin-top: 50px;"></div>
	                                                            <h4 class="color-red">Market Maker</h4>
	                                                            <p style="padding: 0 15px;">Bot phân tích<br>Bot tăng Volume<br>Bot tự động đặt lệnh<br>Bot kiểm soát quá trình</p>
	                                                        </div>
	                                                        <div class="button-slide"><a class="uppercase" href="#">Xem thêm</a></div>
	                                                    </div>
	                                                </div>
	                                                <div class="owl-item active" style="width: 450px!important;">
	                                                    <div class="items">
	                                                        <div class="item-custom" style="text-align: center; padding-bottom: 10px;">
	                                                            <div><img src="./../assets/sv-gate.jpg" alt="Logo 1"></div>
	                                                            <div style="margin-top: 50px;"></div>
	                                                            <h4 class="color-red">Cổng thanh toán</h4>
	                                                            <p style="padding: 0 15px;">Visa/MasterCard<br>Ví điện tử<br>BTC<br>ETH<br>EOS</p>
	                                                        </div>
	                                                        <div class="button-slide"><a class="uppercase" href="#">Xem thêm</a></div>
	                                                    </div>
	                                                </div>
	                                                <div class="owl-item active center" style="width: 450px!important;">
	                                                    <div class="items">
	                                                        <div class="item-custom" style="text-align: center; padding-bottom: 10px;">
	                                                            <div><img src="./../assets/sv-exchange.jpg" alt="Logo 1"></div>
	                                                            <div style="margin-top: 50px;"></div>
	                                                            <h4 class="color-red">Sàn giao dịch</h4>
	                                                            <p style="padding: 0 15px;">- Sàn tập trung<br>Sàn phi tập trung<br>Stable coin<br>Content</p>
	                                                        </div>
	                                                        <div class="button-slide"><a class="uppercase" href="#">Xem thêm</a></div>
	                                                    </div>
	                                                </div>
	                                            </div>
	                                        </div>
	                                        <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div>
	                                        <div
	                                            class="owl-dots disabled"></div>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
			        </div>
		        </section>
		        <section class="section orientation" id="section_1775254083">
		            <div class="bg section-bg fill bg-fill  bg-loaded"></div>
		            <div class="section-content relative">
		                <div class="row" id="row-1806252719">
		                    <div class="col medium-12 small-12 large-6">
		                        <div class="col-inner">
		                            <div class="devteam-postion" style="margin-top: 28px;">
		                                <h2 style="font-size: 64px; color: #e6e6e6; text-align: left;">TULPO</h2>
		                                <p style="text-align: left;">Tầm nhìn</p>
		                            </div>
		                            <div class="content-left">
		                                <div class="content-doted">
		                                    <p style="color: #04328a; font-size: 22px; font-weight: 600;">Số 1 về Blockchain & Bot tại Việt Nam</p>
		                                    <p style="margin-bottom: 0px; color: #4d4d4d; font-size: 17px;">TulPo tập trung đẩy mạnh chất lượng đội ngũ nhân sự và
												chuyên nghiệp trong công việc . Tất cả đều hướng tới
												những sản phẩm chất lượng cho khách hàng và một
												quốc gia công nghệ tiên tiến vững mạnh</p>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                    <div class="col dinhhuong-img medium-12 small-12 large-6">
		                        <div class="col-inner">
		                            <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_1857767166">
										<div data-animate="fadeInRight">
											<div class="img-inner dark"> 
												<img src="./../assets/vission.jpg" class="attachment-large size-large" alt="" height="441.57" width="468.88">
											</div>
										</div>	
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </section>
		        <section class="section dn-wp" id="section_395255108">
		            <div class="bg section-bg fill bg-fill  bg-loaded"></div>
		            <div class="section-content relative">
		                <div class="row hidden-img-moble-v" id="row-280011767">
		                    <div class="col medium-12 small-12 large-6">
		                        <div class="col-inner">
		                            <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_403331542">
		                                <div data-animate="fadeInLeft">
											<div class="img-inner image-cover dark" style="padding-top:62%;"> 
												<img src="./../assets/team-home.jpg" class="attachment-large size-large" alt="" height="317.23" width="513">
											</div>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                    <div class="col medium-12 small-12 large-6" data-animate="fadeInRight">
		                        <div class="col-inner">
		                            <p class="dn-team" style="font-size: 34px; font-weight: bold;">Đội Ngũ</p>
		                            <p style="text-align: right; color: #04328a; text-transform: capitalize; font-weight: bold; padding-bottom: 11px; border-bottom: 2px dashed #bfb2b2; font-size: 20px;">Chuyên nghiệp - Tự tin – Sáng tạo</p>
		                            <p style="color: #4d4d4d; font-size: 18px; margin-bottom: 0px;">Với đội ngũ lập trình viên trẻ nhiều sáng tạo, chúng tôi
										luôn có những chương trình đào tạo định kỳ để nâng cao
										chất lượng đội ngũ của công ty. Ngoài ra sẽ mở rộng
										thực hành nhiều sản phẩm ứng dụng vào thực tế để mở
										rộng chuyên môn</p>
		                        </div>
		                    </div>
		                </div>
		                <div class="col read-more-we small-12 large-12">
		                    <div class="col-inner text-center" style="padding:0px 0px 0px 0px;"> <a href="" target="_self" class="button primary btn-redmore" style="border-radius:99px;"> <span>Xem thêm về chúng tôi</span> </a></div>
		                </div>
		            </div>
		        </section>
			</div>
			<section class="section" id="section_1574786435">
				<div class="bg section-bg fill bg-fill bg-loaded"></div>
				<div class="section-content relative">
					<div class="row img-tes" id="row-1824688596" style="background-size: 70%; padding: 20px;margin-bottom: 100px; background-position: right;">
						<div class="col medium-12 small-12 large-6">
							<div class="col-inner">
								<div class="carousel carousel-slider" style="margin-top: 30px; height: 400px;">
									<a class="carousel-item active" href="#one!">
										<div class="set-custom-slider"  style="position: relative; padding-right:5px;" >
											<div style="position:absolute; top:-50px;">
												<img src="https://lorempixel.com/800/400/food/2" style="width: 100px; height: 100px; border-radius:50%; border: 2px solid rgba(1, 1, 97, 0.199)">
											</div>
											<div style="background: rgba(128, 128, 128, 0);padding: 10px 50px; margin-left: 50px; margin-top:50px; border-radius: 20px; box-shadow: grey 1px 4px 1px 1px;">
												<h5 style="text-align: center;"><strong>- CEO CÔNG TY DIGITAL MARKETING NINJA -</strong></h5>
												<p style="font-weight: 600; color: grey;"><i>"Đã hợp tác với TulPo 3 lần. Có một điều mình cảm
													thấy khá hài lòng đó là sự nhiệt tình và tư duy sáng
													tạo, tư vấn làm và nâng cấp sản phẩm rất logic. Hứa
													hẹn sẽ hợp tác nhiều trong tương lai."</i></p>
												<div style="font-size: 18px; color: rgb(2, 2, 104); text-align: right; font-weight: 600;">Đặng Mạnh Dũng</div>
											</div>
										</div>
									</a>
									<a class="carousel-item" href="#two!">
										<div class="set-custom-slider"  style="position: relative; padding-right:5px;" >
											<div style="position:absolute; top:-50px;">
												<img src="https://lorempixel.com/800/400/food/2" style="width: 100px; height: 100px; border-radius:50%; border: 2px solid rgba(1, 1, 97, 0.199)">
											</div>
											<div style="background: rgba(128, 128, 128, 0);padding: 10px 50px; margin-left: 50px; margin-top:50px; border-radius: 20px; box-shadow: grey 1px 4px 1px 1px;">
												<h5 style="text-align: center;"><strong>- CEO CÔNG TY TNHH THIẾT BỊ CÔNG NGHIỆP AKIKO -</strong></h5>
												<p style="font-weight: 600; color: grey;"><i>"Chưa biết tương lai TulPo mở rộng phát triển sang
													mảng nào nữa không. Mình rất muốn mọi thứ công
													nghệ bên mình do bên TulPo đảm nhiệm vì qua
													những lần hợp tác thì thấy TulPo rất chuyên nghiệp."</i></p>
												<div style="font-size: 18px; color: rgb(2, 2, 104); text-align: right; font-weight: 600;">Nguyễn Hoàng</div>
											</div>
										</div>
									</a>
									<a class="carousel-item" href="#three!">
										<div class="set-custom-slider"  style="position: relative; padding-right:5px;" >
											<div style="position:absolute; top:-50px;">
												<img src="https://lorempixel.com/800/400/food/2" style="width: 100px; height: 100px; border-radius:50%; border: 2px solid rgba(1, 1, 97, 0.199)">
											</div>
											<div style="background: rgba(128, 128, 128, 0);padding: 10px 50px; margin-left: 50px; margin-top:50px; border-radius: 20px; box-shadow: grey 1px 4px 1px 1px;">
												<h5 style="text-align: center;"><strong>- CTO IZICHAIN -</strong></h5>
												<p style="font-weight: 600; color: grey;"><i>"Tôi là CEO của một công ty công nghệ gia công mảng
													Web/App. Và TulPo là đối tác của chúng tôi trong
													mảng Blockchain và Bot. TulPo là một đột ngũ rất
													sáng tạo trong công việc."</i></p>
												<div style="font-size: 18px; color: rgb(2, 2, 104); text-align: right; font-weight: 600;">Trần Thanh Tùng</div>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
	        <section class="section wp-bg-dev" id="section_1108701614">
	            <div class="bg section-bg fill bg-fill  bg-loaded"></div>
	            <div class="section-content relative">
	                <div class="row" id="row-1009688863">
	                    <div class="col medium-12 small-12 large-6">
	                        <div class="col-inner">
	                            <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_514318783">
	                                <div data-animate="fadeInLeft">
	                                    <div class="img-inner image-cover dark" style="padding-top:75%;"> <img src="./../assets/tulpo-great.png" class="attachment-large size-large" alt="" height="443.82" width="504.6"></div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="col content-dev medium-12 small-12 large-6" data-animate="fadeInRight">
	                        <div class="col-inner">
	                            <div class="hr-top" style="margin-top: 25px;"></div>
	                            <h2 style="font-size: 41px; color: #424153; margin-bottom: 0px;">TulPo Việt Nam</h2>
	                            <h5 style="color: #04328a; margin-top: 5px; text-transform: inherit; font-size: 22px;">Chuyên nghiệp – Tự tin – Sáng tạo</h5>
	                            <p style="color: #4d4d4d; font-size: 18px; margin-top: 20px;">Với kinh nghiệm nhiều năm làm việc cùng với sự học
									tập nâng cao trình độ không ngừng nghỉ của đội ngũ
									TulPo, chúng tôi có thể tự tin mang đến cho quý
									khách hàng những sản phẩm tốt nhất, với công nghệ
									tiên tiến nhất và chất lượng phục vụ vượt mong đợi.</p>
	                            <div class="content-decs">
	                                <p class="btn-content" style="font-size: 21px;"><img src="./../assets/ql_icon_phone-1.svg" width="15px">Liên hệ ngay</p>
	                                <p>&nbsp;</p>
	                                <p>&nbsp;</p>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <div class="row" id="row-764455314">
	                    <div class="col medium-4 small-12 large-4">
	                        <div class="col-inner">
	                            <div class="icon-box featured-box icon-box-center text-center">
	                                <div class="icon-box-img" style="width: 100px">
	                                    <div class="icon">
	                                        <div class="icon-inner"> <img src="./../assets/tick-1.jpg" class="attachment-medium size-medium" alt="" height="76.67" width="68.18"></div>
	                                    </div>
	                                </div>
	                                <div class="icon-box-text last-reset">
	                                    <h3 style="color: #424153;">Bảo mật tuyệt đối</h3>
	                                    <div class="hr-title"></div>
	                                    <p style="color: #4d4d4d;">Chúng tôi tôn trọng quyền
											riêng tư của khách hàng khi xây
											dựng sản phẩm. Mọi thông tin
											về sản phẩm khách hàng không
											muốn công khai đều cam kết
											bảo mật 100%</p>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="col medium-4 small-12 large-4">
	                        <div class="col-inner">
	                            <div class="icon-box featured-box icon-box-center text-center">
	                                <div class="icon-box-img" style="width: 100px">
	                                    <div class="icon">
	                                        <div class="icon-inner"> <img src="./../assets/tick-2.jpg" class="attachment-medium size-medium" alt="" height="76.67" width="69"></div>
	                                    </div>
	                                </div>
	                                <div class="icon-box-text last-reset">
	                                    <h3 style="color: #424153;">Chất lượng hàng đầu</h3>
	                                    <div class="hr-title"></div>
	                                    <p style="color: #4d4d4d;">Chất lượng luôn là vấn đề TulPo
											đặt lên hàng đầu. Sự nhiệt
											huyết và đam mê trong công
											việc của đội ngũ đã và đang tạo
											nên những sản phẩm với chất
											lượng vượt mong đợi.</p>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="col medium-4 small-12 large-4">
	                        <div class="col-inner">
	                            <div class="icon-box featured-box icon-box-center text-center">
	                                <div class="icon-box-img" style="width: 106px">
	                                    <div class="icon">
	                                        <div class="icon-inner"> <img src="./../assets/tick-3.jpg" class="attachment-medium size-medium" alt="" height="76.67" width="76"></div>
	                                    </div>
	                                </div>
	                                <div class="icon-box-text last-reset">
	                                    <h3 style="color: #424153; margin-top: 2px;">Chi phí hợp lý</h3>
	                                    <div class="hr-title"></div>
	                                    <p style="color: #4d4d4d;">Thị trường Blockchain và
											Chatbot rất tiềm năng trong
											tương lai và nguồn nhân lực
											đang rất hạn hẹp, nhưng để
											phổ cập công nghệ mới cho
											cộng đồng chúng tôi cam kết
											chi phí vô cùng hợp lý.</p>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="col wp-down small-12 large-12" data-animate="fadeInUp">
	                        <div class="col-inner" style="margin:53px 0px -88px 0px;">
	                            <div class="devteam-postion" style="position: relative;">
	                                <h2 style="text-align: center; font-size: 64px; color: #e6e6e6;">TULPO</h2>
	                                <p style="text-align: center;">Tin tức – Sự kiện</p>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </section>
	        <section class="section slider-bottom" id="section_916189976">
	            <div class="bg section-bg fill bg-fill  bg-loaded"></div>
	            <div class="section-content relative">
	                <div class="row" id="row-439787355">
	                    <div class="col small-12 large-12">
	                        <div class="col-inner">
	                            <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_1322325563">
	                                <div class="img-inner dark"> <img src="" class="attachment-large size-large" alt="" height="47.96" width="43"></div>
	                            </div>
	                            <div class="row large-columns-3 medium-columns-2 small-columns-1 slider row-slider slider-nav-simple slider-nav-outside slider-nav-push flickity-enabled is-draggable" data-flickity-options="{&quot;imagesLoaded&quot;: true, &quot;groupCells&quot;: &quot;100%&quot;, &quot;dragThreshold&quot; : 5, &quot;cellAlign&quot;: &quot;left&quot;,&quot;wrapAround&quot;: true,&quot;prevNextButtons&quot;: true,&quot;percentPosition&quot;: true,&quot;pageDots&quot;: false, &quot;rightToLeft&quot;: false, &quot;autoPlay&quot; : 5000}"
	                                tabindex="0">
									<button class="flickity-button flickity-prev-next-button previous" type="button" aria-label="Previous">
										<svg class="flickity-button-icon" viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow"></path></svg>
									</button>
	                                <button class="flickity-button flickity-prev-next-button next" type="button" aria-label="Next">
										<svg class="flickity-button-icon" viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow" transform="translate(100, 100) rotate(180) "></path></svg>
									</button>
	                            </div>
	                            <p><a rel="nofollow" href="#"></a></p>
	                            <div class="wp-see-all">
	                                <p class="see-all"><a rel="nofollow" href="#">Xem tất cả</a></p>
	                                <p><a rel="nofollow" href="#">&nbsp;</a></p>
	                            </div>
	                            <p><a rel="nofollow" href="#">&nbsp;</a></p>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </section>
        </main>
        <%- include("./layout/footer"); -%>
    </div>
    <%- include("./layout/hotline"); -%>
    <div class="block-profile-capacity"> <img class="icon-doc" src="./../assets/file.svg"> <img class="icon-devteam" src="./../assets/tulpo-logo.png"> <a href="#" target="_blank" class="link-sub"></a></div>
    <%- include("./layout/sidebar"); -%>
    <div style="display:none"></div>
    <script id="lazy-load-icons">
        /* Lazy load icons css file */
        var fl_icons = document.createElement('link');
        fl_icons.rel = 'stylesheet';
        fl_icons.href = 'https://devteam.mobi/wp-content/themes/flatsome/assets/css/fl-icons.css';
        fl_icons.type = 'text/css';
        var fl_icons_insert = document.getElementsByTagName('link')[0];
        fl_icons_insert.parentNode.insertBefore(fl_icons, fl_icons_insert);
    </script>
    <script type="text/javascript">
        var wpcf7 = {
            "apiSettings": {
                "root": "https:\/\/devteam.mobi\/wp-json\/contact-form-7\/v1",
                "namespace": "contact-form-7\/v1"
            },
            "cached": "1"
        };
    </script>
    <script type="text/javascript" src="./../assets/devicepx-jetpack.js"></script>
    <script type="text/javascript">
        var tocplus = {
            "visibility_show": "hi\u1ec7n",
            "visibility_hide": "\u1ea9n",
            "visibility_hide_by_default": "1",
            "width": "Auto"
        };
    </script>
    <script type="text/javascript" src="./../assets/gprofiles.js"></script>
    <script type="text/javascript">
        var WPGroHo = {
            "my_hash": ""
        };
    </script>
    <script type="text/javascript">
        var flatsomeVars = {
            "ajaxurl": "https:\/\/devteam.mobi\/wp-admin\/admin-ajax.php",
            "rtl": "",
            "sticky_height": "70",
            "user": {
                "can_edit_pages": false
            }
        };
    </script>
    <%- include("./layout/form-show"); -%>
    <script>
        function setCookie(name, value, days) {
            var expires = '';
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = 'expires=' + date.toUTCString();
            }
            document.cookie = name + '=' + (value || '');
        }

        function getCookie(name) {
            var nameEQ = name + '=';
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }

        function msToTime(duration) {
            var milliseconds = parseInt((duration % 1000) / 100),
                seconds = Math.floor((duration / 1000) % 60),
                minutes = Math.floor((duration / (1000 * 60)) % 60),
                hours = Math.floor((duration / (1000 * 60 * 60)) % 24);
            hours = (hours < 10) ? '0' + hours : hours;
            minutes = (minutes < 10) ? '0' + minutes : minutes;
            seconds = (seconds < 10) ? '0' + seconds : seconds;
            return hours;
        }
        if (!getCookie('access_websites')) {
            setCookie('access_websites', new Date(), 4555858);
            setTimeout(function () {
                jQuery('.wp-form-show').addClass('active');
            }, 10000);
        } else {
            var datecookie = (new Date(getCookie('access_websites'))).getTime();
            var today = (new Date()).getTime();
            var result = today - datecookie;
            var subdate = msToTime(result);
            if (subdate && subdate > 24) {
                setCookie('access_websites', new Date(), 4555858);
                setTimeout(function () {
                    jQuery('.wp-form-show').addClass('active');
                }, 10000);
            }
        }
        jQuery(document).ready(function () {
            jQuery('.wp-form-show .overlays').click(function () {
                jQuery('.wp-form-show').removeClass('active');
            });
            jQuery('.remove-icon').click(function () {
                jQuery('.wp-form-show').removeClass('active');
                $(this).removeClass('overlays');
            });
        });
    </script>
    <div class="sidebar-footer">
        <span class="hidden" style="display:none">10000</span>
    </div>
    <%- include("./layout/form-show-phone"); -%>
	<%- include("./layout/layout-footer"); -%>
	

    