<%- include("./layout/layout-header"); -%>
<body class="page-template-default page page-id-20304 full-width lightbox lazy-icons nav-dropdown-has-arrow">
    <%- include("./layout/contact-sidebar"); -%>
    <a class="skip-link screen-reader-text" href="https://tulpo.dev/dich-vu/#main">Skip to content</a>
    <div id="wrapper">
        <%- include("./layout/header"); -%>
	    <main id="main" class="">
	        <div id="content" class="content-area page-wrapper" role="main">
	            <div class="row row-main">
	                <div class="large-12 col">
	                    <div class="col-inner">
	                        <div class="service_kk">
	                            <h4 style="text-align: center;"><span style="font-size: 24px; text-transform: uppercase;">Chuyên mục</span></h4>
	                            <div class="row cat_title_d" id="row-1288494942">
	                                <div class="col small-12 large-12">
	                                    <div class="col-inner">
	                                        <div class="container section-title-container">
	                                            <h4 class="section-title section-title-normal"><b></b><span class="section-title-main">Bot / Chatbot</span><b></b></h4>
											</div> 
											<a href="#" target="_self" class="button primary btn-read-more-cat" style="border-radius:99px;"> <span>Xem thêm</span> </a>
	                                        <div class="row cat-row large-columns-3 medium-columns-1 small-columns-1 slider row-slider slider-nav-simple slider-nav-push flickity-enabled is-draggable slider-lazy-load-active"
	                                            data-flickity-options="{&quot;imagesLoaded&quot;: true, &quot;groupCells&quot;: &quot;100%&quot;, &quot;dragThreshold&quot; : 5, &quot;cellAlign&quot;: &quot;left&quot;,&quot;wrapAround&quot;: true,&quot;prevNextButtons&quot;: true,&quot;percentPosition&quot;: true,&quot;pageDots&quot;: false, &quot;rightToLeft&quot;: false, &quot;autoPlay&quot; : false}"
	                                            tabindex="0">
	                                            <!-- <div class="flickity-viewport" style="height: 419.656px; touch-action: pan-y;">
	                                                <div class="flickity-slider" style="left: 0px; transform: translateX(-266.65%);">
	                                                    <div class="col post-item is-selected" aria-selected="true" style="position: absolute; left: 266.65%;">
	                                                        <div class="col-inner">
	                                                            <div class="box box-normal box-text-bottom box-blog-post has-hover">
	                                                                <a href="#" class="plain">
	                                                                    <div class="box-image">
	                                                                        <div class="image-cover" style="padding-top:50%;"> <img width="370" height="237" src="./../assets/WEB1-min-1-370x237.png" data-src="https://devteam.mobi/wp-content/uploads/2019/06/WEB1-min-1-370x237.png" class="attachment-medium size-medium wp-post-image lazy-loaded lazy-load-active"
	                                                                                alt="tích hợp cổng thanh toán vào website" srcset="https://devteam.mobi/wp-content/uploads/2019/06/WEB1-min-1-370x237.png 370w, https://devteam.mobi/wp-content/uploads/2019/06/WEB1-min-1.png 654w"
	                                                                                data-srcset="" sizes="(max-width: 370px) 100vw, 370px"></div>
	                                                                    </div>
	                                                                </a>
	                                                                <div class="box-text text-center">
	                                                                    <div class="box-text-inner blog-post-inner">
	                                                                        <a href="#" class="plain">
	                                                                            <h5 class="post-title  is-large hs ">Dịch Vụ Tích Hợp Cổng Thanh Toán Bảo Kim Vào Website</h5>
	                                                                        </a>
	                                                                        <div class="is-divider thang"></div>
	                                                                        <p class="from_the_blog_excerpt thang ">Dịch vụ tích hợp cổng thanh toán Bảo Kim vào website giúp khách hàng thực ....</p>
	                                                                    </div>
	                                                                </div>
	                                                                <div class="badge absolute top post-date badge-outline">
	                                                                    <div class="badge-inner"> <span class="post-date-day">15</span><br> <span class="post-date-month is-xsmall">Th6</span></div>
	                                                                </div>
	                                                            </div>
	                                                        </div>
	                                                    </div>
	                                                    <div class="col post-item is-selected" aria-selected="true" style="position: absolute; left: 299.99%;">
	                                                        <div class="col-inner">
	                                                            <div class="box box-normal box-text-bottom box-blog-post has-hover">
	                                                                <a href="#" class="plain">
	                                                                    <div class="box-image">
	                                                                        <div class="image-cover" style="padding-top:50%;"> <img width="370" height="213" src="./../assets/d-1-370x213.png" data-src="https://devteam.mobi/wp-content/uploads/2019/05/d-1-370x213.png" class="attachment-medium size-medium wp-post-image lazy-loaded lazy-load-active"
	                                                                                alt="" srcset="https://devteam.mobi/wp-content/uploads/2019/05/d-1-370x213.png 370w, https://devteam.mobi/wp-content/uploads/2019/05/d-1-768x442.png 768w, https://devteam.mobi/wp-content/uploads/2019/05/d-1.png 868w"
	                                                                                data-srcset="" sizes="(max-width: 370px) 100vw, 370px"></div>
	                                                                    </div>
	                                                                </a>
	                                                                <div class="box-text text-center">
	                                                                    <div class="box-text-inner blog-post-inner">
	                                                                        <a href="#" class="plain">
	                                                                            <h5 class="post-title  is-large hs ">Thiết Kế Trang Website Rao Vặt Giống Banxehoi.com</h5>
	                                                                        </a>
	                                                                        <div class="is-divider thang"></div>
	                                                                        <p class="from_the_blog_excerpt thang ">Ngày nay, mức thu nhập của mỗi cá nhân ngày càng tăng, mức sống hàng ....</p>
	                                                                    </div>
	                                                                </div>
	                                                                <div class="badge absolute top post-date badge-outline">
	                                                                    <div class="badge-inner"> <span class="post-date-day">02</span><br> <span class="post-date-month is-xsmall">Th6</span></div>
	                                                                </div>
	                                                            </div>
	                                                        </div>
	                                                    </div>
	                                                    <div class="col post-item is-selected" aria-selected="true" style="position: absolute; left: 333.32%;">
	                                                        <div class="col-inner">
	                                                            <div class="box box-normal box-text-bottom box-blog-post has-hover">
	                                                                <a href="#" class="plain">
	                                                                    <div class="box-image">
	                                                                        <div class="image-cover" style="padding-top:50%;"> <img width="370" height="208" src="./../assets/web-baopals-com-370x208.png" data-src="https://devteam.mobi/wp-content/uploads/2019/05/web-baopals-com-370x208.png" class="attachment-medium size-medium wp-post-image lazy-loaded lazy-load-active"
	                                                                                alt="Website Baopals.com bán được người dùng yêu thích vì giao diện thu hút và dễ sử dụng" srcset="https://devteam.mobi/wp-content/uploads/2019/05/web-baopals-com-370x208.png 370w, https://devteam.mobi/wp-content/uploads/2019/05/web-baopals-com-768x432.png 768w, https://devteam.mobi/wp-content/uploads/2019/05/web-baopals-com.png 800w"
	                                                                                data-srcset="" sizes="(max-width: 370px) 100vw, 370px"></div>
	                                                                    </div>
	                                                                </a>
	                                                                <div class="box-text text-center">
	                                                                    <div class="box-text-inner blog-post-inner">
	                                                                        <a href="#" class="plain">
	                                                                            <h5 class="post-title  is-large hs ">Hỏi Đáp | Thiết Kế Web Tương Tự Trang Baopals.Com Hoặc Sgshop.Com, 1688.Com</h5>
	                                                                        </a>
	                                                                        <div class="is-divider thang"></div>
	                                                                        <p class="from_the_blog_excerpt thang ">Xem thêm: Dịch Vụ Thiết Kế Website Chuyên Nghiệp Bí Quyết Quản Lý Hàng Trăm ....</p>
	                                                                    </div>
	                                                                </div>
	                                                                <div class="badge absolute top post-date badge-outline">
	                                                                    <div class="badge-inner"> <span class="post-date-day">30</span><br> <span class="post-date-month is-xsmall">Th5</span></div>
	                                                                </div>
	                                                            </div>
	                                                        </div>
	                                                    </div>
	                                                    <div class="col post-item" aria-selected="false" style="position: absolute; left: 366.65%;">
	                                                        <div class="col-inner">
	                                                            <div class="box box-normal box-text-bottom box-blog-post has-hover">
	                                                                <a href="#" class="plain">
	                                                                    <div class="box-image">
	                                                                        <div class="image-cover" style="padding-top:50%;"> <img width="370" height="226" src="./../assets/thuoc-biet-duoc-370x226.png" data-src="https://devteam.mobi/wp-content/uploads/2019/05/thuoc-biet-duoc-370x226.png" class="attachment-medium size-medium wp-post-image lazy-loaded lazy-load-active"
	                                                                                alt="" srcset="https://devteam.mobi/wp-content/uploads/2019/05/thuoc-biet-duoc-370x226.png 370w, https://devteam.mobi/wp-content/uploads/2019/05/thuoc-biet-duoc-768x469.png 768w, https://devteam.mobi/wp-content/uploads/2019/05/thuoc-biet-duoc.png 819w"
	                                                                                data-srcset="" sizes="(max-width: 370px) 100vw, 370px"></div>
	                                                                    </div>
	                                                                </a>
	                                                                <div class="box-text text-center">
	                                                                    <div class="box-text-inner blog-post-inner">
	                                                                        <a href="#" class="plain">
	                                                                            <h5 class="post-title  is-large hs ">Tôi Cần Tìm Địa Chỉ Uy Tín Làm Website Về Sức Khoẻ? | Hỏi Đáp</h5>
	                                                                        </a>
	                                                                        <div class="is-divider thang"></div>
	                                                                        <p class="from_the_blog_excerpt thang ">Xem thêm: Dịch Vụ Lập Trình Phần Mềm Quản Lý Vốn Đầu Tư Xây Dựng ....</p>
	                                                                    </div>
	                                                                </div>
	                                                                <div class="badge absolute top post-date badge-outline">
	                                                                    <div class="badge-inner"> <span class="post-date-day">27</span><br> <span class="post-date-month is-xsmall">Th5</span></div>
	                                                                </div>
	                                                            </div>
	                                                        </div>
	                                                    </div>
	                                                    <div class="col post-item" aria-selected="false" style="position: absolute; left: 133.33%;">
	                                                        <div class="col-inner">
	                                                            <div class="box box-normal box-text-bottom box-blog-post has-hover">
	                                                                <a href="#" class="plain">
	                                                                    <div class="box-image">
	                                                                        <div class="image-cover" style="padding-top:50%;"> <img width="370" height="208" src="./../assets/website-kiotviet-370x208.png" data-src="https://devteam.mobi/wp-content/uploads/2019/05/website-kiotviet-370x208.png"
	                                                                                class="attachment-medium size-medium wp-post-image lazy-load-active" alt="Phần mềm quản lý bàn hàng là gì?" srcset="https://devteam.mobi/wp-content/uploads/2019/05/website-kiotviet-370x208.png 370w, https://devteam.mobi/wp-content/uploads/2019/05/website-kiotviet-768x432.png 768w, https://devteam.mobi/wp-content/uploads/2019/05/website-kiotviet.png 800w"
	                                                                                data-srcset="https://devteam.mobi/wp-content/uploads/2019/05/website-kiotviet-370x208.png 370w, https://devteam.mobi/wp-content/uploads/2019/05/website-kiotviet-768x432.png 768w, https://devteam.mobi/wp-content/uploads/2019/05/website-kiotviet.png 800w"
	                                                                                sizes="(max-width: 370px) 100vw, 370px"></div>
	                                                                    </div>
	                                                                </a>
	                                                                <div class="box-text text-center">
	                                                                    <div class="box-text-inner blog-post-inner">
	                                                                        <a href="#" class="plain">
	                                                                            <h5 class="post-title  is-large hs ">Xây Dựng Nền Tảng Giống Với Website Thiết Kế Phần Mềm Quản Lý Bán Hàng KiotViet</h5>
	                                                                        </a>
	                                                                        <div class="is-divider thang"></div>
	                                                                        <p class="from_the_blog_excerpt thang ">Ở thời đại công nghệ 4.0 này, để cạnh tranh hiệu quả, thì đòi hỏi ....</p>
	                                                                    </div>
	                                                                </div>
	                                                                <div class="badge absolute top post-date badge-outline">
	                                                                    <div class="badge-inner"> <span class="post-date-day">16</span><br> <span class="post-date-month is-xsmall">Th5</span></div>
	                                                                </div>
	                                                            </div>
	                                                        </div>
	                                                    </div>
	                                                    <div class="col post-item" aria-selected="false" style="position: absolute; left: 166.66%;">
	                                                        <div class="col-inner">
	                                                            <div class="box box-normal box-text-bottom box-blog-post has-hover">
	                                                                <a href="#" class="plain">
	                                                                    <div class="box-image">
	                                                                        <div class="image-cover" style="padding-top:50%;"> <img width="370" height="210" src="./../assets/WEB-370x210.png" data-src="https://devteam.mobi/wp-content/uploads/2019/05/WEB-370x210.png" class="attachment-medium size-medium wp-post-image lazy-load-active"
	                                                                                alt="" srcset="https://devteam.mobi/wp-content/uploads/2019/05/WEB-370x210.png 370w, https://devteam.mobi/wp-content/uploads/2019/05/WEB-768x435.png 768w, https://devteam.mobi/wp-content/uploads/2019/05/WEB.png 800w"
	                                                                                data-srcset="https://devteam.mobi/wp-content/uploads/2019/05/WEB-370x210.png 370w, https://devteam.mobi/wp-content/uploads/2019/05/WEB-768x435.png 768w, https://devteam.mobi/wp-content/uploads/2019/05/WEB.png 800w"
	                                                                                sizes="(max-width: 370px) 100vw, 370px"></div>
	                                                                    </div>
	                                                                </a>
	                                                                <div class="box-text text-center">
	                                                                    <div class="box-text-inner blog-post-inner">
	                                                                        <a href="#" class="plain">
	                                                                            <h5 class="post-title  is-large hs ">E- Commerce Là Gì? Tìm Hiểu Chi Tiết Về E- Commerce</h5>
	                                                                        </a>
	                                                                        <div class="is-divider thang"></div>
	                                                                        <p class="from_the_blog_excerpt thang ">Trong những năm gần đây, khi công nghiệp càng ngày càng bùng nổ xu hướng ....</p>
	                                                                    </div>
	                                                                </div>
	                                                                <div class="badge absolute top post-date badge-outline">
	                                                                    <div class="badge-inner"> <span class="post-date-day">11</span><br> <span class="post-date-month is-xsmall">Th5</span></div>
	                                                                </div>
	                                                            </div>
	                                                        </div>
	                                                    </div>
	                                                    <div class="col post-item" aria-selected="false" style="position: absolute; left: 199.99%;">
	                                                        <div class="col-inner">
	                                                            <div class="box box-normal box-text-bottom box-blog-post has-hover">
	                                                                <a href="#" class="plain">
	                                                                    <div class="box-image">
	                                                                        <div class="image-cover" style="padding-top:50%;"> <img width="370" height="258" src="./../assets/upc-370x258.png" data-src="https://devteam.mobi/wp-content/uploads/2019/05/upc-370x258.png" class="attachment-medium size-medium wp-post-image lazy-load-active"
	                                                                                alt="" srcset="https://devteam.mobi/wp-content/uploads/2019/05/upc-370x258.png 370w, https://devteam.mobi/wp-content/uploads/2019/05/upc.png 716w" data-srcset="https://devteam.mobi/wp-content/uploads/2019/05/upc-370x258.png 370w, https://devteam.mobi/wp-content/uploads/2019/05/upc.png 716w"
	                                                                                sizes="(max-width: 370px) 100vw, 370px"></div>
	                                                                    </div>
	                                                                </a>
	                                                                <div class="box-text text-center">
	                                                                    <div class="box-text-inner blog-post-inner">
	                                                                        <a href="#" class="plain">
	                                                                            <h5 class="post-title  is-large hs ">Tổng Hợp 4 Cách Check Mã Vạch Online Trên Máy Tính Nhanh Nhất</h5>
	                                                                        </a>
	                                                                        <div class="is-divider thang"></div>
	                                                                        <p class="from_the_blog_excerpt thang ">Trước thực tế ngày càng nhiều sản phẩm hàng giả hàng nhái tràn lan với ....</p>
	                                                                    </div>
	                                                                </div>
	                                                                <div class="badge absolute top post-date badge-outline">
	                                                                    <div class="badge-inner"> <span class="post-date-day">11</span><br> <span class="post-date-month is-xsmall">Th5</span></div>
	                                                                </div>
	                                                            </div>
	                                                        </div>
	                                                    </div>
	                                                    <div class="col post-item" aria-selected="false" style="position: absolute; left: 233.32%;">
	                                                        <div class="col-inner">
	                                                            <div class="box box-normal box-text-bottom box-blog-post has-hover">
	                                                                <a href="#" class="plain">
	                                                                    <div class="box-image">
	                                                                        <div class="image-cover" style="padding-top:50%;"> <img width="370" height="208" src="./../assets/thiet-ke-website-370x208.jpg" data-src="https://devteam.mobi/wp-content/uploads/2019/05/thiet-ke-website-370x208.jpg"
	                                                                                class="attachment-medium size-medium wp-post-image lazy-loaded lazy-load-active" alt="" srcset="https://devteam.mobi/wp-content/uploads/2019/05/thiet-ke-website-370x208.jpg 370w, https://devteam.mobi/wp-content/uploads/2019/05/thiet-ke-website-768x432.jpg 768w, https://devteam.mobi/wp-content/uploads/2019/05/thiet-ke-website.jpg 800w"
	                                                                                data-srcset="" sizes="(max-width: 370px) 100vw, 370px"></div>
	                                                                    </div>
	                                                                </a>
	                                                                <div class="box-text text-center">
	                                                                    <div class="box-text-inner blog-post-inner">
	                                                                        <a href="#" class="plain">
	                                                                            <h5 class="post-title  is-large hs ">Quy Trình Thiết Kế Website Thương Mại Điện Tử</h5>
	                                                                        </a>
	                                                                        <div class="is-divider thang"></div>
	                                                                        <p class="from_the_blog_excerpt thang ">Bạn đang mong muốn làm website thương mại điện tử? Bạn muốn tìm hiểu quy ....</p>
	                                                                    </div>
	                                                                </div>
	                                                                <div class="badge absolute top post-date badge-outline">
	                                                                    <div class="badge-inner"> <span class="post-date-day">05</span><br> <span class="post-date-month is-xsmall">Th5</span></div>
	                                                                </div>
	                                                            </div>
	                                                        </div>
	                                                    </div>
	                                                </div>
												</div> -->
												<button class="flickity-button flickity-prev-next-button previous" type="button" aria-label="Previous">
													<svg class="flickity-button-icon" viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow"></path></svg>
												</button>
	                                            <button class="flickity-button flickity-prev-next-button next" type="button" aria-label="Next">
													<svg class="flickity-button-icon" viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow" transform="translate(100, 100) rotate(180) "></path></svg>
												</button>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                            <p></p>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </main>
        <%- include("./layout/footer"); -%>
    </div>
    <%- include("./layout/hotline"); -%>
    <div class="block-profile-capacity"> <img class="icon-doc" src="./../assets/file.svg"> <img class="icon-devteam" src="./../assets/devteam-logo.svg"> <a href="https://devteam.mobi/ho-so-nang-luc-devteam.pdf" target="_blank" class="link-sub"></a></div>
    <%- include("./layout/sidebar"); -%>
    <div style="display:none"></div>
    <script id="lazy-load-icons">
        /* Lazy load icons css file */
        var fl_icons = document.createElement('link');
        fl_icons.rel = 'stylesheet';
        fl_icons.href = 'https://devteam.mobi/wp-content/themes/flatsome/assets/css/fl-icons.css';
        fl_icons.type = 'text/css';
        var fl_icons_insert = document.getElementsByTagName('link')[0];
        fl_icons_insert.parentNode.insertBefore(fl_icons, fl_icons_insert);
    </script>
    <script type="text/javascript">
        var wpcf7 = {
            "apiSettings": {
                "root": "https:\/\/devteam.mobi\/wp-json\/contact-form-7\/v1",
                "namespace": "contact-form-7\/v1"
            },
            "cached": "1"
        };
    </script>
    <script type="text/javascript" src="./../assets/devicepx-jetpack.js"></script>
    <script type="text/javascript">
        var tocplus = {
            "visibility_show": "hi\u1ec7n",
            "visibility_hide": "\u1ea9n",
            "visibility_hide_by_default": "1",
            "width": "Auto"
        };
    </script>
    <script type="text/javascript" src="./../assets/gprofiles.js"></script>
    <script type="text/javascript">
        var WPGroHo = {
            "my_hash": ""
        };
    </script>
    <script type="text/javascript">
        var flatsomeVars = {
            "ajaxurl": "https:\/\/devteam.mobi\/wp-admin\/admin-ajax.php",
            "rtl": "",
            "sticky_height": "70",
            "user": {
                "can_edit_pages": false
            }
        };
    </script>
    <%- include("./layout/form-show"); -%>
    <script>
        function setCookie(name, value, days) {
            var expires = '';
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = 'expires=' + date.toUTCString();
            }
            document.cookie = name + '=' + (value || '');
        }

        function getCookie(name) {
            var nameEQ = name + '=';
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }

        function msToTime(duration) {
            var milliseconds = parseInt((duration % 1000) / 100),
                seconds = Math.floor((duration / 1000) % 60),
                minutes = Math.floor((duration / (1000 * 60)) % 60),
                hours = Math.floor((duration / (1000 * 60 * 60)) % 24);
            hours = (hours < 10) ? '0' + hours : hours;
            minutes = (minutes < 10) ? '0' + minutes : minutes;
            seconds = (seconds < 10) ? '0' + seconds : seconds;
            return hours;
        }
        if (!getCookie('access_websites')) {
            setCookie('access_websites', new Date(), 4555858);
            setTimeout(function () {
                jQuery('.wp-form-show').addClass('active');
            }, 10000);
        } else {
            var datecookie = (new Date(getCookie('access_websites'))).getTime();
            var today = (new Date()).getTime();
            var result = today - datecookie;
            var subdate = msToTime(result);
            if (subdate && subdate > 24) {
                setCookie('access_websites', new Date(), 4555858);
                setTimeout(function () {
                    jQuery('.wp-form-show').addClass('active');
                }, 10000);
            }
        }
        jQuery(document).ready(function () {
            jQuery('.wp-form-show .overlays').click(function () {
                jQuery('.wp-form-show').removeClass('active');
            });
            jQuery('.remove-icon').click(function () {
                jQuery('.wp-form-show').removeClass('active');
                $(this).removeClass('overlays');
            });
        });
    </script>
    <div class="sidebar-footer"><span class="hidden" style="display:none">10000</span></div>
    <%- include("./layout/form-show-phone"); -%>
    <%- include("./layout/layout-footer"); -%>
