<%- include("./layout/layout-header"); -%>
<body class="page-template page-template-page-blank page-template-page-blank-php page page-id-13782 full-width lightbox lazy-icons nav-dropdown-has-arrow">
	<%- include("./layout/contact-sidebar"); -%>
	<a class="skip-link screen-reader-text" href="https://devteam.mobi/yeu-cau-bao-gia/#main">Skip to content</a>
	<div id="wrapper">
		<%- include("./layout/header"); -%>
		<main id="main" class="">
			<div id="content" role="main" class="content-area">
				<section class="section price_title dark" id="section_1969830485">
					<div class="bg section-bg fill bg-fill bg-loaded"></div>
					<div class="section-content relative">
						<div class="row align-center" id="row-1187352800">
							<div class="col price_title_pd small-12 large-12">
								<div class="col-inner text-center dark" style="padding:0 0px 0px 0px;">
									<h2 class="uppercase" style="text-align: center;">Yêu cầu báo giá</h2>
									<p style="text-align: center;">Vui lòng điền thông tin vào mẫu bên dưới để Tulpo có thể gửi báo giá chi tiết cùng những danh mục cần triển khai nhanh chóng nhất cho bạn.</p>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="section price_form_pd" id="section_965296973">
					<div class="bg section-bg fill bg-fill bg-loaded"></div>
					<div class="section-content relative">
						<div class="row row-collapse align-center price_form_cs" id="row-690885778">
							<div class="col medium-12 small-12 large-6">
								<div class="col-inner" style="padding:0px 10px 0px 10px;">
									<div class="img has-hover x md-x lg-x y md-y lg-y" id="image_1464777048">
										<div class="img-inner dark"> 
											<img src="./../assets/team-home.jpg" data-src="./../assets/team-home.jpg" class="attachment-large size-large lazy-loaded lazy-load-active" alt="" height="305.41" width="517.59">
										</div>
									</div>
									<div class="contact_price">
										<ul class="=&quot;address&quot;">
											<h4>Địa Chỉ</h4>
											<li>129 Thanh Liệt, Thanh Trì, Hà Nội</li>
										</ul>
										<ul class="=&quot;phone&quot;">
											<h4>Điện thoại</h4>
											<li>
												<a href="tel:0968239503" rel="nofollow">
													<img class="lazy-load-active" src="./../assets/icon_phone_price.svg" data-src="https://devteam.mobi/wp-content/uploads/2019/06/icon_phone_price.svg" alt="">0968.239.503
												</a>
											</li>
											<li>
												<a href="tel:0866068861" rel="nofollow">
													<img class="lazy-load-active" src="./../assets/icon_phone_price.svg" data-src="https://devteam.mobi/wp-content/uploads/2019/06/icon_phone_price.svg" alt="">0866.068.861
												</a>
											</li>
										</ul>
									</div>
									<div>
										<h4 style="font-weight: bold;">Tulpo- Hô Là Có</h4>
										<p style="font-size: 18px;">Chúng tôi luôn sẵn sàng gọi điện tư vấn và làm cho ý tưởng,
											yêu cầu của bạn rõ ràng hơn. Nếu bạn không tiện nghe máy,
											hãy để lại yêu cầu, chúng tôi sẽ liên hệ bạn sớm nhất</p>
									</div>
								</div>
							</div>
							<div class="col form-price-cs medium-12 small-12 large-6">
								<div class="col-inner" style="padding:40px 8px !important;;margin:0px 0px 55px 0px;">
									<div role="form" class="wpcf7" id="wpcf7-f13790-p13782-o2" lang="vi" dir="ltr">
										<div class="screen-reader-response"></div>
										<form action="https://devteam.mobi/yeu-cau-bao-gia/#wpcf7-f13790-p13782-o2" method="post" class="wpcf7-form" novalidate="novalidate">
											<div style="display: none;"> 
												<input type="hidden" name="_wpcf7" value="13790"> 
												<input type="hidden" name="_wpcf7_version" value="5.1.3"> 
												<input type="hidden" name="_wpcf7_locale" value="vi"> 
												<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f13790-p13782-o2"> 
												<input type="hidden" name="_wpcf7_container_post" value="13782">
											</div>
											<div id="form-bao-gia">
												<h4>Thông tin</h4>
												<div class="input-col-6">
													<div class="fieldset_custom">
														<fieldset>
															<legend>Tên của bạn</legend>
															<p> 
																<label>
																	<span class="wpcf7-form-control-wrap your-name">
																		<input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false">
																	</span> 
																</label>
																<br>
															</p>
														</fieldset>
													</div>
												</div>
												<div class="input-col-6">
													<div class="fieldset_custom">
														<fieldset>
															<legend>Số điện thoại liên hệ</legend>
															<p> 
																<label>
																	<span class="wpcf7-form-control-wrap tel-483">
																		<input type="tel" name="tel-483" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel" aria-required="true" aria-invalid="false">
																	</span>
																</label>
																<br>
															</p>
														</fieldset>
													</div>
												</div>
												<div class="input-col-6">
													<div class="fieldset_custom">
														<fieldset>
															<legend>Ngân sách ước tính</legend>
															<p> 
																<span class="wpcf7-form-control-wrap menu-606">
																	<select id="select-price" name="menu-606" class="wpcf7-form-control wpcf7-select" aria-invalid="false">
																		<option value="&lt; 50 triệu">&lt; $2000</option>
																		<option value="50 triệu - 100 triệu">$2000 -$5000</option>
																		<option value="100 triệu - 300 triệu">$5000- $15000</option>
																		<option value="300 triệu - 500 triệu">$15000- $50000</option>
																		<option value="&gt; 500 triệu">&gt; $50000</option>
																	</select>
																</span>
															</p>
														</fieldset>
													</div>
												</div>
												<div class="input-col-6">
													<div class="fieldset_custom">
														<fieldset>
															<legend>Thời gian có thể gọi lại</legend>
															<p> 
																<span class="wpcf7-form-control-wrap menu-653">
																	<select id="select-price" name="menu-653" class="wpcf7-form-control wpcf7-select chose-call" aria-invalid="false">
																		<option value="Gọi lại cho tôi ngay">Gọi lại cho tôi ngay</option>
																		<option value="Gọi cho tôi sau giờ hành chính">Gọi cho tôi sau giờ hành chính</option>
																	</select>
																</span>
															</p>
														</fieldset>
													</div>
												</div>
												<div class="clearfix"></div>
												<div class="fieldset_custom padding_last">
													<fieldset>
														<legend>Mô tả ngắn về hệ thống</legend>
														<p> 
															<span class="wpcf7-form-control-wrap your-message">
																<textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"></textarea>
															</span>
														</p>
													</fieldset>
												</div>
												<p>
													<input type="hidden" name="wpcf7_telegram" value="1">
													<br> 
													<input type="submit" value="Gửi báo giá cho tôi" class="wpcf7-form-control wpcf7-submit submit_price">
													<span class="ajax-loader"></span>
												</p>
											</div>
											<div class="wpcf7-response-output wpcf7-display-none"></div>
											<input type="hidden" name="HYFJSW" value="RBpeTd">
											<input type="hidden" name="HPQVfDxbI" value="MG6pwQ5.A">
											<input type="hidden" name="Ar-dxgalbB" value="RsI8QNXYK3">
											<input type="hidden" name="SVEvXq-yM" value="KJCi7wHcg">
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</main>
		<%- include("./layout/footer"); -%>
	</div>
    <%- include("./layout/hotline"); -%>
	<div class="block-profile-capacity"> 
		<img class="icon-doc" src="./../assets/file.svg"> 
		<img class="icon-devteam" src="./../assets/devteam-logo.svg"> 
		<a href="https://devteam.mobi/ho-so-nang-luc-devteam.pdf" target="_blank" class="link-sub"></a>
	</div>
	<%- include("./layout/sidebar"); -%>
	<div style="display:none"></div> 
	<script id="lazy-load-icons">
		var fl_icons = document.createElement('link');
		fl_icons.rel = 'stylesheet';
		fl_icons.href = 'https://devteam.mobi/wp-content/themes/flatsome/assets/css/fl-icons.css';
		fl_icons.type = 'text/css';
		var fl_icons_insert = document.getElementsByTagName('link')[0];
		fl_icons_insert.parentNode.insertBefore(fl_icons, fl_icons_insert);
	</script> 
	<script type="text/javascript">var wpcf7 = {"apiSettings":{"root":"https:\/\/devteam.mobi\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"},"cached":"1"};</script> 
	<script type="text/javascript" src="./../assets/devicepx-jetpack.js"></script> 
	<script type="text/javascript">var tocplus = {"visibility_show":"hi\u1ec7n","visibility_hide":"\u1ea9n","visibility_hide_by_default":"1","width":"Auto"};</script> 
	<script type="text/javascript" src="./../assets/gprofiles.js"></script> 
	<script type="text/javascript">var WPGroHo = {"my_hash":""};</script> 
	<script type="text/javascript">var flatsomeVars = {"ajaxurl":"https:\/\/devteam.mobi\/wp-admin\/admin-ajax.php","rtl":"","sticky_height":"70","user":{"can_edit_pages":false}};</script> 
	<%- include("./layout/form-show"); -%>
	<script>
		function setCookie(name,value,days) {
			var expires = '';
			if (days) {
				var date = new Date();
				date.setTime(date.getTime() + (days*24*60*60*1000));
				expires = 'expires=' + date.toUTCString();
			}
			document.cookie = name + '=' + (value || '') ;
		}
		function getCookie(name) {
			var nameEQ = name + '=';
			var ca = document.cookie.split(';');
			for(var i=0;i < ca.length;i++) {
				var c = ca[i];
				while (c.charAt(0)==' ') c = c.substring(1,c.length);
				if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
			}
			return null;
		}
		function msToTime(duration) {
			var milliseconds = parseInt((duration % 1000) / 100),
			seconds = Math.floor((duration / 1000) % 60),
			minutes = Math.floor((duration / (1000 * 60)) % 60),
			hours = Math.floor((duration / (1000 * 60 * 60)) % 24);
			hours = (hours < 10) ? '0' + hours : hours;
			minutes = (minutes < 10) ? '0' + minutes : minutes;
			seconds = (seconds < 10) ? '0' + seconds : seconds;
			return hours ;
		}
		if(!getCookie('access_websites')){
			setCookie('access_websites', new Date(), 4555858);
			setTimeout(function(){
				jQuery('.wp-form-show').addClass('active');
			},10000);
		}else{
			var datecookie = (new Date(getCookie('access_websites'))).getTime();
			var today = (new Date()).getTime();
			var result = today - datecookie;
			var subdate = msToTime(result);
			if(subdate && subdate > 24){
				setCookie('access_websites', new Date(), 4555858);
				setTimeout(function(){
					jQuery('.wp-form-show').addClass('active');
				},10000);
			}
		}
		jQuery(document).ready(function(){ 
			jQuery('.wp-form-show .overlays').click(function(){
				jQuery('.wp-form-show').removeClass('active');
			});
			jQuery('.remove-icon').click(function(){
				jQuery('.wp-form-show').removeClass('active');
				$(this).removeClass('overlays');
			});
		});
	</script> 
	<div class="sidebar-footer">
		<span class="hidden" style="display:none">10000</span>
	</div>
	<%- include("./layout/form-show-phone"); -%>
	<%- include("./layout/layout-footer"); -%>
