<%- include("./../layout/layout-header"); -%>
<body class="post-template-default single single-post postid-10281 single-format-standard full-width lightbox lazy-icons nav-dropdown-has-arrow">
	<%- include("./../layout/contact-sidebar"); -%>
	<a class="skip-link screen-reader-text" href="https://devteam.mobi/dich-vu-it-outsourcing-chuyen-nghiep-danh-rieng-cho-doanh-nghiep/#main">Skip to content</a>
	<div id="wrapper">
		<%- include("./../layout/header"); -%>
		<div class="page-title blog-featured-title featured-title no-overflow">
			<div class="page-title-bg fill">
				<div class="title-bg fill bg-fill bg-top parallax-active" style="background-image: url(&quot;https://devteam.mobi/wp-content/uploads/2019/04/coworking-cogo.jpeg&quot;); height: 341px; transform: translate3d(0px, -10.22px, 0px); backface-visibility: hidden;" data-parallax-fade="true" data-parallax="-2" data-parallax-background="" data-parallax-container=".page-title"></div>
				<div class="title-overlay fill" style="background-color: rgba(0,0,0,.5)"></div>
			</div>
			<div class="page-title-inner container  flex-row  dark is-large" style="min-height: 300px">
				<div class="flex-col flex-center text-center">
					<h6 class="entry-category is-xsmall">
						<a href="https://devteam.mobi/chuyen-muc/it-outsourcing/" rel="category tag">IT Outsourcing</a>
					</h6>
					<h1 class="entry-title">Dịch Vụ It Outsourcing Phần Mềm Chuyên Nghiệp Dành Riêng Cho Doanh Nghiệp</h1>
					<div class="entry-divider is-divider small"></div>
					<div class="entry-meta uppercase is-xsmall"> 
						<span class="posted-on dev">Ngày Đăng <time class="entry-date published" datetime="2019-04-03T10:44:03+07:00">3 Tháng Tư, 2019</time><time class="updated" datetime="2019-06-26T11:37:15+07:00">26 Tháng Sáu, 2019</time></span>
						<span class="byline"> by <span class="meta-author vcard">Thu Thảo</span></span>
					</div>
				</div>
			</div>
		</div>
		<main id="main" class="">
			<div id="content" class="blog-wrapper blog-single page-wrapper">
				<div class="row row-large row-divided ">
					<div class="large-9 col">
						<article id="post-10281" class="post-10281 post type-post status-publish format-standard has-post-thumbnail hentry category-it-outsourcing tag-cac-cong-ty-gia-cong-phan-mem-o-viet-nam tag-cac-cong-ty-outsourcing-tai-viet-nam tag-cong-ty-chuyen-viet-phan-mem tag-dich-vu-cho-thue-nhan-su tag-dich-vu-it tag-dich-vu-it-outsourcing tag-dich-vu-it-outsourcing-chuyen-nghiep tag-dich-vu-outsourcing tag-dich-vu-thue-ngoai tag-freelancer-lap-trinh-freelancing-websites tag-gia-cong-phan-mem">
							<div class="article-inner ">
								<div class="entry-content single-page">
									<p>Trong môi trường kinh tế cạnh tranh hiện nay, việc duy trì chi phí vận hành ở mức tối thiểu luôn là một mối bận tâm lớn của các doanh nghiệp. Ngày càng nhiều doanh nghiệp nhận ra lợi ích của việc thuê ngoài các dịch vụ outsourcing, nhất là các dịch vụ it outsourcing. Thay vì phải duy trì một nguồn lực để quản lý hệ thống IT, doanh nghiệp có thể lựa chọn việc thuê ngoài các dịch vụ. Vậy đâu là nơi cung cấp dịch vụ it outsourcing chuyên nghiệp. Hãy cùng Devteam tìm hiểu thông qua bài viết dưới đây nhé!</p>
									<p>Xem thêm:</p>
									<ul>
										<li class="entry-title">
											<span style="color: #f99b1c;">
												<a style="color: #f99b1c;" href="https://devteam.mobi/quy-trinh-cua-mot-du-an-it-outsourcing/">Quy Trình Của Một Dự Án IT Outsourcing</a>
											</span>
										</li>
										<li class="entry-title">
											<span style="color: #f99b1c;"><a style="color: #f99b1c;" href="https://devteam.mobi/outsource-phan-mem-ung-dung-duoc-va-mat/">Được Và Mất Khi Lựa Chọn Outsource Phần Mềm – Ứng Dụng</a></span>
										</li>
									</ul>
									<div id="toc_container" class="no_bullets contracted" style="width: auto; display: table;">
										<p class="toc_title">
											Mục Lục <span class="toc_toggle">[<a href="https://devteam.mobi/dich-vu-it-outsourcing-chuyen-nghiep-danh-rieng-cho-doanh-nghiep/#">hiện</a>]</span>
										</p>
										<ul class="toc_list" style="display: none;">
											<li>
												<a href="https://devteam.mobi/dich-vu-it-outsourcing-chuyen-nghiep-danh-rieng-cho-doanh-nghiep/#Dich_vu_thue_ngoai_la_gi"><span class="toc_number toc_depth_1">1</span> Dịch vụ thuê ngoài là gì?</a>
											</li>
											<li>
												<a href="https://devteam.mobi/dich-vu-it-outsourcing-chuyen-nghiep-danh-rieng-cho-doanh-nghiep/#Dich_vu_IT_Outsourcing_la_gi"><span class="toc_number toc_depth_1">2</span> Dịch vụ IT Outsourcing là gì?</a>
											</li>
											<li>
												<a href="https://devteam.mobi/dich-vu-it-outsourcing-chuyen-nghiep-danh-rieng-cho-doanh-nghiep/#Gia_dich_vu_It_outsourcing_co_dat_khong"><span class="toc_number toc_depth_1">3</span> Giá dịch vụ It outsourcing có đắt không?</a>
											</li>
											<li>
												<a href="https://devteam.mobi/dich-vu-it-outsourcing-chuyen-nghiep-danh-rieng-cho-doanh-nghiep/#Tai_sao_doanh_nghiep_can_dich_vu_IT_outsourcing_thay_vi_tuyen_mot_IT"><span class="toc_number toc_depth_1">4</span> Tại sao doanh nghiệp cần dịch vụ IT outsourcing thay vì tuyển một IT?</a>
												<ul>
													<li>
														<ul>
															<li>
																<a href="https://devteam.mobi/dich-vu-it-outsourcing-chuyen-nghiep-danh-rieng-cho-doanh-nghiep/#CHO_DA"><span class="toc_number toc_depth_3">4.0.1</span> CHỜ ĐÃ</a>
															</li>
														</ul>
													</li>
												</ul>
											</li>
											<li>
												<a href="https://devteam.mobi/dich-vu-it-outsourcing-chuyen-nghiep-danh-rieng-cho-doanh-nghiep/#Noi_cung_cap_dich_vu_IT_outsourcing_chuyen_nghiep_nhat_hien_nay"><span class="toc_number toc_depth_1">5</span> Nơi cung cấp dịch vụ IT outsourcing chuyên nghiệp nhất hiện nay</a>
												<ul>
													<li>
														<a href="https://devteam.mobi/dich-vu-it-outsourcing-chuyen-nghiep-danh-rieng-cho-doanh-nghiep/#_Devteam_dua_tren_nen_tang_cong_nghe_vung_chac"><span class="toc_number toc_depth_2">5.1</span> ✓ Devteam dựa trên nền tảng công nghệ vững chắc:</a>
													</li>
													<li>
														<a href="https://devteam.mobi/dich-vu-it-outsourcing-chuyen-nghiep-danh-rieng-cho-doanh-nghiep/#_Doi_ngu_IT_chuyen_nghiep"><span class="toc_number toc_depth_2">5.2</span> ✓ Đội ngũ IT chuyên nghiệp:</a>
													</li>
													<li>
														<a href="https://devteam.mobi/dich-vu-it-outsourcing-chuyen-nghiep-danh-rieng-cho-doanh-nghiep/#_Cham_soc_khach_hang_rieng_biet_8211_tan_tam"><span class="toc_number toc_depth_2">5.3</span> ✓ Chăm sóc khách hàng riêng biệt – tận tâm:</a>
														<ul>
															<li>
																<a href="https://devteam.mobi/dich-vu-it-outsourcing-chuyen-nghiep-danh-rieng-cho-doanh-nghiep/#BAN_CAN_BAO_GIA_CHI_TIET"><span class="toc_number toc_depth_3">5.3.1</span> BẠN CẦN BÁO GIÁ CHI TIẾT?</a>
															</li>
														</ul>
													</li>
												</ul>
											</li>
											<li>
												<a href="https://devteam.mobi/dich-vu-it-outsourcing-chuyen-nghiep-danh-rieng-cho-doanh-nghiep/#Cac_dich_vu_ma_Devteam_cung_cap"><span class="toc_number toc_depth_1">6</span> Các dịch vụ mà Devteam cung cấp</a>
											</li>
											<li>
												<a href="https://devteam.mobi/dich-vu-it-outsourcing-chuyen-nghiep-danh-rieng-cho-doanh-nghiep/#Loi_ket"><span class="toc_number toc_depth_1">7</span> Lời kết</a>
											</li>
										</ul>
									</div>
									<h2>
										<span id="Dich_vu_thue_ngoai_la_gi">Dịch vụ thuê ngoài là gì?</span>
									</h2>
									<p>Dịch vụ thuê ngoài là một thuật ngữ trong lĩnh vực kinh tế, hiện nay có rất nhiều <span style="color: #f99b1c;"><a style="color: #f99b1c;" href="https://devteam.mobi/10-nha-cung-cap-dich-vu-thue-ngoai-it-outsourcing-hang-dau-viet-nam/">đơn vị cung cấp dịch vụ thuê ngoài</a></span> ở Việt nam. Nó là việc một thể nhân hay pháp nhân chuyển giao việc thực hiện toàn bộ một chức năng sản xuất-kinh doanh nào đó, bao gồm cả tài sản vật chất và nhân lực cho một nhà cung cấp dịch vụ bên ngoài chuyên môn hóa trong lĩnh vực đó, gọi là nhà thầu phụ. Dịch vụ có thể được cung cấp bên trong hay bên ngoài công ty; có thể thuộc nước sở tại hoặc ở nước ngoài. Các chuyển giao như vậy nhằm mục đích hạ giá thành và nâng cao tính cạnh tranh. Nó khác với việc mua bán sản phẩm từ nhà cung cấp ở chỗ giữa hai bên có sự trao đổi thông tin để quản lý việc sản xuất-kinh doanh đó, tức là có sự hợp tác trong sản xuất.</p>
									<h2>
										<span id="Dich_vu_IT_Outsourcing_la_gi">Dịch vụ IT Outsourcing là gì?</span>
									</h2>
									<p>Thuê ngoài các dịch vụ IT (IT Outsourcing) là một khái niệm để chỉ việc một tổ chức, doanh nghiệp sử dụng các dịch vụ liên quan đến CNTT từ các nhà cung cấp chuyên nghiệp bên ngoài thay vì tự tổ chức thực hiện. Các dịch vụ thuê ngoài có thể là một phần hoặc toàn bộ các công việc từ xây dựng đến quản lý, vận hành và chuyển giao tất cả các thành phần của hệ thống thông tin (bao gồm phần mềm, hạ tầng CNTT, chính sách khai thác, vận hành, nguồn nhân lực).</p>
									<figure id="attachment_12241" aria-describedby="caption-attachment-12241" style="width: 922px" class="wp-caption aligncenter">
										<img class="lazy-load wp-image-12241 size-full" src="./../../assets/lazy.png" data-src="https://devteam.mobi/wp-content/uploads/2019/04/Co-working-space-at-the-hub-singapore-2dwq1tk.jpg" alt="Dịch vụ IT outsourcing là xu hướng mới cho doanh nghiệp hiện nay" width="922" height="350" srcset="" data-srcset="https://devteam.mobi/wp-content/uploads/2019/04/Co-working-space-at-the-hub-singapore-2dwq1tk.jpg 922w, https://devteam.mobi/wp-content/uploads/2019/04/Co-working-space-at-the-hub-singapore-2dwq1tk-300x114.jpg 300w, https://devteam.mobi/wp-content/uploads/2019/04/Co-working-space-at-the-hub-singapore-2dwq1tk-768x292.jpg 768w" sizes="(max-width: 922px) 100vw, 922px">
										<figcaption id="caption-attachment-12241" class="wp-caption-text">Dịch vụ IT outsourcing là xu hướng mới cho doanh nghiệp hiện nay</figcaption>
									</figure>
										<h2>
											<span id="Gia_dich_vu_It_outsourcing_co_dat_khong">Giá dịch vụ It outsourcing có đắt không?</span>
										</h2>
										<p>Mục đích lớn nhất của việc tìm đến các dịch vụ thuê ngoài IT vẫn chính là góp phần hạn chế được chi phí. Chính vì thế, quý đầu tư cũng không cần phải lo lắng quá về <span style="color: #f99b1c;"><a style="color: #f99b1c;" href="https://devteam.mobi/bang-gia-dich-vu-it-outsourcing-ban-moi-cap-nhat/">giá dịch vụ IT Outsource</a></span>. Bởi hiện nay, giá dịch vụ IT outsource tại Việt Nam vẫn nằm ở mặt bằng thấp. Trung bình chỉ ở mức 10 đến 14$ trên một giờ làm việc.</p>
										<p>Trong khi đó, giá nhân công thuê ngoài trung bình của thế giới là 15 đến 20$ trên một giờ làm việc. Đây cũng là lý do giải thích vì sao, nhiều quý đầu tư ngoài nước vẫn không ngại xa xôi tìm đến dịch vụ này tại Việt Nam. Tuy nhiên, để có một bảng giá chi tiết nhất cho dự án của mình, quý doanh nghiệp, chủ đầu tư hãy liên hệ <span style="color: #f99b1c;"><strong><a style="color: #f99b1c;" href="https://devteam.mobi/yeu-cau-bao-gia/">tại đây</a></strong></span> nhé!</p>
										<h2>
											<span id="Tai_sao_doanh_nghiep_can_dich_vu_IT_outsourcing_thay_vi_tuyen_mot_IT">Tại sao doanh nghiệp cần dịch vụ IT outsourcing thay vì tuyển một IT?</span>
										</h2>
										<p>Xu hướng hiện nay của các doanh nghiệp là sử dụng các dịch vụ thuê ngoài và freelancer lập trình. Điểm khác duy nhất giữa dịch vụ IT Outsourcing và tuyển một IT riêng đó là độ trễ xử lý sự cố nhưng điều này là không tuyệt đối, giả sử trường hợp anh IT riêng bị ốm hay công việc gia đình đột xuất vài ngày thì mọi sự cố liên quan IT coi như bị đình trệ vì lệ thuộc vào một cá nhân. Đây chỉ là một <span style="color: #f99b1c;"><a style="color: #f99b1c;" href="https://devteam.mobi/day-chinh-la-ly-do-nhieu-doanh-nghiep-lua-chon-dich-vu-it-outsourcing/">lí do để doanh nghiệp chọn dịch vụ IT Outsourcing</a></span> thay vì một lập trình viên mà thôi. Còn vô số các lý do khác nữa mà việc thuê một dịch vụ IT Outsource trở thành một lựa chọn tốt nhất cho doanh nghiệp.</p>
										<div class="panel" style="margin-bottom:20px;">
											<div class="panel-header">
												<h4>
													<span id="CHO_DA">CHỜ ĐÃ</span>
												</h4>
											</div>
											<div class="panel-body">
												<span>DevTeam là công ty hàng đầu về lĩnh vực gia công phần mềm, ứng dụng di động và thiết kế website. Nếu bạn quan tâm, hãy dành ít phút theo dõi cụ thể về dịch vụ này tại Devteam nhé!</span>
												<div class="wp-link-shortcode">
													<a rel="nofollow" target="_blank" href="https://devteam.mobi/devteam-noi-cung-cap-dich-vu-it-outsource-hang-dau-viet-nam/" class="btn btn-read-more btn-animate"><span class="animated infinite zoomIn alo-ph-circle"></span>Vâng, tôi quan tâm</a>
												</div>
											</div>
										</div>
										<h2>
											<span id="Noi_cung_cap_dich_vu_IT_outsourcing_chuyen_nghiep_nhat_hien_nay">Nơi cung cấp dịch vụ IT outsourcing chuyên nghiệp nhất hiện nay</span>
										</h2>
										<p>Hiện nay <span style="color: #f99b1c;"><a style="color: #f99b1c;" href="https://devteam.mobi/cong-ty-outsource-phan-mem-tai-viet-nam-sang-gia-nhat-nam-2019/">các công ty Outsourcing phần mềm sáng giá tại việt nam</a></span> xuất hiện rất nhiều. Nhưng để tìm kiếm một công ty mà mình có thể tin tưởng hợp tác thì cũng là sự lựa chọn khá khó khăn có các doanh nghiệp. Hãy đến với Devteam, một công ty chuyên viết phần mềm uy tín nhất hiện nay. Với hơn 5 năm kinh nghệm, Devteam sẽ cung cấp do doanh nghiệp của bạn những dịch vụ it outsourcing chuyên nghiệp nhất:</p>
										<h3>
											<span id="_Devteam_dua_tren_nen_tang_cong_nghe_vung_chac">
												<span style="font-size: 105%;">✓ </span><em>Devteam dựa trên nền tảng công nghệ vững chắc:</em>
											</span>
										</h3>
										<p>Devteam với những giải pháp tốt nhất cho việc quản lý IT, tài khoản kĩ thuật và lên kế hoạch IT chiến lược. Chúng tôi thực hiện 1 quá trình nghiêm ngặt từ việc tìm hiểu nhu cầu quản lý công nghệ của doanh nghiệp, thiết lập chương trình quản lý, và giới hiệu mô hình hỗ trợ IT mới cho nhân viên của doanh nghiệp.</p>
										<h3>
											<span id="_Doi_ngu_IT_chuyen_nghiep">
												<span style="font-size: 105%;">✓ </span><em>Đội ngũ IT chuyên nghiệp:</em>
											</span>
										</h3>
										<p>Nếu quý doanh nghiệp sử dụng dịch vụ it, khi dịch vụ được đưa vào thực hiện, chúng tôi sẽ chủ động hỗ trợ cung cấp dịch vụ quản lý IT toàn diện theo nhu cầu của bạn. Đội ngũ IT mà Devteam dành cho mỗi khách hàng của mình có đầy đủ kĩ năng cần thiết để hỗ trợ theo yêu cầu riêng biệt của từng khách hàng và quản lý chuyên nghiệp tất cả công nghệ trong hệ thống của họ.</p>
										<figure id="attachment_12242" aria-describedby="caption-attachment-12242" style="width: 1600px" class="wp-caption aligncenter">
											<img class="lazy-load wp-image-12242 size-full" src="./../../assets/lazy.png" data-src="https://devteam.mobi/wp-content/uploads/2019/04/coworking-cogo.jpeg" alt="Sử dụng dịch vụ IT outsourcing là sự lựa chọn hoàn hảo cho doanh nghiệp hiện nay" width="1600" height="800" srcset="" data-srcset="https://devteam.mobi/wp-content/uploads/2019/04/coworking-cogo.jpeg 1600w, https://devteam.mobi/wp-content/uploads/2019/04/coworking-cogo-300x150.jpeg 300w, https://devteam.mobi/wp-content/uploads/2019/04/coworking-cogo-768x384.jpeg 768w, https://devteam.mobi/wp-content/uploads/2019/04/coworking-cogo-1024x512.jpeg 1024w" sizes="(max-width: 1600px) 100vw, 1600px">
											<figcaption id="caption-attachment-12242" class="wp-caption-text">Sử dụng dịch vụ IT outsourcing là sự lựa chọn hoàn hảo cho doanh nghiệp hiện nay</figcaption>
										</figure>
										<p>Đội ngũ quản lý IT năng động của Devteam có đủ kĩ năng và công cụ tự động cần thiết để giúp quản lý hệ thống IT của doanh nghiệp bạn một cách hiệu quả. Đội ngũ này sẽ giúp bạn giảm thiểu các sự cố, cải thiện mức độ tin cậy, hiệu suất và khả năng phục hồi của của những hệ thống <a href="https://vi.wikipedia.org/wiki/C%C3%B4ng_ngh%E1%BB%87_th%C3%B4ng_tin" rel="nofollow">công nghệ thông tin</a> quan trọng trong doanh nghiệp. Ngoài ra, Devteam cũng cung cấp giải pháp bảo mật nhiều lớp để bảo vệ dữ liệu của bạn khỏi những mối đe dọa an ninh, giúp giảm nguy cơ mất mát hay để lộ những thông tin nhạy cảm. Khi sự cố IT xảy ra, đội hỗ trợ kĩ thuật của Devteam sẽ nhanh chóng giải quyết giúp cho hệ thống vận hành lại bình thường nhanh nhất có thể.</p>
										<h3>
											<span id="_Cham_soc_khach_hang_rieng_biet_8211_tan_tam">
												<span style="font-size: 105%;">✓ </span><em>Chăm sóc khách hàng riêng biệt – tận tâm:</em>
											</span>
										</h3>
										<p>Mỗi khách hàng sẽ được quản lý chăm sóc riêng biệt để đảm bảo đơn giản hóa hoạt động trao đổi cho khách hàng cũng như kịp thời phản hồi những yêu cầu của khách hàng. Devteam sẽ hỗ trợ khách hàng lên kế hoạch IT để đảm bảo tối ưu hóa nguồn ngân sách dành cho IT và hệ thống IT có khả năng đáp ứng yêu cầu phát triển của doanh nghiệp.</p>
										<div class="panel" style="margin-bottom:20px;">
											<div class="panel-header">
												<h4>
													<span id="BAN_CAN_BAO_GIA_CHI_TIET">BẠN CẦN BÁO GIÁ CHI TIẾT?</span>
												</h4>
											</div>
											<div class="panel-body">
												<span>Bạn cần một bảng báo giá chi tiết nhất về dịch vụ It outsource tại Devteam? Vậy thì đừng chần chờ nữa, ưu đãi của chúng tôi chỉ có giới hạn!</span>
												<div class="wp-link-shortcode">
													<a rel="nofollow" target="_blank" href="https://devteam.mobi/yeu-cau-bao-gia/" class="btn btn-read-more btn-animate">
														<span class="animated infinite zoomIn alo-ph-circle"></span>GỬI BÁO GIÁ
													</a>
												</div>
											</div>
										</div>
										<h2>
											<span id="Cac_dich_vu_ma_Devteam_cung_cap">Các dịch vụ mà Devteam cung cấp</span>
										</h2>
										<p>Đến với Devteam, chúng tôi sẽ nhận viết phần mềm và cung cấp cho quý doanh nghiệp&nbsp;các dịch vụ IT Outsource như:</p>
										<ul>
											<li>Dịch vụ lập trình các phần mềm quản lý khách hàng crm; phần mềm quản lý nhân sự; phần mềm quản lý doanh nghiệp erp…</li>
											<li>Tùy theo đặc thù kinh doanh của doanh nghiệp mà Devteam còn nhận viết phần mềm tương tự như các web Giaohangtietkiem.com; <a href="https://www.grab.com/vn/" rel="nofollow">Grab</a>; Uber; Lazada; Batdongsan.com.vn; Cafeland.vn…</li>
											<li>Nhận viết app IOS cũng như Android.</li>
											<li>Nhận thiết kế landing page cho từng dự án cụ thể phù hợp với thị trường outsourcing Việt Nam.</li>
											<li>Xây dựng hệ thống, phần mềm cho các doanh nghiệp trong và ngoài nước theo yêu cầu.</li>
											<li>Hoạt động dịch vụ công nghệ thông tin và dịch vụ khác liên quan tới máy tính</li>
											<li>Tư vấn và cung cấp dịch vụ, giải pháp công nghệ thông tin.</li>
										</ul>
										<h2>
											<span id="Loi_ket">Lời kết</span>
										</h2>
										<p>Vậy quý doanh nghiệp có nhu cầu sử dụng dịch vụ IT Outsourcing chuyên nghiệp thì hãy sử dụng dịch vụ của <span style="color: #f99b1c;">Devteam </span>– công ty chuyên viết phần mềm uy tín nhất hiện nay. Đến với Devteam, quý doanh nghiệp chắn chắn sẽ hài lòng bởi vì chúng tôi xuât thân từ những con người đam mê công nghệ và nhiệt huyết với công việc.</p>
										<div class="contact-st">
											<div class="ct-content"><p></p></div>
											<div class="ct-pos"></div>
											<div class="ct-border">
												<div class="row">
													<div class="col-lg-6 col-sm-12 ct-left"> 
														<img class="lazy-load ct-logo" src="./../../assets/lazy.png" data-src="https://devteam.mobi/wp-content/uploads/2019/04/id_icon_logo_devteam.jpg" alt="">
														<p> <i class="fas fa-map-marker-alt"></i>C4 – C8 Bửu Long Quận 10 <br> TPHCM</p>
														<hr>
													</div>
													<div class="col-lg-6 col-sm-12 ct-right">
														<ul>
															<li>
																<p> <i class="fas fa-phone"></i> <a rel="nofollow" href="tel:0888884420">08.8888.4420</a></p>
															</li>
															<li>
																<p> <i class="far fa-envelope"></i> <a rel="nofollow" class="showfomrmmail">info@devteam.mobi</a></p>
															</li>
															<li>
																<p> <i class="fab fa-telegram-plane"></i> <a rel="nofollow" href="https://t.me/thainguyen1708">https://t.me/thainguyen1708</a></p>
															</li>
															<li>
																<p> <i class="fab fa-facebook-f"></i> <a rel="nofollow" href="https://www.facebook.com/devteam.mobi/">https://www.facebook.com/devteam.mobi/</a></p>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
										<div class="blog-share text-center">
											<div class="is-divider medium"></div>
											<div class="social-icons share-icons share-row relative">
												<a href="whatsapp://send?text=D%E1%BB%8Bch%20V%E1%BB%A5%20It%20Outsourcing%20Ph%E1%BA%A7n%20M%E1%BB%81m%20Chuy%C3%AAn%20Nghi%E1%BB%87p%20D%C3%A0nh%20Ri%C3%AAng%20Cho%20Doanh%20Nghi%E1%BB%87p - https://devteam.mobi/dich-vu-it-outsourcing-chuyen-nghiep-danh-rieng-cho-doanh-nghiep/" data-action="share/whatsapp/share" class="icon primary button circle tooltip whatsapp show-for-medium tooltipstered"><i class="icon-phone"></i></a>
												<a href="https://www.facebook.com/sharer.php?u=https://devteam.mobi/dich-vu-it-outsourcing-chuyen-nghiep-danh-rieng-cho-doanh-nghiep/" data-label="Facebook" onclick="window.open(this.href,this.title,&#39;width=500,height=500,top=300px,left=300px&#39;);  return false;" rel="noopener noreferrer nofollow" target="_blank" class="icon primary button circle tooltip facebook tooltipstered"><i class="icon-facebook"></i></a>
												<a href="https://twitter.com/share?url=https://devteam.mobi/dich-vu-it-outsourcing-chuyen-nghiep-danh-rieng-cho-doanh-nghiep/" onclick="window.open(this.href,this.title,&#39;width=500,height=500,top=300px,left=300px&#39;);  return false;" rel="noopener noreferrer nofollow" target="_blank" class="icon primary button circle tooltip twitter tooltipstered"><i class="icon-twitter"></i></a>
												<a href="mailto:enteryour@addresshere.com?subject=D%E1%BB%8Bch%20V%E1%BB%A5%20It%20Outsourcing%20Ph%E1%BA%A7n%20M%E1%BB%81m%20Chuy%C3%AAn%20Nghi%E1%BB%87p%20D%C3%A0nh%20Ri%C3%AAng%20Cho%20Doanh%20Nghi%E1%BB%87p&amp;body=Check%20this%20out:%20https://devteam.mobi/dich-vu-it-outsourcing-chuyen-nghiep-danh-rieng-cho-doanh-nghiep/" rel="nofollow" class="icon primary button circle tooltip email tooltipstered"><i class="icon-envelop"></i></a>
												<a href="https://pinterest.com/pin/create/button/?url=https://devteam.mobi/dich-vu-it-outsourcing-chuyen-nghiep-danh-rieng-cho-doanh-nghiep/&amp;media=https://devteam.mobi/wp-content/uploads/2019/04/coworking-cogo-1024x512.jpeg&amp;description=D%E1%BB%8Bch%20V%E1%BB%A5%20It%20Outsourcing%20Ph%E1%BA%A7n%20M%E1%BB%81m%20Chuy%C3%AAn%20Nghi%E1%BB%87p%20D%C3%A0nh%20Ri%C3%AAng%20Cho%20Doanh%20Nghi%E1%BB%87p" onclick="window.open(this.href,this.title,&#39;width=500,height=500,top=300px,left=300px&#39;);  return false;" rel="noopener noreferrer nofollow" target="_blank" class="icon primary button circle tooltip pinterest tooltipstered"><i class="icon-pinterest"></i></a>
												<a href="https://plus.google.com/share?url=https://devteam.mobi/dich-vu-it-outsourcing-chuyen-nghiep-danh-rieng-cho-doanh-nghiep/" target="_blank" class="icon primary button circle tooltip google-plus tooltipstered" onclick="window.open(this.href,this.title,&#39;width=500,height=500,top=300px,left=300px&#39;);  return false;" rel="noopener noreferrer nofollow"><i class="icon-google-plus"></i></a>
												<a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://devteam.mobi/dich-vu-it-outsourcing-chuyen-nghiep-danh-rieng-cho-doanh-nghiep/&amp;title=D%E1%BB%8Bch%20V%E1%BB%A5%20It%20Outsourcing%20Ph%E1%BA%A7n%20M%E1%BB%81m%20Chuy%C3%AAn%20Nghi%E1%BB%87p%20D%C3%A0nh%20Ri%C3%AAng%20Cho%20Doanh%20Nghi%E1%BB%87p" onclick="window.open(this.href,this.title,&#39;width=500,height=500,top=300px,left=300px&#39;);  return false;" rel="noopener noreferrer nofollow" target="_blank" class="icon primary button circle tooltip linkedin tooltipstered"><i class="icon-linkedin"></i></a>
											</div>
										</div>
										<div class="blog-share text-center">
											<div id="fb-root" class=" fb_reset">
												<div style="position: absolute; top: -10000px; width: 0px; height: 0px;">
													<div>
														<iframe name="fb_xdm_frame_https" id="fb_xdm_frame_https" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tabindex="-1" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="./../../assets/xd_arbiter.html" style="border: none;"></iframe>
													</div>
													<div></div>
												</div>
												<div class="fb-customerchat fb_invisible_flow fb_iframe_widget" attribution="setup_tool" page_id="713684975431254" theme_color="#e60100" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=&amp;attribution=setup_tool&amp;container_width=0&amp;locale=en_US&amp;page_id=713684975431254&amp;sdk=joey&amp;theme_color=%23e60100">
													<span style="vertical-align: bottom; width: 0px; height: 0px;">
														<iframe name="f1eb75b7119115" width="1000px" height="1000px" title="" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="./../../assets/customerchat.html" style="border: none; visibility: visible; width: 288pt; height: 211px; border-radius: 9pt; bottom: 63pt; padding: 0px; position: fixed; right: 9pt; top: auto; z-index: 2147483647; max-height: 0px;" class="" data-testid="dialog_iframe"></iframe>
													</span>
												</div>
												<div class="fb_dialog  fb_dialog_advanced fb_customer_chat_bubble_animated_no_badge fb_customer_chat_bubble_pop_in" style="background: none; border-radius: 50%; bottom: 18pt; display: inline; height: 45pt; padding: 0px; position: fixed; right: 18pt; top: auto; width: 45pt; z-index: 2147483646;">
													<div class="fb_dialog_content" style="background: none;">
														<iframe name="blank_f1eb75b7119115" width="60px" tabindex="-1" data-testid="bubble_iframe" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="./../../assets/bubble.html" style="border: none;"></iframe>
													</div>
												</div>
											</div> 
											<script>
												(function(d, s, id) {
													var js, fjs = d.getElementsByTagName(s)[0];
													if (d.getElementById(id)) return;
													js = d.createElement(s); js.id = id;
													js.src = "https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js";
													fjs.parentNode.insertBefore(js, fjs);
												}(document, 'script', 'facebook-jssdk'));
											</script> 
											<span class="like">
												<div class="fb-like fb_iframe_widget" data-href="https://devteam.mobi/dich-vu-it-outsourcing-chuyen-nghiep-danh-rieng-cho-doanh-nghiep/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=&amp;container_width=773&amp;href=https%3A%2F%2Fdevteam.mobi%2Fdich-vu-it-outsourcing-chuyen-nghiep-danh-rieng-cho-doanh-nghiep%2F&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small">
													<span style="vertical-align: bottom; width: 122px; height: 20px;">
														<iframe name="fc35bcb18c6888" width="1000px" height="1000px" title="fb:like Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="./../../assets/like.html" style="border: none; visibility: visible; width: 122px; height: 20px;" class=""></iframe>
													</span>
												</div> 
												<script src="./../../assets/platform.js" async="" defer="" gapi_processed="true"></script> 
												<div style="position: absolute; width: 450px; left: -10000px;" id="___plusone_0">
													<iframe ng-non-bindable="" frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position:absolute;top:-10000px;width:450px;margin:0px;border-style:none" tabindex="0" vspace="0" width="100%" id="I0_1575050434075" name="I0_1575050434075" src="./../../assets/fastbutton.html" data-gapiattached="true"></iframe>
												</div>
												<g:plusone size="medium" data-gapiscan="true" data-onload="true" data-gapistub="true"></g:plusone> 
											</span>
										</div>
									</div>
									<footer class="entry-meta text-left"> 
										Mục này đã được đăng trong <a href="https://devteam.mobi/chuyen-muc/it-outsourcing/" rel="category tag">IT Outsourcing</a> and tagged <a href="https://devteam.mobi/tag/cac-cong-ty-gia-cong-phan-mem-o-viet-nam/" rel="tag">các công ty gia công phần mềm ở Việt Nam</a>, <a href="https://devteam.mobi/tag/cac-cong-ty-outsourcing-tai-viet-nam/" rel="tag">các công ty outsourcing tại Việt Nam</a>, <a href="https://devteam.mobi/tag/cong-ty-chuyen-viet-phan-mem/" rel="tag">công ty chuyên viết phần mềm</a>, <a href="https://devteam.mobi/tag/dich-vu-cho-thue-nhan-su/" rel="tag">dịch vụ cho thuê nhân sự</a>, <a href="https://devteam.mobi/tag/dich-vu-it/" rel="tag">dịch vụ it</a>, <a href="https://devteam.mobi/tag/dich-vu-it-outsourcing/" rel="tag">dịch vụ it outsourcing</a>, <a href="https://devteam.mobi/tag/dich-vu-it-outsourcing-chuyen-nghiep/" rel="tag">Dịch vụ it outsourcing chuyên nghiệp</a>, <a href="https://devteam.mobi/tag/dich-vu-outsourcing/" rel="tag">dịch vụ outsourcing</a>, <a href="https://devteam.mobi/tag/dich-vu-thue-ngoai/" rel="tag">dịch vụ thuê ngoài</a>, <a href="https://devteam.mobi/tag/freelancer-lap-trinh-freelancing-websites/" rel="tag">freelancer lập trình. freelancing websites</a>, <a href="https://devteam.mobi/tag/gia-cong-phan-mem/" rel="tag">gia công phần mềm</a>.
									</footer>
									<div class="form-contact-footer">
										<div class="message-box relative dark" style="padding-top:15px;padding-bottom:15px;">
											<div class="message-box-bg-image bg-fill fill"></div>
											<div class="message-box-bg-overlay bg-fill fill"></div>
											<div class="container relative">
												<div class="inner last-reset">
													<div class="row align-middle align-center" id="row-1818209725">
														<div class="col title-contact medium-6 small-12 large-6">
															<div class="col-inner">
																<p>Bạn có một<span class="highlight"> Ý TƯỞNG?</span></p><p>Chúng tôi có thể giúp bạn</p> 
																<span class="highlight">THỰC HIỆN</span> nó!<br>
																<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 150" xml:space="preserve" class="svg_idea"> 
																	<g> 
																		<path class="st0" d="M129.4,120.6c0,10.3-24.3,18.7-54.2,18.7c-29.9,0-54.2-8.4-54.2-18.7c0-10.3,24.3-18.7,54.2-18.7C105.1,101.9,129.4,110.3,129.4,120.6z"></path> 
																		<circle id="id_x5F_circle" class="st1" cx="75" cy="75.1" r="57.7106"> 
																			<animate accumulate="none" additive="replace" attributeName="r" calcMode="linear" dur="2s" fill="remove" from="0" repeatCount="indefinite" restart="always" to="75"> </animate> 
																		</circle> 
																		<g> 
																			<path class="st2" d="M40.9,114.6c0,0-0.5,0.7-0.3,1.1c0.1,0.4,1.4,1.3,2,1c0.6-0.3-0.4-0.9-0.5-1.8C41.9,114.1,40.9,114.6,40.9,114.6z"></path> 
																			<path class="st2" d="M47.8,115v0.8c0,0,1.8,0.8,2.4,0.5c0.6-0.3,0.6-0.4,0.3-0.6c-0.3-0.2-1.6-0.9-1.6-0.9L47.8,115z"></path> 
																			<path class="st3" d="M46.8,99.7c-0.1,0.1,0.1,1,2.7,1.4c2.6,0.4,4.7,0.8,4.7,0.8l0.1-1.1l-5.5-2C48.7,98.8,47.4,98.7,46.8,99.7z"></path> 
																			<path class="st4" d="M50.3,103.5c0-0.3,2-4.1,2-4.1l4-1.7l-2.2,4.2L50.3,103.5z"></path> 
																			<path class="st5" d="M47,109.1c0.3-0.1,0.6-0.1,1-0.2c0.4-0.2,0.8-0.4,1.1-0.6l0.5-6.7l-6.9-1.1l0.1,10l0,0c0.7,0.1,1.3,0.3,1.9,0.3l0.6-6.1l1.3-0.4L47,109.1z"></path> 
																			<path class="st5" d="M48,94.5v-2.6h-1.9l0,2.6C46.8,94.9,47.5,95.1,48,94.5z"></path> 
																			<path class="st5" d="M51.1,102.4l1.3-0.7l0.3,0.8c0,0-0.4,1-1.8,1C49.5,103.5,51.1,102.4,51.1,102.4z"></path> 
																			<path class="st5" d="M44.7,110.6l-2.9,4.7c0,0-0.7-0.3-0.9-0.7c-0.1-0.4,1.9-4.3,1.9-4.3L44.7,110.6z"></path> 
																			<polygon class="st5" points="44.7,110.646.4,103.7 44.5,103.7 43.8,109.2"></polygon> 
																			<polygon class="st5" points="49.1,108.2 49.1,115 47.8,115 47,109.1"></polygon> 
																			<path class="st6" d="M42.7,106.5c0,0,1.3,1.1,3.9,0.8c2.6-0.3,2.6-0.9,2.6-0.9l0.3-5.4l-4.8,0.3l-2,3.4V106.5z"></path> 
																			<path class="st3" d="M49.8,94.4c0.2,0.4,0.4,1.2,0.6,2.6c0.4,2.5,0.9,3.8,0,4.1c-0.9,0.3-1.5-0.9-1.5-0.9l0.3-6
																			C49.2,94.2,49.8,94.3,49.8,94.4z"></path>
																			<path class="st7" d="M49.5,94.8c0,0-2.2-0.5-4.5-0.4c0,0-2.5,0.6-2.4,3.1l0,1.6l0,3c0,0,1.8,1.6,4.2,0.9c2.3-0.6,2.7-1.6,2.7-1.6
																			v-3.4v-2.8V94.8z"></path> 
																			<path class="st3" d="M43.3,96.1"></path> 
																			<path class="st7" d="M48.5,94.7l-0.1,1.6l-0.1,1.3c0,0-0.3-0.4-0.8-1c-0.6-0.7-1.2-1.5-1.2-1.5L48.5,94.7z"></path> 
																			<path class="st3" d="M48.7,94.1c0,0-0.1,0-0.2,0l-0.4,0.2c0,0,1.5,2.1,1.2,6.3c0,1.2-0.3,4.5-0.3,4.5s0.5-0.3,0.7-0.9
																			c0.2-0.6,0.4-5.5,0.4-5.5l-0.4-4.2C49.4,94.3,49.1,94.2,48.7,94.1z"></path> 
																			<path class="st3" d="M45.6,94.2c0,0,0.9,2.1,1,4.9c0,2.7-0.5,6.7-0.5,6.7s-3.3,0.3-3.4-0.9c-0.1-1.2,0-8.2,0-8.2
																			S42.8,94.9,45.6,94.2z"></path> 
																			<path class="st6" d="M42.7,96.9c0,0.1,1.1,2,1.1,2l0.8,2.5l1.8,1.1l-0.1,0.9c0,0-2.9-0.6-3.2-1.7C42.7,100.6,42.7,96.9,42.7,96.9z
																			"></path> 
																			<path class="st3" d="M45.1,98.1c-0.4-2.5-0.6-3-1.2-3.2c0,0-1,0.3-1.3,2c-0.2,1.8,0.9,4.3,0.9,4.3s0.7,1.2,1.5,0.9
																		C46,101.9,45.5,100.6,45.1,98.1z"></path> 
																		<path class="st8" d="M46.1,93.9c0,0,0.6,0.5,1.2,0.5C47.8,94.3,48,94,48,94l0-0.2l0.4,0l0.2,1.5l-0.9-0.6l-0.3,1
																		c0,0-1.1-0.6-1.4-1c-0.3-0.3-0.3-0.6-0.3-0.6L46.1,93.9z"></path> <path class="st5" d="M50.4,90.7c0,1.7-1,4.4-3.1,3.1c-1.7-0.2-3.1-1.4-3.1-3.1c0-1.7,1.4-3.1,3.1-3.1C49,87.6,50.4,89,50.4,90.7z"></path> <path class="st3" d="M43.6,101.3c-0.1,0.1,0.1,1,2.7,1.4c2.6,0.4,4.7,0.8,4.7,0.8l0.1-1.1l-5.5-2
																		C45.5,100.4,44.2,100.2,43.6,101.3z"></path> <path class="st9" d="M50.5,90.9c0,0,0-1.2-0.5-1.8c-0.5-0.6-1.5-2-3.7-1.4c-2.3,0.6-2.2,2.3-2.2,2.9c0,0.6,0.1,1.4,0.5,1.9
																		c0.4,0.5,1.4,1.2,1.4,1.2l0-1.3c0,0-0.6-0.2-0.5-0.8c0.1-0.6,0.6,0,0.6,0l0.2,0.7c0,0,0.5-0.7,0.7-1.5
																		C47.4,89.8,47.9,91.4,50.5,90.9z"></path> <path class="st9" d="M47.3,90.4c0,0,0.3,0.4,0.2,0.8c-0.1,0.4-0.1,0.4-0.1,0.4s1.5,0.2,2.5,0.1c1-0.1,1-0.5,1-0.5s0.2-0.8-0.6-1.6
																		C49.5,88.9,47.3,90.4,47.3,90.4z"></path> <path class="st9" d="M47.3,87.8c0,0.9-0.7,1.7-1.7,1.7s-1.7-0.7-1.7-1.7c0-0.9,0.7-1.7,1.7-1.7S47.3,86.8,47.3,87.8z"></path> <path class="st2" d="M40.5,115.3c0.1-0.2,0.6-1.7,0.6-1.7c0.6,0.5,1.2,0.8,1.3,0.5c0,0,0.2,0.3,0,0.5c-0.2,0.2-0.4,0.9-0.4,0.9
																		s-0.7,0.2-0.8,0.2C41.2,115.7,40.5,115.3,40.5,115.3z"></path> <path class="st2" d="M47.6,113.7c0,0,1.3,0.1,1.5,0c0.2-0.1,0.2,0.3,0.2,0.6c0,0.3,0.1,0.7,0.1,0.7l-0.1,0.6l-0.8,0.3l-0.7-0.5
																		L47.6,113.7z"></path> </g> <g> <path class="st5" d="M45.9,95.8c0,1.6-1,4.1-2.9,2.9c-1.6,0-2.9-1.3-2.9-2.9c0-1.6,1.3-2.9,2.9-2.9C44.6,92.9,45.9,94.2,45.9,95.8
																		z"></path> <path class="st10" d="M44.2,121.7l-0.1,0.7c0,0,0.5,0.3,0.8,0.2c0.3-0.1,1.8-0.5,1.6-0.7c-0.2-0.2-1.2-0.5-1.5-0.4
																		C44.7,121.5,44.2,121.7,44.2,121.7z"></path> <path class="st10" d="M38.2,121.7l-0.1,0.7c0,0,0.5,0.3,0.8,0.2c0.3-0.1,1.8-0.5,1.6-0.7c-0.2-0.2-1.2-0.5-1.5-0.4
																		C38.7,121.5,38.2,121.7,38.2,121.7z"></path> <path class="st4" d="M50.7,105.2c0,0,0.7-3.3,0.6-3.3c-0.1,0-3.5-1.3-3.5-1.3s-1.2,5.7-1.1,5.6c0.1,0,3.5,1.3,3.5,1.3L50.7,105.2z
																		"></path> <path class="st5" d="M49.8,106l0.9-0.8c0.4,0.2,0.5,0.5,0.4,0.9l-1.2,0.7L49.8,106z"></path> <polygon class="st5" points="41.3,99.3 41.3,97.5 43.2,97.5 43.2,100.1 		"></polygon> <path class="st11" d="M38.4,121.8c-0.1,0-0.2-0.1-0.2-0.1l1.7-5.3l-0.6-9.3l6.9-1.1l-0.1,10l-1,5.6c-0.2,0-0.4,0.1-0.6,0.1
																		c-0.1,0-0.2,0-0.3,0v-4.6l-0.7-6.9l-1.3-0.4l-0.7,7.3l-2.7,4.8C38.7,121.9,38.5,121.8,38.4,121.8z"></path> <path class="st12" d="M39.3,98.9v8.2l6.8,1.4l0.1,0l0-3.8l0-1.6c-0.2-0.6-0.5-1.1-0.7-1.4c0,0,0,0,0,0c-0.2-0.3-0.3-0.5-0.4-0.6
																		c0,0-0.1-0.1-0.1-0.1L39.3,98.9z"></path> <path class="st12" d="M44.7,104.6c0,0.2,0.1,0.4,0.1,0.5c0.2,1.4,0.6,2.7,1.2,3.4c0.3,0.3,0.7,0.5,1.1,0.4
																		c1.5-0.3,3.2-2.4,3.2-2.4l-0.5-0.6l-2.3,1.2l-0.9-2.7l-0.5-1.2c-0.2-0.6-0.5-1.1-0.7-1.4C45.1,102.2,44.5,103,44.7,104.6z"></path> <path class="st12" d="M39.3,98.9l0.3,3.3l2.6,3c0,0,1.4,0.2,2.7,0c0.5-0.1,0.9-0.2,1.3-0.4c0.2-0.1,0.4-0.2,0.5-0.3
																		c-0.1-0.4-0.3-0.8-0.5-1.2c-0.2-0.6-0.5-1.1-0.7-1.4c0,0,0,0,0,0c-0.2-0.3-0.3-0.5-0.4-0.6c0,0-0.1-0.1-0.1-0.1
																		C42.6,98.5,39.3,98.9,39.3,98.9z"></path> <path class="st3" d="M39.3,98.9c-0.6,0.2-0.8,0.6-1.2,3.2c-0.4,2.5-0.9,3.8,0,4.1c0.9,0.3,1.5-0.9,1.5-0.9L39.3,98.9z"></path> <path class="st12" d="M46.1,108.6c0,0-1.8,0.8-4.2,0.1c-2.3-0.6-2.7-1.6-2.7-1.6v-3.4h6.1L46.1,108.6z"></path> <path class="st3" d="M45.9,108.4c0,0-1.7-3-1.7-4.2c0-1.1,0.5,4.8,0.5,4.8l1.4-0.4L45.9,108.4z"></path> <polygon class="st12" points="39.3,103.7 39.3,98.9 40.9,101 40.7,104.4 40.1,105 		"></polygon> <path class="st12" d="M39.3,102.9l-0.7-3.3c0,0,0.1-0.8,0.7-0.8c0.6,0,1.3,2,1.3,2L39.3,102.9z"></path> <path class="st12" d="M43.9,100.2c0,0-0.2-0.7-0.8-1c-0.6-0.3-2.3-1-2.5-0.3c-0.2,0.7,1.9,1.4,1.9,1.4L43.9,100.2z"></path> <path class="st10" d="M42.7,98.7c0,0,0.8-0.4,0.8-1.7c0.8-0.3,0.6-2.5,2.3-2.2c0,0,0.2-0.6,0.8-0.9c-1.4-0.7-1.4-1.7-3.3-1.8
																		c-3.4-0.1-4,2.4-3.7,3.9c0.2,1.4,1.7,2.3,1.7,2.3S41.8,98.4,42.7,98.7z"></path> <path class="st5" d="M43.1,96.9c0,0.4,0.2,0.8,0.6,0.8c0.3,0,0.6-0.3,0.6-0.8c0-0.4-0.2-0.8-0.6-0.8
																		C43.3,96.1,43.1,96.5,43.1,96.9z"></path> </g> <g> <path class="st2" d="M95.7,108.6c0,0-0.5,0.7-0.3,1.1c0.1,0.4,1.4,1.3,1.9,1c0.6-0.3-0.4-0.9-0.5-1.8
																		C96.8,108.1,95.7,108.6,95.7,108.6z"></path> <path class="st2" d="M102.6,109v0.8c0,0,1.8,0.8,2.4,0.5c0.6-0.3,0.6-0.4,0.3-0.6c-0.3-0.2-1.6-0.9-1.6-0.9L102.6,109z"></path> <path class="st3" d="M101.6,93.7c-0.1,0.1,0.1,1,2.7,1.4c2.6,0.4,4.7,0.8,4.7,0.8l0.1-1.1l-5.5-2
																		C103.5,92.8,102.2,92.7,101.6,93.7z"></path> <path class="st4" d="M105.1,97.5c0-0.3,2-4.1,2-4.1l4-1.7L109,96L105.1,97.5z"></path> <path class="st11" d="M101.8,103.1c0.3-0.1,0.6-0.1,1-0.2c0.4-0.2,0.8-0.4,1.1-0.6l0.5-6.7l-6.9-1.1l0.1,10l0,0
																		c0.7,0.1,1.3,0.3,1.9,0.3l0.6-6.1l1.3-0.4L101.8,103.1z"></path> <path class="st3" d="M104.7,88.4c0.2,0.4,0.4,1.2,0.6,2.6c0.4,2.5,0.9,3.8,0,4.1c-0.9,0.3-1.5-0.9-1.5-0.9l0.3-6
																		C104,88.2,104.6,88.3,104.7,88.4z"></path> <path class="st12" d="M104.4,88.8c0,0-1.6-1.6-4.5-0.4c0,0-2.5,0.6-2.4,3.1l0,1.6l0,3c0,0,1.8,1.6,4.2,0.9
																		c2.3-0.6,2.7-1.6,2.7-1.6v-3.4v-2.8V88.8z"></path> <path class="st5" d="M102.8,88.5v-2.6h-1.9l0,2.6C101.7,88.9,102.3,89.1,102.8,88.5z"></path> <path class="st3" d="M98.2,90.1"></path> <path class="st7" d="M103.3,88.7l-0.1,1.6l-0.1,1.3c0,0-0.3-0.4-0.8-1c-0.6-0.7-1.2-1.5-1.2-1.5L103.3,88.7z"></path> <path class="st5" d="M105.9,96.4l1.3-0.7l0.3,0.8c0,0-0.4,1-1.8,1C104.4,97.5,105.9,96.4,105.9,96.4z"></path> <path class="st11" d="M99.5,104.6l-2.9,4.7c0,0-0.7-0.3-0.9-0.7c-0.1-0.4,1.9-4.3,1.9-4.3L99.5,104.6z"></path> <path class="st3" d="M103.5,88.1c0,0-0.1,0-0.2,0l-0.4,0.2c0,0,1.5,2.1,1.2,6.3c0,1.2-0.3,4.5-0.3,4.5s0.5-0.3,0.7-0.9
																		c0.2-0.6,0.4-5.5,0.4-5.5l-0.4-4.2C104.3,88.3,103.9,88.1,103.5,88.1z"></path> <path class="st11" d="M103.9,102.2v6.7c0,0-1,0.2-1.3,0c-0.3-0.2-0.8-5.9-0.8-5.9L103.9,102.2z"></path> <polygon class="st11" points="99.5,104.6 101.2,97.7 99.3,97.7 98.6,103.2 		"></polygon> <polygon class="st11" points="102.1,89.4 102.5,90.1 103,90 103,88.8 102.4,88.7 		"></polygon> <path class="st3" d="M100.4,88.2c0,0,0.9,2.1,1,4.9c0,2.7-0.5,6.7-0.5,6.7s-3.3,0.3-3.4-0.9c-0.1-1.2,0-8.2,0-8.2
																		S97.6,88.9,100.4,88.2z"></path> <path class="st6" d="M97.5,90.9c0,0.1,1.1,2,1.1,2l0.8,2.5l1.8,1.1l-0.1,0.9c0,0-2.8-0.6-3.2-1.7C97.5,94.6,97.5,90.9,97.5,90.9z"></path> <path class="st3" d="M100,92.1c-0.4-2.5-0.6-3-1.2-3.2c0,0-1,0.3-1.3,2c-0.2,1.8,0.9,4.3,0.9,4.3s0.7,1.2,1.5,0.9
																		C100.8,95.9,100.3,94.6,100,92.1z"></path> <path class="st8" d="M100.9,87.9c0,0,0.6,0.5,1.2,0.5c0.5-0.1,0.7-0.3,0.7-0.3l0-0.2l0.4,0l0.2,1.5l-0.9-0.6l-0.3,1
																		c0,0-1.1-0.6-1.4-1c-0.3-0.3-0.3-0.6-0.3-0.6L100.9,87.9z"></path> <path class="st5" d="M105.3,84.9c0,1.6-1,4.2-3,3c-1.6,0-3-1.3-3-3c0-1.6,1.3-3,3-3C104,81.9,105.3,83.3,105.3,84.9z"></path> <path class="st11" d="M103.2,90.3l-0.1,1.3c0,0-0.3-0.4-0.8-1l0.2-0.5L103,90L103.2,90.3z"></path> <path class="st3" d="M98.4,95.3c-0.1,0.1,0.1,1,2.7,1.4c2.6,0.4,4.7,0.8,4.7,0.8l0.1-1.1l-5.5-2C100.3,94.4,99,94.2,98.4,95.3z"></path> <path class="st9" d="M105.3,84.9L106,84c0,0-0.7-0.4-1.2-1c-0.5-0.6-1.5-2-3.7-1.4c-2.3,0.6-2.2,2.3-2.2,2.9
																		c0,0.6,0.1,1.4,0.5,1.9c0.4,0.5,1.4,1.2,1.4,1.2l0-1.3c0,0-0.6-0.2-0.5-0.8c0.1-0.6,0.6,0,0.6,0l0.2,0.7c0,0,0.5,0.2,0.7-0.7
																		C102.2,84.7,102.7,85.4,105.3,84.9z"></path> </g> <g> <g> <path class="st13" d="M97.9,116.7c0,0.2,0,0.3,0,0.5c-0.6,5.3-10.5,9.5-22.6,9.5c-4.5,0-8.7-0.6-12.2-1.6
																		c-6.1-1.7-10.2-4.7-10.4-8.1v0c0-0.1,0-0.2,0-0.3c0-0.1,0-0.2,0-0.3c0.1-1,0.5-2,1.2-3c0.4-0.5,0.9-1,1.5-1.5
																		c3.8-3.1,11.3-5.3,20-5.3c10,0,18.5,2.8,21.5,6.8C97.4,114.5,97.9,115.5,97.9,116.7z"></path> <polygon class="st14" points="97.9,113.5 97.9,117.1 97.8,117.1 59.3,117 52.5,116.9 52.5,113.5 			"></polygon> <path class="st15" d="M63,121.6v3.5c-6.1-1.7-10.2-4.7-10.4-8.1v0c0-0.1,0-0.2,0-0.3c0-0.1,0-0.2,0-0.3v-3h1.2
																		c0.4-0.5,0.9-1,1.5-1.5l1.2,1.5l2.8,3.5L63,121.6z"></path> <path class="st8" d="M97.9,113.2c0,5.5-10.2,10-22.7,10c-4.5,0-8.7-0.6-12.2-1.6c-6.3-1.8-10.4-4.9-10.4-8.4
																		c0-1.1,0.4-2.2,1.2-3.2c3-4,11.5-6.8,21.5-6.8C87.7,103.2,97.9,107.6,97.9,113.2z"></path> <path class="st16" d="M86.7,115.3c0,3.5-9.6,6.3-21.4,6.3c-0.8,0-1.6,0-2.3,0c-6.3-1.8-10.4-4.9-10.4-8.4c0-1.1,0.4-2.2,1.2-3.2
																		c3.3-0.6,7.3-1,11.6-1C77.1,109,86.7,111.8,86.7,115.3z"></path> </g> <g> <g> <path class="st17" d="M84,108.8c0,4.5-2.2,7.7-8.1,7.7c-5.9,0-8.1-3.2-8.1-7.7c0-4.5,3.6-8.1,8.1-8.1
																		C80.4,100.7,84,104.3,84,108.8z"></path> <path class="st4" d="M89.3,88.3c-2.5,2.7-2.3,8.3-2.3,12.6c0,0.4,0,0.7,0,1.1c0,4.3,0.3,12.4-11.3,12.4
																		c-11.7,0-10.7-9.9-10.7-13.9c0-0.4,0-0.9,0-1.4c0-3.6,0-7.5-1.4-9.5l14.1-9.9C77.7,79.7,92,85.4,89.3,88.3z"></path> <path class="st18" d="M65,99c0-3.6,0-7.5-1.4-9.5c0,0,5.9,4.3,11.1,3.9C79.8,93,70.4,99.9,65,99z"></path> <path class="st4" d="M96.3,72.8c0,11.4-9.2,20.6-20.6,20.6c-11.4,0-20.6-9.2-20.6-20.6c0-11.4,9.2-20.6,20.6-20.6
																		C87,52.2,96.3,61.5,96.3,72.8z"></path> <path class="st19" d="M86.9,105.7c-0.1,0.6-0.2,1.3-0.3,1.9c-0.9,3.5-3.5,6.6-10.9,6.6c-6.6,0-9.2-3.2-10.1-6.7
																		c-0.2-0.6-0.3-1.3-0.4-1.9c-0.3-2-0.2-4-0.2-5.3c7.1,2.3,14.4,2.5,22,0.5c0,0.4,0,0.7,0,1.1C87,103,87,104.4,86.9,105.7z"></path> <g> <path class="st17" d="M86.9,105.7c-0.1,0.6-0.2,1.3-0.3,1.9c-3.4,0.9-6.9,1.4-10.3,1.4c-3.5,0-7.1-0.5-10.7-1.4
																		c-0.2-0.6-0.3-1.3-0.4-1.9C72.4,107.8,79.7,107.8,86.9,105.7z"></path> </g> <g> <path class="st20" d="M91.5,63.7c2,5.6-0.6,11.6-5.7,13.4c-5.1,1.8-10.9-1.3-12.8-7c-2-5.6,0.6-11.6,5.7-13.4
																		C83.8,55,89.6,58.1,91.5,63.7z"></path> <path class="st21" d="M87.9,65c1.2,3.4-0.4,7-3.5,8.1c-3.1,1.1-6.6-0.8-7.7-4.2c-1.2-3.4,0.4-7,3.5-8.1
																		C83.2,59.7,86.7,61.6,87.9,65z"></path> </g> </g> </g> </g> <g> <g> <path class="st22" d="M78.3,131.8c-0.4,0-0.8-0.3-0.8-0.8l-2.4-33.1c0-0.5,0.3-0.9,0.8-0.9c0.5,0,0.9,0.3,0.9,0.8l2.4,33.1
																		C79.2,131.3,78.8,131.7,78.3,131.8C78.3,131.8,78.3,131.8,78.3,131.8z"></path> <path class="st22" d="M89.3,129.6c-0.4,0-0.8-0.3-0.8-0.8l-2.4-33.1c0-0.5,0.3-0.9,0.8-0.9c0.5,0,0.9,0.3,0.9,0.8l2.4,33.1
																		C90.2,129.1,89.9,129.5,89.3,129.6C89.4,129.6,89.4,129.6,89.3,129.6z"></path> <path class="st22" d="M77.8,124.6c-0.4,0-0.8-0.3-0.8-0.7c-0.1-0.5,0.2-0.9,0.7-1l11-2.1c0.5-0.1,0.9,0.2,1,0.7
																		c0.1,0.5-0.2,0.9-0.7,1l-11,2.1C77.9,124.6,77.8,124.6,77.8,124.6z"></path> <path class="st22" d="M77.4,118.5c-0.4,0-0.8-0.3-0.8-0.7c-0.1-0.5,0.2-0.9,0.7-1l11-2.1c0.5-0.1,0.9,0.2,1,0.7
																		c0.1,0.5-0.2,0.9-0.7,1l-11,2.1C77.5,118.5,77.4,118.5,77.4,118.5z"></path> <path class="st22" d="M76.9,111.4c-0.4,0-0.8-0.3-0.8-0.7c-0.1-0.5,0.2-0.9,0.7-1l10.7-2c0.5-0.1,0.9,0.2,1,0.7
																		c0.1,0.5-0.2,0.9-0.7,1l-10.7,2C77,111.4,76.9,111.4,76.9,111.4z"></path> <path class="st22" d="M76.3,104c-0.4,0-0.8-0.3-0.8-0.7c-0.1-0.5,0.2-0.9,0.7-1l10.9-2.1c0.5-0.1,0.9,0.2,1,0.7
																		c0.1,0.5-0.2,0.9-0.7,1l-10.9,2.1C76.4,103.9,76.3,104,76.3,104z"></path> </g> <g> <path class="st5" d="M86.5,107c0,1.8,1.1,4.5,3.2,3.2c1.8,0,3.2-1.4,3.2-3.2c0-1.8-1.4-3.2-3.2-3.2
																		C87.9,103.8,86.5,105.2,86.5,107z"></path> <path class="st10" d="M88.2,133.1l0.1,0.7c0,0-0.5,0.3-0.8,0.2c-0.3-0.1-1.8-0.5-1.6-0.7c0.2-0.2,1.2-0.5,1.5-0.4
																		C87.7,132.9,88.2,133.1,88.2,133.1z"></path> <path class="st10" d="M94.2,133.1l0.1,0.7c0,0-0.5,0.3-0.8,0.2c-0.3-0.1-1.8-0.5-1.6-0.7c0.2-0.2,1.2-0.5,1.5-0.4
																		C93.7,132.9,94.2,133.1,94.2,133.1z"></path> <polygon class="st5" points="91.1,110.7 91.1,108.9 89.3,108.9 89.3,111.5 			"></polygon> <path class="st11" d="M94,133.3c0.1,0,0.2,0,0.2-0.1l-1.7-5.3l0.6-9.3l-6.9-1.1l0.1,10l1,5.6c0.2,0,0.4,0.1,0.6,0.1
																		c0.1,0,0.2,0,0.3,0v-4.6l0.7-6.9l1.3-0.4l0.7,7.3l2.7,4.8C93.7,133.3,93.9,133.3,94,133.3z"></path> <path class="st12" d="M93.1,110.3v8.2l-6.8,1.4l-0.1,0l0-3.8l0-1.6c0.2-0.6,0.5-1.1,0.7-1.4c0,0,0,0,0,0c0.2-0.3,0.3-0.5,0.4-0.6
																		c0,0,0.1-0.1,0.1-0.1L93.1,110.3z"></path> <path class="st12" d="M87.7,116c0,0.2-0.1,0.4-0.1,0.5c-0.2,1.4-0.6,2.7-1.2,3.4c-0.3,0.3-0.7,0.5-1.1,0.4
																		c-1.5-0.3-3.2-2.4-3.2-2.4l0.5-0.6l2.3,1.2l0.9-2.7l0.5-1.2c0.2-0.6,0.5-1.1,0.7-1.4C87.3,113.6,87.9,114.5,87.7,116z"></path> <path class="st12" d="M93.1,110.3l-0.3,3.3l-2.6,3c0,0-1.4,0.2-2.7,0c-0.5-0.1-0.9-0.2-1.3-0.4c-0.2-0.1-0.4-0.2-0.5-0.3
																		c0.2-0.4,0.3-0.8,0.5-1.2c0.2-0.6,0.5-1.1,0.7-1.4c0,0,0,0,0,0c0.2-0.3,0.3-0.5,0.4-0.6c0,0,0.1-0.1,0.1-0.1
																		C89.8,109.9,93.1,110.3,93.1,110.3z"></path> <path class="st3" d="M93.1,110.3c0.6,0.2,0.8,0.6,1.2,3.2c0.4,2.5,0.9,3.8,0,4.1c-0.9,0.3-1.5-0.9-1.5-0.9L93.1,110.3z"></path> <path class="st5" d="M82.5,117.4l-0.4-1.2c-0.4-0.1-0.7,0.1-0.8,0.6L82,118L82.5,117.4z"></path> <path class="st12" d="M86.3,120c0,0,1.8,0.8,4.2,0.1c2.3-0.6,2.7-1.6,2.7-1.6v-3.4h-6.1L86.3,120z"></path> <path class="st3" d="M86.5,119.8c0,0,1.7-3,1.7-4.2c0-1.1-0.5,4.8-0.5,4.8l-1.4-0.4L86.5,119.8z"></path> <polygon class="st12" points="93.1,115.1 93.1,110.3 91.5,112.5 91.8,115.8 92.3,116.4 			"></polygon> <path class="st12" d="M93.1,114.4l0.7-3.3c0,0-0.1-0.8-0.7-0.8c-0.6,0-1.3,2-1.3,2L93.1,114.4z"></path> <path class="st12" d="M88.5,111.6c0,0,0.2-0.7,0.8-1c0.6-0.3,2.3-1,2.5-0.3c0.2,0.7-1.9,1.4-1.9,1.4L88.5,111.6z"></path> <path class="st10" d="M89.7,110.1c0,0-0.8-0.4-0.8-1.7c0-1.3-0.6-2.5-2.3-2.2c-1.7,0.3-0.8-2.5,2.5-2.6c3.4-0.1,4,2.4,3.7,3.9
																		c-0.2,1.4-1.7,2.3-1.7,2.3S90.6,109.8,89.7,110.1z"></path> <path class="st5" d="M89.3,108.3c0,0.4-0.2,0.8-0.6,0.8s-0.6-0.3-0.6-0.8c0-0.4,0.2-0.8,0.6-0.8S89.3,107.9,89.3,108.3z"></path> </g> </g> <g> <path class="st23" d="M60.5,99.5l-3.3-8.3l0-0.1c-0.1-0.2-0.1-0.5,0.1-0.7l2.8-4.7c0.2-0.3,0.7-0.5,1-0.3c0.3,0.2,0.5,0.7,0.3,1
																		l-2.7,4.8l0-0.7l4.4,7.8c0.4,0.7,0.1,1.5-0.5,1.9c-0.7,0.4-1.5,0.1-1.9-0.5C60.6,99.6,60.5,99.6,60.5,99.5z"></path> <g> <path class="st5" d="M66.7,91.6c0.1,1.8,0,3.1-3,3.4c-1.8,0.1-3.3-1.2-3.4-3c-0.1-1.8,1.2-3.3,3-3.4C65,88.5,66.6,89.8,66.7,91.6
																		z"></path> <polygon class="st5" points="62.3,95.6 62.2,93.8 64.1,93.7 64.2,96.3 			"></polygon> <path class="st9" d="M60.3,92.3c0,0,0.1,0.8,0.6,1.4c0.5,0.7,1.3,1,1.3,1s1-0.2,1.4,0.1c0.5,0.3,1.8-1,1.7-3
																		c-0.2-2,0.8-1.8,0.8-1.8s1.1-2-1.9-1.6c-3.1,0.4-2.2,0.5-2.2,0.5L60.3,92.3z"></path> <path class="st12" d="M63.6,90.2c0.1,1.3-0.9,2.4-2.1,2.4c-1.2,0.1-2.3-0.9-2.4-2.2C59,89.2,60,88.1,61.2,88
																		C62.5,87.9,63.5,88.9,63.6,90.2z"></path> <path class="st9" d="M63.4,89.9c0.1,1.3-0.9,2.4-2.2,2.5c-1.3,0.1-2.4-0.9-2.5-2.2c-0.1-1.3,0.9-2.4,2.2-2.5
																		C62.2,87.7,63.3,88.7,63.4,89.9z"></path> <path class="st5" d="M64.6,92.7c0,0.4,0.4,0.8,0.7,0.7c0.4,0,0.7-0.4,0.6-0.8c0-0.4-0.4-0.8-0.7-0.7
																		C64.9,91.9,64.6,92.2,64.6,92.7z"></path> </g> <path class="st10" d="M65.1,118l-0.1,0.7c0,0,0.5,0.3,0.8,0.2c0.3-0.1,1.8-0.5,1.6-0.7c-0.2-0.2-1.2-0.5-1.5-0.4
																		C65.5,117.8,65.1,118,65.1,118z"></path> <path class="st10" d="M59.1,118l-0.1,0.7c0,0,0.5,0.3,0.8,0.2c0.3-0.1,1.8-0.5,1.6-0.7c-0.2-0.2-1.2-0.5-1.5-0.4
																		C59.5,117.8,59.1,118,59.1,118z"></path> <path class="st11" d="M66.4,104.3c0,0,0-0.1,0-0.1c-0.2,0-0.4-0.1-0.5-0.4c-0.2-0.4-0.4-1-0.8-1.2l-4.9,0.8l0.6,9.3L59,118
																		c0.1,0,0.1,0.1,0.2,0.1c0.1,0,0.3,0.1,0.5,0.1l2.7-4.8l0.7-7.3l1.3,0.4l0.7,6.9v4.6c0.1,0,0.2,0,0.3,0c0.2,0,0.4,0,0.6-0.1l1-5.6
																		l0.1-7.5C66.7,104.7,66.5,104.6,66.4,104.3z"></path> <path class="st8" d="M64.8,96.4c0,0-0.2-0.7-0.7-1c-0.6-0.3-2.3-1-2.5-0.3c-0.2,0.7,1.9,1.4,1.9,1.4L64.8,96.4z"></path> <path class="st12" d="M66.2,101.7c-0.2-1.5-0.6-3-0.9-4.5l-5.1-2v8.2l6.4,1.4C66.4,103.7,66.3,102.7,66.2,101.7z"></path> <path class="st12" d="M66.1,97.7c0-0.1-0.1-0.1-0.1-0.2c0,0-0.1-0.1-0.1-0.1c-2.4-2.7-5.7-2.3-5.7-2.3l0.3,3.3l2.6,3
																		c0,0,1.4,0.2,2.7,0c0.3,0,0.5-0.1,0.8-0.2C66.4,100.1,66.2,98.9,66.1,97.7z"></path> <path class="st12" d="M67,104.8c0,0-1.8,0.8-4.2,0.1c-2.3-0.6-2.7-1.6-2.7-1.6V100h6.1L67,104.8z"></path> <polygon class="st12" points="60.1,100 60.1,95.2 61.7,97.3 61.5,100.6 60.9,101.3 		"></polygon> <path class="st12" d="M60.1,99.2l-0.7-3.3c0,0,0.1-0.8,0.7-0.8c0.6,0,1.3,2,1.3,2L60.1,99.2z"></path> <path class="st23" d="M64.9,96.6l5.8-1.2l-0.5,0.5l2.1-4.7c0.2-0.4,0.6-0.5,1-0.4c0.4,0.2,0.5,0.6,0.4,1l-2,4.8
																		c-0.1,0.2-0.2,0.3-0.4,0.4l-0.1,0l-5.5,2.3c-0.7,0.3-1.5,0-1.8-0.7c-0.3-0.7,0-1.5,0.7-1.8C64.7,96.6,64.8,96.6,64.9,96.6z"></path> <polygon class="st5" points="72,92 71.7,90 72,89.8 72.4,90.7 73.6,89.2 74.2,91 73.1,92.9 		"></polygon> <path class="st9" d="M60.5,92"></path> <path class="st5" d="M59.9,86.1l1.1,0.7l0.5-0.6c0,0-0.6-1.1-0.8-1.6C60.7,84.1,59.9,86.1,59.9,86.1z"></path> </g> <g> <path class="st24" d="M74.2,49.2c-0.5,0-0.8-0.4-0.8-0.8v-15c0-0.5,0.4-0.8,0.8-0.8c0.5,0,0.8,0.4,0.8,0.8v15
																		C75.1,48.9,74.7,49.2,74.2,49.2z"></path> <path class="st24" d="M49.5,69.9h-15c-0.5,0-0.8-0.4-0.8-0.8s0.4-0.8,0.8-0.8h15c0.5,0,0.8,0.4,0.8,0.8S50,69.9,49.5,69.9z"></path> <path class="st24" d="M116.4,69.9h-15c-0.5,0-0.8-0.4-0.8-0.8s0.4-0.8,0.8-0.8h15c0.5,0,0.8,0.4,0.8,0.8S116.8,69.9,116.4,69.9z"></path> <path class="st24" d="M94.1,54.6c-0.2,0-0.4-0.1-0.6-0.2c-0.3-0.3-0.3-0.9,0-1.2l10.6-10.6c0.3-0.3,0.9-0.3,1.2,0s0.3,0.9,0,1.2
																		L94.7,54.3C94.5,54.5,94.3,54.6,94.1,54.6z"></path> <path class="st24" d="M56.9,54.6c-0.2,0-0.4-0.1-0.6-0.2L45.6,43.7c-0.3-0.3-0.3-0.9,0-1.2s0.9-0.3,1.2,0l10.6,10.6c0.3,0.3,0.3,0.9,0,1.2C57.3,54.5,57.1,54.6,56.9,54.6z"></path> 
																		</g> 
																	</g> 
																</svg>
															</div>
														</div>
														<div class="col medium-6 small-12 large-6">
															<div class="col-inner text-center">
																<div role="form" class="wpcf7" id="wpcf7-f18581-p10281-o2" lang="vi" dir="ltr">
																	<div class="screen-reader-response"></div>
																	<form action="https://devteam.mobi/dich-vu-it-outsourcing-chuyen-nghiep-danh-rieng-cho-doanh-nghiep/#wpcf7-f18581-p10281-o2" method="post" class="wpcf7-form" novalidate="novalidate">
																		<div style="display: none;"> 
																			<input type="hidden" name="_wpcf7" value="18581"> 
																			<input type="hidden" name="_wpcf7_version" value="5.1.3"> 
																			<input type="hidden" name="_wpcf7_locale" value="vi"> 
																			<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f18581-p10281-o2"> 
																			<input type="hidden" name="_wpcf7_container_post" value="10281">
																		</div>
																		<div class="form-contact-footer-all-post"> 
																			<span class="wpcf7-form-control-wrap your-name">
																				<input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Tên của bạn">
																			</span>
																			<p></p>
																			<p>
																				<br>
																				<br> 
																				<span class="wpcf7-form-control-wrap your-email">
																					<input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email hoặc số điện thoại">
																				</span>
																			</p>
																			<p>
																				<br>
																				<br> 
																				<span class="wpcf7-form-control-wrap your-message">
																					<textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Mô tả ý tưởng"></textarea>
																				</span>
																			</p>
																			<p>
																				<input type="submit" value="Gửi yêu cầu" class="wpcf7-form-control wpcf7-submit"><span class="ajax-loader"></span>
																			</p>
																		</div>
																		<p>
																			<input type="hidden" name="wpcf7_telegram" value="1">
																		</p>
																		<div class="wpcf7-response-output wpcf7-display-none"></div>
																		<input type="hidden" name="HYFJSW" value="RBpeTd">
																		<input type="hidden" name="HPQVfDxbI" value="MG6pwQ5.A">
																		<input type="hidden" name="Ar-dxgalbB" value="RsI8QNXYK3">
																		<input type="hidden" name="SVEvXq-yM" value="KJCi7wHcg">
																	</form>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="entry-author author-box">
										<div class="flex-row align-top">
											<div class="flex-col mr circle">
												<div class="blog-author-image"> 
													<img alt="" src="./../../assets/3dc0f1d9ae9cdc550fe0a0921d023113.png" data-src="https://secure.gravatar.com/avatar/3dc0f1d9ae9cdc550fe0a0921d023113?s=90&amp;d=mm&amp;r=g" srcset="https://secure.gravatar.com/avatar/3dc0f1d9ae9cdc550fe0a0921d023113?s=180&amp;d=mm&amp;r=g 2x" data-srcset="https://secure.gravatar.com/avatar/3dc0f1d9ae9cdc550fe0a0921d023113?s=180&amp;d=mm&amp;r=g 2x" class="avatar avatar-90 photo lazy-load-active" height="90" width="90">
												</div>
											</div>
											<div class="flex-col flex-grow">
												<h5 class="author-name uppercase pt-half"> Thu Thảo</h5>
												<p class="author-desc small"></p>
											</div>
										</div>
									</div>
									<nav role="navigation" id="nav-below" class="navigation-post">
										<div class="flex-row next-prev-nav bt bb">
											<div class="flex-col flex-grow nav-prev text-left">
												<div class="nav-previous">
													<a href="https://devteam.mobi/dia-chi-cung-cap-giai-phap-logistics-hang-dau-viet-nam/" rel="prev"><span class="hide-for-small"><i class="icon-angle-left"></i></span> Địa Chỉ Cung Cấp Giải Pháp Logistics Hàng Đầu Việt Nam</a>
												</div>
											</div>
											<div class="flex-col flex-grow nav-next text-right">
												<div class="nav-next">
													<a href="https://devteam.mobi/bat-mi-bi-quyet-quan-ly-hang-ngan-nhan-vien-sale-bat-dong-san/" rel="next">Bật Mí Bí Quyết Quản Lý Hàng Ngàn Nhân Viên Sale Bất Động Sản <span class="hide-for-small"><i class="icon-angle-right"></i></span></a>
												</div>
											</div>
										</div>
									</nav>
								</div>
							</article>
							<div id="comments" class="comments-area"></div>
						</div>
						<div class="post-sidebar large-3 col">
							<div id="secondary" class="widget-area " role="complementary">
								<aside id="custom_html-3" class="widget_text widget widget_custom_html">
									<div class="textwidget custom-html-widget">
										<div class="fb-page fb_iframe_widget" data-href="https://www.facebook.com/devteam.mobi/" data-width="380" data-hide-cover="false" data-show-facepile="false" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=&amp;container_width=217&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fdevteam.mobi%2F&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=false&amp;width=380">
											<span style="vertical-align: bottom; width: 217px; height: 130px;">
												<iframe name="fd002fe9592408" width="380px" height="1000px" title="fb:page Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="./../../assets/page.html" style="border: none; visibility: visible; width: 217px; height: 130px;" class=""></iframe>
											</span>
										</div>
									</div>
								</aside>
								<aside id="search-2" class="widget widget_search">
									<span class="widget-title "><span>Tìm kiếm</span></span>
									<div class="is-divider small"></div>
									<form method="get" class="searchform" action="https://devteam.mobi/" role="search">
										<div class="flex-row relative">
											<div class="flex-col flex-grow"> 
												<input type="search" class="search-field mb-0" name="s" value="" id="s" placeholder="Search…" autocomplete="off">
											</div>
											<div class="flex-col"> 
												<button type="submit" class="ux-search-submit submit-button secondary button icon mb-0"> <i class="icon-search"></i> </button>
											</div>
										</div>
										<div class="live-search-results text-left z-top">
											<div class="autocomplete-suggestions" style="position: absolute; display: none; max-height: 300px; z-index: 9999;"></div>
										</div>
									</form>
								</aside>
								<aside id="relatedpoststhumbnailswidget-2" class="widget relpoststh_widget"> 
									<span class="widget-title "> Bài viết liên quan </span>
									<div class="is-divider small"></div>
									<div class="relpost-thumb-wrapper">
										<div class="border-d" style=" height: 4px; background: red; width: 50px; position: absolute; top: 70px;; "></div>
										<div class="post-hover-v">
											<div class="relpost-block-container">
												<div class="wrap-relpost" style="width: 250px; height: 325px;">
													<a class="relpost-block-single" href="https://devteam.mobi/xu-huong-gia-cong-phan-mem-cho-nuoc-ngoai-tai-viet-nam/">
														<div class="relpost-block-single-text" style="font-family: Arial;  font-size: 14px;  color: #333333;">
															<span class="color_number_related">01<img src="./../../assets/i_bacham.svg" style="padding: 0px 2px 1px 1px;width: 5px;"></span>Xu Hướng Gia Công Phần Mềm Cho Nước Ngoài Tại Việt Nam
														</div>
														<div class="border-d"></div>
														<div class="relpost-block-single-image" alt="Xu Hướng Gia Công Phần Mềm Cho Nước Ngoài Tại Việt Nam" style=" background: transparent url(https://devteam.mobi/wp-content/uploads/2019/04/devteam-la-cong-ty-cung-cap-dich-vu-outsourcing-uy-tin-nhat-hien-nay.jpg) no-repeat scroll 0% 0%; width: 250px; height: 250px;     background-size: cover;">
															<div class="border-div-img"></div>
														</div> 
													</a>
													<div class="wrap-link-relpost"> 
														<a href="https://devteam.mobi/xu-huong-gia-cong-phan-mem-cho-nuoc-ngoai-tai-viet-nam/" style="display: block; position: relative; min-width: inherit;margin-bottom: unset;font-weight: 600;top:5px;color: #555555; ">ĐỌC CHI TIẾT<img src="./../../assets/i_retangle.svg" style="width: 15px; padding: 4px;  top: -2px;  position: relative; left: 0px;"></a>
														<div class="date_post_v"> 
															<span class="related_post_date" style=" transform: skewX(20deg); display: block; color: red;text-align: center;">08/04/2019</span>
														</div>
													</div>
												</div>
											</div>
											<div style="clear: both"></div>
										</div>
										<div class="post-hover-v">
											<div class="relpost-block-container">
												<div class="wrap-relpost" style="width: 250px; height: 325px;">
													<a class="relpost-block-single" href="https://devteam.mobi/viet-nam-se-la-cuong-quoc-ve-it-outsourcing/">
														<div class="relpost-block-single-text" style="font-family: Arial;  font-size: 14px;  color: #333333;"><span class="color_number_related">02<img src="./../../assets/i_bacham.svg" style="padding: 0px 2px 1px 1px;width: 5px;"></span>Việt Nam Sẽ Là Cường Quốc Về IT Outsourcing</div>
														<div class="border-d"></div>
														<div class="relpost-block-single-image" alt="Việt Nam Sẽ Là Cường Quốc Về IT Outsourcing" style=" background: transparent url(https://devteam.mobi/wp-content/uploads/2019/04/thue-ngoai-it-min-1.jpg) no-repeat scroll 0% 0%; width: 250px; height: 250px;     background-size: cover;">
															<div class="border-div-img"></div>
														</div> 
													</a>
													<div class="wrap-link-relpost"> 
														<a href="https://devteam.mobi/viet-nam-se-la-cuong-quoc-ve-it-outsourcing/" style="display: block; position: relative; min-width: inherit;margin-bottom: unset;font-weight: 600;top:5px;color: #555555; ">ĐỌC CHI TIẾT<img src="./../../assets/i_retangle.svg" style="width: 15px; padding: 4px;  top: -2px;  position: relative; left: 0px;"></a>
														<div class="date_post_v"> 
															<span class="related_post_date" style=" transform: skewX(20deg); display: block; color: red;text-align: center;">09/04/2019</span>
														</div>
													</div>
												</div>
											</div>
											<div style="clear: both"></div>
										</div>
										<div class="post-hover-v">
											<div class="relpost-block-container">
												<div class="wrap-relpost" style="width: 250px; height: 325px;">
													<a class="relpost-block-single" href="https://devteam.mobi/viet-nam-top-10-nuoc-dung-dau-the-gioi-ve-gia-cong-phan-mem/">
														<div class="relpost-block-single-text" style="font-family: Arial;  font-size: 14px;  color: #333333;">
															<span class="color_number_related">03<img src="./../../assets/i_bacham.svg" style="padding: 0px 2px 1px 1px;width: 5px;"></span>Việt Nam | Top 10 Nước Đứng Đầu Thế Giới Về Gia Công Phần Mềm
														</div>
														<div class="border-d"></div>
														<div class="relpost-block-single-image" alt="Việt Nam | Top 10 Nước Đứng Đầu Thế Giới Về Gia Công Phần Mềm" style=" background: transparent url(https://devteam.mobi/wp-content/uploads/2019/04/it-outsource1-min.png) no-repeat scroll 0% 0%; width: 250px; height: 250px;     background-size: cover;"><div class="border-div-img"></div>
													</div> 
												</a>
												<div class="wrap-link-relpost"> 
													<a href="https://devteam.mobi/viet-nam-top-10-nuoc-dung-dau-the-gioi-ve-gia-cong-phan-mem/" style="display: block; position: relative; min-width: inherit;margin-bottom: unset;font-weight: 600;top:5px;color: #555555; ">ĐỌC CHI TIẾT<img src="./../../assets/i_retangle.svg" style="width: 15px; padding: 4px;  top: -2px;  position: relative; left: 0px;"></a><div class="date_post_v"> <span class="related_post_date" style=" transform: skewX(20deg); display: block; color: red;text-align: center;">09/04/2019</span></div>
												</div>
											</div>
										</div>
										<div style="clear: both"></div>
									</div>
									<div class="post-hover-v">
										<div class="relpost-block-container">
											<div class="wrap-relpost" style="width: 250px; height: 325px;">
												<a class="relpost-block-single" href="https://devteam.mobi/top-5-xu-huong-gia-cong-phan-mem-ung-dung-cho-nam-2019/">
													<div class="relpost-block-single-text" style="font-family: Arial;  font-size: 14px;  color: #333333;">
														<span class="color_number_related">04<img src="./../../assets/i_bacham.svg" style="padding: 0px 2px 1px 1px;width: 5px;"></span>Top 5 Xu Hướng Gia Công Phần Mềm – Ứng Dụng Cho Năm 2019
													</div>
													<div class="border-d"></div>
													<div class="relpost-block-single-image" alt="Top 5 Xu Hướng Gia Công Phần Mềm – Ứng Dụng Cho Năm 2019" style=" background: transparent url(https://devteam.mobi/wp-content/uploads/2019/04/su-xuat-hien-outsource-1.png) no-repeat scroll 0% 0%; width: 250px; height: 250px;     background-size: cover;">
														<div class="border-div-img"></div>
													</div> 
												</a>
												<div class="wrap-link-relpost"> 
													<a href="https://devteam.mobi/top-5-xu-huong-gia-cong-phan-mem-ung-dung-cho-nam-2019/" style="display: block; position: relative; min-width: inherit;margin-bottom: unset;font-weight: 600;top:5px;color: #555555; ">ĐỌC CHI TIẾT<img src="./../../assets/i_retangle.svg" style="width: 15px; padding: 4px;  top: -2px;  position: relative; left: 0px;"></a>
													<div class="date_post_v"> 
														<span class="related_post_date" style=" transform: skewX(20deg); display: block; color: red;text-align: center;">08/04/2019</span>
													</div>
												</div>
											</div>
										</div>
										<div style="clear: both"></div>
									</div>
									<div class="post-hover-v">
										<div class="relpost-block-container">
											<div class="wrap-relpost" style="width: 250px; height: 325px;">
												<a class="relpost-block-single" href="https://devteam.mobi/top-10-dia-chi-thiet-ke-website-co-gia-toi-uu-nhat/">
													<div class="relpost-block-single-text" style="font-family: Arial;  font-size: 14px;  color: #333333;">
														<span class="color_number_related">05<img src="./../../assets/i_bacham.svg" style="padding: 0px 2px 1px 1px;width: 5px;"></span>Top 10 Địa Chỉ Thiết Kế Website Có Giá Tối Ưu Nhất
													</div>
													<div class="border-d"></div>
													<div class="relpost-block-single-image" alt="Top 10 Địa Chỉ Thiết Kế Website Có Giá Tối Ưu Nhất" style=" background: transparent url(https://devteam.mobi/wp-content/uploads/2019/04/cong-ty-thiet-ke-web-gia-re.png) no-repeat scroll 0% 0%; width: 250px; height: 250px;     background-size: cover;">
														<div class="border-div-img"></div>
													</div> 
												</a>
												<div class="wrap-link-relpost"> 
													<a href="https://devteam.mobi/top-10-dia-chi-thiet-ke-website-co-gia-toi-uu-nhat/" style="display: block; position: relative; min-width: inherit;margin-bottom: unset;font-weight: 600;top:5px;color: #555555; ">ĐỌC CHI TIẾT<img src="./../../assets/i_retangle.svg" style="width: 15px; padding: 4px;  top: -2px;  position: relative; left: 0px;"></a>
													<div class="date_post_v"> 
														<span class="related_post_date" style=" transform: skewX(20deg); display: block; color: red;text-align: center;">25/04/2019</span>
													</div>
												</div>
											</div>
										</div>
										<div style="clear: both"></div>
									</div>
									<div class="post-hover-v">
										<div class="relpost-block-container">
											<div class="wrap-relpost" style="width: 250px; height: 325px;">
												<a class="relpost-block-single" href="https://devteam.mobi/top-10-cong-ty-it-outsourcing-uy-tin-nhat-hien-nay/">
													<div class="relpost-block-single-text" style="font-family: Arial;  font-size: 14px;  color: #333333;">
														<span class="color_number_related">06<img src="./../../assets/i_bacham.svg" style="padding: 0px 2px 1px 1px;width: 5px;"></span>Top 10 Công Ty IT Outsourcing Uy Tín Nhất Hiện Nay
													</div>
													<div class="border-d"></div>
													<div class="relpost-block-single-image" alt="Top 10 Công Ty IT Outsourcing Uy Tín Nhất Hiện Nay" style=" background: transparent url(https://devteam.mobi/wp-content/uploads/2019/04/outsource-1345109_960_720-min.jpg) no-repeat scroll 0% 0%; width: 250px; height: 250px;     background-size: cover;">
														<div class="border-div-img"></div>
													</div> 
												</a>
												<div class="wrap-link-relpost"> 
													<a href="https://devteam.mobi/top-10-cong-ty-it-outsourcing-uy-tin-nhat-hien-nay/" style="display: block; position: relative; min-width: inherit;margin-bottom: unset;font-weight: 600;top:5px;color: #555555; ">ĐỌC CHI TIẾT<img src="./../../assets/i_retangle.svg" style="width: 15px; padding: 4px;  top: -2px;  position: relative; left: 0px;"></a>
													<div class="date_post_v"> 
														<span class="related_post_date" style=" transform: skewX(20deg); display: block; color: red;text-align: center;">07/04/2019</span>
													</div>
												</div>
											</div>
										</div>
										<div style="clear: both"></div>
									</div>
								</div>
							</aside>
						</div>
					</div>
				</div>
			</div>
		</main>
		<%- include("./../layout/footer"); -%>
	</div>
	<%- include("./../layout/hotline"); -%>
	<div class="block-profile-capacity"> 
		<img class="icon-doc" src="./../../assets/file.svg"> 
		<img class="icon-devteam" src="./../../assets/devteam-logo.svg"> 
		<a href="https://devteam.mobi/ho-so-nang-luc-devteam.pdf" target="_blank" class="link-sub"></a>
	</div>
	<%- include("./../layout/sidebar"); -%>
	<div style="display:none">
		<div class="grofile-hash-map-3dc0f1d9ae9cdc550fe0a0921d023113"></div>
	</div> 
	<script id="lazy-load-icons">
		var fl_icons = document.createElement('link');
		fl_icons.rel = 'stylesheet';
		fl_icons.href = 'https://devteam.mobi/wp-content/themes/flatsome/assets/css/fl-icons.css';
		fl_icons.type = 'text/css';
		var fl_icons_insert = document.getElementsByTagName('link')[0];
		fl_icons_insert.parentNode.insertBefore(fl_icons, fl_icons_insert);
	</script> 
	<script type="text/javascript">var wpcf7 = {"apiSettings":{"root":"https:\/\/devteam.mobi\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"},"cached":"1"};</script> 
	<script type="text/javascript" src="./../../assets/devicepx-jetpack.js"></script> 
	<script type="text/javascript">var tocplus = {"visibility_show":"hi\u1ec7n","visibility_hide":"\u1ea9n","visibility_hide_by_default":"1","width":"Auto"};</script> 
	<script type="text/javascript" src="./../../assets/gprofiles.js"></script> 
	<script type="text/javascript">var WPGroHo = {"my_hash":""};</script> 
	<script type="text/javascript">var flatsomeVars = {"ajaxurl":"https:\/\/devteam.mobi\/wp-admin\/admin-ajax.php","rtl":"","sticky_height":"70","user":{"can_edit_pages":false}};</script> 
	<%- include("./../layout/form-show"); -%>
	<script>
		function setCookie(name,value,days) {
			var expires = '';
			if (days) {
			var date = new Date();
			date.setTime(date.getTime() + (days*24*60*60*1000));
			expires = 'expires=' + date.toUTCString();
			}
			document.cookie = name + '=' + (value || '') ;
			}
			function getCookie(name) {
			var nameEQ = name + '=';
			var ca = document.cookie.split(';');
			for(var i=0;i < ca.length;i++) {
			var c = ca[i];
			while (c.charAt(0)==' ') c = c.substring(1,c.length);
			if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
			}
			return null;
			}
			function msToTime(duration) {
			var milliseconds = parseInt((duration % 1000) / 100),
			seconds = Math.floor((duration / 1000) % 60),
			minutes = Math.floor((duration / (1000 * 60)) % 60),
			hours = Math.floor((duration / (1000 * 60 * 60)) % 24);
			hours = (hours < 10) ? '0' + hours : hours;
			minutes = (minutes < 10) ? '0' + minutes : minutes;
			seconds = (seconds < 10) ? '0' + seconds : seconds;
			return hours ;
			}
			if(!getCookie('access_websites')){
			setCookie('access_websites', new Date(), 4555858);
			setTimeout(function(){
			jQuery('.wp-form-show').addClass('active');
			},10000);
			}else{
			var datecookie = (new Date(getCookie('access_websites'))).getTime();
			var today = (new Date()).getTime();
			var result = today - datecookie;
			var subdate = msToTime(result);
			if(subdate && subdate > 24){
			setCookie('access_websites', new Date(), 4555858);
			setTimeout(function(){
			jQuery('.wp-form-show').addClass('active');
			},10000);
			}
			}
			jQuery(document).ready(function(){ 
			jQuery('.wp-form-show .overlays').click(function(){
			jQuery('.wp-form-show').removeClass('active');
			});
			jQuery('.remove-icon').click(function(){
			jQuery('.wp-form-show').removeClass('active');
			$(this).removeClass('overlays');
			});
		});
	</script> 
	<div class="sidebar-footer"><span class="hidden" style="display:none">10000</span></div>
	<%- include("./../layout/form-show-phone"); -%>
	<%- include("./../layout/layout-footer"); -%>