<%- include("./../layout/layout-header"); -%>
<body class="post-template-default single single-post postid-5682 single-format-standard full-width lightbox lazy-icons nav-dropdown-has-arrow">
	<%- include("./../layout/contact-sidebar"); -%>
	<a class="skip-link screen-reader-text" href="https://devteam.mobi/dich-vu-lap-trinh-he-thong-quan-ly-doanh-nghiep-erp/#main">Skip to content</a>
	<div id="wrapper">
		<%- include("./../layout/footer"); -%>
		<div class="page-title blog-featured-title featured-title no-overflow">
			<div class="page-title-bg fill">
				<div class="title-bg fill bg-fill bg-top parallax-active" style="background-image: url(&quot;https://devteam.mobi/wp-content/uploads/2019/03/cong-ty-dich-tai-lieu-cong-nghe-thong-tin-uy-tin.jpg&quot;); height: 341px; transform: translate3d(0px, -10.22px, 0px); backface-visibility: hidden;" data-parallax-fade="true" data-parallax="-2" data-parallax-background="" data-parallax-container=".page-title"></div>
				<div class="title-overlay fill" style="background-color: rgba(0,0,0,.5)"></div>
			</div>
			<div class="page-title-inner container  flex-row  dark is-large" style="min-height: 300px">
				<div class="flex-col flex-center text-center">
					<h6 class="entry-category is-xsmall"> 
						<a href="https://devteam.mobi/chuyen-muc/doanh-nghiep/" rel="category tag">Doanh nghiệp</a>, <a href="https://devteam.mobi/chuyen-muc/doanh-nghiep/phan-mem-quan-ly-doanh-nghiep-erp/" rel="category tag">Phần mềm quản lý doanh nghiệp ERP</a>
					</h6>
					<h1 class="entry-title">ERP là gì? Dịch Vụ Lập Trình Hệ Thống Quản Lý Doanh Nghiệp ERP</h1>
					<div class="entry-divider is-divider small"></div>
					<div class="entry-meta uppercase is-xsmall"> 
						<span class="posted-on dev">Ngày Đăng <time class="entry-date published" datetime="2019-03-11T15:00:06+07:00">11 Tháng Ba, 2019</time><time class="updated" datetime="2019-09-06T17:23:07+07:00">6 Tháng Chín, 2019</time></span><span class="byline"> by <span class="meta-author vcard">Trương Tú</span></span>
					</div>
				</div>
			</div>
		</div>
		<main id="main" class="">
			<div id="content" class="blog-wrapper blog-single page-wrapper">
				<div class="row row-large row-divided ">
					<div class="large-9 col">
						<article id="post-5682" class="post-5682 post type-post status-publish format-standard has-post-thumbnail hentry category-doanh-nghiep category-phan-mem-quan-ly-doanh-nghiep-erp tag-cong-ty-chuyen-viet-phan-mem tag-cong-ty-outsource-phan-mem tag-dich-vu-it-outsourcing tag-dich-vu-lap-trinh-he-thong-quan-ly-doanh-nghiep-erp tag-he-thong-quan-ly-doanh-nghiep-erp tag-he-thong-quan-ly-doanh-nghiep-la-gi tag-huong-dan-su-dung-phan-mem-erp tag-outsourcing-tai-viet-nam">
							<div class="article-inner ">
								<div class="entry-content single-page">
									<p>Cuộc sống hội nhập đòi hỏi các doanh nghiệp phải không ngừng đổi mới, nâng cao chất lượng và quản lý, mới có thể theo kịp sự phát triển không ngừng hiện nay. Với dịch vụ lập trình hệ thống quản lý doanh nghiệp ERP&nbsp;ra đời chính là chìa khóa thành công cho các doanh nghiệp. Vậy hệ thống quản lý doanh nghiệp ERP là gì? Vai trò của nó với các doanh nghiệp ra sao? Tại sao hiện nay nó lại trở thành xu hướng được nhiều tổ chức, đơn vị ủng hộ? Cùng tìm hiểu ngay những thông tin sau để có thể bắt kịp thời đại.</p>
									<div id="toc_container" class="no_bullets contracted" style="width: auto; display: table;">
										<p class="toc_title">Mục Lục <span class="toc_toggle">[<a href="https://devteam.mobi/dich-vu-lap-trinh-he-thong-quan-ly-doanh-nghiep-erp/#">hiện</a>]</span></p>
										<ul class="toc_list" style="display: none;">
											<li><a href="https://devteam.mobi/dich-vu-lap-trinh-he-thong-quan-ly-doanh-nghiep-erp/#He_thong_quan_ly_doanh_nghiep_ERP_la_gi"><span class="toc_number toc_depth_1">1</span> Hệ thống quản lý doanh nghiệp ERP là gì?</a></li>
											<li>
												<a href="https://devteam.mobi/dich-vu-lap-trinh-he-thong-quan-ly-doanh-nghiep-erp/#Lap_trinh_he_thong_quan_ly_doanh_nghiep_ERP_dem_den_loi_ich_gi"><span class="toc_number toc_depth_1">2</span> Lập trình hệ thống quản lý doanh nghiệp ERP đem đến lợi ích gì?</a>
												<ul>
													<li>
														<ul>
															<li>
																<a href="https://devteam.mobi/dich-vu-lap-trinh-he-thong-quan-ly-doanh-nghiep-erp/#CHO_DA"><span class="toc_number toc_depth_3">2.0.1</span> CHỜ ĐÃ</a>
															</li>
														</ul>
													</li>
												</ul>
											</li>
											<li>
												<a href="https://devteam.mobi/dich-vu-lap-trinh-he-thong-quan-ly-doanh-nghiep-erp/#Co_nen_dung_nhung_phan_mem_ERP_free"><span class="toc_number toc_depth_1">3</span> Có nên dùng những phần mềm ERP free?</a>
												<ul>
													<li><a href="https://devteam.mobi/dich-vu-lap-trinh-he-thong-quan-ly-doanh-nghiep-erp/#Tuy_nhien_khach_quan_ma_noi_phan_mem_nay_cung_mang_den_nhieu_rui_ro_nhu"><span class="toc_number toc_depth_2">3.1</span> Tuy nhiên, khách quan mà nói, phần mềm này cũng mang đến nhiều rủi ro như:</a></li>
												</ul>
											</li>
											<li>
												<a href="https://devteam.mobi/dich-vu-lap-trinh-he-thong-quan-ly-doanh-nghiep-erp/#Phan_mem_ERP_gia_bao_nhieu"><span class="toc_number toc_depth_1">4</span> Phần mềm ERP giá bao nhiêu?</a>
											</li>
											<li>
												<a href="https://devteam.mobi/dich-vu-lap-trinh-he-thong-quan-ly-doanh-nghiep-erp/#Dich_vu_IT_outsourcing_uy_tin_tai_Viet_Nam"><span class="toc_number toc_depth_1">5</span> Dịch vụ IT outsourcing uy tín tại Việt Nam</a>
												<ul>
													<li>
														<ul>
															<li>
																<a href="https://devteam.mobi/dich-vu-lap-trinh-he-thong-quan-ly-doanh-nghiep-erp/#KET_NOI_NGAY"><span class="toc_number toc_depth_3">5.0.1</span> KẾT NỐI NGAY</a>
															</li>
														</ul>
													</li>
												</ul>
											</li>
											<li>
												<a href="https://devteam.mobi/dich-vu-lap-trinh-he-thong-quan-ly-doanh-nghiep-erp/#Loi_ket"><span class="toc_number toc_depth_1">6</span> Lời kết</a>
											</li>
										</ul>
									</div>
									<h2>
										<span id="He_thong_quan_ly_doanh_nghiep_ERP_la_gi">Hệ thống quản lý doanh nghiệp ERP là gì?</span>
									</h2>
									<p>Phần mềm quản trị doanh nghiệp ERP có tên đầy đủ là Enterprise Resource Planning. Ta có thể tạm dịch là hệ thống <a href="https://vi.wikipedia.org/wiki/Ho%E1%BA%A1ch_%C4%91%E1%BB%8Bnh_t%C3%A0i_nguy%C3%AAn_doanh_nghi%E1%BB%87p" rel="nofollow">hoạch định tài nguyên doanh nghiệp</a>, giúp doanh nghiệp quản trị tài chính, kế toán, nhân sự, bán hàng, văn hóa công ty… .</p>
									<p>Hiểu một cách đơn giản và sát với thực tế nhất,&nbsp;phần mềm ERP là một hệ thống làm việc liên kết tất cả các quy trình hoạt động sản xuất kinh doanh. Phần mềm này tạo ra quy trình làm việc tự động của một công ty. Nó cho phép thành lập hệ thống công ty phức tạp với các chuỗi văn phòng khác nhau có đầy đủ chức năng như kế toán, bán hàng, hàng tồn kho, nguồn nhân lực, lập kế hoạch và sản xuất. Tất cả sẽ được kết nối trong một cơ sở dữ liệu duy nhất đồng bộ toàn diện cho doanh nghiệp<span style="color: #333333; font-size: 14.4px;">.</span></p>
									<div>
										<figure id="attachment_19102" aria-describedby="caption-attachment-19102" style="width: 1415px" class="wp-caption aligncenter">
											<img class="lazy-load wp-image-19102 size-full" src="./../../assets/lazy.png" data-src="https://devteam.mobi/wp-content/uploads/2019/03/erp3-min.png" alt="ERP là gì" width="1415" height="946" srcset="" data-srcset="https://devteam.mobi/wp-content/uploads/2019/03/erp3-min.png 1415w, https://devteam.mobi/wp-content/uploads/2019/03/erp3-min-370x247.png 370w, https://devteam.mobi/wp-content/uploads/2019/03/erp3-min-768x513.png 768w, https://devteam.mobi/wp-content/uploads/2019/03/erp3-min-1024x685.png 1024w" sizes="(max-width: 1415px) 100vw, 1415px">
											<figcaption id="caption-attachment-19102" class="wp-caption-text">Hệ thống quản lý doanh nghiệp – Phần mềm ERP</figcaption>
										</figure>
										<p>Ngày nay, hệ thống quản lý doanh nghiệp ERP đang là xu hướng quản lý được các doanh nghiệp lựa chọn. Hệ thống quản lý ERP giúp tự động hoá mọi khâu hoạt động trong một chu trình kinh doanh. Đơn giản như việc thực hiện đơn hàng, từ khâu nhận đơn đặt hàng của khách đến giao hàng và thu tiền đều được tích hợp, sử dụng một cơ sở dữ liệu duy nhất để các bộ phận khác nhau có thể dễ dàng chia sẻ thông tin và phối hợp công việc với nhau.</p>
										<h2><span id="Lap_trinh_he_thong_quan_ly_doanh_nghiep_ERP_dem_den_loi_ich_gi">Lập trình hệ thống quản lý doanh nghiệp ERP đem đến lợi ích gì?</span></h2>
										<p>Chỉ với những thiết bị thông minh như smartphone hay Ipad, mọi người có thể cập nhật liên tục mọi dữ liệu hằng ngày, hằng giờ của doanh nghiệp mà không cần phải ngồi canh máy tính, túc trực ở cửa hàng. Dù là quản lý doanh nghiệp qua website, hay mobile thì khi kết hợp với khả năng quản lý của phần mềm ERP đã mang đến cho các doanh nghiệp sự tiện lợi cùng những trải nghiệm tuyệt vời.</p>
										<p>Dịch vụ lập trình hệ thống quản lý doanh nghiệp ERP không chỉ giúp bạn cập nhật mọi thông tin của cửa hàng mà còn có khả năng thay đổi các thông số, thay đổi quyền nhân viên, xử lý đơn hàng, cập nhật tình trạng hàng hóa, tích hợp với hệ thống báo cáo trên web cho bạn truy cập xem báo cáo quản trị từ bất kỳ đâu.</p>
										<p>Cụ thể trong ngành bao bì, bạn có thể ứng dụng để làm <strong><a href="https://devteam.mobi/giai-phap-erp-nganh-bao-bi/">ERP ngành bao bì</a> </strong>để phục vụ kết nối, đồng nhất dữ liệu giữa các khâu trong dây chuyền bộ máy.</p>
										<figure id="attachment_19104" aria-describedby="caption-attachment-19104" style="width: 1024px" class="wp-caption alignnone">
											<img class="lazy-load wp-image-19104 size-full" src="./../../assets/lazy.png" data-src="https://devteam.mobi/wp-content/uploads/2019/03/erp5-min.png" alt="Hệ thống quản lý doanh nghiệp là gì?" width="1024" height="633" srcset="" data-srcset="https://devteam.mobi/wp-content/uploads/2019/03/erp5-min.png 1024w, https://devteam.mobi/wp-content/uploads/2019/03/erp5-min-370x229.png 370w, https://devteam.mobi/wp-content/uploads/2019/03/erp5-min-768x475.png 768w" sizes="(max-width: 1024px) 100vw, 1024px">
											<figcaption id="caption-attachment-19104" class="wp-caption-text">Phần mềm quản lý doanh nghiệp ERP mang đến nhiều lợi ích thiết thực cho doanh nghiệp.</figcaption>
										</figure>
										<p>Chính nhờ sự tiện lợi mà dịch vụ lập trình hệ thống quản lý doanh nghiệp ERP nên ngày càng có nhiều doanh nghiệp tìm đến các công ty chuyên viết phần mềm để sở hữu ứng dụng tiên tiến trên. Vì vậy, mà ngày càng có nhiều hơn <span style="color: #f99b1c;"><a style="color: #f99b1c;" href="https://devteam.mobi/top-10-phan-mem-erp-quan-tri-doanh-nghiep-tot-nhat/">những phần mềm ERP chuyên nghiệp</a></span>, hiệu quả được ra đời.</p>
										<div class="panel" style="margin-bottom:20px;">
											<div class="panel-header">
												<h4><span id="CHO_DA">CHỜ ĐÃ</span></h4>
											</div>
											<div class="panel-body">
												<span>Bạn có muốn quản lý doanh nghiệp chuyên nghiệp, toàn diện. Hãy kết nối với chúng tôi để được tư vấn &amp; báo giá miễn phí! </span>
												<div class="wp-link-shortcode">
													<a rel="nofollow" target="_blank" href="https://messenger.com/t/devteam.mobi" class="btn btn-read-more btn-animate"><span class="animated infinite zoomIn alo-ph-circle"></span>Kết nối ngay</a>
												</div>
											</div>
										</div>
										<h2>
											<span id="Co_nen_dung_nhung_phan_mem_ERP_free">Có nên dùng những phần mềm ERP free?</span>
										</h2>
										<p>Chắc hẳn mọi người cũng đã nghe đến những phần mềm ERP miễn phí với những lời mời gọi “có cánh”. Tuy nhiên, chắc mọi người cũng sẽ mường tượng ra được, không có điều gì “cho không” cả. Đương nhiên, các phần mềm hỗ trợ doanh nghiệp ERP cũng thế.</p>
										<p>Những <span style="color: #f99b1c;"><a style="color: #f99b1c;" href="https://devteam.mobi/co-nen-su-dung-phan-mem-erp-mien-phi-va-gia-re-hay-khong/">phần mềm ERP miễn phí</a> </span>là những phần mềm có mã nguồn mở (OpenSource) với những module quản lý phức tạp, khó sử dụng đối với những người không chuyên. Tại đó, người dùng có thể tải miễn phí hoặc vận hành trên các phương tiện trực tuyến. Hoặc, doanh nghiệp cũng có thể vận dụng mã nguồn này để tạo ra một phần mềm quản lý riêng, phù hợp với nhu cầu sử dụng. Điều này giúp doanh nghiệp có được nhiều lợi thế như: tiết kiệm được chi phí, sự hỗ trợ qua lại từ cộng đồng sử dụng cũng như không bị ràng buộc bởi nhà cung cấp.</p>
										<h3>
											<span id="Tuy_nhien_khach_quan_ma_noi_phan_mem_nay_cung_mang_den_nhieu_rui_ro_nhu">Tuy nhiên, khách quan mà nói, phần mềm này cũng mang đến nhiều rủi ro như:</span>
										</h3>
										<ul>
											<li>Phần mềm ERP miễn phí có mã nguồn mở thường không hướng đến người dùng cuối cùng, những người không có kỹ năng về công nghệ. Do đó, việc vận dụng phần mềm này trong quản lý thường khó khăn. Đồng thời, giao diện cũng được đánh giá là khó sử dụng.</li>
											<li>Sử dụng miễn phí và hỗ trợ qua lại từ cộng đồng vừa là điểm mạnh, cũng vừa là điểm yếu của phần mềm này. Bởi, đôi khi quá nhiều ý kiến trái chiều, sẽ khiến chúng ta băn khoăn về đáp án cuối cùng.</li>
											<li>Các nhà cung cấp phần mềm ERP miễn phí với mã nguồn mở, thường sẽ không sẵn sàng hỗ trợ doanh nghiệp khi có rủi ro. Đồng thời, cũng không ai đảm bảo được phần mềm đó hiệu quả tối ưu. Ví dụ như : <span style="color: #f99b1c;"><a style="color: #f99b1c;" href="https://devteam.mobi/odoo-la-gi-tim-hieu-chi-tiet-ve-phan-mem-odoo/">Odoo ERP</a></span>, <a href="https://en.wikipedia.org/wiki/SAP_ERP">SAP ERP</a>, ORACEL ERP,…</li>
										</ul>
										<figure id="attachment_19103" aria-describedby="caption-attachment-19103" style="width: 1564px" class="wp-caption aligncenter">
											<img class="lazy-load wp-image-19103 size-full" src="./../../assets/lazy.png" data-src="https://devteam.mobi/wp-content/uploads/2019/03/ERp4-min.png" alt="Chi phí cho phần mềm ERP" width="1564" height="1052" srcset="" data-srcset="https://devteam.mobi/wp-content/uploads/2019/03/ERp4-min.png 1564w, https://devteam.mobi/wp-content/uploads/2019/03/ERp4-min-370x249.png 370w, https://devteam.mobi/wp-content/uploads/2019/03/ERp4-min-768x517.png 768w, https://devteam.mobi/wp-content/uploads/2019/03/ERp4-min-1024x689.png 1024w" sizes="(max-width: 1564px) 100vw, 1564px">
											<figcaption id="caption-attachment-19103" class="wp-caption-text">Chi phí cho phần mềm ERP còn phụ thuộc vào quy mô và yêu cầu của doanh nghiệp</figcaption>
										</figure>
										<p>Chính vì những nhược điểm khá lớn này, mà nhiều doanh nghiệp sẵn sàng đầu tư một phần mềm ERP chuyên biệt, một phần mềm tốn phí nhưng được xây dựng dựa vào đặc thù và yêu cầu của doanh nghiệp. Khi đó, trải nghiệm người dùng cũng được nâng cao, hiệu quả hơn, đồng thời nhà cung cấp cũng sẽ là người đứng ra hỗ trợ cho doanh nghiệp khi có gặp bất kỳ rủi ro nào, đây là một trong những <span style="color: #f99b1c;"><a style="color: #f99b1c;" href="https://devteam.mobi/top-5-ly-do-nen-phat-trien-he-thong-erp-cho-doanh-nghiep/">lí do doanh nghiệp nên phát triển hệ thống ERP</a></span> riêng cho mình.</p>
										<h2><span id="Phan_mem_ERP_gia_bao_nhieu">Phần mềm ERP giá bao nhiêu?</span></h2>
										<p>Lúc này, ắt hẳn nhiều người có cùng câu hỏi, vậy chi phí để lập trình một phần mềm ERP riêng là bao nhiêu? Liệu với mức giá mà chúng tôi đưa ra thì một hệ thống của cả doanh nghiệp có sử dụng tốt hay không? Để khách hàng vững tin ở chúng tôi, hãy để chúng tôi <span style="color: #f99b1c;"><a style="color: #f99b1c;" href="https://devteam.mobi/dich-vu-tu-van-he-thong-quan-ly-doanh-nghiep-tai-tp-hcm/">tư vấn về hệ thống ERP cho doanh nghiệp</a></span> này.</p>
										<p>Tuy nhiên, với một phần mềm quản lý doanh nghiệp, cùng rất nhiều những tính năng mong muốn khác nhau, sẽ có những mức giá khác nhau. Đồng thời, mức giá này cũng sẽ tuỳ thuộc vào quy mô doanh nghiệp và cả số lượng user thao tác với phần mềm. Do vậy, để có được một bảng giá chi tiết nhất cho doanh nghiệp của mình, mọi người hãy liên hệ ngay với chúng tôi <span style="color: #f99b1c;"><a style="color: #f99b1c;" href="https://devteam.mobi/yeu-cau-bao-gia/">tại đây</a></span>.</p>
										<h2><span id="Dich_vu_IT_outsourcing_uy_tin_tai_Viet_Nam">Dịch vụ IT outsourcing uy tín tại Việt Nam</span></h2>
										<p>Đặc điểm nổi bật của hệ thống quản lý doanh nghiệp ERP là hệ thống này&nbsp;có thể mở rộng và phát triển cùng thời gian theo từng loại hình doanh nghiệp mà không làm ảnh hưởng đến cấu trúc của chương trình. Để có được giải pháp tuyệt vời trên, các doanh nghiệp cần tìm đến các công ty lập trình phần mềm uy tín để được hỗ trợ tận tình nhất.</p>
										<figure id="attachment_19080" aria-describedby="caption-attachment-19080" style="width: 1593px" class="wp-caption aligncenter">
											<img class="lazy-load wp-image-19080 size-full" src="./../../assets/lazy.png" data-src="https://devteam.mobi/wp-content/uploads/2019/05/Cong-ty-devteam.png" alt="Địa chỉ cung cấp dịch vụ it outsourcing" width="1593" height="840" srcset="" data-srcset="https://devteam.mobi/wp-content/uploads/2019/05/Cong-ty-devteam.png 1593w, https://devteam.mobi/wp-content/uploads/2019/05/Cong-ty-devteam-370x195.png 370w, https://devteam.mobi/wp-content/uploads/2019/05/Cong-ty-devteam-768x405.png 768w, https://devteam.mobi/wp-content/uploads/2019/05/Cong-ty-devteam-1024x540.png 1024w" sizes="(max-width: 1593px) 100vw, 1593px">
											<figcaption id="caption-attachment-19080" class="wp-caption-text">DevTeam – Địa chỉ cung cấp dịch vụ gia công phần mềm uy tín nhất tại Việt Nam</figcaption>
										</figure>
										<p>Hiện nay tại Việt Nam có khá nhiều công ty phần mềm tuy nhiên không phải ở đâu cũng đảm bảo chất lượng. Bạn muốn số tiền bỏ ra tương xứng với giá trị mà dịch vụ gia công phần mềm mang lại thì hãy đến công ty TNHH giải pháp phần mềm Devteam.</p>
										<ul>
											<li>Devteam được đánh giá là công ty viết phần mềm theo yêu cầu uy tín và nổi bật trong ngành gia công phần mềm outsourcing tại việt nam.</li>
											<li>Với đội ngũ nhân viên là những người có tài năng và sự sáng tạo không ngừng nghỉ, công ty gia công phần mềm Ios, Android Devteam luôn mang đến những sản phẩm chất lượng và tiện ích, hướng dẫn sử dụng phần mềm ERP hiệu quả nhất cho khách hàng.</li>
											<li>Mỗi sản phẩm mà Devteam cung cấp cho người dùng đều là công sức và chất xám của cả một tập thể, chính vì vậy sản phẩm bạn nhận được luôn đảm bảo tính bảo mật, sự độc nhất và tính năng cực kì tốt.</li>
										</ul>
										<div class="panel" style="margin-bottom:20px;">
											<div class="panel-header">
												<h4><span id="KET_NOI_NGAY">KẾT NỐI NGAY</span></h4>
											</div>
											<div class="panel-body">
												<span>Bạn cần tìm một địa chỉ lập trình phần mềm ERP uy tín? Bạn muốn có một đội ngũ IT thật sự chuyên nghiệp cho dự án của mình? Vậy, Devteam sẽ là sự lựa chọn hoàn hảo nhất cho bạn đấy!</span>
												<div class="wp-link-shortcode">
													<a rel="nofollow" target="_blank" href="https://messenger.com/t/devteam.mobi" class="btn btn-read-more btn-animate"><span class="animated infinite zoomIn alo-ph-circle"></span>Kết nối ngay</a>
												</div>
											</div>
										</div>
										<h2><span id="Loi_ket">Lời kết</span></h2>
										<p>Với <span style="text-decoration: underline;"><a href="https://devteam.mobi/bao-gia-dich-vu-tu-van-va-thiet-ke-he-thong-erp/"><span style="color: #f99b1c; text-decoration: underline;">mức giá cho một hệ thống ERP</span></a></span> phù hợp, bạn có thể sử hữu trong tay dịch vụ lập trình hệ thống quản lý doanh nghiệp ERP bởi những chuyên gia giỏi nhất của Devteam làm ra. Vừa tiết kiệm chi phí, tăng khả năng cạnh tranh, đem lại cho doanh nghiệp lợi ích lâu dài thì tại sao bạn lại không thử liên hệ ngay đến Devteam để được hỗ trợ tận tình nhất.</p>
										<div class="contact-st">
											<div class="ct-content">
												<p></p>
											</div>
											<div class="ct-pos"></div>
											<div class="ct-border">
												<div class="row">
													<div class="col-lg-6 col-sm-12 ct-left"> 
														<img class="lazy-load ct-logo" src="./../../assets/lazy.png" data-src="https://devteam.mobi/wp-content/uploads/2019/04/id_icon_logo_devteam.jpg" alt="">
														<p> <i class="fas fa-map-marker-alt"></i>C4 – C8 Bửu Long Quận 10 <br> TPHCM</p>
														<hr>
													</div>
													<div class="col-lg-6 col-sm-12 ct-right">
														<ul>
															<li>
																<p> <i class="fas fa-phone"></i> <a rel="nofollow" href="tel:0888884420">08.8888.4420</a></p>
															</li>
															<li>
																<p> <i class="far fa-envelope"></i> <a rel="nofollow" class="showfomrmmail">info@devteam.mobi</a></p>
															</li>
															<li>
																<p> <i class="fab fa-telegram-plane"></i> <a rel="nofollow" href="https://t.me/thainguyen1708">https://t.me/thainguyen1708</a></p>
															</li>
															<li>
																<p> <i class="fab fa-facebook-f"></i> <a rel="nofollow" href="https://www.facebook.com/devteam.mobi/">https://www.facebook.com/devteam.mobi/</a></p>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="blog-share text-center">
										<div class="is-divider medium"></div>
										<div class="social-icons share-icons share-row relative">
											<a href="whatsapp://send?text=ERP%20l%C3%A0%20g%C3%AC%3F%20D%E1%BB%8Bch%20V%E1%BB%A5%20L%E1%BA%ADp%20Tr%C3%ACnh%20H%E1%BB%87%20Th%E1%BB%91ng%20Qu%E1%BA%A3n%20L%C3%BD%20Doanh%20Nghi%E1%BB%87p%20ERP - https://devteam.mobi/dich-vu-lap-trinh-he-thong-quan-ly-doanh-nghiep-erp/" data-action="share/whatsapp/share" class="icon primary button circle tooltip whatsapp show-for-medium tooltipstered"><i class="icon-phone"></i></a>
											<a href="https://www.facebook.com/sharer.php?u=https://devteam.mobi/dich-vu-lap-trinh-he-thong-quan-ly-doanh-nghiep-erp/" data-label="Facebook" onclick="window.open(this.href,this.title,&#39;width=500,height=500,top=300px,left=300px&#39;);  return false;" rel="noopener noreferrer nofollow" target="_blank" class="icon primary button circle tooltip facebook tooltipstered"><i class="icon-facebook"></i></a>
											<a href="https://twitter.com/share?url=https://devteam.mobi/dich-vu-lap-trinh-he-thong-quan-ly-doanh-nghiep-erp/" onclick="window.open(this.href,this.title,&#39;width=500,height=500,top=300px,left=300px&#39;);  return false;" rel="noopener noreferrer nofollow" target="_blank" class="icon primary button circle tooltip twitter tooltipstered"><i class="icon-twitter"></i></a>
											<a href="mailto:enteryour@addresshere.com?subject=ERP%20l%C3%A0%20g%C3%AC%3F%20D%E1%BB%8Bch%20V%E1%BB%A5%20L%E1%BA%ADp%20Tr%C3%ACnh%20H%E1%BB%87%20Th%E1%BB%91ng%20Qu%E1%BA%A3n%20L%C3%BD%20Doanh%20Nghi%E1%BB%87p%20ERP&amp;body=Check%20this%20out:%20https://devteam.mobi/dich-vu-lap-trinh-he-thong-quan-ly-doanh-nghiep-erp/" rel="nofollow" class="icon primary button circle tooltip email tooltipstered"><i class="icon-envelop"></i></a>
											<a href="https://pinterest.com/pin/create/button/?url=https://devteam.mobi/dich-vu-lap-trinh-he-thong-quan-ly-doanh-nghiep-erp/&amp;media=https://devteam.mobi/wp-content/uploads/2019/03/cong-ty-dich-tai-lieu-cong-nghe-thong-tin-uy-tin.jpg&amp;description=ERP%20l%C3%A0%20g%C3%AC%3F%20D%E1%BB%8Bch%20V%E1%BB%A5%20L%E1%BA%ADp%20Tr%C3%ACnh%20H%E1%BB%87%20Th%E1%BB%91ng%20Qu%E1%BA%A3n%20L%C3%BD%20Doanh%20Nghi%E1%BB%87p%20ERP" onclick="window.open(this.href,this.title,&#39;width=500,height=500,top=300px,left=300px&#39;);  return false;" rel="noopener noreferrer nofollow" target="_blank" class="icon primary button circle tooltip pinterest tooltipstered"><i class="icon-pinterest"></i></a>
											<a href="https://plus.google.com/share?url=https://devteam.mobi/dich-vu-lap-trinh-he-thong-quan-ly-doanh-nghiep-erp/" target="_blank" class="icon primary button circle tooltip google-plus tooltipstered" onclick="window.open(this.href,this.title,&#39;width=500,height=500,top=300px,left=300px&#39;);  return false;" rel="noopener noreferrer nofollow"><i class="icon-google-plus"></i></a>
											<a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://devteam.mobi/dich-vu-lap-trinh-he-thong-quan-ly-doanh-nghiep-erp/&amp;title=ERP%20l%C3%A0%20g%C3%AC%3F%20D%E1%BB%8Bch%20V%E1%BB%A5%20L%E1%BA%ADp%20Tr%C3%ACnh%20H%E1%BB%87%20Th%E1%BB%91ng%20Qu%E1%BA%A3n%20L%C3%BD%20Doanh%20Nghi%E1%BB%87p%20ERP" onclick="window.open(this.href,this.title,&#39;width=500,height=500,top=300px,left=300px&#39;);  return false;" rel="noopener noreferrer nofollow" target="_blank" class="icon primary button circle tooltip linkedin tooltipstered"><i class="icon-linkedin"></i></a>
										</div>
									</div>
									<div class="blog-share text-center">
										<div id="fb-root" class=" fb_reset">
											<div style="position: absolute; top: -10000px; width: 0px; height: 0px;">
												<div>
													<iframe name="fb_xdm_frame_https" id="fb_xdm_frame_https" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tabindex="-1" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="./../../assets/xd_arbiter.html" style="border: none;"></iframe>
												</div>
												<div></div>
											</div>
											<div class="fb-customerchat fb_invisible_flow fb_iframe_widget" attribution="setup_tool" page_id="713684975431254" theme_color="#e60100" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=&amp;attribution=setup_tool&amp;container_width=0&amp;locale=en_US&amp;page_id=713684975431254&amp;sdk=joey&amp;theme_color=%23e60100">
												<span style="vertical-align: bottom; width: 0px; height: 0px;">
													<iframe name="f30bbf4674c9138" width="1000px" height="1000px" title="" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="./../../assets/customerchat.html" style="border: none; visibility: visible; width: 288pt; height: 211px; border-radius: 9pt; bottom: 63pt; padding: 0px; position: fixed; right: 9pt; top: auto; z-index: 2147483647; max-height: 0px;" class="" data-testid="dialog_iframe"></iframe>
												</span>
											</div>
											<div class="fb_dialog  fb_dialog_advanced fb_customer_chat_bubble_animated_no_badge fb_customer_chat_bubble_pop_in" style="background: none; border-radius: 50%; bottom: 18pt; display: inline; height: 45pt; padding: 0px; position: fixed; right: 18pt; top: auto; width: 45pt; z-index: 2147483646;">
												<div class="fb_dialog_content" style="background: none;">
													<iframe name="blank_f30bbf4674c9138" width="60px" tabindex="-1" data-testid="bubble_iframe" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="./../../assets/bubble.html" style="border: none;"></iframe>
												</div>
											</div>
										</div> 
										<script>(function(d, s, id) {
											var js, fjs = d.getElementsByTagName(s)[0];
											if (d.getElementById(id)) return;
											js = d.createElement(s); js.id = id;
											js.src = "https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js";
											fjs.parentNode.insertBefore(js, fjs);
											}(document, 'script', 'facebook-jssdk'));
										</script> 
										<span class="like">
											<div class="fb-like fb_iframe_widget" data-href="https://devteam.mobi/dich-vu-lap-trinh-he-thong-quan-ly-doanh-nghiep-erp/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=&amp;container_width=773&amp;href=https%3A%2F%2Fdevteam.mobi%2Fdich-vu-lap-trinh-he-thong-quan-ly-doanh-nghiep-erp%2F&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small">
												<span style="vertical-align: bottom; width: 128px; height: 20px;">
													<iframe name="f1ad5e5753b7854" width="1000px" height="1000px" title="fb:like Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="./../../assets/like.html" style="border: none; visibility: visible; width: 128px; height: 20px;" class=""></iframe>
												</span>
											</div> 
											<script src="./../../assets/platform.js" async="" defer="" gapi_processed="true"></script> 
											<div style="position: absolute; width: 450px; left: -10000px;" id="___plusone_0">
												<iframe ng-non-bindable="" frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position:absolute;top:-10000px;width:450px;margin:0px;border-style:none" tabindex="0" vspace="0" width="100%" id="I0_1575050461564" name="I0_1575050461564" src="./../../assets/fastbutton.html" data-gapiattached="true"></iframe>
											</div>
											<g:plusone size="medium" data-gapiscan="true" data-onload="true" data-gapistub="true"></g:plusone> 
										</span>
									</div>
								</div>
								<footer class="entry-meta text-left"> 
									Mục này đã được đăng trong <a href="https://devteam.mobi/chuyen-muc/doanh-nghiep/" rel="category tag">Doanh nghiệp</a>, <a href="https://devteam.mobi/chuyen-muc/doanh-nghiep/phan-mem-quan-ly-doanh-nghiep-erp/" rel="category tag">Phần mềm quản lý doanh nghiệp ERP</a> and tagged <a href="https://devteam.mobi/tag/cong-ty-chuyen-viet-phan-mem/" rel="tag">công ty chuyên viết phần mềm</a>, <a href="https://devteam.mobi/tag/cong-ty-outsource-phan-mem/" rel="tag">công ty outsource phần mềm</a>, <a href="https://devteam.mobi/tag/dich-vu-it-outsourcing/" rel="tag">dịch vụ it outsourcing</a>, <a href="https://devteam.mobi/tag/dich-vu-lap-trinh-he-thong-quan-ly-doanh-nghiep-erp/" rel="tag">Dịch vụ lập trình hệ thống quản lý doanh nghiệp ERP</a>, <a href="https://devteam.mobi/tag/he-thong-quan-ly-doanh-nghiep-erp/" rel="tag">hệ thống quản lý doanh nghiệp ERP</a>, <a href="https://devteam.mobi/tag/he-thong-quan-ly-doanh-nghiep-la-gi/" rel="tag">hệ thống quản lý doanh nghiệp là gì</a>, <a href="https://devteam.mobi/tag/huong-dan-su-dung-phan-mem-erp/" rel="tag">hướng dẫn sử dụng phần mềm ERP</a>, <a href="https://devteam.mobi/tag/outsourcing-tai-viet-nam/" rel="tag">outsourcing tại việt nam</a>.
								</footer>
								<div class="form-contact-footer">
									<div class="message-box relative dark" style="padding-top:15px;padding-bottom:15px;">
										<div class="message-box-bg-image bg-fill fill"></div>
										<div class="message-box-bg-overlay bg-fill fill"></div>
										<div class="container relative">
											<div class="inner last-reset">
												<div class="row align-middle align-center" id="row-127403939">
													<div class="col title-contact medium-6 small-12 large-6">
														<div class="col-inner">
															<p>Bạn có một<span class="highlight"> Ý TƯỞNG?</span></p>
															<p>Chúng tôi có thể giúp bạn</p> 
															<span class="highlight">THỰC HIỆN</span> nó!<br>
															<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 150" xml:space="preserve" class="svg_idea"> 
																<g> 
																	<path class="st0" d="M129.4,120.6c0,10.3-24.3,18.7-54.2,18.7c-29.9,0-54.2-8.4-54.2-18.7c0-10.3,24.3-18.7,54.2-18.7C105.1,101.9,129.4,110.3,129.4,120.6z"></path> 
																	<circle id="id_x5F_circle" class="st1" cx="75" cy="75.1" r="12.7296"> 
																		<animate accumulate="none" additive="replace" attributeName="r" calcMode="linear" dur="2s" fill="remove" from="0" repeatCount="indefinite" restart="always" to="75"> </animate> 
																	</circle> 
																	<g> 
																		<path class="st2" d="M40.9,114.6c0,0-0.5,0.7-0.3,1.1c0.1,0.4,1.4,1.3,2,1c0.6-0.3-0.4-0.9-0.5-1.8C41.9,114.1,40.9,114.6,40.9,114.6z"></path> 
																		<path class="st2" d="M47.8,115v0.8c0,0,1.8,0.8,2.4,0.5c0.6-0.3,0.6-0.4,0.3-0.6c-0.3-0.2-1.6-0.9-1.6-0.9L47.8,115z"></path> 
																		<path class="st3" d="M46.8,99.7c-0.1,0.1,0.1,1,2.7,1.4c2.6,0.4,4.7,0.8,4.7,0.8l0.1-1.1l-5.5-2C48.7,98.8,47.4,98.7,46.8,99.7z"></path> 
																		<path class="st4" d="M50.3,103.5c0-0.3,2-4.1,2-4.1l4-1.7l-2.2,4.2L50.3,103.5z"></path> 
																		<path class="st5" d="M47,109.1c0.3-0.1,0.6-0.1,1-0.2c0.4-0.2,0.8-0.4,1.1-0.6l0.5-6.7l-6.9-1.1l0.1,10l0,0c0.7,0.1,1.3,0.3,1.9,0.3l0.6-6.1l1.3-0.4L47,109.1z"></path> 
																		<path class="st5" d="M48,94.5v-2.6h-1.9l0,2.6C46.8,94.9,47.5,95.1,48,94.5z"></path> 
																		<path class="st5" d="M51.1,102.4l1.3-0.7l0.3,0.8c0,0-0.4,1-1.8,1C49.5,103.5,51.1,102.4,51.1,102.4z"></path> 
																		<path class="st5" d="M44.7,110.6l-2.9,4.7c0,0-0.7-0.3-0.9-0.7c-0.1-0.4,1.9-4.3,1.9-4.3L44.7,110.6z"></path> 
																		<polygon class="st5" points="44.7,110.6 46.4,103.7 44.5,103.7 43.8,109.2"></polygon> 
																		<polygon class="st5" points="49.1,108.2 49.1,115 47.8,115 47,109.1"></polygon> 
																		<path class="st6" d="M42.7,106.5c0,0,1.3,1.1,3.9,0.8c2.6-0.3,2.6-0.9,2.6-0.9l0.3-5.4l-4.8,0.3l-2,3.4V106.5z"></path> 
																		<path class="st3" d="M49.8,94.4c0.2,0.4,0.4,1.2,0.6,2.6c0.4,2.5,0.9,3.8,0,4.1c-0.9,0.3-1.5-0.9-1.5-0.9l0.3-6C49.2,94.2,49.8,94.3,49.8,94.4z"></path> 
																		<path class="st7" d="M49.5,94.8c0,0-2.2-0.5-4.5-0.4c0,0-2.5,0.6-2.4,3.1l0,1.6l0,3c0,0,1.8,1.6,4.2,0.9c2.3-0.6,2.7-1.6,2.7-1.6v-3.4v-2.8V94.8z"></path> <path class="st3" d="M43.3,96.1"></path> 
																		<path class="st7" d="M48.5,94.7l-0.1,1.6l-0.1,1.3c0,0-0.3-0.4-0.8-1c-0.6-0.7-1.2-1.5-1.2-1.5L48.5,94.7z"></path> 
																		<path class="st3" d="M48.7,94.1c0,0-0.1,0-0.2,0l-0.4,0.2c0,0,1.5,2.1,1.2,6.3c0,1.2-0.3,4.5-0.3,4.5s0.5-0.3,0.7-0.9c0.2-0.6,0.4-5.5,0.4-5.5l-0.4-4.2C49.4,94.3,49.1,94.2,48.7,94.1z"></path> 
																		<path class="st3" d="M45.6,94.2c0,0,0.9,2.1,1,4.9c0,2.7-0.5,6.7-0.5,6.7s-3.3,0.3-3.4-0.9c-0.1-1.2,0-8.2,0-8.2S42.8,94.9,45.6,94.2z"></path> 
																		<path class="st6" d="M42.7,96.9c0,0.1,1.1,2,1.1,2l0.8,2.5l1.8,1.1l-0.1,0.9c0,0-2.9-0.6-3.2-1.7C42.7,100.6,42.7,96.9,42.7,96.9z"></path> 
																		<path class="st3" d="M45.1,98.1c-0.4-2.5-0.6-3-1.2-3.2c0,0-1,0.3-1.3,2c-0.2,1.8,0.9,4.3,0.9,4.3s0.7,1.2,1.5,0.9C46,101.9,45.5,100.6,45.1,98.1z"></path> 
																		<path class="st8" d="M46.1,93.9c0,0,0.6,0.5,1.2,0.5C47.8,94.3,48,94,48,94l0-0.2l0.4,0l0.2,1.5l-0.9-0.6l-0.3,1c0,0-1.1-0.6-1.4-1c-0.3-0.3-0.3-0.6-0.3-0.6L46.1,93.9z"></path> 
																		<path class="st5" d="M50.4,90.7c0,1.7-1,4.4-3.1,3.1c-1.7-0.2-3.1-1.4-3.1-3.1c0-1.7,1.4-3.1,3.1-3.1C49,87.6,50.4,89,50.4,90.7z"></path> 
																		<path class="st3" d="M43.6,101.3c-0.1,0.1,0.1,1,2.7,1.4c2.6,0.4,4.7,0.8,4.7,0.8l0.1-1.1l-5.5-2C45.5,100.4,44.2,100.2,43.6,101.3z"></path> 
																		<path class="st9" d="M50.5,90.9c0,0,0-1.2-0.5-1.8c-0.5-0.6-1.5-2-3.7-1.4c-2.3,0.6-2.2,2.3-2.2,2.9c0,0.6,0.1,1.4,0.5,1.9c0.4,0.5,1.4,1.2,1.4,1.2l0-1.3c0,0-0.6-0.2-0.5-0.8c0.1-0.6,0.6,0,0.6,0l0.2,0.7c0,0,0.5-0.7,0.7-1.5C47.4,89.8,47.9,91.4,50.5,90.9z"></path> 
																		<path class="st9" d="M47.3,90.4c0,0,0.3,0.4,0.2,0.8c-0.1,0.4-0.1,0.4-0.1,0.4s1.5,0.2,2.5,0.1c1-0.1,1-0.5,1-0.5s0.2-0.8-0.6-1.6C49.5,88.9,47.3,90.4,47.3,90.4z"></path> 
																		<path class="st9" d="M47.3,87.8c0,0.9-0.7,1.7-1.7,1.7s-1.7-0.7-1.7-1.7c0-0.9,0.7-1.7,1.7-1.7S47.3,86.8,47.3,87.8z"></path> 
																		<path class="st2" d="M40.5,115.3c0.1-0.2,0.6-1.7,0.6-1.7c0.6,0.5,1.2,0.8,1.3,0.5c0,0,0.2,0.3,0,0.5c-0.2,0.2-0.4,0.9-0.4,0.9s-0.7,0.2-0.8,0.2C41.2,115.7,40.5,115.3,40.5,115.3z"></path> 
																		<path class="st2" d="M47.6,113.7c0,0,1.3,0.1,1.5,0c0.2-0.1,0.2,0.3,0.2,0.6c0,0.3,0.1,0.7,0.1,0.7l-0.1,0.6l-0.8,0.3l-0.7-0.5L47.6,113.7z"></path> 
																	</g> 
																	<g> 
																		<path class="st5" d="M45.9,95.8c0,1.6-1,4.1-2.9,2.9c-1.6,0-2.9-1.3-2.9-2.9c0-1.6,1.3-2.9,2.9-2.9C44.6,92.9,45.9,94.2,45.9,95.8z"></path> 
																		<path class="st10" d="M44.2,121.7l-0.1,0.7c0,0,0.5,0.3,0.8,0.2c0.3-0.1,1.8-0.5,1.6-0.7c-0.2-0.2-1.2-0.5-1.5-0.4C44.7,121.5,44.2,121.7,44.2,121.7z"></path> 
																		<path class="st10" d="M38.2,121.7l-0.1,0.7c0,0,0.5,0.3,0.8,0.2c0.3-0.1,1.8-0.5,1.6-0.7c-0.2-0.2-1.2-0.5-1.5-0.4C38.7,121.5,38.2,121.7,38.2,121.7z"></path> 
																		<path class="st4" d="M50.7,105.2c0,0,0.7-3.3,0.6-3.3c-0.1,0-3.5-1.3-3.5-1.3s-1.2,5.7-1.1,5.6c0.1,0,3.5,1.3,3.5,1.3L50.7,105.2z"></path> 
																		<path class="st5" d="M49.8,106l0.9-0.8c0.4,0.2,0.5,0.5,0.4,0.9l-1.2,0.7L49.8,106z"></path> 
																		<polygon class="st5" points="41.3,99.3 41.3,97.5 43.2,97.5 43.2,100.1"></polygon> 
																		<path class="st11" d="M38.4,121.8c-0.1,0-0.2-0.1-0.2-0.1l1.7-5.3l-0.6-9.3l6.9-1.1l-0.1,10l-1,5.6c-0.2,0-0.4,0.1-0.6,0.1c-0.1,0-0.2,0-0.3,0v-4.6l-0.7-6.9l-1.3-0.4l-0.7,7.3l-2.7,4.8C38.7,121.9,38.5,121.8,38.4,121.8z"></path> 
																		<path class="st12" d="M39.3,98.9v8.2l6.8,1.4l0.1,0l0-3.8l0-1.6c-0.2-0.6-0.5-1.1-0.7-1.4c0,0,0,0,0,0c-0.2-0.3-0.3-0.5-0.4-0.6c0,0-0.1-0.1-0.1-0.1L39.3,98.9z"></path> 
																		<path class="st12" d="M44.7,104.6c0,0.2,0.1,0.4,0.1,0.5c0.2,1.4,0.6,2.7,1.2,3.4c0.3,0.3,0.7,0.5,1.1,0.4c1.5-0.3,3.2-2.4,3.2-2.4l-0.5-0.6l-2.3,1.2l-0.9-2.7l-0.5-1.2c-0.2-0.6-0.5-1.1-0.7-1.4C45.1,102.2,44.5,103,44.7,104.6z"></path> 
																		<path class="st12" d="M39.3,98.9l0.3,3.3l2.6,3c0,0,1.4,0.2,2.7,0c0.5-0.1,0.9-0.2,1.3-0.4c0.2-0.1,0.4-0.2,0.5-0.3c-0.1-0.4-0.3-0.8-0.5-1.2c-0.2-0.6-0.5-1.1-0.7-1.4c0,0,0,0,0,0c-0.2-0.3-0.3-0.5-0.4-0.6c0,0-0.1-0.1-0.1-0.1C42.6,98.5,39.3,98.9,39.3,98.9z"></path> 
																		<path class="st3" d="M39.3,98.9c-0.6,0.2-0.8,0.6-1.2,3.2c-0.4,2.5-0.9,3.8,0,4.1c0.9,0.3,1.5-0.9,1.5-0.9L39.3,98.9z"></path> 
																		<path class="st12" d="M46.1,108.6c0,0-1.8,0.8-4.2,0.1c-2.3-0.6-2.7-1.6-2.7-1.6v-3.4h6.1L46.1,108.6z"></path> 
																		<path class="st3" d="M45.9,108.4c0,0-1.7-3-1.7-4.2c0-1.1,0.5,4.8,0.5,4.8l1.4-0.4L45.9,108.4z"></path> <polygon class="st12" points="39.3,103.7 39.3,98.9 40.9,101 40.7,104.4 40.1,105"></polygon> 
																		<path class="st12" d="M39.3,102.9l-0.7-3.3c0,0,0.1-0.8,0.7-0.8c0.6,0,1.3,2,1.3,2L39.3,102.9z"></path> <path class="st12" d="M43.9,100.2c0,0-0.2-0.7-0.8-1c-0.6-0.3-2.3-1-2.5-0.3c-0.2,0.7,1.9,1.4,1.9,1.4L43.9,100.2z"></path> 
																		<path class="st10" d="M42.7,98.7c0,0,0.8-0.4,0.8-1.7c0.8-0.3,0.6-2.5,2.3-2.2c0,0,0.2-0.6,0.8-0.9c-1.4-0.7-1.4-1.7-3.3-1.8c-3.4-0.1-4,2.4-3.7,3.9c0.2,1.4,1.7,2.3,1.7,2.3S41.8,98.4,42.7,98.7z"></path> 
																		<path class="st5" d="M43.1,96.9c0,0.4,0.2,0.8,0.6,0.8c0.3,0,0.6-0.3,0.6-0.8c0-0.4-0.2-0.8-0.6-0.8C43.3,96.1,43.1,96.5,43.1,96.9z"></path> 
																	</g> 
																	<g> 
																		<path class="st2" d="M95.7,108.6c0,0-0.5,0.7-0.3,1.1c0.1,0.4,1.4,1.3,1.9,1c0.6-0.3-0.4-0.9-0.5-1.8C96.8,108.1,95.7,108.6,95.7,108.6z"></path> 
																		<path class="st2" d="M102.6,109v0.8c0,0,1.8,0.8,2.4,0.5c0.6-0.3,0.6-0.4,0.3-0.6c-0.3-0.2-1.6-0.9-1.6-0.9L102.6,109z"></path> 
																		<path class="st3" d="M101.6,93.7c-0.1,0.1,0.1,1,2.7,1.4c2.6,0.4,4.7,0.8,4.7,0.8l0.1-1.1l-5.5-2C103.5,92.8,102.2,92.7,101.6,93.7z"></path> 
																		<path class="st4" d="M105.1,97.5c0-0.3,2-4.1,2-4.1l4-1.7L109,96L105.1,97.5z"></path> 
																		<path class="st11" d="M101.8,103.1c0.3-0.1,0.6-0.1,1-0.2c0.4-0.2,0.8-0.4,1.1-0.6l0.5-6.7l-6.9-1.1l0.1,10l0,0c0.7,0.1,1.3,0.3,1.9,0.3l0.6-6.1l1.3-0.4L101.8,103.1z"></path> 
																		<path class="st3" d="M104.7,88.4c0.2,0.4,0.4,1.2,0.6,2.6c0.4,2.5,0.9,3.8,0,4.1c-0.9,0.3-1.5-0.9-1.5-0.9l0.3-6C104,88.2,104.6,88.3,104.7,88.4z"></path> 
																		<path class="st12" d="M104.4,88.8c0,0-1.6-1.6-4.5-0.4c0,0-2.5,0.6-2.4,3.1l0,1.6l0,3c0,0,1.8,1.6,4.2,0.9c2.3-0.6,2.7-1.6,2.7-1.6v-3.4v-2.8V88.8z"></path> <path class="st5" d="M102.8,88.5v-2.6h-1.9l0,2.6C101.7,88.9,102.3,89.1,102.8,88.5z"></path> 
																		<path class="st3" d="M98.2,90.1"></path> 
																		<path class="st7" d="M103.3,88.7l-0.1,1.6l-0.1,1.3c0,0-0.3-0.4-0.8-1c-0.6-0.7-1.2-1.5-1.2-1.5L103.3,88.7z"></path> 
																		<path class="st5" d="M105.9,96.4l1.3-0.7l0.3,0.8c0,0-0.4,1-1.8,1C104.4,97.5,105.9,96.4,105.9,96.4z"></path> 
																		<path class="st11" d="M99.5,104.6l-2.9,4.7c0,0-0.7-0.3-0.9-0.7c-0.1-0.4,1.9-4.3,1.9-4.3L99.5,104.6z"></path> 
																		<path class="st3" d="M103.5,88.1c0,0-0.1,0-0.2,0l-0.4,0.2c0,0,1.5,2.1,1.2,6.3c0,1.2-0.3,4.5-0.3,4.5s0.5-0.3,0.7-0.9c0.2-0.6,0.4-5.5,0.4-5.5l-0.4-4.2C104.3,88.3,103.9,88.1,103.5,88.1z"></path> 
																		<path class="st11" d="M103.9,102.2v6.7c0,0-1,0.2-1.3,0c-0.3-0.2-0.8-5.9-0.8-5.9L103.9,102.2z"></path> <polygon class="st11" points="99.5,104.6 101.2,97.7 99.3,97.7 98.6,103.2"></polygon> 
																		<polygon class="st11" points="102.1,89.4 102.5,90.1 103,90 103,88.8 102.4,88.7"></polygon> 
																		<path class="st3" d="M100.4,88.2c0,0,0.9,2.1,1,4.9c0,2.7-0.5,6.7-0.5,6.7s-3.3,0.3-3.4-0.9c-0.1-1.2,0-8.2,0-8.2S97.6,88.9,100.4,88.2z"></path> 
																		<path class="st6" d="M97.5,90.9c0,0.1,1.1,2,1.1,2l0.8,2.5l1.8,1.1l-0.1,0.9c0,0-2.8-0.6-3.2-1.7C97.5,94.6,97.5,90.9,97.5,90.9z"></path> 
																		<path class="st3" d="M100,92.1c-0.4-2.5-0.6-3-1.2-3.2c0,0-1,0.3-1.3,2c-0.2,1.8,0.9,4.3,0.9,4.3s0.7,1.2,1.5,0.9C100.8,95.9,100.3,94.6,100,92.1z"></path> 
																		<path class="st8" d="M100.9,87.9c0,0,0.6,0.5,1.2,0.5c0.5-0.1,0.7-0.3,0.7-0.3l0-0.2l0.4,0l0.2,1.5l-0.9-0.6l-0.3,1c0,0-1.1-0.6-1.4-1c-0.3-0.3-0.3-0.6-0.3-0.6L100.9,87.9z"></path> 
																		<path class="st5" d="M105.3,84.9c0,1.6-1,4.2-3,3c-1.6,0-3-1.3-3-3c0-1.6,1.3-3,3-3C104,81.9,105.3,83.3,105.3,84.9z"></path> 
																		<path class="st11" d="M103.2,90.3l-0.1,1.3c0,0-0.3-0.4-0.8-1l0.2-0.5L103,90L103.2,90.3z"></path> 
																		<path class="st3" d="M98.4,95.3c-0.1,0.1,0.1,1,2.7,1.4c2.6,0.4,4.7,0.8,4.7,0.8l0.1-1.1l-5.5-2C100.3,94.4,99,94.2,98.4,95.3z"></path> 
																		<path class="st9" d="M105.3,84.9L106,84c0,0-0.7-0.4-1.2-1c-0.5-0.6-1.5-2-3.7-1.4c-2.3,0.6-2.2,2.3-2.2,2.9c0,0.6,0.1,1.4,0.5,1.9c0.4,0.5,1.4,1.2,1.4,1.2l0-1.3c0,0-0.6-0.2-0.5-0.8c0.1-0.6,0.6,0,0.6,0l0.2,0.7c0,0,0.5,0.2,0.7-0.7C102.2,84.7,102.7,85.4,105.3,84.9z"></path> 
																	</g> 
																	<g> 
																		<g> 
																			<path class="st13" d="M97.9,116.7c0,0.2,0,0.3,0,0.5c-0.6,5.3-10.5,9.5-22.6,9.5c-4.5,0-8.7-0.6-12.2-1.6c-6.1-1.7-10.2-4.7-10.4-8.1v0c0-0.1,0-0.2,0-0.3c0-0.1,0-0.2,0-0.3c0.1-1,0.5-2,1.2-3c0.4-0.5,0.9-1,1.5-1.5c3.8-3.1,11.3-5.3,20-5.3c10,0,18.5,2.8,21.5,6.8C97.4,114.5,97.9,115.5,97.9,116.7z"></path> 
																			<polygon class="st14" points="97.9,113.5 97.9,117.1 97.8,117.1 59.3,117 52.5,116.9 52.5,113.5"></polygon> 
																			<path class="st15" d="M63,121.6v3.5c-6.1-1.7-10.2-4.7-10.4-8.1v0c0-0.1,0-0.2,0-0.3c0-0.1,0-0.2,0-0.3v-3h1.2c0.4-0.5,0.9-1,1.5-1.5l1.2,1.5l2.8,3.5L63,121.6z"></path> 
																			<path class="st8" d="M97.9,113.2c0,5.5-10.2,10-22.7,10c-4.5,0-8.7-0.6-12.2-1.6c-6.3-1.8-10.4-4.9-10.4-8.4c0-1.1,0.4-2.2,1.2-3.2c3-4,11.5-6.8,21.5-6.8C87.7,103.2,97.9,107.6,97.9,113.2z"></path> 
																			<path class="st16" d="M86.7,115.3c0,3.5-9.6,6.3-21.4,6.3c-0.8,0-1.6,0-2.3,0c-6.3-1.8-10.4-4.9-10.4-8.4c0-1.1,0.4-2.2,1.2-3.2c3.3-0.6,7.3-1,11.6-1C77.1,109,86.7,111.8,86.7,115.3z"></path> 
																		</g> 
																		<g> 
																			<g> 
																				<path class="st17" d="M84,108.8c0,4.5-2.2,7.7-8.1,7.7c-5.9,0-8.1-3.2-8.1-7.7c0-4.5,3.6-8.1,8.1-8.1C80.4,100.7,84,104.3,84,108.8z"></path> 
																				<path class="st4" d="M89.3,88.3c-2.5,2.7-2.3,8.3-2.3,12.6c0,0.4,0,0.7,0,1.1c0,4.3,0.3,12.4-11.3,12.4c-11.7,0-10.7-9.9-10.7-13.9c0-0.4,0-0.9,0-1.4c0-3.6,0-7.5-1.4-9.5l14.1-9.9C77.7,79.7,92,85.4,89.3,88.3z"></path> 
																				<path class="st18" d="M65,99c0-3.6,0-7.5-1.4-9.5c0,0,5.9,4.3,11.1,3.9C79.8,93,70.4,99.9,65,99z"></path> 
																				<path class="st4" d="M96.3,72.8c0,11.4-9.2,20.6-20.6,20.6c-11.4,0-20.6-9.2-20.6-20.6c0-11.4,9.2-20.6,20.6-20.6C87,52.2,96.3,61.5,96.3,72.8z"></path> 
																				<path class="st19" d="M86.9,105.7c-0.1,0.6-0.2,1.3-0.3,1.9c-0.9,3.5-3.5,6.6-10.9,6.6c-6.6,0-9.2-3.2-10.1-6.7c-0.2-0.6-0.3-1.3-0.4-1.9c-0.3-2-0.2-4-0.2-5.3c7.1,2.3,14.4,2.5,22,0.5c0,0.4,0,0.7,0,1.1C87,103,87,104.4,86.9,105.7z"></path>
																				<g> 
																					<path class="st17" d="M86.9,105.7c-0.1,0.6-0.2,1.3-0.3,1.9c-3.4,0.9-6.9,1.4-10.3,1.4c-3.5,0-7.1-0.5-10.7-1.4c-0.2-0.6-0.3-1.3-0.4-1.9C72.4,107.8,79.7,107.8,86.9,105.7z"></path> 
																				</g> 
																				<g> 
																					<path class="st20" d="M91.5,63.7c2,5.6-0.6,11.6-5.7,13.4c-5.1,1.8-10.9-1.3-12.8-7c-2-5.6,0.6-11.6,5.7-13.4C83.8,55,89.6,58.1,91.5,63.7z"></path> 
																					<path class="st21" d="M87.9,65c1.2,3.4-0.4,7-3.5,8.1c-3.1,1.1-6.6-0.8-7.7-4.2c-1.2-3.4,0.4-7,3.5-8.1C83.2,59.7,86.7,61.6,87.9,65z"></path> 
																				</g> 
																			</g> 
																		</g> 
																	</g> 
																	<g> 
																		<g> 
																			<path class="st22" d="M78.3,131.8c-0.4,0-0.8-0.3-0.8-0.8l-2.4-33.1c0-0.5,0.3-0.9,0.8-0.9c0.5,0,0.9,0.3,0.9,0.8l2.4,33.1C79.2,131.3,78.8,131.7,78.3,131.8C78.3,131.8,78.3,131.8,78.3,131.8z"></path> 
																			<path class="st22" d="M89.3,129.6c-0.4,0-0.8-0.3-0.8-0.8l-2.4-33.1c0-0.5,0.3-0.9,0.8-0.9c0.5,0,0.9,0.3,0.9,0.8l2.4,33.1C90.2,129.1,89.9,129.5,89.3,129.6C89.4,129.6,89.4,129.6,89.3,129.6z"></path> 
																			<path class="st22" d="M77.8,124.6c-0.4,0-0.8-0.3-0.8-0.7c-0.1-0.5,0.2-0.9,0.7-1l11-2.1c0.5-0.1,0.9,0.2,1,0.7c0.1,0.5-0.2,0.9-0.7,1l-11,2.1C77.9,124.6,77.8,124.6,77.8,124.6z"></path> 
																			<path class="st22" d="M77.4,118.5c-0.4,0-0.8-0.3-0.8-0.7c-0.1-0.5,0.2-0.9,0.7-1l11-2.1c0.5-0.1,0.9,0.2,1,0.7c0.1,0.5-0.2,0.9-0.7,1l-11,2.1C77.5,118.5,77.4,118.5,77.4,118.5z"></path> 
																			<path class="st22" d="M76.9,111.4c-0.4,0-0.8-0.3-0.8-0.7c-0.1-0.5,0.2-0.9,0.7-1l10.7-2c0.5-0.1,0.9,0.2,1,0.7c0.1,0.5-0.2,0.9-0.7,1l-10.7,2C77,111.4,76.9,111.4,76.9,111.4z"></path> 
																			<path class="st22" d="M76.3,104c-0.4,0-0.8-0.3-0.8-0.7c-0.1-0.5,0.2-0.9,0.7-1l10.9-2.1c0.5-0.1,0.9,0.2,1,0.7c0.1,0.5-0.2,0.9-0.7,1l-10.9,2.1C76.4,103.9,76.3,104,76.3,104z"></path> 
																		</g> 
																		<g> 
																			<path class="st5" d="M86.5,107c0,1.8,1.1,4.5,3.2,3.2c1.8,0,3.2-1.4,3.2-3.2c0-1.8-1.4-3.2-3.2-3.2C87.9,103.8,86.5,105.2,86.5,107z"></path> 
																			<path class="st10" d="M88.2,133.1l0.1,0.7c0,0-0.5,0.3-0.8,0.2c-0.3-0.1-1.8-0.5-1.6-0.7c0.2-0.2,1.2-0.5,1.5-0.4C87.7,132.9,88.2,133.1,88.2,133.1z"></path> 
																			<path class="st10" d="M94.2,133.1l0.1,0.7c0,0-0.5,0.3-0.8,0.2c-0.3-0.1-1.8-0.5-1.6-0.7c0.2-0.2,1.2-0.5,1.5-0.4C93.7,132.9,94.2,133.1,94.2,133.1z"></path> 
																			<polygon class="st5" points="91.1,110.7 91.1,108.9 89.3,108.9 89.3,111.5"></polygon> 
																			<path class="st11" d="M94,133.3c0.1,0,0.2,0,0.2-0.1l-1.7-5.3l0.6-9.3l-6.9-1.1l0.1,10l1,5.6c0.2,0,0.4,0.1,0.6,0.1c0.1,0,0.2,0,0.3,0v-4.6l0.7-6.9l1.3-0.4l0.7,7.3l2.7,4.8C93.7,133.3,93.9,133.3,94,133.3z"></path> 
																			<path class="st12" d="M93.1,110.3v8.2l-6.8,1.4l-0.1,0l0-3.8l0-1.6c0.2-0.6,0.5-1.1,0.7-1.4c0,0,0,0,0,0c0.2-0.3,0.3-0.5,0.4-0.6c0,0,0.1-0.1,0.1-0.1L93.1,110.3z"></path> 
																			<path class="st12" d="M87.7,116c0,0.2-0.1,0.4-0.1,0.5c-0.2,1.4-0.6,2.7-1.2,3.4c-0.3,0.3-0.7,0.5-1.1,0.4c-1.5-0.3-3.2-2.4-3.2-2.4l0.5-0.6l2.3,1.2l0.9-2.7l0.5-1.2c0.2-0.6,0.5-1.1,0.7-1.4C87.3,113.6,87.9,114.5,87.7,116z"></path> 
																			<path class="st12" d="M93.1,110.3l-0.3,3.3l-2.6,3c0,0-1.4,0.2-2.7,0c-0.5-0.1-0.9-0.2-1.3-0.4c-0.2-0.1-0.4-0.2-0.5-0.3c0.2-0.4,0.3-0.8,0.5-1.2c0.2-0.6,0.5-1.1,0.7-1.4c0,0,0,0,0,0c0.2-0.3,0.3-0.5,0.4-0.6c0,0,0.1-0.1,0.1-0.1C89.8,109.9,93.1,110.3,93.1,110.3z"></path> 
																			<path class="st3" d="M93.1,110.3c0.6,0.2,0.8,0.6,1.2,3.2c0.4,2.5,0.9,3.8,0,4.1c-0.9,0.3-1.5-0.9-1.5-0.9L93.1,110.3z"></path> 
																			<path class="st5" d="M82.5,117.4l-0.4-1.2c-0.4-0.1-0.7,0.1-0.8,0.6L82,118L82.5,117.4z"></path>
																			<path class="st12" d="M86.3,120c0,0,1.8,0.8,4.2,0.1c2.3-0.6,2.7-1.6,2.7-1.6v-3.4h-6.1L86.3,120z"></path> 
																			<path class="st3" d="M86.5,119.8c0,0,1.7-3,1.7-4.2c0-1.1-0.5,4.8-0.5,4.8l-1.4-0.4L86.5,119.8z"></path> 
																			<polygon class="st12" points="93.1,115.1 93.1,110.3 91.5,112.5 91.8,115.8 92.3,116.4"></polygon> 
																			<path class="st12" d="M93.1,114.4l0.7-3.3c0,0-0.1-0.8-0.7-0.8c-0.6,0-1.3,2-1.3,2L93.1,114.4z"></path> 
																			<path class="st12" d="M88.5,111.6c0,0,0.2-0.7,0.8-1c0.6-0.3,2.3-1,2.5-0.3c0.2,0.7-1.9,1.4-1.9,1.4L88.5,111.6z"></path> 
																			<path class="st10" d="M89.7,110.1c0,0-0.8-0.4-0.8-1.7c0-1.3-0.6-2.5-2.3-2.2c-1.7,0.3-0.8-2.5,2.5-2.6c3.4-0.1,4,2.4,3.7,3.9c-0.2,1.4-1.7,2.3-1.7,2.3S90.6,109.8,89.7,110.1z"></path> 
																			<path class="st5" d="M89.3,108.3c0,0.4-0.2,0.8-0.6,0.8s-0.6-0.3-0.6-0.8c0-0.4,0.2-0.8,0.6-0.8S89.3,107.9,89.3,108.3z"></path> 
																		</g> 
																	</g> 
																	<g> 
																		<path class="st23" d="M60.5,99.5l-3.3-8.3l0-0.1c-0.1-0.2-0.1-0.5,0.1-0.7l2.8-4.7c0.2-0.3,0.7-0.5,1-0.3c0.3,0.2,0.5,0.7,0.3,1l-2.7,4.8l0-0.7l4.4,7.8c0.4,0.7,0.1,1.5-0.5,1.9c-0.7,0.4-1.5,0.1-1.9-0.5C60.6,99.6,60.5,99.6,60.5,99.5z"></path> 
																		<g> 
																			<path class="st5" d="M66.7,91.6c0.1,1.8,0,3.1-3,3.4c-1.8,0.1-3.3-1.2-3.4-3c-0.1-1.8,1.2-3.3,3-3.4C65,88.5,66.6,89.8,66.7,91.6z"></path> 
																			<polygon class="st5" points="62.3,95.6 62.2,93.8 64.1,93.7 64.2,96.3"></polygon> 
																			<path class="st9" d="M60.3,92.3c0,0,0.1,0.8,0.6,1.4c0.5,0.7,1.3,1,1.3,1s1-0.2,1.4,0.1c0.5,0.3,1.8-1,1.7-3c-0.2-2,0.8-1.8,0.8-1.8s1.1-2-1.9-1.6c-3.1,0.4-2.2,0.5-2.2,0.5L60.3,92.3z"></path> <path class="st12" d="M63.6,90.2c0.1,1.3-0.9,2.4-2.1,2.4c-1.2,0.1-2.3-0.9-2.4-2.2C59,89.2,60,88.1,61.2,88C62.5,87.9,63.5,88.9,63.6,90.2z"></path> 
																			<path class="st9" d="M63.4,89.9c0.1,1.3-0.9,2.4-2.2,2.5c-1.3,0.1-2.4-0.9-2.5-2.2c-0.1-1.3,0.9-2.4,2.2-2.5C62.2,87.7,63.3,88.7,63.4,89.9z"></path> 
																			<path class="st5" d="M64.6,92.7c0,0.4,0.4,0.8,0.7,0.7c0.4,0,0.7-0.4,0.6-0.8c0-0.4-0.4-0.8-0.7-0.7C64.9,91.9,64.6,92.2,64.6,92.7z"></path> 
																		</g> 
																		<path class="st10" d="M65.1,118l-0.1,0.7c0,0,0.5,0.3,0.8,0.2c0.3-0.1,1.8-0.5,1.6-0.7c-0.2-0.2-1.2-0.5-1.5-0.4C65.5,117.8,65.1,118,65.1,118z"></path> 
																		<path class="st10" d="M59.1,118l-0.1,0.7c0,0,0.5,0.3,0.8,0.2c0.3-0.1,1.8-0.5,1.6-0.7c-0.2-0.2-1.2-0.5-1.5-0.4C59.5,117.8,59.1,118,59.1,118z"></path> 
																		<path class="st11" d="M66.4,104.3c0,0,0-0.1,0-0.1c-0.2,0-0.4-0.1-0.5-0.4c-0.2-0.4-0.4-1-0.8-1.2l-4.9,0.8l0.6,9.3L59,118c0.1,0,0.1,0.1,0.2,0.1c0.1,0,0.3,0.1,0.5,0.1l2.7-4.8l0.7-7.3l1.3,0.4l0.7,6.9v4.6c0.1,0,0.2,0,0.3,0c0.2,0,0.4,0,0.6-0.1l1-5.6l0.1-7.5C66.7,104.7,66.5,104.6,66.4,104.3z"></path> 
																		<path class="st8" d="M64.8,96.4c0,0-0.2-0.7-0.7-1c-0.6-0.3-2.3-1-2.5-0.3c-0.2,0.7,1.9,1.4,1.9,1.4L64.8,96.4z"></path> 
																		<path class="st12" d="M66.2,101.7c-0.2-1.5-0.6-3-0.9-4.5l-5.1-2v8.2l6.4,1.4C66.4,103.7,66.3,102.7,66.2,101.7z"></path> 
																		<path class="st12" d="M66.1,97.7c0-0.1-0.1-0.1-0.1-0.2c0,0-0.1-0.1-0.1-0.1c-2.4-2.7-5.7-2.3-5.7-2.3l0.3,3.3l2.6,3c0,0,1.4,0.2,2.7,0c0.3,0,0.5-0.1,0.8-0.2C66.4,100.1,66.2,98.9,66.1,97.7z"></path> 
																		<path class="st12" d="M67,104.8c0,0-1.8,0.8-4.2,0.1c-2.3-0.6-2.7-1.6-2.7-1.6V100h6.1L67,104.8z"></path> 
																		<polygon class="st12" points="60.1,100 60.1,95.2 61.7,97.3 61.5,100.6 60.9,101.3"></polygon> 
																		<path class="st12" d="M60.1,99.2l-0.7-3.3c0,0,0.1-0.8,0.7-0.8c0.6,0,1.3,2,1.3,2L60.1,99.2z"></path> 
																		<path class="st23" d="M64.9,96.6l5.8-1.2l-0.5,0.5l2.1-4.7c0.2-0.4,0.6-0.5,1-0.4c0.4,0.2,0.5,0.6,0.4,1l-2,4.8c-0.1,0.2-0.2,0.3-0.4,0.4l-0.1,0l-5.5,2.3c-0.7,0.3-1.5,0-1.8-0.7c-0.3-0.7,0-1.5,0.7-1.8C64.7,96.6,64.8,96.6,64.9,96.6z"></path> 
																		<polygon class="st5" points="72,92 71.7,90 72,89.8 72.4,90.7 73.6,89.2 74.2,91 73.1,92.9"></polygon> 
																		<path class="st9" d="M60.5,92"></path> 
																		<path class="st5" d="M59.9,86.1l1.1,0.7l0.5-0.6c0,0-0.6-1.1-0.8-1.6C60.7,84.1,59.9,86.1,59.9,86.1z"></path> 
																	</g> 
																	<g> 
																		<path class="st24" d="M74.2,49.2c-0.5,0-0.8-0.4-0.8-0.8v-15c0-0.5,0.4-0.8,0.8-0.8c0.5,0,0.8,0.4,0.8,0.8v15C75.1,48.9,74.7,49.2,74.2,49.2z"></path> 
																		<path class="st24" d="M49.5,69.9h-15c-0.5,0-0.8-0.4-0.8-0.8s0.4-0.8,0.8-0.8h15c0.5,0,0.8,0.4,0.8,0.8S50,69.9,49.5,69.9z"></path> 
																		<path class="st24" d="M116.4,69.9h-15c-0.5,0-0.8-0.4-0.8-0.8s0.4-0.8,0.8-0.8h15c0.5,0,0.8,0.4,0.8,0.8S116.8,69.9,116.4,69.9z"></path> 
																		<path class="st24" d="M94.1,54.6c-0.2,0-0.4-0.1-0.6-0.2c-0.3-0.3-0.3-0.9,0-1.2l10.6-10.6c0.3-0.3,0.9-0.3,1.2,0s0.3,0.9,0,1.2L94.7,54.3C94.5,54.5,94.3,54.6,94.1,54.6z"></path> 
																		<path class="st24" d="M56.9,54.6c-0.2,0-0.4-0.1-0.6-0.2L45.6,43.7c-0.3-0.3-0.3-0.9,0-1.2s0.9-0.3,1.2,0l10.6,10.6c0.3,0.3,0.3,0.9,0,1.2C57.3,54.5,57.1,54.6,56.9,54.6z"></path> 
																	</g> 
																</g> 
															</svg>
														</div>
													</div>
													<div class="col medium-6 small-12 large-6">
														<div class="col-inner text-center">
															<div role="form" class="wpcf7" id="wpcf7-f18581-p5958-o2" lang="vi" dir="ltr">
																<div class="screen-reader-response"></div>
																<form action="https://devteam.mobi/crm-la-gi-dich-vu-lap-trinh-crm-cho-doanh-nghiep/#wpcf7-f18581-p5958-o2" method="post" class="wpcf7-form" novalidate="novalidate">
																	<div style="display: none;"> 
																		<input type="hidden" name="_wpcf7" value="18581"> 
																		<input type="hidden" name="_wpcf7_version" value="5.1.3"> 
																		<input type="hidden" name="_wpcf7_locale" value="vi"> 
																		<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f18581-p5958-o2"> 
																		<input type="hidden" name="_wpcf7_container_post" value="5958">
																	</div>
																	<div class="form-contact-footer-all-post"> 
																		<span class="wpcf7-form-control-wrap your-name">
																			<input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Tên của bạn">
																		</span>
																		<p></p>
																		<p>
																			<br>
																			<br> 
																			<span class="wpcf7-form-control-wrap your-email">
																				<input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email hoặc số điện thoại">
																			</span>
																		</p>
																		<p>
																			<br>
																			<br> 
																			<span class="wpcf7-form-control-wrap your-message">
																				<textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Mô tả ý tưởng"></textarea>
																			</span>
																		</p>
																		<p>
																			<input type="submit" value="Gửi yêu cầu" class="wpcf7-form-control wpcf7-submit">
																			<span class="ajax-loader"></span>
																		</p>
																	</div>
																	<p>
																		<input type="hidden" name="wpcf7_telegram" value="1">
																	</p>
																	<div class="wpcf7-response-output wpcf7-display-none"></div>
																	<input type="hidden" name="HYFJSW" value="RBpeTd">
																	<input type="hidden" name="HPQVfDxbI" value="MG6pwQ5.A">
																	<input type="hidden" name="Ar-dxgalbB" value="RsI8QNXYK3">
																	<input type="hidden" name="SVEvXq-yM" value="KJCi7wHcg">
																</form>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="entry-author author-box">
									<div class="flex-row align-top">
										<div class="flex-col mr circle">
											<div class="blog-author-image"> 
												<img alt="" src="./../../assets/71bd20c82a7f7e4dc1cdcafc95192d9f.png" data-src="https://secure.gravatar.com/avatar/71bd20c82a7f7e4dc1cdcafc95192d9f?s=90&amp;d=mm&amp;r=g" srcset="https://secure.gravatar.com/avatar/71bd20c82a7f7e4dc1cdcafc95192d9f?s=180&amp;d=mm&amp;r=g 2x" data-srcset="https://secure.gravatar.com/avatar/71bd20c82a7f7e4dc1cdcafc95192d9f?s=180&amp;d=mm&amp;r=g 2x" class="avatar avatar-90 photo lazy-load-active" height="90" width="90">
											</div>
										</div>
										<div class="flex-col flex-grow">
											<h5 class="author-name uppercase pt-half"> Trương Tú</h5>
											<p class="author-desc small"></p>
										</div>
									</div>
								</div>
								<nav role="navigation" id="nav-below" class="navigation-post">
									<div class="flex-row next-prev-nav bt bb">
										<div class="flex-col flex-grow nav-prev text-left">
											<div class="nav-previous">
												<a href="https://devteam.mobi/con-sot-moi-tu-remitano-san-mua-ban-bitcoin-va-cac-loai-tien-ao/" rel="prev"><span class="hide-for-small"><i class="icon-angle-left"></i></span> “Cơn sốt mới” từ Remitano – Sàn mua bán Bitcoin và các loại tiền ảo</a>
											</div>
										</div>
										<div class="flex-col flex-grow nav-next text-right">
											<div class="nav-next">
												<a href="https://devteam.mobi/chuyen-gi-se-xay-ra-khi-dung-cac-phan-mem-cham-soc-khach-hang-mien-phi/" rel="next">Chuyện Gì Sẽ Xảy Ra Khi Dùng Các Phần Mềm Chăm Sóc Khách Hàng Miễn Phí? <span class="hide-for-small"><i class="icon-angle-right"></i></span></a>
											</div>
										</div>
									</div>
								</nav>
							</div>
						</article>
						<div id="comments" class="comments-area"></div>
					</div>
					<div class="post-sidebar large-3 col">
						<div id="secondary" class="widget-area " role="complementary">
							<aside id="custom_html-3" class="widget_text widget widget_custom_html">
								<div class="textwidget custom-html-widget">
									<div class="fb-page fb_iframe_widget" data-href="https://www.facebook.com/devteam.mobi/" data-width="380" data-hide-cover="false" data-show-facepile="false" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=&amp;container_width=217&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fdevteam.mobi%2F&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=false&amp;width=380">
										<span style="vertical-align: bottom; width: 217px; height: 130px;">
											<iframe name="f33f59d1f2c755" width="380px" height="1000px" title="fb:page Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="./../../assets/page.html" style="border: none; visibility: visible; width: 217px; height: 130px;" class=""></iframe>
										</span>
									</div>
								</div>
							</aside>
							<aside id="search-2" class="widget widget_search">
								<span class="widget-title "><span>Tìm kiếm</span></span>
								<div class="is-divider small"></div>
								<form method="get" class="searchform" action="https://devteam.mobi/" role="search">
									<div class="flex-row relative">
										<div class="flex-col flex-grow"> 
											<input type="search" class="search-field mb-0" name="s" value="" id="s" placeholder="Search…" autocomplete="off">
										</div>
										<div class="flex-col"> 
											<button type="submit" class="ux-search-submit submit-button secondary button icon mb-0"> <i class="icon-search"></i> </button>
										</div>
									</div>
									<div class="live-search-results text-left z-top">
										<div class="autocomplete-suggestions" style="position: absolute; display: none; max-height: 300px; z-index: 9999;"></div>
									</div>
								</form>
							</aside>
							<aside id="relatedpoststhumbnailswidget-2" class="widget relpoststh_widget"> 
								<span class="widget-title "> Bài viết liên quan </span>
								<div class="is-divider small"></div>
								<div class="relpost-thumb-wrapper">
									<div class="border-d" style=" height: 4px; background: red; width: 50px; position: absolute; top: 70px;; "></div>
									<div class="post-hover-v">
										<div class="relpost-block-container">
											<div class="wrap-relpost" style="width: 250px; height: 325px;">
												<a class="relpost-block-single" href="https://devteam.mobi/top-5-ly-do-nen-phat-trien-he-thong-erp-cho-doanh-nghiep/">
													<div class="relpost-block-single-text" style="font-family: Arial;  font-size: 14px;  color: #333333;">
														<span class="color_number_related">01<img src="./../../assets/i_bacham.svg" style="padding: 0px 2px 1px 1px;width: 5px;"></span>Top 5 Lý Do Nên Phát Triển Hệ Thống ERP Cho Doanh Nghiệp
													</div>
													<div class="border-d"></div>
													<div class="relpost-block-single-image" alt="Top 5 Lý Do Nên Phát Triển Hệ Thống ERP Cho Doanh Nghiệp" style=" background: transparent url(https://devteam.mobi/wp-content/uploads/2019/06/mfg-05.gif) no-repeat scroll 0% 0%; width: 250px; height: 250px;     background-size: cover;">
														<div class="border-div-img"></div>
													</div> 
												</a>
												<div class="wrap-link-relpost"> 
													<a href="https://devteam.mobi/top-5-ly-do-nen-phat-trien-he-thong-erp-cho-doanh-nghiep/" style="display: block; position: relative; min-width: inherit;margin-bottom: unset;font-weight: 600;top:5px;color: #555555; ">ĐỌC CHI TIẾT<img src="./../../assets/i_retangle.svg" style="width: 15px; padding: 4px;  top: -2px;  position: relative; left: 0px;"></a>
													<div class="date_post_v"> 
														<span class="related_post_date" style=" transform: skewX(20deg); display: block; color: red;text-align: center;">16/06/2019</span>
													</div>
												</div>
											</div>
										</div>
										<div style="clear: both"></div>
									</div>
									<div class="post-hover-v">
										<div class="relpost-block-container">
											<div class="wrap-relpost" style="width: 250px; height: 325px;">
												<a class="relpost-block-single" href="https://devteam.mobi/top-10-phan-mem-erp-quan-tri-doanh-nghiep-tot-nhat/">
													<div class="relpost-block-single-text" style="font-family: Arial;  font-size: 14px;  color: #333333;">
														<span class="color_number_related">02<img src="./../../assets/i_bacham.svg" style="padding: 0px 2px 1px 1px;width: 5px;"></span>Top 10 Phần Mềm ERP Quản Trị Doanh Nghiệp Tốt Nhất
													</div>
													<div class="border-d"></div>
													<div class="relpost-block-single-image" alt="Top 10 Phần Mềm ERP Quản Trị Doanh Nghiệp Tốt Nhất" style=" background: transparent url(https://devteam.mobi/wp-content/uploads/2019/04/erp-banner.png) no-repeat scroll 0% 0%; width: 250px; height: 250px;     background-size: cover;">
														<div class="border-div-img"></div>
													</div> 
												</a>
												<div class="wrap-link-relpost"> 
													<a href="https://devteam.mobi/top-10-phan-mem-erp-quan-tri-doanh-nghiep-tot-nhat/" style="display: block; position: relative; min-width: inherit;margin-bottom: unset;font-weight: 600;top:5px;color: #555555; ">ĐỌC CHI TIẾT<img src="./../../assets/i_retangle.svg" style="width: 15px; padding: 4px;  top: -2px;  position: relative; left: 0px;"></a>
													<div class="date_post_v"> 
														<span class="related_post_date" style=" transform: skewX(20deg); display: block; color: red;text-align: center;">28/04/2019</span>
													</div>
												</div>
											</div>
										</div>
										<div style="clear: both"></div>
									</div>
									<div class="post-hover-v">
										<div class="relpost-block-container">
											<div class="wrap-relpost" style="width: 250px; height: 325px;">
												<a class="relpost-block-single" href="https://devteam.mobi/sap-erp-la-gi-han-che-cua-phan-mem-sap-erp/">
													<div class="relpost-block-single-text" style="font-family: Arial;  font-size: 14px;  color: #333333;">
														<span class="color_number_related">03<img src="./../../assets/i_bacham.svg" style="padding: 0px 2px 1px 1px;width: 5px;"></span>SAP ERP Là Gì? Hạn Chế Của Phần Mềm SAP ERP
													</div>
													<div class="border-d"></div>
													<div class="relpost-block-single-image" alt="SAP ERP Là Gì? Hạn Chế Của Phần Mềm SAP ERP" style=" background: transparent url(https://devteam.mobi/wp-content/uploads/2019/06/pm-software-explained_L-min.jpg) no-repeat scroll 0% 0%; width: 250px; height: 250px;     background-size: cover;">
														<div class="border-div-img"></div>
													</div> 
												</a>
												<div class="wrap-link-relpost"> 
													<a href="https://devteam.mobi/sap-erp-la-gi-han-che-cua-phan-mem-sap-erp/" style="display: block; position: relative; min-width: inherit;margin-bottom: unset;font-weight: 600;top:5px;color: #555555; ">ĐỌC CHI TIẾT<img src="./../../assets/i_retangle.svg" style="width: 15px; padding: 4px;  top: -2px;  position: relative; left: 0px;"></a>
													<div class="date_post_v"> 
														<span class="related_post_date" style=" transform: skewX(20deg); display: block; color: red;text-align: center;">17/06/2019</span>
													</div>
												</div>
											</div>
										</div>
										<div style="clear: both"></div>
									</div>
									<div class="post-hover-v">
										<div class="relpost-block-container">
											<div class="wrap-relpost" style="width: 250px; height: 325px;">
												<a class="relpost-block-single" href="https://devteam.mobi/review-dich-vu-tu-van-va-thiet-ke-he-thong-erp-cua-devteam/">
													<div class="relpost-block-single-text" style="font-family: Arial;  font-size: 14px;  color: #333333;">
														<span class="color_number_related">04<img src="./../../assets/i_bacham.svg" style="padding: 0px 2px 1px 1px;width: 5px;"></span>Review Dịch Vụ Tư Vấn Và Thiết Kế Hệ Thống ERP Của DevTeam
													</div>
													<div class="border-d"></div>
													<div class="relpost-block-single-image" alt="Review Dịch Vụ Tư Vấn Và Thiết Kế Hệ Thống ERP Của DevTeam" style=" background: transparent url(https://devteam.mobi/wp-content/uploads/2019/06/thiet-ke-phan-mem-ERP.png) no-repeat scroll 0% 0%; width: 250px; height: 250px;     background-size: cover;">
														<div class="border-div-img"></div>
													</div> 
												</a>
												<div class="wrap-link-relpost"> 
													<a href="https://devteam.mobi/review-dich-vu-tu-van-va-thiet-ke-he-thong-erp-cua-devteam/" style="display: block; position: relative; min-width: inherit;margin-bottom: unset;font-weight: 600;top:5px;color: #555555; ">ĐỌC CHI TIẾT<img src="./../../assets/i_retangle.svg" style="width: 15px; padding: 4px;  top: -2px;  position: relative; left: 0px;"></a>
													<div class="date_post_v"> 
														<span class="related_post_date" style=" transform: skewX(20deg); display: block; color: red;text-align: center;">19/06/2019</span>
													</div>
												</div>
											</div>
										</div>
										<div style="clear: both"></div>
									</div>
									<div class="post-hover-v">
										<div class="relpost-block-container">
											<div class="wrap-relpost" style="width: 250px; height: 325px;">
												<a class="relpost-block-single" href="https://devteam.mobi/oracle-erp-la-gi-han-che-cua-phan-mem-oracle-erp/">
													<div class="relpost-block-single-text" style="font-family: Arial;  font-size: 14px;  color: #333333;">
														<span class="color_number_related">05<img src="./../../assets/i_bacham.svg" style="padding: 0px 2px 1px 1px;width: 5px;"></span>ORACLE ERP Là Gì? Hạn Chế Của Phần Mềm ORACLE ERP
													</div>
													<div class="border-d"></div>
													<div class="relpost-block-single-image" alt="ORACLE ERP Là Gì? Hạn Chế Của Phần Mềm ORACLE ERP" style=" background: transparent url(https://devteam.mobi/wp-content/uploads/2019/06/Startup-Tools-min.jpg) no-repeat scroll 0% 0%; width: 250px; height: 250px;     background-size: cover;">
														<div class="border-div-img"></div>
													</div> 
												</a>
												<div class="wrap-link-relpost"> 
													<a href="https://devteam.mobi/oracle-erp-la-gi-han-che-cua-phan-mem-oracle-erp/" style="display: block; position: relative; min-width: inherit;margin-bottom: unset;font-weight: 600;top:5px;color: #555555; ">ĐỌC CHI TIẾT<img src="./../../assets/i_retangle.svg" style="width: 15px; padding: 4px;  top: -2px;  position: relative; left: 0px;"></a>
													<div class="date_post_v"> 
														<span class="related_post_date" style=" transform: skewX(20deg); display: block; color: red;text-align: center;">15/06/2019</span>
													</div>
												</div>
											</div>
										</div>
										<div style="clear: both"></div>
									</div>
									<div class="post-hover-v">
										<div class="relpost-block-container">
											<div class="wrap-relpost" style="width: 250px; height: 325px;">
												<a class="relpost-block-single" href="https://devteam.mobi/odoo-la-gi-tim-hieu-chi-tiet-ve-phan-mem-odoo/">
													<div class="relpost-block-single-text" style="font-family: Arial;  font-size: 14px;  color: #333333;">
														<span class="color_number_related">06<img src="./../../assets/i_bacham.svg" style="padding: 0px 2px 1px 1px;width: 5px;"></span>Odoo Là Gì? Tìm Hiểu Chi Tiết Về Phần Mềm Odoo
													</div>
													<div class="border-d"></div>
													<div class="relpost-block-single-image" alt="Odoo Là Gì? Tìm Hiểu Chi Tiết Về Phần Mềm Odoo" style=" background: transparent url(https://devteam.mobi/wp-content/uploads/2019/05/Ma-nguon-mo-ERP-06-1-min.jpg) no-repeat scroll 0% 0%; width: 250px; height: 250px;     background-size: cover;">
														<div class="border-div-img"></div>
													</div> 
												</a>
												<div class="wrap-link-relpost"> 
													<a href="https://devteam.mobi/odoo-la-gi-tim-hieu-chi-tiet-ve-phan-mem-odoo/" style="display: block; position: relative; min-width: inherit;margin-bottom: unset;font-weight: 600;top:5px;color: #555555; ">ĐỌC CHI TIẾT<img src="./../../assets/i_retangle.svg" style="width: 15px; padding: 4px;  top: -2px;  position: relative; left: 0px;"></a>
													<div class="date_post_v"> 
														<span class="related_post_date" style=" transform: skewX(20deg); display: block; color: red;text-align: center;">20/05/2019</span>
													</div>
												</div>
											</div>
										</div>
										<div style="clear: both"></div>
									</div>
								</div>
							</aside>
						</div>
					</div>
				</div>
			</div>
		</main>
		<%- include("./../layout/footer"); -%>
	</div>
	<%- include("./../layout/hotline"); -%>
	<div class="block-profile-capacity"> 
		<img class="icon-doc" src="./../../assets/file.svg"> 
		<img class="icon-devteam" src="./../../assets/devteam-logo.svg"> 
		<a href="https://devteam.mobi/ho-so-nang-luc-devteam.pdf" target="_blank" class="link-sub"></a>
	</div>
	<%- include("./../layout/sidebar"); -%>
	<div style="display:none"><div class="grofile-hash-map-71bd20c82a7f7e4dc1cdcafc95192d9f"></div></div> 
	<script id="lazy-load-icons">
		var fl_icons = document.createElement('link');
		fl_icons.rel = 'stylesheet';
		fl_icons.href = 'https://devteam.mobi/wp-content/themes/flatsome/assets/css/fl-icons.css';
		fl_icons.type = 'text/css';
		var fl_icons_insert = document.getElementsByTagName('link')[0];
		fl_icons_insert.parentNode.insertBefore(fl_icons, fl_icons_insert);
	</script> 
	<script type="text/javascript">var wpcf7 = {"apiSettings":{"root":"https:\/\/devteam.mobi\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"},"cached":"1"};</script> 
	<script type="text/javascript" src="./../../assets/devicepx-jetpack.js"></script> 
	<script type="text/javascript">var tocplus = {"visibility_show":"hi\u1ec7n","visibility_hide":"\u1ea9n","visibility_hide_by_default":"1","width":"Auto"};</script> 
	<script type="text/javascript" src="./../../assets/gprofiles.js"></script> 
	<script type="text/javascript">var WPGroHo = {"my_hash":""};</script> 
	<script type="text/javascript">var flatsomeVars = {"ajaxurl":"https:\/\/devteam.mobi\/wp-admin\/admin-ajax.php","rtl":"","sticky_height":"70","user":{"can_edit_pages":false}};</script> 
	<%- include("./../layout/form-show"); -%>
	<script>
		function setCookie(name,value,days) {
			var expires = '';
			if (days) {
				var date = new Date();
				date.setTime(date.getTime() + (days*24*60*60*1000));
				expires = 'expires=' + date.toUTCString();
			}
			document.cookie = name + '=' + (value || '') ;
		}
		function getCookie(name) {
			var nameEQ = name + '=';
			var ca = document.cookie.split(';');
			for(var i=0;i < ca.length;i++) {
				var c = ca[i];
				while (c.charAt(0)==' ') c = c.substring(1,c.length);
				if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
			}
			return null;
		}
		function msToTime(duration) {
			var milliseconds = parseInt((duration % 1000) / 100),
			seconds = Math.floor((duration / 1000) % 60),
			minutes = Math.floor((duration / (1000 * 60)) % 60),
			hours = Math.floor((duration / (1000 * 60 * 60)) % 24);
			hours = (hours < 10) ? '0' + hours : hours;
			minutes = (minutes < 10) ? '0' + minutes : minutes;
			seconds = (seconds < 10) ? '0' + seconds : seconds;
			return hours ;
		}
		if(!getCookie('access_websites')){
			setCookie('access_websites', new Date(), 4555858);
			setTimeout(function(){
				jQuery('.wp-form-show').addClass('active');
			},10000);
		}else{
			var datecookie = (new Date(getCookie('access_websites'))).getTime();
			var today = (new Date()).getTime();
			var result = today - datecookie;
			var subdate = msToTime(result);
			if(subdate && subdate > 24){
				setCookie('access_websites', new Date(), 4555858);
				setTimeout(function(){
					jQuery('.wp-form-show').addClass('active');
				},10000);
			}
		}
		jQuery(document).ready(function(){ 
			jQuery('.wp-form-show .overlays').click(function(){
				jQuery('.wp-form-show').removeClass('active');
			});
			jQuery('.remove-icon').click(function(){
				jQuery('.wp-form-show').removeClass('active');
				$(this).removeClass('overlays');
			});
		});
	</script> 
	<div class="sidebar-footer"><span class="hidden" style="display:none">10000</span></div>
	<%- include("./../layout/form-show-phone"); -%>
	<%- include("./../layout/layout-footer"); -%>