<%- include("./../layout/layout-header"); -%>
<body class="post-template-default single single-post postid-13461 single-format-standard full-width lightbox lazy-icons nav-dropdown-has-arrow">
	<%- include("./../layout/contact-sidebar"); -%>
	<a class="skip-link screen-reader-text" href="https://devteam.mobi/nhan-viet-app-di-dong-tren-nen-tang-android-va-ios/#main">Skip to content</a>
	<div id="wrapper">
		<%- include("./../layout/header"); -%>
		<div class="page-title blog-featured-title featured-title no-overflow">
			<div class="page-title-bg fill">
				<div class="title-bg fill bg-fill bg-top parallax-active" style="background-image: url(&quot;https://devteam.mobi/wp-content/uploads/2019/04/ux-ios-android-1.jpg&quot;); height: 341px; transform: translate3d(0px, -10.22px, 0px); backface-visibility: hidden;" data-parallax-fade="true" data-parallax="-2" data-parallax-background="" data-parallax-container=".page-title"></div>
				<div class="title-overlay fill" style="background-color: rgba(0,0,0,.5)"></div>
			</div>
			<div class="page-title-inner container  flex-row  dark is-large" style="min-height: 300px">
				<div class="flex-col flex-center text-center">
					<h6 class="entry-category is-xsmall"> 
						<a href="https://devteam.mobi/chuyen-muc/doanh-nghiep/" rel="category tag">Doanh nghiệp</a>, <a href="https://devteam.mobi/chuyen-muc/doanh-nghiep/ung-dung-mobile/" rel="category tag">Ứng dụng mobile</a>
					</h6>
					<h1 class="entry-title">Nhận Viết App Phần Mềm Di Động Trên Nền Tảng Android Và IOS</h1>
					<div class="entry-divider is-divider small"></div>
					<div class="entry-meta uppercase is-xsmall"> 
						<span class="posted-on dev">Ngày Đăng <time class="entry-date published" datetime="2019-04-14T22:26:50+07:00">14 Tháng Tư, 2019</time><time class="updated" datetime="2019-09-09T16:23:19+07:00">9 Tháng Chín, 2019</time></span><span class="byline"> by <span class="meta-author vcard">Trương Tú</span></span>
					</div>
				</div>
			</div>
		</div>
		<main id="main" class="">
		    <div id="content" class="blog-wrapper blog-single page-wrapper">
		        <div class="row row-large row-divided ">
		            <div class="large-9 col">
		                <article id="post-13461" class="post-13461 post type-post status-publish format-standard has-post-thumbnail hentry category-doanh-nghiep category-ung-dung-mobile tag-dia-chi-lap-trinh-ung-dung-di-dong tag-lam-app-mobile tag-lap-trinh-mobile-da-nen-tang tag-thiet-ke-app-chuyen-nghiep tag-thiet-ke-app-mobile tag-thiet-ke-ung-dung-di-dong">
		                    <div class="article-inner ">
		                        <div class="entry-content single-page">
		                            <p>Thị trường ứng dụng di động đã và đang là một “mảnh đất” màu mỡ dành cho các chủ đầu tư. Đây được xem là một trong những cơ hội làm giàu hiệu quả của thời đại 4.0 hiện nay. Các công ty công nghệ mọc lên như nấm, chuyên về nhiều
		                                lĩnh vực ngách của thị trường công nghệ này. Cũng vì điểm này mà khách hàng không biết nên chọn đơn vị nào để <strong>viết app</strong> cho ý tưởng của mình, dù là hệ điều hành <strong>Android</strong> hay <strong>iOS</strong>.</p>
		                            <p>Đáp ứng nhu cầu này, đã có khá nhiều những dịch vụ viết ứng dụng di động được ra đời. Và trong “hằng hà sa số” những nơi lập trình ứng dụng đó, thì đâu là địa chỉ đáng tin cậy nhất? Câu trả lời sẽ nằm ngay trong bài viết sau
		                                đây, mời bạn đọc quan tâm cùng theo dõi bài viết!</p>
		                            <div id="toc_container" class="no_bullets contracted" style="width: auto; display: table;">
		                                <p class="toc_title">Mục Lục <span class="toc_toggle">[<a href="#">hiện</a>]</span></p>
		                                <ul class="toc_list" style="display: none;">
		                                    <li><a href="#Viet_ung_dung_di_dong_tren_nen_tang_Android_va_iOS_viet_App_la_gi"><span class="toc_number toc_depth_1">1</span> Viết ứng dụng di động trên nền tảng Android và iOS (viết App) là gì?</a>
		                                        <ul>
		                                            <li><a href="#_Ung_dung_di_dong_la_gi"><span class="toc_number toc_depth_2">1.1</span> ✓&nbsp; Ứng dụng di động là gì?</a></li>
		                                            <li><a href="#_Dich_vu_viet_ung_dung_di_dong_la_gi"><span class="toc_number toc_depth_2">1.2</span> ✓&nbsp; Dịch vụ viết ứng dụng di động là gì?</a></li>
		                                        </ul>
		                                    </li>
		                                    <li><a href="#Nen_chon_thiet_ke_App_mobile_chuyen_nghiep_hay_gia_re"><span class="toc_number toc_depth_1">2</span> Nên chọn thiết kế App mobile chuyên nghiệp hay giá rẻ?</a>
		                                        <ul>
		                                            <li>
		                                                <ul>
		                                                    <li><a href="#CHO_DA"><span class="toc_number toc_depth_3">2.0.1</span> CHỜ ĐÃ</a></li>
		                                                </ul>
		                                            </li>
		                                        </ul>
		                                    </li>
		                                    <li><a href="#Goi_y_dia_chi_lam_va_viet_app_doc_quyen_cho_iOS_8211_Android_chuyen_nghiep"><span class="toc_number toc_depth_1">3</span> Gợi ý địa chỉ làm và viết app độc quyền cho iOS – Android chuyên nghiệp</a></li>
		                                    <li><a href="#DevTeam_8211_Cong_ty_thiet_ke_ung_dung_di_dong_8211_Viet_App_Android_iOS"><span class="toc_number toc_depth_1">4</span> DevTeam – Công ty thiết kế ứng dụng di động – Viết App Android &amp; iOS</a></li>
		                                    <li><a href="#Bao_gia_dich_vu_viet_app_cho_he_dieu_hanh_Android_8211_iOS_tai_DevTeam"><span class="toc_number toc_depth_1">5</span> Báo giá dịch vụ viết app cho hệ điều hành Android – iOS tại DevTeam</a>
		                                        <ul>
		                                            <li>
		                                                <ul>
		                                                    <li><a href="#CHO_DA-2"><span class="toc_number toc_depth_3">5.0.1</span> CHỜ ĐÃ</a></li>
		                                                </ul>
		                                            </li>
		                                        </ul>
		                                    </li>
		                                    <li><a href="#Vi_sao_nen_chon_dich_vu_viet_app_Android_va_iOS_tai_Devteam"><span class="toc_number toc_depth_1">6</span> Vì sao nên chọn dịch vụ viết app Android và iOS tại Devteam ?</a></li>
		                                    <li><a href="#Danh_sach_nhung_ung_dung_di_dong_DevTeam_co_the_lam"><span class="toc_number toc_depth_1">7</span> Danh sách những ứng dụng di động DevTeam có thể làm</a>
		                                        <ul>
		                                            <li><a href="#_Ung_dung_rao_vat"><span class="toc_number toc_depth_2">7.1</span> ✓&nbsp; Ứng dụng rao vặt</a></li>
		                                            <li><a href="#_Ung_dung_thuong_mai_dien_tu"><span class="toc_number toc_depth_2">7.2</span> ✓&nbsp; Ứng dụng thương mại điện tử</a></li>
		                                            <li><a href="#_Ung_dung_van_tai"><span class="toc_number toc_depth_2">7.3</span> ✓&nbsp; Ứng dụng vận tải</a></li>
		                                            <li><a href="#_Ung_dung_tai_chinh_8211_cho_vay"><span class="toc_number toc_depth_2">7.4</span> ✓&nbsp; Ứng dụng tài chính – cho vay</a></li>
		                                            <li><a href="#_Ung_dung_tra_cuu_va_theo_doi_thong_tin"><span class="toc_number toc_depth_2">7.5</span> ✓&nbsp; Ứng dụng tra cứu và theo dõi thông tin</a></li>
		                                            <li><a href="#_Ung_dung_dat_ve_8211_book_phong"><span class="toc_number toc_depth_2">7.6</span> ✓&nbsp; Ứng dụng đặt vé – book phòng</a>
		                                                <ul>
		                                                    <li><a href="#CHO_DA-3"><span class="toc_number toc_depth_3">7.6.1</span> CHỜ ĐÃ</a></li>
		                                                </ul>
		                                            </li>
		                                        </ul>
		                                    </li>
		                                    <li><a href="#Loi_ket"><span class="toc_number toc_depth_1">8</span> Lời kết</a></li>
		                                </ul>
		                            </div>
		                            <h2><span id="Viet_ung_dung_di_dong_tren_nen_tang_Android_va_iOS_viet_App_la_gi">Viết ứng dụng di động trên nền tảng Android và iOS (viết App) là gì?</span></h2>
		                            <p>Trước khi tìm hiểu cụ thể về địa chỉ lập trình ứng dụng di động, địa chỉ nhận <a href="https://devteam.mobi/nhan-viet-app-di-dong-tren-nen-tang-android-va-ios/"><strong>viết app Android</strong></a> và iOS, thì chúng ta nên
		                                hiểu rõ ràng thế nào là ứng dụng di động – viết ứng dụng di động.</p>
		                            <h3><span id="_Ung_dung_di_dong_la_gi"><em>✓&nbsp; </em>Ứng dụng di động là gì?</span></h3>
		                            <p><a href="https://vi.wikipedia.org/wiki/%E1%BB%A8ng_d%E1%BB%A5ng_tr%C3%AAn_thi%E1%BA%BFt_b%E1%BB%8B_di_%C4%91%E1%BB%99ng"><strong>Ứng dụng di động</strong></a> có rất nhiều tên gọi khác nhau như: phần mềm ứng dụng trên thiết
		                                bị di động, ứng dụng, Mobile App, ứng dụng chạy trên thiết bị di động… Tất cả những tên gọi này dùng để chỉ một phần mềm ứng dụng với những chức năng đặc trưng, được lập trình và chạy trên một nền tảng nhất định (nhiều
		                                nhất vẫn là nền tảng Android và iOS).</p>
		                            <p>Những ứng dụng di động này được phân phối phổ biến tại các cửa hàng ứng dụng và được quản lý, điều hành bởi các chủ sở hữu của hệ điều hành. Ví dụ, những ứng dụng di động chạy trên nền tảng Android sẽ Google Play quản lý, điều
		                                hành.</p>
		                            <p>Mặt khác, những <strong>ứng dụng di động</strong> chạy trên nền tảng iOS sẽ được điều hành bởi Apple App store. Vậy nên, chủ đầu tư ứng dụng luôn cố gắng đem đến một ứng dụng hoàn hảo, có được lượt tải lớn và có thể xếp vị
		                                trí cao trong các cửa hàng ứng dụng này.</p>
		                            <figure style="width: 800px" class="wp-caption aligncenter"><img class="lazy-load" src="https://devteam.mobi/wp-content/themes/flatsome/assets/img/lazy.png" data-src="https://devteam.mobi/wp-content/uploads/2019/04/APP4-min-4.png" alt="thiết kế ứng dụng app mobile" width="800" height="494">
		                                <figcaption
		                                    class="wp-caption-text">Ứng dụng di động là gì?</figcaption>
		                            </figure>
		                            <p>Tuỳ theo đối tượng khách hàng mà chủ đầu tư hướng đến, họ sẽ viết những ứng dụng di động, app di động với những chức năng và đặc điểm riêng biệt khác nhau trên cả hai nền tảng lớn nhất hiện nay là Android và iOS.</p>
		                            <p>Tuy nhiên, mục đích chung của những ứng dụng di động này, vẫn là hướng đến sự tiện lợi cho người dùng và thu hút người dùng. Từ đó mà các chủ đầu tư có thể kiếm được lợi nhuận.</p>
		                            <h3><span id="_Dich_vu_viet_ung_dung_di_dong_la_gi"><em>✓&nbsp; </em>Dịch vụ viết ứng dụng di động là gì?</span></h3>
		                            <p>Viết ứng dụng di động, tức là việc thiết kế, xây dựng, bảo trì các chương trình phần mềm chạy trên nền tảng điện thoại di động. Có thể là Android hoặc là IOS với những ngôn ngữ lập trình khác nhau.</p>
		                            <p>Dù tạo App Android hay App iOS đều sẽ có những ưu thế riêng biệt. Cụ thể, hệ điều hành Android chiếm tới 85.9% thị phần di động trong năm qua.</p>
		                            <p>Nhưng một điều thú vị khác là số lượng người dùng Android có dự định nâng cấp lên iPhone mới đã tăng từ con số 12% lên 19%. Điều này cũng đồng nghĩa ứng dụng cho Apple hoàn toàn có thể “ăn” thị phần của Android trên toàn thế
		                                giới.</p>
		                            <p>Chính vì thế, mà việc lập trình App Android hay App iOS, đều là một hướng đi tiềm năng dành cho các chủ đầu tư.</p>
		                            <h2><span id="Nen_chon_thiet_ke_App_mobile_chuyen_nghiep_hay_gia_re">Nên chọn thiết kế App mobile chuyên nghiệp hay giá rẻ?</span></h2>
		                            <p>Với sự sôi động của thị trường ứng dụng di động – app mobile, đã thôi thúc hàng loạt những <a href="https://devteam.mobi/devteam-dia-chi-cung-cap-dich-vu-thiet-ke-app-mobile-chuyen-nghiep/"><strong>địa chỉ lập trình ứng dụng di động</strong></a>                                được ra đời. Điều này khiến không ít chủ đầu tư băn khoăn khi cần tìm đến một nơi lập trình mobile đa nền tảng – làm app mobile uy tín. Đặc biệt, câu hỏi về lựa chọn thiết kế App mobile chuyên nghiệp hay giá rẻ vẫn khiến
		                                không ít người đau đầu.</p>
		                            <figure id="attachment_17877" aria-describedby="caption-attachment-17877" style="width: 1494px" class="wp-caption aligncenter"><img class="lazy-load wp-image-17877 size-full" src="https://devteam.mobi/wp-content/themes/flatsome/assets/img/lazy.png" data-src="https://devteam.mobi/wp-content/uploads/2019/04/ung-dung-di-dong-min.png" alt="kể cả các app có hệ thống lớn như Messenger, Zalo Devteam đều có thể lập trình giống họ"
		                                    width="1494" height="733" srcset="" data-srcset="https://devteam.mobi/wp-content/uploads/2019/04/ung-dung-di-dong-min.png 1494w, https://devteam.mobi/wp-content/uploads/2019/04/ung-dung-di-dong-min-370x182.png 370w, https://devteam.mobi/wp-content/uploads/2019/04/ung-dung-di-dong-min-768x377.png 768w, https://devteam.mobi/wp-content/uploads/2019/04/ung-dung-di-dong-min-1024x502.png 1024w"
		                                    sizes="(max-width: 1494px) 100vw, 1494px">
		                                <figcaption id="caption-attachment-17877" class="wp-caption-text">Muốn cạnh tranh cùng thị trường ứng dụng di động sôi nổi, nhất định phải có được một ứng dụng di động chuyên nghiệp nhất.</figcaption>
		                            </figure>
		                            <p>Tuy nhiên, nếu là các chủ đầu tư có tầm nhìn, am hiểu về công nghệ, chắc chắn sẽ không bao giờ tìm đến những địa chỉ viết app Android hay iOS giá rẻ. Bởi, họ hiểu rằng, giá cả luôn đi đôi với chất lượng.</p>
		                            <p>Đặc biệt, đối với một thị trường đầy cạnh tranh như hiện nay, cùng hàng loạt những ứng dụng mới mẻ được ra đời, thì bất kỳ sự yếu kém nào, cũng có thể khiến việc đầu tư đi đến thất bại.</p>
		                            <p>Chính vì thế, một lời khuyên chân thành nhất cho các chủ đầu tư có ý định lập trình, kinh doanh ứng dụng di động, thì tốt nhất nên lựa chọn cho mình những địa chỉ lập trình uy tín, tên tuổi đáng tin cậy nhất.</p>
		                            <div class="panel"
		                                style="margin-bottom:20px;">
		                                <div class="panel-header">
		                                    <h4><span id="CHO_DA">CHỜ ĐÃ</span></h4>
		                                </div>
		                                <div class="panel-body"><span>Bạn cần tìm một địa chỉ lập trình app iOS – Android chuyên nghiệp? Vậy, hãy để chúng tôi giúp đỡ bạn!</span>
		                                    <div class="wp-link-shortcode"><a rel="nofollow" target="_blank" href="https://messenger.com/t/devteam.mobi" class="btn btn-read-more btn-animate"><span class="animated infinite zoomIn alo-ph-circle"></span>Tư vấn dịch vụ</a></div>
		                                </div>
		                            </div>
		                            <h2><span id="Goi_y_dia_chi_lam_va_viet_app_doc_quyen_cho_iOS_8211_Android_chuyen_nghiep">Gợi ý địa chỉ làm và viết app độc quyền cho iOS – Android chuyên nghiệp</span></h2>
		                            <p>Hiện nay trên thị trường, có khá nhiều những cái tên nổi trội trong lĩnh vực làm app mobile. Trong đó, cần phải kể đến các công ty “đàn anh” như: FPT Software, VNG &nbsp;Corp, Gameloft SE …</p>
		                            <p>Tuy nhiên, với quy mô khá tầm cỡ, to lớn, cùng những thị phần khách hàng khổng lồ, những công ty này thường không mảy may quan tâm đến các dự án vừa và nhỏ.</p>
		                            <p>Sau đây sẽ là một gợi ý khá hoàn hảo cho chủ đầu tư, cá nhân trong và ngoài nước khi cần lập trình một ứng dụng di động chuyên nghiệp nhất:</p>
		                            <h2><span id="DevTeam_8211_Cong_ty_thiet_ke_ung_dung_di_dong_8211_Viet_App_Android_iOS">DevTeam – Công ty thiết kế ứng dụng di động – Viết App Android &amp; iOS</span></h2>
		                            <p>Nằm trong danh sách các công ty thiết kế ứng dụng di động chuyên nghiệp nhất hiện nay tại Việt Nam, DevTeam chắc chắn sẽ là sự lựa chọn đáng tin cậy nhất lúc này dành cho quý đầu tư. Bởi vì, tại đây có:</p>
		                            <ul>
		                                <li>Đội ngũ lập trình viên chuyên nghiệp, có nhiều năm kinh nghiệm trong lập trình ứng dụng di động. Với hơn 15 dự án app mobile lớn nhỏ mỗi năm, DevTeam luôn tự tin sẽ đem đến cho chủ đầu tư những sản phẩm hoàn mỹ nhất.</li>
		                                <li>Đồng thời, đội ngũ DevTeam luôn cập những những công nghệ và xu hướng mới nhất thị trường, áp dụng vào những sản phẩm của mình. Đem đến cho quý khách hàng những app mobile chất lượng, hiện đại, đáp ứng nhu cầu của người
		                                    dùng.</li>
		                            </ul>
		                            <figure id="attachment_17952" aria-describedby="caption-attachment-17952" style="width: 800px" class="wp-caption aligncenter"><img class="lazy-load wp-image-17952 size-full" src="https://devteam.mobi/wp-content/themes/flatsome/assets/img/lazy.png" data-src="https://devteam.mobi/wp-content/uploads/2019/04/teamwork1-2.png" alt="công ty thiết kế ứng dụng di động chuyên nghiệp"
		                                    width="800" height="383" srcset="" data-srcset="https://devteam.mobi/wp-content/uploads/2019/04/teamwork1-2.png 800w, https://devteam.mobi/wp-content/uploads/2019/04/teamwork1-2-370x177.png 370w, https://devteam.mobi/wp-content/uploads/2019/04/teamwork1-2-768x368.png 768w"
		                                    sizes="(max-width: 800px) 100vw, 800px">
		                                <figcaption id="caption-attachment-17952" class="wp-caption-text">DevTeam – công ty thiết kế ứng dụng di động chuyên nghiệp</figcaption>
		                            </figure>
		                            <ul>
		                                <li>Hơn thế nữa, DevTeam còn có đội ngũ chuyên gia am hiểu về thị trường ứng dụng di động hiện nay. Họ sẽ là người hỗ trợ, tư vấn, đưa ra những giải pháp tối ưu nhất, giúp chủ đầu tư có được một ứng dụng độc đáo, chuyên nghiệp,
		                                    hiệu quả.</li>
		                                <li>Mức chi phí nhận viết app di động tại DevTeam cũng được đại đa số khách hàng hài lòng. Dù không phải là mức chi phí rẻ nhất, như những công ty lập trình nhỏ lẻ khác, nhưng chất lượng sản phẩm DevTeam đem đến sẽ là tốt nhất.</li>
		                            </ul>
		                            <h2><span id="Bao_gia_dich_vu_viet_app_cho_he_dieu_hanh_Android_8211_iOS_tai_DevTeam">Báo giá dịch vụ viết app cho hệ điều hành Android – iOS tại DevTeam</span></h2>
		                            <p>Tuy nhiên, tuỳ theo loại app, ngành nghề, cũng như những yêu cầu chuyên biệt từ quý khách hàng, mà mức chi phí để lập trình (thiết kế) app tại DevTeam sẽ có sự khác nhau theo từng dự án.</p>
		                            <p>Chính vì thế, nếu quý khách hàng muốn có một mức chi phí cụ thể nhất cho dự án của mình, thì xin đừng ngần ngại, cứ liên hệ trực tiếp với DevTeam, chúng tôi sẽ hỗ trợ cho quý vị.</p>
		                            <div class="panel" style="margin-bottom:20px;">
		                                <div class="panel-header">
		                                    <h4><span id="CHO_DA-2">CHỜ ĐÃ</span></h4>
		                                </div>
		                                <div class="panel-body"><span>Bạn đang cần một bảng báo giá chi tiết về dịch vụ làm app mobile? Vậy, hãy liên hệ ngay. DevTeam còn có những ưu đãi đặc biệt dành riêng cho bạn đấy!</span>
		                                    <div class="wp-link-shortcode"><a rel="nofollow" target="_blank" href="https://devteam.mobi/yeu-cau-bao-gia/" class="btn btn-read-more btn-animate linkprice"><span class="animated  alo-ph-blues "></span>Gửi báo giá</a><a rel="nofollow" target="_blank"
		                                            href="https://messenger.com/t/devteam.mobi" class="btn btn-read-more btn-animate"><span class="animated infinite zoomIn alo-ph-circle"></span>Tư vấn dịch vụ</a></div>
		                                </div>
		                            </div>
		                            <h2><span id="Vi_sao_nen_chon_dich_vu_viet_app_Android_va_iOS_tai_Devteam">Vì sao nên chọn dịch vụ viết app Android và iOS tại Devteam ?</span></h2>
		                            <p>Tại Devteam, ngoài chuyện bạn sẽ có đội ngũ các lập trình viên có tâm và có tầm, chúng tôi còn có chính sách bảo vệ khách hàng giúp bạn an tâm để gia công phần mềm mà bạn muốn tại Devteam.</p>
		                            <p>Mọi tính năng đều được giải quyết và chúng tôi sẽ còn gợi ý cho bạn nhiều nữa dựa vào kinh nghiệm của chúng tôi.</p>
		                            <p>Các ứng dụng mà Devteam gia công cho bạn sẽ mãi mãi là những ứng dụng mang tính cá nhân cao, đem lại sự hài lòng tuyệt đối cho quý khách.</p>
		                            <p>Mọi ứng dụng của Devteam làm cho bạn sẽ được tư vấn để phù hợp với ngân sách bạn đưa ra. Bảo đảm sẽ tối ưu tất cả chi phí cho cả hai bên.</p>
		                            <h2><span id="Danh_sach_nhung_ung_dung_di_dong_DevTeam_co_the_lam">Danh sách những ứng dụng di động DevTeam có thể làm</span></h2>
		                            <p>Sau đây là danh sách một số ứng dụng mobile mà DevTeam có thể đảm nhận hiệu quả, viết được một app hoàn hảo giống hệt vậy cho cả hai hệ điều hành Android &amp; iOS:</p>
		                            <h3><span id="_Ung_dung_rao_vat"><em>✓&nbsp; </em>Ứng dụng rao vặt</span></h3>
		                            <p>Các ứng dụng rao vặt xe ô tô, bất động sản, chợ đồ cũ…. là một trong các ứng dụng khá phổ biến hiện nay. Những cái tên nổi bật hiện tại cần kể đến như: Chợ tốt, 5miles, 5giay.vn, vatgia.com, nhattao.com…</p>
		                            <p>Nếu quý đầu tư muốn có một ứng dụng nổi bật tương tự các ứng dụng rao vặt này, thì DevTeam hoàn toàn có thể đảm nhận hiệu quả.</p>
		                            <figure id="attachment_17878" aria-describedby="caption-attachment-17878" style="width: 1493px"
		                                class="wp-caption aligncenter"><img class="lazy-load wp-image-17878 size-full" src="https://devteam.mobi/wp-content/themes/flatsome/assets/img/lazy.png" data-src="https://devteam.mobi/wp-content/uploads/2019/04/ung-dung-di-dong1-min.png" alt="Devteam viết app rao vặt trên hai nền tảng android và ios"
		                                    width="1493" height="643" srcset="" data-srcset="https://devteam.mobi/wp-content/uploads/2019/04/ung-dung-di-dong1-min.png 1493w, https://devteam.mobi/wp-content/uploads/2019/04/ung-dung-di-dong1-min-370x159.png 370w, https://devteam.mobi/wp-content/uploads/2019/04/ung-dung-di-dong1-min-768x331.png 768w, https://devteam.mobi/wp-content/uploads/2019/04/ung-dung-di-dong1-min-1024x441.png 1024w"
		                                    sizes="(max-width: 1493px) 100vw, 1493px">
		                                <figcaption id="caption-attachment-17878" class="wp-caption-text">Một số ứng dụng thương mại điện tử, ứng dụng rao vặt Devteam có thể lập trình tương tự.</figcaption>
		                            </figure>
		                            <h3><span id="_Ung_dung_thuong_mai_dien_tu"><em>✓&nbsp; </em>Ứng dụng thương mại điện tử</span></h3>
		                            <p>Các ứng dụng thương mại điện tử vẫn không ngừng làm mưa làm gió trên thị trường. Chính vì thế, ngày càng có nhiều hơn chủ đầu tư muốn góp vốn vào lĩnh vực này.</p>
		                            <p>Và DevTeam sẽ có thể hỗ trợ quý vị. Nếu quý vị mong muốn lập trình ứng dụng thương mại điện tử giống với Lazada, Shopee, Tiki, Sendo, Adayroi…. thì cũng có thể liên hệ trực tiếp với DevTeam chúng tôi.</p>
		                            <h3><span id="_Ung_dung_van_tai"><em>✓&nbsp; </em>Ứng dụng vận tải</span></h3>
		                            <p>Các ứng dụng gọi xe, ứng dụng giao hàng, giao thức ăn, giao hoa online &nbsp;vẫn không ngừng nâng cao về số lượng trên thị trường. Tuy nhiên, cũng không vì thế mà người ta ngần ngại đầu tư. Thậm chí, thị trường càng nở rộ,
		                                cạnh tranh cao, các chủ đầu tư lại càng hứng thú hơn.</p>
		                            <p>Đây chính là lý do vì sao nhiều chủ đầu tư vẫn mong muốn lập trình các ứng dụng giao hàng, giao thức ăn, ứng dụng gọi xe online, giao hoa online giống với: Grab, Go Viet, Go food, Delivery Now, Giao hàng nhanh, Giao hàng tiết
		                                kiệm, Lalamove, … Và nếu quý vị có một ý tưởng nào đó trong các ý tưởng này, muốn tìm một địa chỉ thiết kế app chuyên nghiệp thì có thể liên hệ trực tiếp với DevTeam chúng tôi.</p>
		                            <h3><span id="_Ung_dung_tai_chinh_8211_cho_vay"><em>✓&nbsp; </em>Ứng dụng tài chính – cho vay</span></h3>
		                            <p>Những ứng dụng tài chính, cho vay, giống với các ứng dụng: Timo, Fiin, homecredit.vn… vẫn đang khiến thị trường không ngừng sôi sục. Nhiều nhà đầu tư, chủ doanh nghiệp cũng mong muốn có được những ứng dụng tương tự. Và DevTeam
		                                cũng đã giúp khá nhiều chủ đầu tư hoàn thành mong muốn này.</p>
		                            <figure id="attachment_17876" aria-describedby="caption-attachment-17876" style="width: 1484px" class="wp-caption aligncenter"><img class="lazy-load wp-image-17876 size-full" src="https://devteam.mobi/wp-content/themes/flatsome/assets/img/lazy.png" data-src="https://devteam.mobi/wp-content/uploads/2019/04/ung-dung-di-dong-2-min.png" alt="Các app tài chính trên hệ điều hành Android"
		                                    width="1484" height="691" srcset="" data-srcset="https://devteam.mobi/wp-content/uploads/2019/04/ung-dung-di-dong-2-min.png 1484w, https://devteam.mobi/wp-content/uploads/2019/04/ung-dung-di-dong-2-min-370x172.png 370w, https://devteam.mobi/wp-content/uploads/2019/04/ung-dung-di-dong-2-min-768x358.png 768w, https://devteam.mobi/wp-content/uploads/2019/04/ung-dung-di-dong-2-min-1024x477.png 1024w"
		                                    sizes="(max-width: 1484px) 100vw, 1484px">
		                                <figcaption id="caption-attachment-17876" class="wp-caption-text">Một số ứng dụng tài chính khác, Devteam cũng có thể lập trình hiệu quả.</figcaption>
		                            </figure>
		                            <h3><span id="_Ung_dung_tra_cuu_va_theo_doi_thong_tin"><em>✓&nbsp; </em>Ứng dụng tra cứu và theo dõi thông tin</span></h3>
		                            <p>Ngoài ra, DevTeam cũng có thể đảm nhận hiệu quả các ứng dụng có chức năng tra cứu và theo dõi thông tin. Cụ thể như các ứng dụng: theo dõi điểm thi, theo dõi giá vàng, ngoại tệ, giá chứng khoán, thông tin cổ phiếu, theo dõi
		                                thời tiết, theo dõi định vị, …</p>
		                            <h3><span id="_Ung_dung_dat_ve_8211_book_phong"><em>✓&nbsp; </em>Ứng dụng đặt vé – book phòng</span></h3>
		                            <p>Traveloka, Trivago, Booking.com, Hilton HHonors, Hotwire Hotel &amp; Car Rental… cũng là những ứng dụng mà DevTeam có thể hỗ trợ chủ đầu tư lập trình, thiết kế tương tự.</p>
		                            <div class="panel" style="margin-bottom:20px;">
		                                <div class="panel-header">
		                                    <h4><span id="CHO_DA-3">CHỜ ĐÃ</span></h4>
		                                </div>
		                                <div class="panel-body"><span>Bạn muốn biết chi tiết về dịch vụ lập trình ứng dụng di động trên nền tảng Android và IOS tại Devteam? Vậy hãy liên hệ ngay tại đây, chúng tôi sẽ hỗ trợ tận tình nhất cho bạn!</span>
		                                    <div class="wp-link-shortcode"><a rel="nofollow" target="_blank" href="https://devteam.mobi/yeu-cau-bao-gia/" class="btn btn-read-more btn-animate linkprice"><span class="animated  alo-ph-blues "></span>Gửi báo giá</a><a rel="nofollow" target="_blank"
		                                            href="https://messenger.com/t/devteam.mobi" class="btn btn-read-more btn-animate"><span class="animated infinite zoomIn alo-ph-circle"></span>Tư vấn dịch vụ</a></div>
		                                </div>
		                            </div>
		                            <h2><span id="Loi_ket">Lời kết</span></h2>
		                            <p>Di động đang trở thành một trong những vật dụng “vật bất ly thân” của cộng đồng. Vì thế, các ứng dụng trên di động cũng sẽ là những điều không thể thiếu. Đương nhiên tương lai của các ứng dụng di động sẽ đem đến nhiều hứa hẹn.
		                                Vậy vậy, việc lập trình, thiết kế app chuyên nghiệp là điều mà các chủ đầu tư, các nhà lãnh đạo tài ba sẽ không thể nào bỏ qua.</p>
		                            <p>Tuy nhiên, để có thể kinh doanh ứng dụng di động, làm giàu cùng ứng dụng di động, thì các chủ đầu nhất định phải lựa chọn cho mình một địa chỉ thiết kế app mobile cho Android &amp; iOS chuyên nghiệp, uy tín nhất.</p>
		                            <p>Với đội ngũ nhân viên có tâm với nghề, luôn cập nhật xu thế, 5 năm qua Devteam luôn cung cấp cho khách hàng của mình những dịch vụ hoàn hảo nhất. Hãy liên lạc với chúng tôi để được tư vấn và hỗ trợ giải pháp phần mềm cho tổ
		                                chức, công ty của quý khách hàng. Liên hệ ngay với chúng tôi để đội ngũ nhân viên tư vấn riêng cho bạn, lập trình, viết app mobile dành cho Android – iOS “độc nhất” và chất lượng nhất cho riêng bạn nhé!</p>
		                            <div class="contact-st">
		                                <div class="ct-content">
		                                    <p></p>
		                                </div>
		                                <div class="ct-pos"></div>
		                                <div class="ct-border">
		                                    <div class="row">
		                                        <div class="col-lg-6 col-sm-12 ct-left"> <img class="lazy-load ct-logo" src="https://devteam.mobi/wp-content/themes/flatsome/assets/img/lazy.png" data-src="https://devteam.mobi/wp-content/uploads/2019/04/id_icon_logo_devteam.jpg" alt="">
		                                            <p> <i class="fas fa-map-marker-alt"></i>C4 – C8 Bửu Long Quận 10 <br> TPHCM</p>
		                                            <hr>
		                                        </div>
		                                        <div class="col-lg-6 col-sm-12 ct-right">
		                                            <ul>
		                                                <li>
		                                                    <p> <i class="fas fa-phone"></i> <a rel="nofollow" href="tel:0888884420">08.8888.4420</a></p>
		                                                </li>
		                                                <li>
		                                                    <p> <i class="far fa-envelope"></i> <a rel="nofollow" class="showfomrmmail">info@devteam.mobi</a></p>
		                                                </li>
		                                                <li>
		                                                    <p> <i class="fab fa-telegram-plane"></i> <a rel="nofollow" href="https://t.me/thainguyen1708">https://t.me/thainguyen1708</a></p>
		                                                </li>
		                                                <li>
		                                                    <p> <i class="fab fa-facebook-f"></i> <a rel="nofollow" href="https://www.facebook.com/devteam.mobi/">https://www.facebook.com/devteam.mobi/</a></p>
		                                                </li>
		                                            </ul>
		                                        </div>
		                                    </div>
		                                </div>
		                            </div>
		                            <div class="blog-share text-center">
		                                <div class="is-divider medium"></div>
		                                <div class="social-icons share-icons share-row relative"><a href="whatsapp://send?text=Nh%E1%BA%ADn%20Vi%E1%BA%BFt%20App%20Ph%E1%BA%A7n%20M%E1%BB%81m%20Di%20%C4%90%E1%BB%99ng%20Tr%C3%AAn%20N%E1%BB%81n%20T%E1%BA%A3ng%20Android%20V%C3%A0%20IOS - https://devteam.mobi/nhan-viet-app-di-dong-tren-nen-tang-android-va-ios/"
		                                        data-action="share/whatsapp/share" class="icon primary button circle tooltip whatsapp show-for-medium tooltipstered"><i class="icon-phone"></i></a><a href="//www.facebook.com/sharer.php?u=https://devteam.mobi/nhan-viet-app-di-dong-tren-nen-tang-android-va-ios/"
		                                        data-label="Facebook" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px');  return false;" rel="noopener noreferrer nofollow" target="_blank" class="icon primary button circle tooltip facebook tooltipstered"><i class="icon-facebook"></i></a>
		                                    <a
		                                        href="//twitter.com/share?url=https://devteam.mobi/nhan-viet-app-di-dong-tren-nen-tang-android-va-ios/" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px');  return false;" rel="noopener noreferrer nofollow"
		                                        target="_blank" class="icon primary button circle tooltip twitter tooltipstered"><i class="icon-twitter"></i></a><a href="mailto:enteryour@addresshere.com?subject=Nh%E1%BA%ADn%20Vi%E1%BA%BFt%20App%20Ph%E1%BA%A7n%20M%E1%BB%81m%20Di%20%C4%90%E1%BB%99ng%20Tr%C3%AAn%20N%E1%BB%81n%20T%E1%BA%A3ng%20Android%20V%C3%A0%20IOS&amp;body=Check%20this%20out:%20https://devteam.mobi/nhan-viet-app-di-dong-tren-nen-tang-android-va-ios/"
		                                            rel="nofollow" class="icon primary button circle tooltip email tooltipstered"><i class="icon-envelop"></i></a><a href="//pinterest.com/pin/create/button/?url=https://devteam.mobi/nhan-viet-app-di-dong-tren-nen-tang-android-va-ios/&amp;media=https://devteam.mobi/wp-content/uploads/2019/04/ux-ios-android-1.jpg&amp;description=Nh%E1%BA%ADn%20Vi%E1%BA%BFt%20App%20Ph%E1%BA%A7n%20M%E1%BB%81m%20Di%20%C4%90%E1%BB%99ng%20Tr%C3%AAn%20N%E1%BB%81n%20T%E1%BA%A3ng%20Android%20V%C3%A0%20IOS"
		                                            onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px');  return false;" rel="noopener noreferrer nofollow" target="_blank" class="icon primary button circle tooltip pinterest tooltipstered"><i class="icon-pinterest"></i></a>
		                                        <a
		                                            href="//plus.google.com/share?url=https://devteam.mobi/nhan-viet-app-di-dong-tren-nen-tang-android-va-ios/" target="_blank" class="icon primary button circle tooltip google-plus tooltipstered" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px');  return false;"
		                                            rel="noopener noreferrer nofollow"><i class="icon-google-plus"></i></a><a href="//www.linkedin.com/shareArticle?mini=true&amp;url=https://devteam.mobi/nhan-viet-app-di-dong-tren-nen-tang-android-va-ios/&amp;title=Nh%E1%BA%ADn%20Vi%E1%BA%BFt%20App%20Ph%E1%BA%A7n%20M%E1%BB%81m%20Di%20%C4%90%E1%BB%99ng%20Tr%C3%AAn%20N%E1%BB%81n%20T%E1%BA%A3ng%20Android%20V%C3%A0%20IOS"
		                                                onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px');  return false;" rel="noopener noreferrer nofollow" target="_blank" class="icon primary button circle tooltip linkedin tooltipstered"><i class="icon-linkedin"></i></a></div>
		                            </div>
		                            <div class="blog-share text-center">
		                                <div id="fb-root" class=" fb_reset">
		                                    <div style="position: absolute; top: -10000px; width: 0px; height: 0px;">
		                                        <div></div>
		                                        <div><iframe name="fb_xdm_frame_https" id="fb_xdm_frame_https" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tabindex="-1" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no"
		                                                allow="encrypted-media" src="https://staticxx.facebook.com/connect/xd_arbiter.php?version=44#channel=f1671b0c1454528&amp;origin=https%3A%2F%2Fdevteam.mobi" style="border: none;"></iframe></div>
		                                    </div>
		                                    <div class="fb-customerchat fb_invisible_flow fb_iframe_widget" attribution="setup_tool" page_id="713684975431254" theme_color="#e60100" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=&amp;attribution=setup_tool&amp;container_width=0&amp;locale=en_US&amp;page_id=713684975431254&amp;sdk=joey&amp;theme_color=%23e60100"><span style="vertical-align: bottom; width: 0px; height: 0px;"><iframe name="f1f0930ad6538" width="1000px" height="1000px" title="" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v3.2/plugins/customerchat.php?app_id=&amp;attribution=setup_tool&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D44%23cb%3Df2b1c28d9820a14%26domain%3Ddevteam.mobi%26origin%3Dhttps%253A%252F%252Fdevteam.mobi%252Ff1671b0c1454528%26relation%3Dparent.parent&amp;container_width=0&amp;locale=en_US&amp;page_id=713684975431254&amp;sdk=joey&amp;theme_color=%23e60100" style="border: none; visibility: visible; width: 288pt; height: 211px; border-radius: 9pt; bottom: 63pt; padding: 0px; position: fixed; right: 9pt; top: auto; z-index: 2147483647; max-height: 0px;" class="" data-testid="dialog_iframe"></iframe></span></div>
		                                    <div
		                                        class="fb_dialog  fb_dialog_advanced fb_customer_chat_bubble_animated_no_badge fb_customer_chat_bubble_pop_in" style="background: none; border-radius: 50%; bottom: 18pt; display: inline; height: 45pt; padding: 0px; position: fixed; right: 18pt; top: auto; width: 45pt; z-index: 2147483646;">
		                                        <div class="fb_dialog_content" style="background: none;"><iframe name="blank_f1f0930ad6538" width="60px" tabindex="-1" data-testid="bubble_iframe" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v3.2/plugins/customer_chat/bubble"
		                                                style="border: none;"></iframe></div>
			                                </div>
			                            </div>
			                            <script>
			                                (function (d, s, id) {
			                                    var js, fjs = d.getElementsByTagName(s)[0];
			                                    if (d.getElementById(id)) return;
			                                    js = d.createElement(s);
			                                    js.id = id;
			                                    js.src = "https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js";
			                                    fjs.parentNode.insertBefore(js, fjs);
			                                }(document, 'script', 'facebook-jssdk'));
			                            </script> 
		                            <span class="like">
		                            	<div class="fb-like fb_iframe_widget" data-href="https://devteam.mobi/nhan-viet-app-di-dong-tren-nen-tang-android-va-ios/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=&amp;container_width=773&amp;href=https%3A%2F%2Fdevteam.mobi%2Fnhan-viet-app-di-dong-tren-nen-tang-android-va-ios%2F&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small">
		                            		<span style="vertical-align: bottom; width: 128px; height: 20px;"><iframe name="f2dfb978801d044" width="1000px" height="1000px" title="fb:like Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v3.2/plugins/like.php?action=like&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D44%23cb%3Df34c90de690dac8%26domain%3Ddevteam.mobi%26origin%3Dhttps%253A%252F%252Fdevteam.mobi%252Ff1671b0c1454528%26relation%3Dparent.parent&amp;container_width=773&amp;href=https%3A%2F%2Fdevteam.mobi%2Fnhan-viet-app-di-dong-tren-nen-tang-android-va-ios%2F&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small" style="border: none; visibility: visible; width: 128px; height: 20px;" class=""></iframe></span>
		                        		</div>
		                        		<script src="https://apis.google.com/js/platform.js" async="" defer="" gapi_processed="true"></script>
				                        <div style="position: absolute; width: 450px; left: -10000px;" id="___plusone_0">
				                        	<iframe ng-non-bindable="" frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position:absolute;top:-10000px;width:450px;margin:0px;border-style:none" tabindex="0" vspace="0" width="100%" id="I0_1575218446470"
				                                name="I0_1575218446470" src="https://apis.google.com/u/0/se/0/_/+1/fastbutton?usegapi=1&amp;size=medium&amp;origin=https%3A%2F%2Fdevteam.mobi&amp;url=https%3A%2F%2Fdevteam.mobi%2Fnhan-viet-app-di-dong-tren-nen-tang-android-va-ios%2F&amp;gsrc=3p&amp;ic=1&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.vi.bhOcwFwDeIQ.O%2Fam%3DwQE%2Fd%3D1%2Fct%3Dzgms%2Frs%3DAGLTcCOJfe4DZgiKgF8O-54xAnev8cqanw%2Fm%3D__features__#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh&amp;id=I0_1575218446470&amp;_gfid=I0_1575218446470&amp;parent=https%3A%2F%2Fdevteam.mobi&amp;pfname=&amp;rpctoken=22776178"
				                                data-gapiattached="true"></iframe>
				                         </div>
		                        		<g:plusone size="medium" data-gapiscan="true" data-onload="true" data-gapistub="true"></g:plusone>
		                        	</span>
		                    	</div>
		            		</div>
							            <footer class="entry-meta text-left"> 
							            	Mục này đã được đăng trong <a href="https://devteam.mobi/chuyen-muc/doanh-nghiep/" rel="category tag">Doanh nghiệp</a>, <a href="https://devteam.mobi/chuyen-muc/doanh-nghiep/ung-dung-mobile/" rel="category tag">Ứng dụng mobile</a> and tagged
							                <a href="https://devteam.mobi/tag/dia-chi-lap-trinh-ung-dung-di-dong/" rel="tag">địa chỉ lập trình ứng dụng di động</a>, <a href="https://devteam.mobi/tag/lam-app-mobile/" rel="tag">làm app mobile</a>, <a href="https://devteam.mobi/tag/lap-trinh-mobile-da-nen-tang/"
							                    rel="tag">lập trình mobile đa nền tảng</a>, <a href="https://devteam.mobi/tag/thiet-ke-app-chuyen-nghiep/" rel="tag">thiết kế app chuyên nghiệp</a>, <a href="https://devteam.mobi/tag/thiet-ke-app-mobile/" rel="tag">thiết kế app mobile</a>,
							                <a href="https://devteam.mobi/tag/thiet-ke-ung-dung-di-dong/" rel="tag">thiết kế ứng dụng di động</a>.
							            </footer>
		            					<div class="form-contact-footer">
											<div class="message-box relative dark" style="padding-top:15px;padding-bottom:15px;">
												<div class="message-box-bg-image bg-fill fill"></div>
												<div class="message-box-bg-overlay bg-fill fill"></div>
												<div class="container relative">
													<div class="inner last-reset">
														<div class="row align-middle align-center" id="row-127403939">
															<div class="col title-contact medium-6 small-12 large-6">
																<div class="col-inner">
																	<p>Bạn có một<span class="highlight"> Ý TƯỞNG?</span></p>
																	<p>Chúng tôi có thể giúp bạn</p> 
																	<span class="highlight">THỰC HIỆN</span> nó!<br>
																	<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 150" xml:space="preserve" class="svg_idea"> 
																		<g> 
																			<path class="st0" d="M129.4,120.6c0,10.3-24.3,18.7-54.2,18.7c-29.9,0-54.2-8.4-54.2-18.7c0-10.3,24.3-18.7,54.2-18.7C105.1,101.9,129.4,110.3,129.4,120.6z"></path> 
																			<circle id="id_x5F_circle" class="st1" cx="75" cy="75.1" r="12.7296"> 
																				<animate accumulate="none" additive="replace" attributeName="r" calcMode="linear" dur="2s" fill="remove" from="0" repeatCount="indefinite" restart="always" to="75"> </animate> 
																			</circle> 
																			<g> 
																				<path class="st2" d="M40.9,114.6c0,0-0.5,0.7-0.3,1.1c0.1,0.4,1.4,1.3,2,1c0.6-0.3-0.4-0.9-0.5-1.8C41.9,114.1,40.9,114.6,40.9,114.6z"></path> 
																				<path class="st2" d="M47.8,115v0.8c0,0,1.8,0.8,2.4,0.5c0.6-0.3,0.6-0.4,0.3-0.6c-0.3-0.2-1.6-0.9-1.6-0.9L47.8,115z"></path> 
																				<path class="st3" d="M46.8,99.7c-0.1,0.1,0.1,1,2.7,1.4c2.6,0.4,4.7,0.8,4.7,0.8l0.1-1.1l-5.5-2C48.7,98.8,47.4,98.7,46.8,99.7z"></path> 
																				<path class="st4" d="M50.3,103.5c0-0.3,2-4.1,2-4.1l4-1.7l-2.2,4.2L50.3,103.5z"></path> 
																				<path class="st5" d="M47,109.1c0.3-0.1,0.6-0.1,1-0.2c0.4-0.2,0.8-0.4,1.1-0.6l0.5-6.7l-6.9-1.1l0.1,10l0,0c0.7,0.1,1.3,0.3,1.9,0.3l0.6-6.1l1.3-0.4L47,109.1z"></path> 
																				<path class="st5" d="M48,94.5v-2.6h-1.9l0,2.6C46.8,94.9,47.5,95.1,48,94.5z"></path> 
																				<path class="st5" d="M51.1,102.4l1.3-0.7l0.3,0.8c0,0-0.4,1-1.8,1C49.5,103.5,51.1,102.4,51.1,102.4z"></path> 
																				<path class="st5" d="M44.7,110.6l-2.9,4.7c0,0-0.7-0.3-0.9-0.7c-0.1-0.4,1.9-4.3,1.9-4.3L44.7,110.6z"></path> 
																				<polygon class="st5" points="44.7,110.6 46.4,103.7 44.5,103.7 43.8,109.2"></polygon> 
																				<polygon class="st5" points="49.1,108.2 49.1,115 47.8,115 47,109.1"></polygon> 
																				<path class="st6" d="M42.7,106.5c0,0,1.3,1.1,3.9,0.8c2.6-0.3,2.6-0.9,2.6-0.9l0.3-5.4l-4.8,0.3l-2,3.4V106.5z"></path> 
																				<path class="st3" d="M49.8,94.4c0.2,0.4,0.4,1.2,0.6,2.6c0.4,2.5,0.9,3.8,0,4.1c-0.9,0.3-1.5-0.9-1.5-0.9l0.3-6C49.2,94.2,49.8,94.3,49.8,94.4z"></path> 
																				<path class="st7" d="M49.5,94.8c0,0-2.2-0.5-4.5-0.4c0,0-2.5,0.6-2.4,3.1l0,1.6l0,3c0,0,1.8,1.6,4.2,0.9c2.3-0.6,2.7-1.6,2.7-1.6v-3.4v-2.8V94.8z"></path> <path class="st3" d="M43.3,96.1"></path> 
																				<path class="st7" d="M48.5,94.7l-0.1,1.6l-0.1,1.3c0,0-0.3-0.4-0.8-1c-0.6-0.7-1.2-1.5-1.2-1.5L48.5,94.7z"></path> 
																				<path class="st3" d="M48.7,94.1c0,0-0.1,0-0.2,0l-0.4,0.2c0,0,1.5,2.1,1.2,6.3c0,1.2-0.3,4.5-0.3,4.5s0.5-0.3,0.7-0.9c0.2-0.6,0.4-5.5,0.4-5.5l-0.4-4.2C49.4,94.3,49.1,94.2,48.7,94.1z"></path> 
																				<path class="st3" d="M45.6,94.2c0,0,0.9,2.1,1,4.9c0,2.7-0.5,6.7-0.5,6.7s-3.3,0.3-3.4-0.9c-0.1-1.2,0-8.2,0-8.2S42.8,94.9,45.6,94.2z"></path> 
																				<path class="st6" d="M42.7,96.9c0,0.1,1.1,2,1.1,2l0.8,2.5l1.8,1.1l-0.1,0.9c0,0-2.9-0.6-3.2-1.7C42.7,100.6,42.7,96.9,42.7,96.9z"></path> 
																				<path class="st3" d="M45.1,98.1c-0.4-2.5-0.6-3-1.2-3.2c0,0-1,0.3-1.3,2c-0.2,1.8,0.9,4.3,0.9,4.3s0.7,1.2,1.5,0.9C46,101.9,45.5,100.6,45.1,98.1z"></path> 
																				<path class="st8" d="M46.1,93.9c0,0,0.6,0.5,1.2,0.5C47.8,94.3,48,94,48,94l0-0.2l0.4,0l0.2,1.5l-0.9-0.6l-0.3,1c0,0-1.1-0.6-1.4-1c-0.3-0.3-0.3-0.6-0.3-0.6L46.1,93.9z"></path> 
																				<path class="st5" d="M50.4,90.7c0,1.7-1,4.4-3.1,3.1c-1.7-0.2-3.1-1.4-3.1-3.1c0-1.7,1.4-3.1,3.1-3.1C49,87.6,50.4,89,50.4,90.7z"></path> 
																				<path class="st3" d="M43.6,101.3c-0.1,0.1,0.1,1,2.7,1.4c2.6,0.4,4.7,0.8,4.7,0.8l0.1-1.1l-5.5-2C45.5,100.4,44.2,100.2,43.6,101.3z"></path> 
																				<path class="st9" d="M50.5,90.9c0,0,0-1.2-0.5-1.8c-0.5-0.6-1.5-2-3.7-1.4c-2.3,0.6-2.2,2.3-2.2,2.9c0,0.6,0.1,1.4,0.5,1.9c0.4,0.5,1.4,1.2,1.4,1.2l0-1.3c0,0-0.6-0.2-0.5-0.8c0.1-0.6,0.6,0,0.6,0l0.2,0.7c0,0,0.5-0.7,0.7-1.5C47.4,89.8,47.9,91.4,50.5,90.9z"></path> 
																				<path class="st9" d="M47.3,90.4c0,0,0.3,0.4,0.2,0.8c-0.1,0.4-0.1,0.4-0.1,0.4s1.5,0.2,2.5,0.1c1-0.1,1-0.5,1-0.5s0.2-0.8-0.6-1.6C49.5,88.9,47.3,90.4,47.3,90.4z"></path> 
																				<path class="st9" d="M47.3,87.8c0,0.9-0.7,1.7-1.7,1.7s-1.7-0.7-1.7-1.7c0-0.9,0.7-1.7,1.7-1.7S47.3,86.8,47.3,87.8z"></path> 
																				<path class="st2" d="M40.5,115.3c0.1-0.2,0.6-1.7,0.6-1.7c0.6,0.5,1.2,0.8,1.3,0.5c0,0,0.2,0.3,0,0.5c-0.2,0.2-0.4,0.9-0.4,0.9s-0.7,0.2-0.8,0.2C41.2,115.7,40.5,115.3,40.5,115.3z"></path> 
																				<path class="st2" d="M47.6,113.7c0,0,1.3,0.1,1.5,0c0.2-0.1,0.2,0.3,0.2,0.6c0,0.3,0.1,0.7,0.1,0.7l-0.1,0.6l-0.8,0.3l-0.7-0.5L47.6,113.7z"></path> 
																			</g> 
																			<g> 
																				<path class="st5" d="M45.9,95.8c0,1.6-1,4.1-2.9,2.9c-1.6,0-2.9-1.3-2.9-2.9c0-1.6,1.3-2.9,2.9-2.9C44.6,92.9,45.9,94.2,45.9,95.8z"></path> 
																				<path class="st10" d="M44.2,121.7l-0.1,0.7c0,0,0.5,0.3,0.8,0.2c0.3-0.1,1.8-0.5,1.6-0.7c-0.2-0.2-1.2-0.5-1.5-0.4C44.7,121.5,44.2,121.7,44.2,121.7z"></path> 
																				<path class="st10" d="M38.2,121.7l-0.1,0.7c0,0,0.5,0.3,0.8,0.2c0.3-0.1,1.8-0.5,1.6-0.7c-0.2-0.2-1.2-0.5-1.5-0.4C38.7,121.5,38.2,121.7,38.2,121.7z"></path> 
																				<path class="st4" d="M50.7,105.2c0,0,0.7-3.3,0.6-3.3c-0.1,0-3.5-1.3-3.5-1.3s-1.2,5.7-1.1,5.6c0.1,0,3.5,1.3,3.5,1.3L50.7,105.2z"></path> 
																				<path class="st5" d="M49.8,106l0.9-0.8c0.4,0.2,0.5,0.5,0.4,0.9l-1.2,0.7L49.8,106z"></path> 
																				<polygon class="st5" points="41.3,99.3 41.3,97.5 43.2,97.5 43.2,100.1"></polygon> 
																				<path class="st11" d="M38.4,121.8c-0.1,0-0.2-0.1-0.2-0.1l1.7-5.3l-0.6-9.3l6.9-1.1l-0.1,10l-1,5.6c-0.2,0-0.4,0.1-0.6,0.1c-0.1,0-0.2,0-0.3,0v-4.6l-0.7-6.9l-1.3-0.4l-0.7,7.3l-2.7,4.8C38.7,121.9,38.5,121.8,38.4,121.8z"></path> 
																				<path class="st12" d="M39.3,98.9v8.2l6.8,1.4l0.1,0l0-3.8l0-1.6c-0.2-0.6-0.5-1.1-0.7-1.4c0,0,0,0,0,0c-0.2-0.3-0.3-0.5-0.4-0.6c0,0-0.1-0.1-0.1-0.1L39.3,98.9z"></path> 
																				<path class="st12" d="M44.7,104.6c0,0.2,0.1,0.4,0.1,0.5c0.2,1.4,0.6,2.7,1.2,3.4c0.3,0.3,0.7,0.5,1.1,0.4c1.5-0.3,3.2-2.4,3.2-2.4l-0.5-0.6l-2.3,1.2l-0.9-2.7l-0.5-1.2c-0.2-0.6-0.5-1.1-0.7-1.4C45.1,102.2,44.5,103,44.7,104.6z"></path> 
																				<path class="st12" d="M39.3,98.9l0.3,3.3l2.6,3c0,0,1.4,0.2,2.7,0c0.5-0.1,0.9-0.2,1.3-0.4c0.2-0.1,0.4-0.2,0.5-0.3c-0.1-0.4-0.3-0.8-0.5-1.2c-0.2-0.6-0.5-1.1-0.7-1.4c0,0,0,0,0,0c-0.2-0.3-0.3-0.5-0.4-0.6c0,0-0.1-0.1-0.1-0.1C42.6,98.5,39.3,98.9,39.3,98.9z"></path> 
																				<path class="st3" d="M39.3,98.9c-0.6,0.2-0.8,0.6-1.2,3.2c-0.4,2.5-0.9,3.8,0,4.1c0.9,0.3,1.5-0.9,1.5-0.9L39.3,98.9z"></path> 
																				<path class="st12" d="M46.1,108.6c0,0-1.8,0.8-4.2,0.1c-2.3-0.6-2.7-1.6-2.7-1.6v-3.4h6.1L46.1,108.6z"></path> 
																				<path class="st3" d="M45.9,108.4c0,0-1.7-3-1.7-4.2c0-1.1,0.5,4.8,0.5,4.8l1.4-0.4L45.9,108.4z"></path> <polygon class="st12" points="39.3,103.7 39.3,98.9 40.9,101 40.7,104.4 40.1,105"></polygon> 
																				<path class="st12" d="M39.3,102.9l-0.7-3.3c0,0,0.1-0.8,0.7-0.8c0.6,0,1.3,2,1.3,2L39.3,102.9z"></path> <path class="st12" d="M43.9,100.2c0,0-0.2-0.7-0.8-1c-0.6-0.3-2.3-1-2.5-0.3c-0.2,0.7,1.9,1.4,1.9,1.4L43.9,100.2z"></path> 
																				<path class="st10" d="M42.7,98.7c0,0,0.8-0.4,0.8-1.7c0.8-0.3,0.6-2.5,2.3-2.2c0,0,0.2-0.6,0.8-0.9c-1.4-0.7-1.4-1.7-3.3-1.8c-3.4-0.1-4,2.4-3.7,3.9c0.2,1.4,1.7,2.3,1.7,2.3S41.8,98.4,42.7,98.7z"></path> 
																				<path class="st5" d="M43.1,96.9c0,0.4,0.2,0.8,0.6,0.8c0.3,0,0.6-0.3,0.6-0.8c0-0.4-0.2-0.8-0.6-0.8C43.3,96.1,43.1,96.5,43.1,96.9z"></path> 
																			</g> 
																			<g> 
																				<path class="st2" d="M95.7,108.6c0,0-0.5,0.7-0.3,1.1c0.1,0.4,1.4,1.3,1.9,1c0.6-0.3-0.4-0.9-0.5-1.8C96.8,108.1,95.7,108.6,95.7,108.6z"></path> 
																				<path class="st2" d="M102.6,109v0.8c0,0,1.8,0.8,2.4,0.5c0.6-0.3,0.6-0.4,0.3-0.6c-0.3-0.2-1.6-0.9-1.6-0.9L102.6,109z"></path> 
																				<path class="st3" d="M101.6,93.7c-0.1,0.1,0.1,1,2.7,1.4c2.6,0.4,4.7,0.8,4.7,0.8l0.1-1.1l-5.5-2C103.5,92.8,102.2,92.7,101.6,93.7z"></path> 
																				<path class="st4" d="M105.1,97.5c0-0.3,2-4.1,2-4.1l4-1.7L109,96L105.1,97.5z"></path> 
																				<path class="st11" d="M101.8,103.1c0.3-0.1,0.6-0.1,1-0.2c0.4-0.2,0.8-0.4,1.1-0.6l0.5-6.7l-6.9-1.1l0.1,10l0,0c0.7,0.1,1.3,0.3,1.9,0.3l0.6-6.1l1.3-0.4L101.8,103.1z"></path> 
																				<path class="st3" d="M104.7,88.4c0.2,0.4,0.4,1.2,0.6,2.6c0.4,2.5,0.9,3.8,0,4.1c-0.9,0.3-1.5-0.9-1.5-0.9l0.3-6C104,88.2,104.6,88.3,104.7,88.4z"></path> 
																				<path class="st12" d="M104.4,88.8c0,0-1.6-1.6-4.5-0.4c0,0-2.5,0.6-2.4,3.1l0,1.6l0,3c0,0,1.8,1.6,4.2,0.9c2.3-0.6,2.7-1.6,2.7-1.6v-3.4v-2.8V88.8z"></path> <path class="st5" d="M102.8,88.5v-2.6h-1.9l0,2.6C101.7,88.9,102.3,89.1,102.8,88.5z"></path> 
																				<path class="st3" d="M98.2,90.1"></path> 
																				<path class="st7" d="M103.3,88.7l-0.1,1.6l-0.1,1.3c0,0-0.3-0.4-0.8-1c-0.6-0.7-1.2-1.5-1.2-1.5L103.3,88.7z"></path> 
																				<path class="st5" d="M105.9,96.4l1.3-0.7l0.3,0.8c0,0-0.4,1-1.8,1C104.4,97.5,105.9,96.4,105.9,96.4z"></path> 
																				<path class="st11" d="M99.5,104.6l-2.9,4.7c0,0-0.7-0.3-0.9-0.7c-0.1-0.4,1.9-4.3,1.9-4.3L99.5,104.6z"></path> 
																				<path class="st3" d="M103.5,88.1c0,0-0.1,0-0.2,0l-0.4,0.2c0,0,1.5,2.1,1.2,6.3c0,1.2-0.3,4.5-0.3,4.5s0.5-0.3,0.7-0.9c0.2-0.6,0.4-5.5,0.4-5.5l-0.4-4.2C104.3,88.3,103.9,88.1,103.5,88.1z"></path> 
																				<path class="st11" d="M103.9,102.2v6.7c0,0-1,0.2-1.3,0c-0.3-0.2-0.8-5.9-0.8-5.9L103.9,102.2z"></path> <polygon class="st11" points="99.5,104.6 101.2,97.7 99.3,97.7 98.6,103.2"></polygon> 
																				<polygon class="st11" points="102.1,89.4 102.5,90.1 103,90 103,88.8 102.4,88.7"></polygon> 
																				<path class="st3" d="M100.4,88.2c0,0,0.9,2.1,1,4.9c0,2.7-0.5,6.7-0.5,6.7s-3.3,0.3-3.4-0.9c-0.1-1.2,0-8.2,0-8.2S97.6,88.9,100.4,88.2z"></path> 
																				<path class="st6" d="M97.5,90.9c0,0.1,1.1,2,1.1,2l0.8,2.5l1.8,1.1l-0.1,0.9c0,0-2.8-0.6-3.2-1.7C97.5,94.6,97.5,90.9,97.5,90.9z"></path> 
																				<path class="st3" d="M100,92.1c-0.4-2.5-0.6-3-1.2-3.2c0,0-1,0.3-1.3,2c-0.2,1.8,0.9,4.3,0.9,4.3s0.7,1.2,1.5,0.9C100.8,95.9,100.3,94.6,100,92.1z"></path> 
																				<path class="st8" d="M100.9,87.9c0,0,0.6,0.5,1.2,0.5c0.5-0.1,0.7-0.3,0.7-0.3l0-0.2l0.4,0l0.2,1.5l-0.9-0.6l-0.3,1c0,0-1.1-0.6-1.4-1c-0.3-0.3-0.3-0.6-0.3-0.6L100.9,87.9z"></path> 
																				<path class="st5" d="M105.3,84.9c0,1.6-1,4.2-3,3c-1.6,0-3-1.3-3-3c0-1.6,1.3-3,3-3C104,81.9,105.3,83.3,105.3,84.9z"></path> 
																				<path class="st11" d="M103.2,90.3l-0.1,1.3c0,0-0.3-0.4-0.8-1l0.2-0.5L103,90L103.2,90.3z"></path> 
																				<path class="st3" d="M98.4,95.3c-0.1,0.1,0.1,1,2.7,1.4c2.6,0.4,4.7,0.8,4.7,0.8l0.1-1.1l-5.5-2C100.3,94.4,99,94.2,98.4,95.3z"></path> 
																				<path class="st9" d="M105.3,84.9L106,84c0,0-0.7-0.4-1.2-1c-0.5-0.6-1.5-2-3.7-1.4c-2.3,0.6-2.2,2.3-2.2,2.9c0,0.6,0.1,1.4,0.5,1.9c0.4,0.5,1.4,1.2,1.4,1.2l0-1.3c0,0-0.6-0.2-0.5-0.8c0.1-0.6,0.6,0,0.6,0l0.2,0.7c0,0,0.5,0.2,0.7-0.7C102.2,84.7,102.7,85.4,105.3,84.9z"></path> 
																			</g> 
																			<g> 
																				<g> 
																					<path class="st13" d="M97.9,116.7c0,0.2,0,0.3,0,0.5c-0.6,5.3-10.5,9.5-22.6,9.5c-4.5,0-8.7-0.6-12.2-1.6c-6.1-1.7-10.2-4.7-10.4-8.1v0c0-0.1,0-0.2,0-0.3c0-0.1,0-0.2,0-0.3c0.1-1,0.5-2,1.2-3c0.4-0.5,0.9-1,1.5-1.5c3.8-3.1,11.3-5.3,20-5.3c10,0,18.5,2.8,21.5,6.8C97.4,114.5,97.9,115.5,97.9,116.7z"></path> 
																					<polygon class="st14" points="97.9,113.5 97.9,117.1 97.8,117.1 59.3,117 52.5,116.9 52.5,113.5"></polygon> 
																					<path class="st15" d="M63,121.6v3.5c-6.1-1.7-10.2-4.7-10.4-8.1v0c0-0.1,0-0.2,0-0.3c0-0.1,0-0.2,0-0.3v-3h1.2c0.4-0.5,0.9-1,1.5-1.5l1.2,1.5l2.8,3.5L63,121.6z"></path> 
																					<path class="st8" d="M97.9,113.2c0,5.5-10.2,10-22.7,10c-4.5,0-8.7-0.6-12.2-1.6c-6.3-1.8-10.4-4.9-10.4-8.4c0-1.1,0.4-2.2,1.2-3.2c3-4,11.5-6.8,21.5-6.8C87.7,103.2,97.9,107.6,97.9,113.2z"></path> 
																					<path class="st16" d="M86.7,115.3c0,3.5-9.6,6.3-21.4,6.3c-0.8,0-1.6,0-2.3,0c-6.3-1.8-10.4-4.9-10.4-8.4c0-1.1,0.4-2.2,1.2-3.2c3.3-0.6,7.3-1,11.6-1C77.1,109,86.7,111.8,86.7,115.3z"></path> 
																				</g> 
																				<g> 
																					<g> 
																						<path class="st17" d="M84,108.8c0,4.5-2.2,7.7-8.1,7.7c-5.9,0-8.1-3.2-8.1-7.7c0-4.5,3.6-8.1,8.1-8.1C80.4,100.7,84,104.3,84,108.8z"></path> 
																						<path class="st4" d="M89.3,88.3c-2.5,2.7-2.3,8.3-2.3,12.6c0,0.4,0,0.7,0,1.1c0,4.3,0.3,12.4-11.3,12.4c-11.7,0-10.7-9.9-10.7-13.9c0-0.4,0-0.9,0-1.4c0-3.6,0-7.5-1.4-9.5l14.1-9.9C77.7,79.7,92,85.4,89.3,88.3z"></path> 
																						<path class="st18" d="M65,99c0-3.6,0-7.5-1.4-9.5c0,0,5.9,4.3,11.1,3.9C79.8,93,70.4,99.9,65,99z"></path> 
																						<path class="st4" d="M96.3,72.8c0,11.4-9.2,20.6-20.6,20.6c-11.4,0-20.6-9.2-20.6-20.6c0-11.4,9.2-20.6,20.6-20.6C87,52.2,96.3,61.5,96.3,72.8z"></path> 
																						<path class="st19" d="M86.9,105.7c-0.1,0.6-0.2,1.3-0.3,1.9c-0.9,3.5-3.5,6.6-10.9,6.6c-6.6,0-9.2-3.2-10.1-6.7c-0.2-0.6-0.3-1.3-0.4-1.9c-0.3-2-0.2-4-0.2-5.3c7.1,2.3,14.4,2.5,22,0.5c0,0.4,0,0.7,0,1.1C87,103,87,104.4,86.9,105.7z"></path>
																						<g> 
																							<path class="st17" d="M86.9,105.7c-0.1,0.6-0.2,1.3-0.3,1.9c-3.4,0.9-6.9,1.4-10.3,1.4c-3.5,0-7.1-0.5-10.7-1.4c-0.2-0.6-0.3-1.3-0.4-1.9C72.4,107.8,79.7,107.8,86.9,105.7z"></path> 
																						</g> 
																						<g> 
																							<path class="st20" d="M91.5,63.7c2,5.6-0.6,11.6-5.7,13.4c-5.1,1.8-10.9-1.3-12.8-7c-2-5.6,0.6-11.6,5.7-13.4C83.8,55,89.6,58.1,91.5,63.7z"></path> 
																							<path class="st21" d="M87.9,65c1.2,3.4-0.4,7-3.5,8.1c-3.1,1.1-6.6-0.8-7.7-4.2c-1.2-3.4,0.4-7,3.5-8.1C83.2,59.7,86.7,61.6,87.9,65z"></path> 
																						</g> 
																					</g> 
																				</g> 
																			</g> 
																			<g> 
																				<g> 
																					<path class="st22" d="M78.3,131.8c-0.4,0-0.8-0.3-0.8-0.8l-2.4-33.1c0-0.5,0.3-0.9,0.8-0.9c0.5,0,0.9,0.3,0.9,0.8l2.4,33.1C79.2,131.3,78.8,131.7,78.3,131.8C78.3,131.8,78.3,131.8,78.3,131.8z"></path> 
																					<path class="st22" d="M89.3,129.6c-0.4,0-0.8-0.3-0.8-0.8l-2.4-33.1c0-0.5,0.3-0.9,0.8-0.9c0.5,0,0.9,0.3,0.9,0.8l2.4,33.1C90.2,129.1,89.9,129.5,89.3,129.6C89.4,129.6,89.4,129.6,89.3,129.6z"></path> 
																					<path class="st22" d="M77.8,124.6c-0.4,0-0.8-0.3-0.8-0.7c-0.1-0.5,0.2-0.9,0.7-1l11-2.1c0.5-0.1,0.9,0.2,1,0.7c0.1,0.5-0.2,0.9-0.7,1l-11,2.1C77.9,124.6,77.8,124.6,77.8,124.6z"></path> 
																					<path class="st22" d="M77.4,118.5c-0.4,0-0.8-0.3-0.8-0.7c-0.1-0.5,0.2-0.9,0.7-1l11-2.1c0.5-0.1,0.9,0.2,1,0.7c0.1,0.5-0.2,0.9-0.7,1l-11,2.1C77.5,118.5,77.4,118.5,77.4,118.5z"></path> 
																					<path class="st22" d="M76.9,111.4c-0.4,0-0.8-0.3-0.8-0.7c-0.1-0.5,0.2-0.9,0.7-1l10.7-2c0.5-0.1,0.9,0.2,1,0.7c0.1,0.5-0.2,0.9-0.7,1l-10.7,2C77,111.4,76.9,111.4,76.9,111.4z"></path> 
																					<path class="st22" d="M76.3,104c-0.4,0-0.8-0.3-0.8-0.7c-0.1-0.5,0.2-0.9,0.7-1l10.9-2.1c0.5-0.1,0.9,0.2,1,0.7c0.1,0.5-0.2,0.9-0.7,1l-10.9,2.1C76.4,103.9,76.3,104,76.3,104z"></path> 
																				</g> 
																				<g> 
																					<path class="st5" d="M86.5,107c0,1.8,1.1,4.5,3.2,3.2c1.8,0,3.2-1.4,3.2-3.2c0-1.8-1.4-3.2-3.2-3.2C87.9,103.8,86.5,105.2,86.5,107z"></path> 
																					<path class="st10" d="M88.2,133.1l0.1,0.7c0,0-0.5,0.3-0.8,0.2c-0.3-0.1-1.8-0.5-1.6-0.7c0.2-0.2,1.2-0.5,1.5-0.4C87.7,132.9,88.2,133.1,88.2,133.1z"></path> 
																					<path class="st10" d="M94.2,133.1l0.1,0.7c0,0-0.5,0.3-0.8,0.2c-0.3-0.1-1.8-0.5-1.6-0.7c0.2-0.2,1.2-0.5,1.5-0.4C93.7,132.9,94.2,133.1,94.2,133.1z"></path> 
																					<polygon class="st5" points="91.1,110.7 91.1,108.9 89.3,108.9 89.3,111.5"></polygon> 
																					<path class="st11" d="M94,133.3c0.1,0,0.2,0,0.2-0.1l-1.7-5.3l0.6-9.3l-6.9-1.1l0.1,10l1,5.6c0.2,0,0.4,0.1,0.6,0.1c0.1,0,0.2,0,0.3,0v-4.6l0.7-6.9l1.3-0.4l0.7,7.3l2.7,4.8C93.7,133.3,93.9,133.3,94,133.3z"></path> 
																					<path class="st12" d="M93.1,110.3v8.2l-6.8,1.4l-0.1,0l0-3.8l0-1.6c0.2-0.6,0.5-1.1,0.7-1.4c0,0,0,0,0,0c0.2-0.3,0.3-0.5,0.4-0.6c0,0,0.1-0.1,0.1-0.1L93.1,110.3z"></path> 
																					<path class="st12" d="M87.7,116c0,0.2-0.1,0.4-0.1,0.5c-0.2,1.4-0.6,2.7-1.2,3.4c-0.3,0.3-0.7,0.5-1.1,0.4c-1.5-0.3-3.2-2.4-3.2-2.4l0.5-0.6l2.3,1.2l0.9-2.7l0.5-1.2c0.2-0.6,0.5-1.1,0.7-1.4C87.3,113.6,87.9,114.5,87.7,116z"></path> 
																					<path class="st12" d="M93.1,110.3l-0.3,3.3l-2.6,3c0,0-1.4,0.2-2.7,0c-0.5-0.1-0.9-0.2-1.3-0.4c-0.2-0.1-0.4-0.2-0.5-0.3c0.2-0.4,0.3-0.8,0.5-1.2c0.2-0.6,0.5-1.1,0.7-1.4c0,0,0,0,0,0c0.2-0.3,0.3-0.5,0.4-0.6c0,0,0.1-0.1,0.1-0.1C89.8,109.9,93.1,110.3,93.1,110.3z"></path> 
																					<path class="st3" d="M93.1,110.3c0.6,0.2,0.8,0.6,1.2,3.2c0.4,2.5,0.9,3.8,0,4.1c-0.9,0.3-1.5-0.9-1.5-0.9L93.1,110.3z"></path> 
																					<path class="st5" d="M82.5,117.4l-0.4-1.2c-0.4-0.1-0.7,0.1-0.8,0.6L82,118L82.5,117.4z"></path>
																					<path class="st12" d="M86.3,120c0,0,1.8,0.8,4.2,0.1c2.3-0.6,2.7-1.6,2.7-1.6v-3.4h-6.1L86.3,120z"></path> 
																					<path class="st3" d="M86.5,119.8c0,0,1.7-3,1.7-4.2c0-1.1-0.5,4.8-0.5,4.8l-1.4-0.4L86.5,119.8z"></path> 
																					<polygon class="st12" points="93.1,115.1 93.1,110.3 91.5,112.5 91.8,115.8 92.3,116.4"></polygon> 
																					<path class="st12" d="M93.1,114.4l0.7-3.3c0,0-0.1-0.8-0.7-0.8c-0.6,0-1.3,2-1.3,2L93.1,114.4z"></path> 
																					<path class="st12" d="M88.5,111.6c0,0,0.2-0.7,0.8-1c0.6-0.3,2.3-1,2.5-0.3c0.2,0.7-1.9,1.4-1.9,1.4L88.5,111.6z"></path> 
																					<path class="st10" d="M89.7,110.1c0,0-0.8-0.4-0.8-1.7c0-1.3-0.6-2.5-2.3-2.2c-1.7,0.3-0.8-2.5,2.5-2.6c3.4-0.1,4,2.4,3.7,3.9c-0.2,1.4-1.7,2.3-1.7,2.3S90.6,109.8,89.7,110.1z"></path> 
																					<path class="st5" d="M89.3,108.3c0,0.4-0.2,0.8-0.6,0.8s-0.6-0.3-0.6-0.8c0-0.4,0.2-0.8,0.6-0.8S89.3,107.9,89.3,108.3z"></path> 
																				</g> 
																			</g> 
																			<g> 
																				<path class="st23" d="M60.5,99.5l-3.3-8.3l0-0.1c-0.1-0.2-0.1-0.5,0.1-0.7l2.8-4.7c0.2-0.3,0.7-0.5,1-0.3c0.3,0.2,0.5,0.7,0.3,1l-2.7,4.8l0-0.7l4.4,7.8c0.4,0.7,0.1,1.5-0.5,1.9c-0.7,0.4-1.5,0.1-1.9-0.5C60.6,99.6,60.5,99.6,60.5,99.5z"></path> 
																				<g> 
																					<path class="st5" d="M66.7,91.6c0.1,1.8,0,3.1-3,3.4c-1.8,0.1-3.3-1.2-3.4-3c-0.1-1.8,1.2-3.3,3-3.4C65,88.5,66.6,89.8,66.7,91.6z"></path> 
																					<polygon class="st5" points="62.3,95.6 62.2,93.8 64.1,93.7 64.2,96.3"></polygon> 
																					<path class="st9" d="M60.3,92.3c0,0,0.1,0.8,0.6,1.4c0.5,0.7,1.3,1,1.3,1s1-0.2,1.4,0.1c0.5,0.3,1.8-1,1.7-3c-0.2-2,0.8-1.8,0.8-1.8s1.1-2-1.9-1.6c-3.1,0.4-2.2,0.5-2.2,0.5L60.3,92.3z"></path> <path class="st12" d="M63.6,90.2c0.1,1.3-0.9,2.4-2.1,2.4c-1.2,0.1-2.3-0.9-2.4-2.2C59,89.2,60,88.1,61.2,88C62.5,87.9,63.5,88.9,63.6,90.2z"></path> 
																					<path class="st9" d="M63.4,89.9c0.1,1.3-0.9,2.4-2.2,2.5c-1.3,0.1-2.4-0.9-2.5-2.2c-0.1-1.3,0.9-2.4,2.2-2.5C62.2,87.7,63.3,88.7,63.4,89.9z"></path> 
																					<path class="st5" d="M64.6,92.7c0,0.4,0.4,0.8,0.7,0.7c0.4,0,0.7-0.4,0.6-0.8c0-0.4-0.4-0.8-0.7-0.7C64.9,91.9,64.6,92.2,64.6,92.7z"></path> 
																				</g> 
																				<path class="st10" d="M65.1,118l-0.1,0.7c0,0,0.5,0.3,0.8,0.2c0.3-0.1,1.8-0.5,1.6-0.7c-0.2-0.2-1.2-0.5-1.5-0.4C65.5,117.8,65.1,118,65.1,118z"></path> 
																				<path class="st10" d="M59.1,118l-0.1,0.7c0,0,0.5,0.3,0.8,0.2c0.3-0.1,1.8-0.5,1.6-0.7c-0.2-0.2-1.2-0.5-1.5-0.4C59.5,117.8,59.1,118,59.1,118z"></path> 
																				<path class="st11" d="M66.4,104.3c0,0,0-0.1,0-0.1c-0.2,0-0.4-0.1-0.5-0.4c-0.2-0.4-0.4-1-0.8-1.2l-4.9,0.8l0.6,9.3L59,118c0.1,0,0.1,0.1,0.2,0.1c0.1,0,0.3,0.1,0.5,0.1l2.7-4.8l0.7-7.3l1.3,0.4l0.7,6.9v4.6c0.1,0,0.2,0,0.3,0c0.2,0,0.4,0,0.6-0.1l1-5.6l0.1-7.5C66.7,104.7,66.5,104.6,66.4,104.3z"></path> 
																				<path class="st8" d="M64.8,96.4c0,0-0.2-0.7-0.7-1c-0.6-0.3-2.3-1-2.5-0.3c-0.2,0.7,1.9,1.4,1.9,1.4L64.8,96.4z"></path> 
																				<path class="st12" d="M66.2,101.7c-0.2-1.5-0.6-3-0.9-4.5l-5.1-2v8.2l6.4,1.4C66.4,103.7,66.3,102.7,66.2,101.7z"></path> 
																				<path class="st12" d="M66.1,97.7c0-0.1-0.1-0.1-0.1-0.2c0,0-0.1-0.1-0.1-0.1c-2.4-2.7-5.7-2.3-5.7-2.3l0.3,3.3l2.6,3c0,0,1.4,0.2,2.7,0c0.3,0,0.5-0.1,0.8-0.2C66.4,100.1,66.2,98.9,66.1,97.7z"></path> 
																				<path class="st12" d="M67,104.8c0,0-1.8,0.8-4.2,0.1c-2.3-0.6-2.7-1.6-2.7-1.6V100h6.1L67,104.8z"></path> 
																				<polygon class="st12" points="60.1,100 60.1,95.2 61.7,97.3 61.5,100.6 60.9,101.3"></polygon> 
																				<path class="st12" d="M60.1,99.2l-0.7-3.3c0,0,0.1-0.8,0.7-0.8c0.6,0,1.3,2,1.3,2L60.1,99.2z"></path> 
																				<path class="st23" d="M64.9,96.6l5.8-1.2l-0.5,0.5l2.1-4.7c0.2-0.4,0.6-0.5,1-0.4c0.4,0.2,0.5,0.6,0.4,1l-2,4.8c-0.1,0.2-0.2,0.3-0.4,0.4l-0.1,0l-5.5,2.3c-0.7,0.3-1.5,0-1.8-0.7c-0.3-0.7,0-1.5,0.7-1.8C64.7,96.6,64.8,96.6,64.9,96.6z"></path> 
																				<polygon class="st5" points="72,92 71.7,90 72,89.8 72.4,90.7 73.6,89.2 74.2,91 73.1,92.9"></polygon> 
																				<path class="st9" d="M60.5,92"></path> 
																				<path class="st5" d="M59.9,86.1l1.1,0.7l0.5-0.6c0,0-0.6-1.1-0.8-1.6C60.7,84.1,59.9,86.1,59.9,86.1z"></path> 
																			</g> 
																			<g> 
																				<path class="st24" d="M74.2,49.2c-0.5,0-0.8-0.4-0.8-0.8v-15c0-0.5,0.4-0.8,0.8-0.8c0.5,0,0.8,0.4,0.8,0.8v15C75.1,48.9,74.7,49.2,74.2,49.2z"></path> 
																				<path class="st24" d="M49.5,69.9h-15c-0.5,0-0.8-0.4-0.8-0.8s0.4-0.8,0.8-0.8h15c0.5,0,0.8,0.4,0.8,0.8S50,69.9,49.5,69.9z"></path> 
																				<path class="st24" d="M116.4,69.9h-15c-0.5,0-0.8-0.4-0.8-0.8s0.4-0.8,0.8-0.8h15c0.5,0,0.8,0.4,0.8,0.8S116.8,69.9,116.4,69.9z"></path> 
																				<path class="st24" d="M94.1,54.6c-0.2,0-0.4-0.1-0.6-0.2c-0.3-0.3-0.3-0.9,0-1.2l10.6-10.6c0.3-0.3,0.9-0.3,1.2,0s0.3,0.9,0,1.2L94.7,54.3C94.5,54.5,94.3,54.6,94.1,54.6z"></path> 
																				<path class="st24" d="M56.9,54.6c-0.2,0-0.4-0.1-0.6-0.2L45.6,43.7c-0.3-0.3-0.3-0.9,0-1.2s0.9-0.3,1.2,0l10.6,10.6c0.3,0.3,0.3,0.9,0,1.2C57.3,54.5,57.1,54.6,56.9,54.6z"></path> 
																			</g> 
																		</g> 
																	</svg>
																</div>
															</div>
															<div class="col medium-6 small-12 large-6">
																<div class="col-inner text-center">
																	<div role="form" class="wpcf7" id="wpcf7-f18581-p5958-o2" lang="vi" dir="ltr">
																		<div class="screen-reader-response"></div>
																		<form action="https://devteam.mobi/crm-la-gi-dich-vu-lap-trinh-crm-cho-doanh-nghiep/#wpcf7-f18581-p5958-o2" method="post" class="wpcf7-form" novalidate="novalidate">
																			<div style="display: none;"> 
																				<input type="hidden" name="_wpcf7" value="18581"> 
																				<input type="hidden" name="_wpcf7_version" value="5.1.3"> 
																				<input type="hidden" name="_wpcf7_locale" value="vi"> 
																				<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f18581-p5958-o2"> 
																				<input type="hidden" name="_wpcf7_container_post" value="5958">
																			</div>
																			<div class="form-contact-footer-all-post"> 
																				<span class="wpcf7-form-control-wrap your-name">
																					<input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Tên của bạn">
																				</span>
																				<p></p>
																				<p>
																					<br>
																					<br> 
																					<span class="wpcf7-form-control-wrap your-email">
																						<input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email hoặc số điện thoại">
																					</span>
																				</p>
																				<p>
																					<br>
																					<br> 
																					<span class="wpcf7-form-control-wrap your-message">
																						<textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Mô tả ý tưởng"></textarea>
																					</span>
																				</p>
																				<p>
																					<input type="submit" value="Gửi yêu cầu" class="wpcf7-form-control wpcf7-submit">
																					<span class="ajax-loader"></span>
																				</p>
																			</div>
																			<p>
																				<input type="hidden" name="wpcf7_telegram" value="1">
																			</p>
																			<div class="wpcf7-response-output wpcf7-display-none"></div>
																			<input type="hidden" name="HYFJSW" value="RBpeTd">
																			<input type="hidden" name="HPQVfDxbI" value="MG6pwQ5.A">
																			<input type="hidden" name="Ar-dxgalbB" value="RsI8QNXYK3">
																			<input type="hidden" name="SVEvXq-yM" value="KJCi7wHcg">
																		</form>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
		            <div class="entry-author author-box">
		                <div class="flex-row align-top">
		                    <div class="flex-col mr circle">
		                        <div class="blog-author-image"> <img alt="" src="https://secure.gravatar.com/avatar/71bd20c82a7f7e4dc1cdcafc95192d9f?s=90&amp;d=mm&amp;r=g" data-src="https://secure.gravatar.com/avatar/71bd20c82a7f7e4dc1cdcafc95192d9f?s=90&amp;d=mm&amp;r=g" srcset="https://secure.gravatar.com/avatar/71bd20c82a7f7e4dc1cdcafc95192d9f?s=180&amp;d=mm&amp;r=g 2x"
		                                data-srcset="https://secure.gravatar.com/avatar/71bd20c82a7f7e4dc1cdcafc95192d9f?s=180&amp;d=mm&amp;r=g 2x" class="avatar avatar-90 photo lazy-load-active" height="90" width="90"></div>
		                    </div>
		                    <div class="flex-col flex-grow">
		                        <h5 class="author-name uppercase pt-half"> Trương Tú</h5>
		                        <p class="author-desc small"></p>
		                    </div>
		                </div>
		            </div>
		            <nav role="navigation" id="nav-below" class="navigation-post">
		                <div class="flex-row next-prev-nav bt bb">
		                    <div class="flex-col flex-grow nav-prev text-left">
		                        <div class="nav-previous"><a href="https://devteam.mobi/gia-viet-ung-dung-ios-bao-nhieu-thi-hop-ly/" rel="prev"><span class="hide-for-small"><i class="icon-angle-left"></i></span> Giá Viết Ứng Dụng IOS Bao Nhiêu Thì Hợp Lý?</a></div>
		                    </div>
		                    <div class="flex-col flex-grow nav-next text-right">
		                        <div class="nav-next"><a href="https://devteam.mobi/cong-ty-nhan-lam-app-ios-android-uy-tin-nhat-viet-nam/" rel="next">Công Ty Nhận Làm App iOS Android Uy Tín Nhất Việt Nam <span class="hide-for-small"><i class="icon-angle-right"></i></span></a></div>
		                    </div>
		                </div>
		            </nav>
		        </div>
		        </article>
		        <div id="comments" class="comments-area"></div>
		    </div>
				    <div class="post-sidebar large-3 col">
				        <div id="secondary" class="widget-area " role="complementary">
					        <aside id="custom_html-3" class="widget_text widget widget_custom_html">
					            <div class="textwidget custom-html-widget">
					                <div class="fb-page fb_iframe_widget" data-href="https://www.facebook.com/devteam.mobi/" data-width="380" data-hide-cover="false" data-show-facepile="false" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=&amp;container_width=217&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fdevteam.mobi%2F&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=false&amp;width=380"><span style="vertical-align: bottom; width: 217px; height: 130px;"><iframe name="f2f8790544d76c8" width="380px" height="1000px" title="fb:page Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v3.2/plugins/page.php?app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D44%23cb%3Df285abe62d0513c%26domain%3Ddevteam.mobi%26origin%3Dhttps%253A%252F%252Fdevteam.mobi%252Ff1671b0c1454528%26relation%3Dparent.parent&amp;container_width=217&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fdevteam.mobi%2F&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=false&amp;width=380" style="border: none; visibility: visible; width: 217px; height: 130px;" class=""></iframe></span></div>
					            </div>
					        </aside>
					        <aside id="search-2" class="widget widget_search"><span class="widget-title "><span>Tìm kiếm</span></span>
					            <div class="is-divider small"></div>
					            <form method="get" class="searchform" action="https://devteam.mobi/" role="search">
					                <div class="flex-row relative">
					                    <div class="flex-col flex-grow"> <input type="search" class="search-field mb-0" name="s" value="" id="s" placeholder="Search…" autocomplete="off"></div>
					                    <div class="flex-col"> <button type="submit" class="ux-search-submit submit-button secondary button icon mb-0"> <i class="icon-search"></i> </button></div>
					                </div>
					                <div class="live-search-results text-left z-top">
					                    <div class="autocomplete-suggestions" style="position: absolute; display: none; max-height: 300px; z-index: 9999;"></div>
					                </div>
					            </form>
					        </aside>
            				<aside id="relatedpoststhumbnailswidget-2" class="widget relpoststh_widget"> 
				            	<span class="widget-title "> Bài viết liên quan </span>
				                <div class="is-divider small"></div>
            					<div class="relpost-thumb-wrapper">
                					<div class="border-d" style=" height: 4px; background: red; width: 50px; position: absolute; top: 70px;; "></div>
				                    <div class="post-hover-v">
				                        <div class="relpost-block-container">
				                            <div class="wrap-relpost" style="width: 250px; height: 325px;">
				                                <a class="relpost-block-single" href="https://devteam.mobi/ymeet-la-gi-dung-ymeet-co-an-toan-khong/">
				                                    <div class="relpost-block-single-text" style="font-family: Arial;  font-size: 14px;  color: #333333;"><span class="color_number_related">01<img src="https://devteam.mobi/wp-content/uploads/2019/04/i_bacham.svg" style="padding: 0px 2px 1px 1px;width: 5px;"></span>Ymeet Là Gì? Dùng Ymeet Có An Toàn Không?</div>
				                                    <div class="border-d"></div>
				                                    <div class="relpost-block-single-image" alt="Ymeet Là Gì? Dùng Ymeet Có An Toàn Không?" style=" background: transparent url(https://devteam.mobi/wp-content/uploads/2019/05/Ymeet.jpg) no-repeat scroll 0% 0%; width: 250px; height: 250px;     background-size: cover;">
				                                        <div class="border-div-img"></div>
				                                    </div>
				                                </a>
				                                <div class="wrap-link-relpost"> <a href="https://devteam.mobi/ymeet-la-gi-dung-ymeet-co-an-toan-khong/" style="display: block; position: relative; min-width: inherit;margin-bottom: unset;font-weight: 600;top:5px;color: #555555; ">ĐỌC CHI TIẾT<img src="https://devteam.mobi/wp-content/uploads/2019/04/i_retangle.svg" style="width: 15px; padding: 4px;  top: -2px;  position: relative; left: 0px;"></a>
				                                    <div class="date_post_v"> <span class="related_post_date" style=" transform: skewX(20deg); display: block; color: red;text-align: center;">11/05/2019</span></div>
				                                </div>
				                            </div>
				                        </div>
				                        <div style="clear: both"></div>
				                    </div>
				                    <div class="post-hover-v">
				                        <div class="relpost-block-container">
				                            <div class="wrap-relpost" style="width: 250px; height: 325px;">
				                                <a class="relpost-block-single" href="https://devteam.mobi/xu-huong-phat-trien-mobile-app-trong-nam-2019/">
				                                    <div class="relpost-block-single-text" style="font-family: Arial;  font-size: 14px;  color: #333333;"><span class="color_number_related">02<img src="https://devteam.mobi/wp-content/uploads/2019/04/i_bacham.svg" style="padding: 0px 2px 1px 1px;width: 5px;"></span>Xu Hướng Phát Triển Mobile App Trong Năm 2019</div>
				                                    <div
				                                        class="border-d"></div>
				                            <div class="relpost-block-single-image" alt="Xu Hướng Phát Triển Mobile App Trong Năm 2019" style=" background: transparent url(https://devteam.mobi/wp-content/uploads/2019/04/APP4-1.png) no-repeat scroll 0% 0%; width: 250px; height: 250px;     background-size: cover;">
				                                <div class="border-div-img"></div>
				                            </div>
				                            </a>
				                            <div class="wrap-link-relpost"> <a href="https://devteam.mobi/xu-huong-phat-trien-mobile-app-trong-nam-2019/" style="display: block; position: relative; min-width: inherit;margin-bottom: unset;font-weight: 600;top:5px;color: #555555; ">ĐỌC CHI TIẾT<img src="https://devteam.mobi/wp-content/uploads/2019/04/i_retangle.svg" style="width: 15px; padding: 4px;  top: -2px;  position: relative; left: 0px;"></a>
				                                <div class="date_post_v"> <span class="related_post_date" style=" transform: skewX(20deg); display: block; color: red;text-align: center;">12/04/2019</span></div>
				                            </div>
				                        </div>
					                    </div>
					                    <div style="clear: both"></div>
				                	</div>
					                <div class="post-hover-v">
					                    <div class="relpost-block-container">
					                        <div class="wrap-relpost" style="width: 250px; height: 325px;">
					                            <a class="relpost-block-single" href="https://devteam.mobi/xamarin-la-gi-cac-ly-do-khong-nen-chon-xamarin/">
					                                <div class="relpost-block-single-text" style="font-family: Arial;  font-size: 14px;  color: #333333;"><span class="color_number_related">03<img src="https://devteam.mobi/wp-content/uploads/2019/04/i_bacham.svg" style="padding: 0px 2px 1px 1px;width: 5px;"></span>Xamarin Là Gì? Các Lý Do Không Nên Chọn Xamarin</div>
					                                <div
					                                    class="border-d"></div>
					                        <div class="relpost-block-single-image" alt="Xamarin Là Gì? Các Lý Do Không Nên Chọn Xamarin" style=" background: transparent url(https://devteam.mobi/wp-content/uploads/2019/05/xamarin-visualStudio-1-min.jpg) no-repeat scroll 0% 0%; width: 250px; height: 250px;     background-size: cover;">
					                            <div class="border-div-img"></div>
					                        </div>
					                        </a>
					                        <div class="wrap-link-relpost"> <a href="https://devteam.mobi/xamarin-la-gi-cac-ly-do-khong-nen-chon-xamarin/" style="display: block; position: relative; min-width: inherit;margin-bottom: unset;font-weight: 600;top:5px;color: #555555; ">ĐỌC CHI TIẾT<img src="https://devteam.mobi/wp-content/uploads/2019/04/i_retangle.svg" style="width: 15px; padding: 4px;  top: -2px;  position: relative; left: 0px;"></a>
					                            <div class="date_post_v"> <span class="related_post_date" style=" transform: skewX(20deg); display: block; color: red;text-align: center;">02/06/2019</span></div>
					                        </div>
					                    </div>
						                </div>
						                <div style="clear: both"></div>
					        		</div>
							        <div class="post-hover-v">
							            <div class="relpost-block-container">
							                <div class="wrap-relpost" style="width: 250px; height: 325px;">
							                    <a class="relpost-block-single" href="https://devteam.mobi/viber-la-gi-co-nen-lap-trinh-app-giong-viber/">
							                        <div class="relpost-block-single-text" style="font-family: Arial;  font-size: 14px;  color: #333333;"><span class="color_number_related">04<img src="https://devteam.mobi/wp-content/uploads/2019/04/i_bacham.svg" style="padding: 0px 2px 1px 1px;width: 5px;"></span>Viber Là Gì? Có Nên Lập Trình App Giống Viber</div>
							                        <div class="border-d"></div>
							                        <div class="relpost-block-single-image" alt="Viber Là Gì? Có Nên Lập Trình App Giống Viber" style=" background: transparent url(https://devteam.mobi/wp-content/uploads/2019/05/ung-dung-viber-min.png) no-repeat scroll 0% 0%; width: 250px; height: 250px;     background-size: cover;">
							                            <div class="border-div-img"></div>
							                        </div>
							                    </a>
							                    <div class="wrap-link-relpost"> <a href="https://devteam.mobi/viber-la-gi-co-nen-lap-trinh-app-giong-viber/" style="display: block; position: relative; min-width: inherit;margin-bottom: unset;font-weight: 600;top:5px;color: #555555; ">ĐỌC CHI TIẾT<img src="https://devteam.mobi/wp-content/uploads/2019/04/i_retangle.svg" style="width: 15px; padding: 4px;  top: -2px;  position: relative; left: 0px;"></a>
							                        <div class="date_post_v"> <span class="related_post_date" style=" transform: skewX(20deg); display: block; color: red;text-align: center;">08/05/2019</span></div>
							                    </div>
							                </div>
							            </div>
							            <div style="clear: both"></div>
							        </div>
							        <div class="post-hover-v">
							            <div class="relpost-block-container">
							                <div class="wrap-relpost" style="width: 250px; height: 325px;">
							                    <a class="relpost-block-single" href="https://devteam.mobi/ung-dung-tra-cuu-vi-tri-tau-bien-thong-tin-chi-tiet/">
							                        <div class="relpost-block-single-text" style="font-family: Arial;  font-size: 14px;  color: #333333;"><span class="color_number_related">05<img src="https://devteam.mobi/wp-content/uploads/2019/04/i_bacham.svg" style="padding: 0px 2px 1px 1px;width: 5px;"></span>Ứng Dụng Tra Cứu Vị Trí Tàu Biển | Thông Tin Chi Tiết</div>
							                        <div class="border-d"></div>
							                        <div class="relpost-block-single-image" alt="Ứng Dụng Tra Cứu Vị Trí Tàu Biển | Thông Tin Chi Tiết" style=" background: transparent url(https://devteam.mobi/wp-content/uploads/2019/05/giám-sát-tàu-biển-min.jpg) no-repeat scroll 0% 0%; width: 250px; height: 250px;     background-size: cover;">
							                            <div class="border-div-img"></div>
							                        </div>
							                    </a>
							                    <div class="wrap-link-relpost"> <a href="https://devteam.mobi/ung-dung-tra-cuu-vi-tri-tau-bien-thong-tin-chi-tiet/" style="display: block; position: relative; min-width: inherit;margin-bottom: unset;font-weight: 600;top:5px;color: #555555; ">ĐỌC CHI TIẾT<img src="https://devteam.mobi/wp-content/uploads/2019/04/i_retangle.svg" style="width: 15px; padding: 4px;  top: -2px;  position: relative; left: 0px;"></a>
							                        <div class="date_post_v"> <span class="related_post_date" style=" transform: skewX(20deg); display: block; color: red;text-align: center;">11/05/2019</span></div>
							                    </div>
							                </div>
							            </div>
							            <div style="clear: both"></div>
							        </div>
							        <div class="post-hover-v">
							            <div class="relpost-block-container">
							                <div class="wrap-relpost" style="width: 250px; height: 325px;">
							                    <a class="relpost-block-single" href="https://devteam.mobi/ung-dung-tima-la-gi-co-nen-lap-trinh-ung-dung-giong-voi-tima/">
							                        <div class="relpost-block-single-text" style="font-family: Arial;  font-size: 14px;  color: #333333;"><span class="color_number_related">06<img src="https://devteam.mobi/wp-content/uploads/2019/04/i_bacham.svg" style="padding: 0px 2px 1px 1px;width: 5px;"></span>Ứng Dụng Tima Là Gì? Có Nên Lập Trình Ứng Dụng Giống Với Tima?</div>
							                        <div
							                            class="border-d"></div>
							                <div class="relpost-block-single-image" alt="Ứng Dụng Tima Là Gì? Có Nên Lập Trình Ứng Dụng Giống Với Tima?" style=" background: transparent url(https://devteam.mobi/wp-content/uploads/2019/04/tima_cackhoanvay-min.jpg) no-repeat scroll 0% 0%; width: 250px; height: 250px;     background-size: cover;">
							                    <div class="border-div-img"></div>
							                </div>
							                </a>
							                <div class="wrap-link-relpost"> <a href="https://devteam.mobi/ung-dung-tima-la-gi-co-nen-lap-trinh-ung-dung-giong-voi-tima/" style="display: block; position: relative; min-width: inherit;margin-bottom: unset;font-weight: 600;top:5px;color: #555555; ">ĐỌC CHI TIẾT<img src="https://devteam.mobi/wp-content/uploads/2019/04/i_retangle.svg" style="width: 15px; padding: 4px;  top: -2px;  position: relative; left: 0px;"></a>
							                    <div class="date_post_v"> <span class="related_post_date" style=" transform: skewX(20deg); display: block; color: red;text-align: center;">16/04/2019</span></div>
							                </div>
							            </div>
							        </div>
						        	<div style="clear: both"></div>
							    	</div>
							    </div>
						    </aside>
					    </div>
		    		</div>
		    	</div>
		    </div>
		</main>
		<%- include("./../layout/footer"); -%>
	</div>
	<%- include("./../layout/hotline"); -%>
	<div class="block-profile-capacity"> 
		<img class="icon-doc" src="./../../assets/file.svg"> 
		<img class="icon-devteam" src="./../../assets/devteam-logo.svg"> 
		<a href="https://devteam.mobi/ho-so-nang-luc-devteam.pdf" target="_blank" class="link-sub"></a>
	</div>
	<%- include("./../layout/sidebar"); -%>
	<div style="display:none"><div class="grofile-hash-map-71bd20c82a7f7e4dc1cdcafc95192d9f"></div></div> 
	<script id="lazy-load-icons">/* Lazy load icons css file */
		var fl_icons = document.createElement('link');
		fl_icons.rel = 'stylesheet';
		fl_icons.href = 'https://devteam.mobi/wp-content/themes/flatsome/assets/css/fl-icons.css';
		fl_icons.type = 'text/css';
		var fl_icons_insert = document.getElementsByTagName('link')[0];
		fl_icons_insert.parentNode.insertBefore(fl_icons, fl_icons_insert);
	</script> 
	<script type="text/javascript">var wpcf7 = {"apiSettings":{"root":"https:\/\/devteam.mobi\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"},"cached":"1"};</script> 
	<script type="text/javascript" src="./../../assets/devicepx-jetpack.js"></script> 
	<script type="text/javascript">var tocplus = {"visibility_show":"hi\u1ec7n","visibility_hide":"\u1ea9n","visibility_hide_by_default":"1","width":"Auto"};</script> 
	<script type="text/javascript" src="./../../assets/gprofiles.js"></script> 
	<script type="text/javascript">var WPGroHo = {"my_hash":""};</script> 
	<script type="text/javascript">var flatsomeVars = {"ajaxurl":"https:\/\/devteam.mobi\/wp-admin\/admin-ajax.php","rtl":"","sticky_height":"70","user":{"can_edit_pages":false}};</script> 
	<%- include("./../layout/form-show"); -%>
	<script>function setCookie(name,value,days) {
		var expires = '';
		if (days) {
		var date = new Date();
		date.setTime(date.getTime() + (days*24*60*60*1000));
		expires = 'expires=' + date.toUTCString();
		}
		document.cookie = name + '=' + (value || '') ;
		}
		function getCookie(name) {
		var nameEQ = name + '=';
		var ca = document.cookie.split(';');
		for(var i=0;i < ca.length;i++) {
		var c = ca[i];
		while (c.charAt(0)==' ') c = c.substring(1,c.length);
		if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
		}
		return null;
		}
		function msToTime(duration) {
		var milliseconds = parseInt((duration % 1000) / 100),
		seconds = Math.floor((duration / 1000) % 60),
		minutes = Math.floor((duration / (1000 * 60)) % 60),
		hours = Math.floor((duration / (1000 * 60 * 60)) % 24);
		hours = (hours < 10) ? '0' + hours : hours;
		minutes = (minutes < 10) ? '0' + minutes : minutes;
		seconds = (seconds < 10) ? '0' + seconds : seconds;
		return hours ;
		}
		if(!getCookie('access_websites')){
		setCookie('access_websites', new Date(), 4555858);
		setTimeout(function(){
		jQuery('.wp-form-show').addClass('active');
		},10000);
		}else{
		var datecookie = (new Date(getCookie('access_websites'))).getTime();
		var today = (new Date()).getTime();
		var result = today - datecookie;
		var subdate = msToTime(result);
		if(subdate && subdate > 24){
		setCookie('access_websites', new Date(), 4555858);
		setTimeout(function(){
		jQuery('.wp-form-show').addClass('active');
		},10000);
		}
		}
		//var showPup = JSON.parse(localStorage.getItem('showPopup'));
		/*if(showPup != true){
		localStorage.setItem('showPopup',JSON.stringify(true));
		setTimeout(function(){
		jQuery('.wp-form-show').addClass('active');
		},10000);
		}*/
		jQuery(document).ready(function(){ 
		jQuery('.wp-form-show .overlays').click(function(){
		jQuery('.wp-form-show').removeClass('active');
		});
		jQuery('.remove-icon').click(function(){
		jQuery('.wp-form-show').removeClass('active');
		$(this).removeClass('overlays');
		});
		});
	</script> 
	<div class="sidebar-footer"><span class="hidden" style="display:none">10000</span></div>
	<%- include("./../layout/form-show-phone"); -%>
	<%- include("./../layout/layout-footer"); -%>