<%- include("./../layout/layout-header"); -%>
<body class="post-template-default single single-post postid-23844 single-format-standard full-width lightbox lazy-icons nav-dropdown-has-arrow">
    <%- include("./../layout/contact-sidebar"); -%> 
	<a class="skip-link screen-reader-text" href="https://devteam.mobi/thiet-ke-va-lap-trinh-ung-dung-he-thong-quan-ly-tiem-nail/#main">Skip to content</a>
    <div id="wrapper">
        <%- include("./../layout/header"); -%>
	    <div class="page-title blog-featured-title featured-title no-overflow">
	        <div class="page-title-bg fill">
	            <div class="title-bg fill bg-fill bg-top parallax-active" style="background-image: url(&quot;https://devteam.mobi/wp-content/uploads/2019/10/he-thong-quan-li-tiem-nail.jpg&quot;); height: 341px; transform: translate3d(0px, -10.22px, 0px); backface-visibility: hidden;"
	                data-parallax-fade="true" data-parallax="-2" data-parallax-background="" data-parallax-container=".page-title"></div>
	            <div class="title-overlay fill" style="background-color: rgba(0,0,0,.5)"></div>
	        </div>
	        <div class="page-title-inner container  flex-row  dark is-large" style="min-height: 300px">
	            <div class="flex-col flex-center text-center">
	                <h6 class="entry-category is-xsmall"> <a href="https://devteam.mobi/chuyen-muc/doanh-nghiep/" rel="category tag">Doanh nghiệp</a></h6>
	                <h1 class="entry-title">Thiết Kế Và Lập Trình Ứng Dụng (App) Hệ Thống Quản Lý Tiệm Nail</h1>
	                <div class="entry-divider is-divider small"></div>
	                <div class="entry-meta uppercase is-xsmall"> <span class="posted-on dev">Ngày Đăng <time class="entry-date published" datetime="2019-10-28T09:27:12+07:00">28 Tháng Mười, 2019</time><time class="updated" datetime="2019-11-11T16:05:10+07:00">11 Tháng Mười Một, 2019</time></span>
	                    <span
	                        class="byline"> by <span class="meta-author vcard">Lê Khang</span></span>
	                </div>
	            </div>
	        </div>
	    </div>
	    <main id="main" class="">
	        <div id="content" class="blog-wrapper blog-single page-wrapper">
	            <div class="row row-large row-divided ">
	                <div class="large-9 col">
	                    <article id="post-23844" class="post-23844 post type-post status-publish format-standard has-post-thumbnail hentry category-doanh-nghiep">
	                        <div class="article-inner ">
	                            <div class="entry-content single-page">
	                                <p><span style="color: #000000;"><i><span style="font-weight: 400;">Chúng ta biết nhu cầu làm đẹp của con người ngày càng lớn hơn. Ngoài chăm sóc da, tóc, các chị em phụ nữ còn làm đẹp bằng cách chăm sóc móng tay, chân. Đôi bàn tay, chân đẹp sẽ tạo nên toàn bộ tổng thể đẹp. Thế nên các cửa hàng nail mọc lên rất nhiều. Để quản lý tốt công việc kinh doanh tiệm nail người ta sử dụng tới hệ thống quản lý. Đó là lý do các dịch vụ thiết kế ứng dụng </span></i>
	                                    <span
	                                        style="color: #ff9900;"><a style="color: #ff9900;" href="https://devteam.mobi/thiet-ke-va-lap-trinh-ung-dung-he-thong-quan-ly-tiem-nail/"><b><i>hệ thống quản lý tiệm nail </i></b></a></span><i><span style="font-weight: 400;">ra đời.&nbsp;</span></i></span>
	                                </p>
	                                <p><strong>Xem thêm:&nbsp;</strong></p>
	                                <blockquote>
	                                    <p><span style="color: #ff9900;"><a style="color: #ff9900;" href="https://devteam.mobi/hoi-dap-toi-muon-thiet-ke-ung-dung-lam-nail-tu-van-giup-toi/"><strong>Hỏi đáp | Tôi Muốn Thiết Kế Ứng Dụng Làm Nail, Tư Vấn Giúp Tôi</strong></a></span></p>
	                                </blockquote>
	                                <div id="toc_container" class="no_bullets contracted" style="width: auto; display: table;">
	                                    <p class="toc_title">Mục Lục <span class="toc_toggle">[<a href="https://devteam.mobi/thiet-ke-va-lap-trinh-ung-dung-he-thong-quan-ly-tiem-nail/#">hiện</a>]</span></p>
	                                    <ul class="toc_list" style="display: none;">
	                                        <li><a href="https://devteam.mobi/thiet-ke-va-lap-trinh-ung-dung-he-thong-quan-ly-tiem-nail/#Tinh_nang_trong_cua_app_quan_ly_tiem_nail"><span class="toc_number toc_depth_1">1</span> Tính năng trọng của app quản lý tiệm nail</a>
	                                            <ul>
	                                                <li><a href="https://devteam.mobi/thiet-ke-va-lap-trinh-ung-dung-he-thong-quan-ly-tiem-nail/#Phan_mem_quan_ly_he_thong_da_nen_tang"><span class="toc_number toc_depth_2">1.1</span> Phần mềm quản lý hệ thống đa nền tảng</a>
	                                                    <ul>
	                                                        <li><a href="https://devteam.mobi/thiet-ke-va-lap-trinh-ung-dung-he-thong-quan-ly-tiem-nail/#CHO_DA"><span class="toc_number toc_depth_3">1.1.1</span> CHỜ ĐÃ</a></li>
	                                                    </ul>
	                                                </li>
	                                                <li><a href="https://devteam.mobi/thiet-ke-va-lap-trinh-ung-dung-he-thong-quan-ly-tiem-nail/#Sap_xep_cong_viec_thong_minh_hon"><span class="toc_number toc_depth_2">1.2</span> Sắp xếp công việc thông minh hơn</a></li>
	                                                <li><a href="https://devteam.mobi/thiet-ke-va-lap-trinh-ung-dung-he-thong-quan-ly-tiem-nail/#Quan_ly_nhan_vien_de_dang"><span class="toc_number toc_depth_2">1.3</span> Quản lý nhân viên dễ dàng</a></li>
	                                                <li><a href="https://devteam.mobi/thiet-ke-va-lap-trinh-ung-dung-he-thong-quan-ly-tiem-nail/#Theo_doi_thu_nhap_thuan_tien"><span class="toc_number toc_depth_2">1.4</span> Theo dõi thu nhập thuận tiện</a></li>
	                                            </ul>
	                                        </li>
	                                        <li><a href="https://devteam.mobi/thiet-ke-va-lap-trinh-ung-dung-he-thong-quan-ly-tiem-nail/#Dich_vu_lap_trinh_ung_dung_he_thong_quan_ly_tiem_nail"><span class="toc_number toc_depth_1">2</span> Dịch vụ lập trình ứng dụng hệ thống quản lý tiệm nail</a></li>
	                                        <li><a href="https://devteam.mobi/thiet-ke-va-lap-trinh-ung-dung-he-thong-quan-ly-tiem-nail/#Chi_phi_gia_cong_phan_mem_8211_app_quan_ly_tiem_nail"><span class="toc_number toc_depth_1">3</span> Chi phí gia công phần mềm – app quản lý tiệm nail</a></li>
	                                        <li><a href="https://devteam.mobi/thiet-ke-va-lap-trinh-ung-dung-he-thong-quan-ly-tiem-nail/#Loi_ket"><span class="toc_number toc_depth_1">4</span> Lời kết</a></li>
	                                    </ul>
	                                </div>
	                                <h2><span id="Tinh_nang_trong_cua_app_quan_ly_tiem_nail"><span style="color: #000000;"><b>Tính năng trọng của app quản lý tiệm nail</b></span></span>
	                                </h2>
	                                <p><span style="color: #000000;"><span style="font-weight: 400;">Để tối ưu hóa việc </span> <span style="font-weight: 400;">quản lý, tăng hiệu quả doanh thu tiệm nail cần có phần mềm quản lý. Phần mềm quản lý tiệm nail trên nền tảng app mobile được dựng sẵn giải quyết vấn đề của hàng. Phần mềm sẽ đồng bộ dữ liệu, quản lý việc bán hàng của cửa tiệm. Thiết kế ứng dụng quản lý cửa hàng nail mang tới các tính năng sau:</span></span>
	                                </p>
	                                <h3><span id="Phan_mem_quan_ly_he_thong_da_nen_tang"><span style="color: #000000;"><b><i>Phần mềm quản lý hệ thống đa nền tảng</i></b></span></span>
	                                </h3>
	                                <p><span style="font-weight: 400; color: #000000;">Sử dụng hệ thống quản lý với phần mềm có thể chạy trên nhiều hệ điều hành. Với ứng dụng hệ thống quản lý cửa hàng nail tương tích với mọi thiết bị di động. Phần mềm đáp ứng mọi yêu cầu khách hàng. Một ứng dụng có đa nền tảng chỉ cần kết nối internet giúp tối ưu mọi tính năng. Ứng dụng giúp chủ tiệm theo dõi mọi hoạt động cửa tiệm dù đang ở bất cứ đâu.</span></p>
	                                <p><span style="font-weight: 400; color: #000000;">Chỉ cần có chiếc điện thoại di động, chủ tiệm sẽ đồng bộ được mọi dữ liệu đầy đủ. Phục vụ cho nhu cầu quản lý cửa tiệm diễn ra thuận lợi nhất. Phần mềm còn có tính&nbsp; năng liên kết với các thiết bị khác. Nên chủ tiệm sẽ nhanh chóng nắm bắt mọi tình hình giải quyết vấn đề linh động hơn nếu có.</span></p>
	                                <div class="panel" style="margin-bottom:20px;">
	                                    <div class="panel-header">
	                                        <h4><span id="CHO_DA">CHỜ ĐÃ</span></h4>
	                                    </div>
	                                    <div class="panel-body"><span>Bạn cần một bảng báo giá chi tiết về lập trình một ứng dụng làm nail? Bạn muốn có một ứng dụng nổi bật với mức chi phí phải chăng nhất? Vậy, hãy để Devteam hỗ trợ bạn!</span>
	                                        <div class="wp-link-shortcode"><a rel="nofollow" target="_blank" href="https://devteam.mobi/yeu-cau-bao-gia/" class="btn btn-read-more btn-animate linkprice"><span class="animated  alo-ph-blues "></span>Gửi báo giá</a><a rel="nofollow" target="_blank"
	                                                href="https://messenger.com/t/devteam.mobi" class="btn btn-read-more btn-animate"><span class="animated infinite zoomIn alo-ph-circle"></span>Tư vấn dịch vụ</a></div>
	                                    </div>
	                            	</div>
		                            <h3><span id="Sap_xep_cong_viec_thong_minh_hon"><span style="color: #000000;"><b><i>Sắp xếp công việc thông minh hơn</i></b></span></span>
		                            </h3>
		                            <figure id="attachment_23845" aria-describedby="caption-attachment-23845" style="width: 512px" class="wp-caption aligncenter"><img class="lazy-load wp-image-23845 size-full" src="./../../assets/lazy.png" data-src="https://devteam.mobi/wp-content/uploads/2019/10/he-thong-quan-li-tiem-nail.jpg"
		                                    alt="phần mềm quản lý tiệm nail" width="512" height="268" srcset="" data-srcset="https://devteam.mobi/wp-content/uploads/2019/10/he-thong-quan-li-tiem-nail.jpg 512w, https://devteam.mobi/wp-content/uploads/2019/10/he-thong-quan-li-tiem-nail-370x194.jpg 370w"
		                                    sizes="(max-width: 512px) 100vw, 512px">
		                                <figcaption id="caption-attachment-23845" class="wp-caption-text">Hệ thống quản lý tiệm nail sắp xếp công việc tốt hơn</figcaption>
		                            </figure>
		                            <p><span style="font-weight: 400; color: #000000;">Nhờ có <strong>hệ thống quản lý tiệm nail</strong> trên app mobile chủ tiệm dễ dàng tối ưu hóa công việc. Quản lý được lượng khách ra vào, các dịch vụ cũng như nhân viên hỗ trợ, phí dịch vụ,…. Chủ tiệm dễ dàng thao tác các quyền trên phần mềm để sắp xếp công việc. Từ đó đưa ra những yêu cầu để nhân viên có thể thực hiện theo.</span></p>
		                            <h3><span id="Quan_ly_nhan_vien_de_dang"><span style="color: #000000;"><b><i>Quản lý nhân viên dễ dàng</i></b></span></span>
		                            </h3>
		                            <figure id="attachment_23846" aria-describedby="caption-attachment-23846" style="width: 512px" class="wp-caption aligncenter"><img class="lazy-load wp-image-23846 size-full" src="./../../assets/lazy.png" data-src="https://devteam.mobi/wp-content/uploads/2019/10/he-thong-quan-li-tiem-nail-1.jpg"
		                                    alt="Ứng dụng quản lý tiệm nail quản lý nhân viên dễ dàng" width="512" height="268" srcset="" data-srcset="https://devteam.mobi/wp-content/uploads/2019/10/he-thong-quan-li-tiem-nail-1.jpg 512w, https://devteam.mobi/wp-content/uploads/2019/10/he-thong-quan-li-tiem-nail-1-370x194.jpg 370w"
		                                    sizes="(max-width: 512px) 100vw, 512px">
		                                <figcaption id="caption-attachment-23846" class="wp-caption-text">Ứng dụng quản lý tiệm nail quản lý nhân viên dễ dàng</figcaption>
		                            </figure>
		                            <p><span style="font-weight: 400; color: #000000;">Ứng dụng quản lý tiệm nail cho phép chủ tiệm phân công công việc cho từng nhân viên. Tính năng này dễ dàng thực hiện bằng cách chọn các công việc phân chia. Đồng thời, chủ tiệm có thể quản lý lịch làm việc của nhân viên. Từ phần mềm theo dõi thông tin kinh doanh cửa tiệm tổng quát hơn.</span></p>
		                            <p><span style="font-weight: 400; color: #000000;">Đưa ra những thông tin cơ bản, lịch làm việc cũng như lịch sử làm việc. Sau đó đánh giá chất lượng làm việc nhân viên chính xác, khách quan nhất. Nhờ ứng dụng phần mềm này chủ tiệm quản lý lịch làm việc nhân viên linh động hơn.&nbsp;</span></p>
		                            <h3><span id="Theo_doi_thu_nhap_thuan_tien"><span style="color: #000000;"><b><i>Theo dõi thu nhập thuận tiện</i></b></span></span>
		                            </h3>
		                            <figure id="attachment_23847" aria-describedby="caption-attachment-23847" style="width: 512px" class="wp-caption aligncenter"><img class="lazy-load wp-image-23847 size-full" src="./../../assets/lazy.png" data-src="https://devteam.mobi/wp-content/uploads/2019/10/he-thong-quan-li-tiem-nail-2.jpg"
		                                    alt="Hệ thống quản lý cửa hàng nail quản lý thu nhập tốt hơn" width="512" height="320" srcset="" data-srcset="https://devteam.mobi/wp-content/uploads/2019/10/he-thong-quan-li-tiem-nail-2.jpg 512w, https://devteam.mobi/wp-content/uploads/2019/10/he-thong-quan-li-tiem-nail-2-370x231.jpg 370w"
		                                    sizes="(max-width: 512px) 100vw, 512px">
		                                <figcaption id="caption-attachment-23847" class="wp-caption-text">Hệ thống quản lý cửa hàng nail quản lý thu nhập tốt hơn</figcaption>
		                            </figure>
		                            <p><span style="font-weight: 400; color: #000000;">Tính năng theo dõi thu nhập giúp người quản lý biết được doanh thu của cửa tiệm. Từ đó biết được mỗi ngày, mỗi tháng cửa tiệm đạt doanh thu bao nhiêu. Đồng thời đưa ra được mức lương, thưởng và hoa hồng sao cho hợp lý nhất. Tính năng này thực sự tiện ích đối với các chủ tiệm nail.</span></p>
		                            <p><span style="font-weight: 400; color: #000000;">Ngoài các tính năng của <strong>hệ thống quản lý tiệm nail</strong> trên ứng dụng còn có các tính năng như quả lý voucher, quản lý điểm tích lũy khách hàng, chăm sóc khách hàng qua phần mềm,…</span></p>
		                            <h2><span id="Dich_vu_lap_trinh_ung_dung_he_thong_quan_ly_tiem_nail"><span style="color: #000000;"><b>Dịch vụ lập trình ứng dụng hệ thống quản lý tiệm nail</b></span></span>
		                            </h2>
		                            <figure id="attachment_23848" aria-describedby="caption-attachment-23848" style="width: 512px" class="wp-caption aligncenter"><img class="lazy-load wp-image-23848 size-full" src="./../../assets/lazy.png" data-src="https://devteam.mobi/wp-content/uploads/2019/10/he-thong-quan-li-tiem-nail-3.jpg"
		                                    alt="Sử dụng dịch vụ viết ứng dụng quản lý tiệm nail" width="512" height="268" srcset="" data-srcset="https://devteam.mobi/wp-content/uploads/2019/10/he-thong-quan-li-tiem-nail-3.jpg 512w, https://devteam.mobi/wp-content/uploads/2019/10/he-thong-quan-li-tiem-nail-3-370x194.jpg 370w"
		                                    sizes="(max-width: 512px) 100vw, 512px">
		                                <figcaption id="caption-attachment-23848" class="wp-caption-text">Sử dụng dịch vụ viết ứng dụng quản lý tiệm nail</figcaption>
		                            </figure>
		                            <p><span style="font-weight: 400; color: #000000;">Hiện nay có nhiều đơn vị cung cấp dịch vụ các phần mềm quản lý hệ thống bán hàng. Bởi công nghệ ngày càng hiện đại và phát triển nên các phần mềm sinh ra giải quyết nhiều vấn đề cho con người. Thiết kế lập trình nên ứng dụng quản lý giúp công việc kinh doanh dễ dàng hơn. Đồng thời, các dịch vụ thiết kế phần mềm sẽ tạo nên ứng dụng hợp với nhu cầu kinh doanh cửa hàng.</span></p>
		                            <p><span style="font-weight: 400; color: #000000;">Bạn nên tìm tới các đơn vị cung cấp dịch vụ quản lý tiệm nail. Sở hữu ứng dụng này bạn quản lý nhân viên, quá trình buôn bán dễ dàng hơn. Không chỉ vậy còn tiết kiệm chi phí thuê nhân lực. Ứng dụng quản lý tiệm nail với nhiều tính năng hấp dẫn. Hệ thống sẽ giải quyết tốt nhiều vấn đề, tiết kiệm thời gian công sức con người làm việc.</span></p>
		                            <p><span style="font-weight: 400; color: #000000;"><strong>Dịch vụ thiết kế ứng dụng hệ thống quản lý tiệm nail</strong> đưa ra các tính năng hợp với yêu cầu khách hàng. Ứng dụng quản lý hệ thống hợp với môi trường làm việc và cách thức kinh doanh cửa tiệm.</span></p>
		                            <blockquote>
		                                <p>Xem thêm: <span style="color: #ff9900;"><strong style="color: #ff9900;"><a style="color: #ff9900;" href="https://devteam.mobi/nhan-viet-app-di-dong-tren-nen-tang-android-va-ios/">Nhận Viết App Phần Mềm Di Động Trên Nền Tảng Android Và IOS</a></strong></span></p>
		                            </blockquote>
		                            <h2><span id="Chi_phi_gia_cong_phan_mem_8211_app_quan_ly_tiem_nail"><strong>Chi phí gia công phần mềm – app quản lý tiệm nail</strong></span></h2>
		                            <p><span style="color: #282828;">Chính vì những tính năng quan trọng mà một app hệ thống quản lí tiệm nail phải có để hoàn thiện và đưa vào vận hành tốt nhất. Thì song song đó chính là vấn đề giá cả. Việc gia công một app quản lí như thế chắc chắn sẽ mang giá trị cao bởi vì những tính năng mà bạn cần. Devteam sẽ cung cấp cũng như nhận tất cả tính năng mà khách hàng mong muốn, đổi lại giá thành hai bên sẽ được thương lượng. </span></p>
		                            <blockquote>
		                                <p><strong><span style="color: #282828; background-color: #ffff00;">Thông thường, những phần mềm quản lí tiệm nail mà Devteam đã và đang gia công tối thiểu sẽ là <span style="color: #ff0000;">150.000.000 VND</span>, tuỳ vào tính năng và yêu cầu của khách hàng.</span></strong></p>
		                            </blockquote>
		                            <h2><span id="Loi_ket"><strong>Lời kết</strong></span></h2>
		                            <p><span style="font-weight: 400; color: #000000;">Để tìm kiếm đơn vị thiết kế ứng dụng quản lý tiệm nail bạn nên đến DevTeam. Là đơn vị chuyên viết ứng dụng quản lý tiệm nail chất lượng hiện nay. Đơn vị chú trọng chất lượng, luôn tạo sự uy tín cho thương hiệu, tiết kiệm chi phí cho khách hàng. DevTeam sẽ đưa ra giải pháp chi phí hợp lý nhất.&nbsp;</span></p>
		                            <p><span style="font-weight: 400; color: #000000;">Qua những thông tin trên, để sử dụng <strong>dịch vụ ứng dụng hệ thống quản lý tiệm nail</strong> bạn tìm tới DevTeam. Đây là đơn vị mang tới giải pháp kinh doanh hiệu quả tối ưu.</span></p>
		                            <div class="blog-share text-center">
		                                <div class="is-divider medium"></div>
		                                <div class="social-icons share-icons share-row relative">
		                                	<a href="whatsapp://send?text=Thi%E1%BA%BFt%20K%E1%BA%BF%20V%C3%A0%20L%E1%BA%ADp%20Tr%C3%ACnh%20%E1%BB%A8ng%20D%E1%BB%A5ng%20%28App%29%20H%E1%BB%87%20Th%E1%BB%91ng%20Qu%E1%BA%A3n%20L%C3%BD%20Ti%E1%BB%87m%20Nail - https://devteam.mobi/thiet-ke-va-lap-trinh-ung-dung-he-thong-quan-ly-tiem-nail/" data-action="share/whatsapp/share" class="icon primary button circle tooltip whatsapp show-for-medium tooltipstered"><i class="icon-phone"></i></a>
		                                	<a href="https://www.facebook.com/sharer.php?u=https://devteam.mobi/thiet-ke-va-lap-trinh-ung-dung-he-thong-quan-ly-tiem-nail/" data-label="Facebook" onclick="window.open(this.href,this.title,&#39;width=500,height=500,top=300px,left=300px&#39;);  return false;" rel="noopener noreferrer nofollow" target="_blank" class="icon primary button circle tooltip facebook tooltipstered"><i class="icon-facebook"></i></a>
		                                    <a href="https://twitter.com/share?url=https://devteam.mobi/thiet-ke-va-lap-trinh-ung-dung-he-thong-quan-ly-tiem-nail/" onclick="window.open(this.href,this.title,&#39;width=500,height=500,top=300px,left=300px&#39;);  return false;"
		                                        rel="noopener noreferrer nofollow" target="_blank" class="icon primary button circle tooltip twitter tooltipstered"><i class="icon-twitter"></i></a><a href="mailto:enteryour@addresshere.com?subject=Thi%E1%BA%BFt%20K%E1%BA%BF%20V%C3%A0%20L%E1%BA%ADp%20Tr%C3%ACnh%20%E1%BB%A8ng%20D%E1%BB%A5ng%20%28App%29%20H%E1%BB%87%20Th%E1%BB%91ng%20Qu%E1%BA%A3n%20L%C3%BD%20Ti%E1%BB%87m%20Nail&amp;body=Check%20this%20out:%20https://devteam.mobi/thiet-ke-va-lap-trinh-ung-dung-he-thong-quan-ly-tiem-nail/"
		                                            rel="nofollow" class="icon primary button circle tooltip email tooltipstered"><i class="icon-envelop"></i></a>
		                                    <a href="https://pinterest.com/pin/create/button/?url=https://devteam.mobi/thiet-ke-va-lap-trinh-ung-dung-he-thong-quan-ly-tiem-nail/&amp;media=https://devteam.mobi/wp-content/uploads/2019/10/he-thong-quan-li-tiem-nail.jpg&amp;description=Thi%E1%BA%BFt%20K%E1%BA%BF%20V%C3%A0%20L%E1%BA%ADp%20Tr%C3%ACnh%20%E1%BB%A8ng%20D%E1%BB%A5ng%20%28App%29%20H%E1%BB%87%20Th%E1%BB%91ng%20Qu%E1%BA%A3n%20L%C3%BD%20Ti%E1%BB%87m%20Nail" onclick="window.open(this.href,this.title,&#39;width=500,height=500,top=300px,left=300px&#39;);  return false;" rel="noopener noreferrer nofollow" target="_blank" class="icon primary button circle tooltip pinterest tooltipstered"><i class="icon-pinterest"></i></a>
	                                        <a href="https://plus.google.com/share?url=https://devteam.mobi/thiet-ke-va-lap-trinh-ung-dung-he-thong-quan-ly-tiem-nail/" target="_blank" class="icon primary button circle tooltip google-plus tooltipstered" onclick="window.open(this.href,this.title,&#39;width=500,height=500,top=300px,left=300px&#39;);  return false;"
	                                            rel="noopener noreferrer nofollow"><i class="icon-google-plus"></i></a>
	                                        <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://devteam.mobi/thiet-ke-va-lap-trinh-ung-dung-he-thong-quan-ly-tiem-nail/&amp;title=Thi%E1%BA%BFt%20K%E1%BA%BF%20V%C3%A0%20L%E1%BA%ADp%20Tr%C3%ACnh%20%E1%BB%A8ng%20D%E1%BB%A5ng%20%28App%29%20H%E1%BB%87%20Th%E1%BB%91ng%20Qu%E1%BA%A3n%20L%C3%BD%20Ti%E1%BB%87m%20Nail" onclick="window.open(this.href,this.title,&#39;width=500,height=500,top=300px,left=300px&#39;);  return false;" rel="noopener noreferrer nofollow" target="_blank" class="icon primary button circle tooltip linkedin tooltipstered"><i class="icon-linkedin"></i></a>
		                                </div>
		                        	</div>
			                        <div class="blog-share text-center">
			                            <div id="fb-root" class=" fb_reset">
			                                <div style="position: absolute; top: -10000px; width: 0px; height: 0px;">
			                                    <div><iframe name="fb_xdm_frame_https" id="fb_xdm_frame_https" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tabindex="-1" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no"
			                                            allow="encrypted-media" src="./../../assets/xd_arbiter.html" style="border: none;"></iframe></div>
			                                    <div></div>
			                                </div>
			                                <div class="fb-customerchat fb_invisible_flow fb_iframe_widget" attribution="setup_tool" page_id="713684975431254" theme_color="#e60100" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=&amp;attribution=setup_tool&amp;container_width=0&amp;locale=en_US&amp;page_id=713684975431254&amp;sdk=joey&amp;theme_color=%23e60100"><span style="vertical-align: bottom; width: 0px; height: 0px;"><iframe name="f35a3753783dc5c" width="1000px" height="1000px" title="" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="./../../assets/customerchat.html" style="border: none; visibility: visible; width: 288pt; height: 211px; border-radius: 9pt; bottom: 63pt; padding: 0px; position: fixed; right: 9pt; top: auto; z-index: 2147483647; max-height: 0px;" class="" data-testid="dialog_iframe"></iframe></span></div>
			                                <div
			                                    class="fb_dialog  fb_dialog_advanced fb_customer_chat_bubble_animated_no_badge fb_customer_chat_bubble_pop_in" style="background: none; border-radius: 50%; bottom: 18pt; display: inline; height: 45pt; padding: 0px; position: fixed; right: 18pt; top: auto; width: 45pt; z-index: 2147483646;">
			                                    <div class="fb_dialog_content" style="background: none;"><iframe name="blank_f35a3753783dc5c" width="60px" tabindex="-1" data-testid="bubble_iframe" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="./../../assets/bubble.html"
			                                            style="border: none;"></iframe></div>
				                            </div>
				                        </div>
				                        <script>
				                            (function (d, s, id) {
				                                var js, fjs = d.getElementsByTagName(s)[0];
				                                if (d.getElementById(id)) return;
				                                js = d.createElement(s);
				                                js.id = id;
				                                js.src = "https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js";
				                                fjs.parentNode.insertBefore(js, fjs);
				                            }(document, 'script', 'facebook-jssdk'));
				                        </script> 
				                        <span class="like">
				                        	<div class="fb-like fb_iframe_widget" data-href="https://devteam.mobi/thiet-ke-va-lap-trinh-ung-dung-he-thong-quan-ly-tiem-nail/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=&amp;container_width=773&amp;href=https%3A%2F%2Fdevteam.mobi%2Fthiet-ke-va-lap-trinh-ung-dung-he-thong-quan-ly-tiem-nail%2F&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small">
				                        		<span style="vertical-align: bottom; width: 128px; height: 20px;">
				                        			<iframe name="f740d9ce049d8" width="1000px" height="1000px" title="fb:like Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="./../../assets/like.html" style="border: none; visibility: visible; width: 128px; height: 20px;" class=""></iframe>
				                        		</span>
				                        	</div>
							                <script src="./../../assets/platform.js" async="" defer="" gapi_processed="true"></script>
							                <div style="position: absolute; width: 450px; left: -10000px;" id="___plusone_0">
							                	<iframe ng-non-bindable="" frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position:absolute;top:-10000px;width:450px;margin:0px;border-style:none" tabindex="0" vspace="0" width="100%" id="I0_1575050408692"
							                        name="I0_1575050408692" src="./../../assets/fastbutton.html" data-gapiattached="true"></iframe>
							                </div>
							                <g:plusone size="medium" data-gapiscan="true" data-onload="true"
							                    data-gapistub="true"></g:plusone>
						                </span>
			            			</div>
			        			</div>
						        <footer class="entry-meta text-left"> Mục này đã được đăng trong <a href="https://devteam.mobi/chuyen-muc/doanh-nghiep/" rel="category tag">Doanh nghiệp</a>. Bookmark the <a href="https://devteam.mobi/thiet-ke-va-lap-trinh-ung-dung-he-thong-quan-ly-tiem-nail/" title="Permalink to Thiết Kế Và Lập Trình Ứng Dụng (App) Hệ Thống Quản Lý Tiệm Nail"
						                rel="bookmark">permalink</a>.</footer>
						        <div class="form-contact-footer">
						            <div class="message-box relative dark" style="padding-top:15px;padding-bottom:15px;">
						                <div class="message-box-bg-image bg-fill fill"></div>
						                <div class="message-box-bg-overlay bg-fill fill"></div>
						                <div class="container relative">
						                    <div class="inner last-reset">
						                        <div class="row align-middle align-center" id="row-1749978222">
					                            	<div class="col title-contact medium-6 small-12 large-6">
						                                <div class="col-inner">
						                                    <p>Bạn có một<span class="highlight"> Ý TƯỞNG?</span></p>
						                                    <p>Chúng tôi có thể giúp bạn</p> <span class="highlight">THỰC HIỆN</span> nó!<br>
						                                </div>
						                            </div>
						                            <div class="col medium-6 small-12 large-6">
						                                <div class="col-inner text-center">
						                                    <div role="form" class="wpcf7" id="wpcf7-f18581-p23844-o2" lang="vi" dir="ltr">
						                                        <div class="screen-reader-response"></div>
						                                        <form action="https://devteam.mobi/thiet-ke-va-lap-trinh-ung-dung-he-thong-quan-ly-tiem-nail/#wpcf7-f18581-p23844-o2" method="post" class="wpcf7-form" novalidate="novalidate">
						                                            <div style="display: none;"> <input type="hidden" name="_wpcf7" value="18581"> <input type="hidden" name="_wpcf7_version" value="5.1.3"> <input type="hidden" name="_wpcf7_locale" value="vi"> <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f18581-p23844-o2">                                                <input type="hidden" name="_wpcf7_container_post" value="23844"></div>
						                                            <div class="form-contact-footer-all-post"> <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Tên của bạn"></span>
						                                                <p></p>
						                                                <p><br><br> <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email hoặc số điện thoại"></span></p>
						                                                <p><br><br> <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Mô tả ý tưởng"></textarea></span></p>
						                                                <p><input type="submit" value="Gửi yêu cầu" class="wpcf7-form-control wpcf7-submit"><span class="ajax-loader"></span></p>
						                                            </div>
						                                            <p><input type="hidden" name="wpcf7_telegram" value="1"></p>
						                                            <div class="wpcf7-response-output wpcf7-display-none"></div><input type="hidden" name="HYFJSW" value="RBpeTd"><input type="hidden" name="HPQVfDxbI" value="MG6pwQ5.A"><input type="hidden" name="Ar-dxgalbB" value="RsI8QNXYK3"><input type="hidden" name="SVEvXq-yM"
						                                                value="KJCi7wHcg"></form>
						                                    </div>
						                                </div>
					                            	</div>
						                        </div>
						                    </div>
						                </div>
						            </div>
						        </div>
						        <div class="entry-author author-box">
						            <div class="flex-row align-top">
						                <div class="flex-col mr circle">
						                    <div class="blog-author-image"> <img alt="" src="./../../assets/801b841b4186bed277eb4df9fa90c1af.png" data-src="https://secure.gravatar.com/avatar/801b841b4186bed277eb4df9fa90c1af?s=90&amp;d=mm&amp;r=g"
						                            srcset="https://secure.gravatar.com/avatar/801b841b4186bed277eb4df9fa90c1af?s=180&amp;d=mm&amp;r=g 2x" data-srcset="https://secure.gravatar.com/avatar/801b841b4186bed277eb4df9fa90c1af?s=180&amp;d=mm&amp;r=g 2x" class="avatar avatar-90 photo lazy-load-active"
						                            height="90" width="90"></div>
						                </div>
						                <div class="flex-col flex-grow">
						                    <h5 class="author-name uppercase pt-half"> Lê Khang</h5>
						                    <p class="author-desc small"></p>
						                </div>
						            </div>
						        </div>
						        <nav role="navigation" id="nav-below" class="navigation-post">
						            <div class="flex-row next-prev-nav bt bb">
						                <div class="flex-col flex-grow nav-prev text-left">
						                    <div class="nav-previous"><a href="https://devteam.mobi/giai-phap-erp-nganh-bao-bi/" rel="prev"><span class="hide-for-small"><i class="icon-angle-left"></i></span> Giải Pháp ERP Toàn Diện Cho Ngành Bao Bì Tại Việt Nam</a></div>
						                </div>
						                <div class="flex-col flex-grow nav-next text-right">
						                    <div class="nav-next"><a href="https://devteam.mobi/kinh-nghiem-quan-ly-tiem-nail/" rel="next">Kinh Nghiệm Quản Lý Tiệm Nail Cho Người Mới Bắt Đầu <span class="hide-for-small"><i class="icon-angle-right"></i></span></a></div>
						                </div>
						            </div>
						        </nav>
					        </div>
				        </article>
				        <div id="comments" class="comments-area"></div>
			        </div>
			        <div class="post-sidebar large-3 col">
			            <div id="secondary" class="widget-area " role="complementary">
			                <aside id="custom_html-3" class="widget_text widget widget_custom_html">
			                    <div class="textwidget custom-html-widget">
			                        <div class="fb-page fb_iframe_widget" data-href="https://www.facebook.com/devteam.mobi/" data-width="380" data-hide-cover="false" data-show-facepile="false" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=&amp;container_width=217&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fdevteam.mobi%2F&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=false&amp;width=380"><span style="vertical-align: bottom; width: 217px; height: 130px;"><iframe name="f3ff56d8391d58" width="380px" height="1000px" title="fb:page Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="./../../assets/page.html" style="border: none; visibility: visible; width: 217px; height: 130px;" class=""></iframe></span></div>
			                    </div>
			                </aside>
			                <aside id="search-2" class="widget widget_search"><span class="widget-title "><span>Tìm kiếm</span></span>
			                    <div class="is-divider small"></div>
			                    <form method="get" class="searchform" action="https://devteam.mobi/" role="search">
			                        <div class="flex-row relative">
			                            <div class="flex-col flex-grow"> <input type="search" class="search-field mb-0" name="s" value="" id="s" placeholder="Search…" autocomplete="off"></div>
			                            <div class="flex-col"> <button type="submit" class="ux-search-submit submit-button secondary button icon mb-0"> <i class="icon-search"></i> </button></div>
			                        </div>
			                        <div class="live-search-results text-left z-top">
			                            <div class="autocomplete-suggestions" style="position: absolute; display: none; max-height: 300px; z-index: 9999;"></div>
			                        </div>
			                    </form>
			                </aside>
			                <aside id="relatedpoststhumbnailswidget-2" class="widget relpoststh_widget"> <span class="widget-title "> Bài viết liên quan </span>
			                    <div class="is-divider small"></div>
			                    <div class="relpost-thumb-wrapper">
			                        <div class="border-d" style=" height: 4px; background: red; width: 50px; position: absolute; top: 70px;; "></div>
			                        <div class="post-hover-v">
			                            <div class="relpost-block-container">
			                                <div class="wrap-relpost" style="width: 250px; height: 325px;">
			                                    <a class="relpost-block-single" href="https://devteam.mobi/ymeet-la-gi-dung-ymeet-co-an-toan-khong/">
			                                        <div class="relpost-block-single-text" style="font-family: Arial;  font-size: 14px;  color: #333333;"><span class="color_number_related">01<img src="./../../assets/i_bacham.svg" style="padding: 0px 2px 1px 1px;width: 5px;"></span>Ymeet Là Gì? Dùng
			                                            Ymeet Có An Toàn Không?</div>
			                                        <div class="border-d"></div>
			                                        <div class="relpost-block-single-image" alt="Ymeet Là Gì? Dùng Ymeet Có An Toàn Không?" style=" background: transparent url(https://devteam.mobi/wp-content/uploads/2019/05/Ymeet.jpg) no-repeat scroll 0% 0%; width: 250px; height: 250px;     background-size: cover;">
			                                            <div class="border-div-img"></div>
			                                        </div>
			                                    </a>
			                                    <div class="wrap-link-relpost"> <a href="https://devteam.mobi/ymeet-la-gi-dung-ymeet-co-an-toan-khong/" style="display: block; position: relative; min-width: inherit;margin-bottom: unset;font-weight: 600;top:5px;color: #555555; ">ĐỌC CHI TIẾT<img src="./../../assets/i_retangle.svg" style="width: 15px; padding: 4px;  top: -2px;  position: relative; left: 0px;"></a>
			                                        <div class="date_post_v"> <span class="related_post_date" style=" transform: skewX(20deg); display: block; color: red;text-align: center;">11/05/2019</span></div>
			                                    </div>
			                                </div>
			                            </div>
			                            <div style="clear: both"></div>
			                        </div>
			                        <div class="post-hover-v">
			                            <div class="relpost-block-container">
			                                <div class="wrap-relpost" style="width: 250px; height: 325px;">
			                                    <a class="relpost-block-single" href="https://devteam.mobi/y-tuong-lam-giau-cung-thi-truong-thuong-mai-dien-tu/">
			                                        <div class="relpost-block-single-text" style="font-family: Arial;  font-size: 14px;  color: #333333;"><span class="color_number_related">02<img src="./../../assets/i_bacham.svg" style="padding: 0px 2px 1px 1px;width: 5px;"></span>Ý Tưởng Làm Giàu
			                                            Cùng Thị Trường Thương Mại Điện Tử Việt Nam</div>
			                                        <div class="border-d"></div>
			                                        <div class="relpost-block-single-image" alt="Ý Tưởng Làm Giàu Cùng Thị Trường Thương Mại Điện Tử Việt Nam" style=" background: transparent url(https://devteam.mobi/wp-content/uploads/2019/03/thuong-mai-dien-tu-1.jpg) no-repeat scroll 0% 0%; width: 250px; height: 250px;     background-size: cover;">
			                                            <div class="border-div-img"></div>
			                                        </div>
			                                    </a>
			                                    <div class="wrap-link-relpost"> <a href="https://devteam.mobi/y-tuong-lam-giau-cung-thi-truong-thuong-mai-dien-tu/" style="display: block; position: relative; min-width: inherit;margin-bottom: unset;font-weight: 600;top:5px;color: #555555; ">ĐỌC CHI TIẾT<img src="./../../assets/i_retangle.svg" style="width: 15px; padding: 4px;  top: -2px;  position: relative; left: 0px;"></a>
			                                        <div class="date_post_v"> <span class="related_post_date" style=" transform: skewX(20deg); display: block; color: red;text-align: center;">21/03/2019</span></div>
			                                    </div>
			                                </div>
			                            </div>
			                            <div style="clear: both"></div>
			                        </div>
			                        <div class="post-hover-v">
			                            <div class="relpost-block-container">
			                                <div class="wrap-relpost" style="width: 250px; height: 325px;">
			                                    <a class="relpost-block-single" href="https://devteam.mobi/xu-huong-phat-trien-mobile-app-trong-nam-2019/">
			                                        <div class="relpost-block-single-text" style="font-family: Arial;  font-size: 14px;  color: #333333;"><span class="color_number_related">03<img src="./../../assets/i_bacham.svg" style="padding: 0px 2px 1px 1px;width: 5px;"></span>Xu Hướng Phát Triển
			                                            Mobile App Trong Năm 2019</div>
			                                        <div class="border-d"></div>
			                                        <div class="relpost-block-single-image" alt="Xu Hướng Phát Triển Mobile App Trong Năm 2019" style=" background: transparent url(https://devteam.mobi/wp-content/uploads/2019/04/APP4-1.png) no-repeat scroll 0% 0%; width: 250px; height: 250px;     background-size: cover;">
			                                            <div class="border-div-img"></div>
			                                        </div>
			                                    </a>
			                                    <div class="wrap-link-relpost"> <a href="https://devteam.mobi/xu-huong-phat-trien-mobile-app-trong-nam-2019/" style="display: block; position: relative; min-width: inherit;margin-bottom: unset;font-weight: 600;top:5px;color: #555555; ">ĐỌC CHI TIẾT<img src="./../../assets/i_retangle.svg" style="width: 15px; padding: 4px;  top: -2px;  position: relative; left: 0px;"></a>
			                                        <div class="date_post_v"> <span class="related_post_date" style=" transform: skewX(20deg); display: block; color: red;text-align: center;">12/04/2019</span></div>
			                                    </div>
			                                </div>
			                            </div>
			                            <div style="clear: both"></div>
			                        </div>
			                        <div class="post-hover-v">
			                            <div class="relpost-block-container">
			                                <div class="wrap-relpost" style="width: 250px; height: 325px;">
			                                    <a class="relpost-block-single" href="https://devteam.mobi/xay-dung-website-va-app-mobile-chieu-bong-da-truc-tuyen/">
			                                        <div class="relpost-block-single-text" style="font-family: Arial;  font-size: 14px;  color: #333333;"><span class="color_number_related">04<img src="./../../assets/i_bacham.svg" style="padding: 0px 2px 1px 1px;width: 5px;"></span>Xây Dựng Website
			                                            Và App Mobile Trình Chiếu Các Trận Đấu Bóng Đá Trực Tuyến</div>
			                                        <div class="border-d"></div>
			                                        <div class="relpost-block-single-image" alt="Xây Dựng Website Và App Mobile Trình Chiếu Các Trận Đấu Bóng Đá Trực Tuyến" style=" background: transparent url(https://devteam.mobi/wp-content/uploads/2019/05/ung-dung-xem-bong-da-truc-tuyen-1-min.png) no-repeat scroll 0% 0%; width: 250px; height: 250px;     background-size: cover;">
			                                            <div class="border-div-img"></div>
			                                        </div>
			                                    </a>
			                                    <div class="wrap-link-relpost"> <a href="https://devteam.mobi/xay-dung-website-va-app-mobile-chieu-bong-da-truc-tuyen/" style="display: block; position: relative; min-width: inherit;margin-bottom: unset;font-weight: 600;top:5px;color: #555555; ">ĐỌC CHI TIẾT<img src="./../../assets/i_retangle.svg" style="width: 15px; padding: 4px;  top: -2px;  position: relative; left: 0px;"></a>
			                                        <div class="date_post_v"> <span class="related_post_date" style=" transform: skewX(20deg); display: block; color: red;text-align: center;">23/05/2019</span></div>
			                                    </div>
			                                </div>
			                            </div>
			                            <div style="clear: both"></div>
			                        </div>
			                        <div class="post-hover-v">
			                            <div class="relpost-block-container">
			                                <div class="wrap-relpost" style="width: 250px; height: 325px;">
			                                    <a class="relpost-block-single" href="https://devteam.mobi/xay-dung-website-thuong-mai-dien-tu-co-hoi-va-thach-thuc/">
			                                        <div class="relpost-block-single-text" style="font-family: Arial;  font-size: 14px;  color: #333333;"><span class="color_number_related">05<img src="./../../assets/i_bacham.svg" style="padding: 0px 2px 1px 1px;width: 5px;"></span>Xây Dựng Website
			                                            Thương Mại Điện Tử – Cơ Hội Và Thách Thức</div>
			                                        <div class="border-d"></div>
			                                        <div class="relpost-block-single-image" alt="Xây Dựng Website Thương Mại Điện Tử – Cơ Hội Và Thách Thức" style=" background: transparent url(https://devteam.mobi/wp-content/uploads/2019/03/a-se-1.jpg) no-repeat scroll 0% 0%; width: 250px; height: 250px;     background-size: cover;">
			                                            <div class="border-div-img"></div>
			                                        </div>
			                                    </a>
			                                    <div class="wrap-link-relpost"> <a href="https://devteam.mobi/xay-dung-website-thuong-mai-dien-tu-co-hoi-va-thach-thuc/" style="display: block; position: relative; min-width: inherit;margin-bottom: unset;font-weight: 600;top:5px;color: #555555; ">ĐỌC CHI TIẾT<img src="./../../assets/i_retangle.svg" style="width: 15px; padding: 4px;  top: -2px;  position: relative; left: 0px;"></a>
			                                        <div class="date_post_v"> <span class="related_post_date" style=" transform: skewX(20deg); display: block; color: red;text-align: center;">21/03/2019</span></div>
			                                    </div>
			                                </div>
			                            </div>
			                            <div style="clear: both"></div>
			                        </div>
			                        <div class="post-hover-v">
			                            <div class="relpost-block-container">
			                                <div class="wrap-relpost" style="width: 250px; height: 325px;">
			                                    <a class="relpost-block-single" href="https://devteam.mobi/xay-dung-website-so-sanh-gia-giong-websosanh-vn-va-topgia-vn/">
			                                        <div class="relpost-block-single-text" style="font-family: Arial;  font-size: 14px;  color: #333333;"><span class="color_number_related">06<img src="./../../assets/i_bacham.svg" style="padding: 0px 2px 1px 1px;width: 5px;"></span>Xây Dựng Website
			                                            So Sánh Giá Giống Websosanh.vn Và Topgia.vn</div>
			                                        <div class="border-d"></div>
			                                        <div class="relpost-block-single-image" alt="Xây Dựng Website So Sánh Giá Giống Websosanh.vn Và Topgia.vn" style=" background: transparent url(https://devteam.mobi/wp-content/uploads/2019/05/132407logo-seo-min.png) no-repeat scroll 0% 0%; width: 250px; height: 250px;     background-size: cover;">
			                                            <div class="border-div-img"></div>
			                                        </div>
			                                    </a>
	                                    		<div class="wrap-link-relpost"> <a href="https://devteam.mobi/xay-dung-website-so-sanh-gia-giong-websosanh-vn-va-topgia-vn/" style="display: block; position: relative; min-width: inherit;margin-bottom: unset;font-weight: 600;top:5px;color: #555555; ">ĐỌC CHI TIẾT<img src="./../../assets/i_retangle.svg" style="width: 15px; padding: 4px;  top: -2px;  position: relative; left: 0px;"></a>
		                                        	<div class="date_post_v"> 
		                                        		<span class="related_post_date" style=" transform: skewX(20deg); display: block; color: red;text-align: center;">23/05/2019</span>
		                                        	</div>
			                                    </div>
			                                </div>
		                            	</div>
			                            <div style="clear: both"></div>
	                        		</div>
	                    		</div>
	                		</aside>
	            		</div>
	        		</div>
	        	</div>
	        </div>
	    </main>
	    <%- include("./../layout/footer"); -%>
    </div>
    <%- include("./../layout/hotline"); -%>
    <div class="block-profile-capacity"> <img class="icon-doc" src="./../../assets/file.svg"> <img class="icon-devteam" src="./../../assets/devteam-logo.svg">        <a href="https://devteam.mobi/ho-so-nang-luc-devteam.pdf" target="_blank" class="link-sub"></a></div>
    <%- include("./../layout/sidebar"); -%>
    <div style="display:none">
        <div class="grofile-hash-map-801b841b4186bed277eb4df9fa90c1af"></div>
    </div>
    <script id="lazy-load-icons">
        /* Lazy load icons css file */
        var fl_icons = document.createElement('link');
        fl_icons.rel = 'stylesheet';
        fl_icons.href = 'https://devteam.mobi/wp-content/themes/flatsome/assets/css/fl-icons.css';
        fl_icons.type = 'text/css';
        var fl_icons_insert = document.getElementsByTagName('link')[0];
        fl_icons_insert.parentNode.insertBefore(fl_icons, fl_icons_insert);
    </script>
    <script type="text/javascript">
        var wpcf7 = {
            "apiSettings": {
                "root": "https:\/\/devteam.mobi\/wp-json\/contact-form-7\/v1",
                "namespace": "contact-form-7\/v1"
            },
            "cached": "1"
        };
    </script>
    <script type="text/javascript" src="./../../assets/devicepx-jetpack.js"></script>
    <script type="text/javascript">
        var tocplus = {
            "visibility_show": "hi\u1ec7n",
            "visibility_hide": "\u1ea9n",
            "visibility_hide_by_default": "1",
            "width": "Auto"
        };
    </script>
    <script type="text/javascript" src="./../../assets/gprofiles.js"></script>
    <script type="text/javascript">
        var WPGroHo = {
            "my_hash": ""
        };
    </script>
    <script type="text/javascript">
        var flatsomeVars = {
            "ajaxurl": "https:\/\/devteam.mobi\/wp-admin\/admin-ajax.php",
            "rtl": "",
            "sticky_height": "70",
            "user": {
                "can_edit_pages": false
            }
        };
    </script>
    <%- include("./../layout/form-show"); -%>
    <script>
        function setCookie(name, value, days) {
            var expires = '';
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = 'expires=' + date.toUTCString();
            }
            document.cookie = name + '=' + (value || '');
        }

        function getCookie(name) {
            var nameEQ = name + '=';
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }

        function msToTime(duration) {
            var milliseconds = parseInt((duration % 1000) / 100),
                seconds = Math.floor((duration / 1000) % 60),
                minutes = Math.floor((duration / (1000 * 60)) % 60),
                hours = Math.floor((duration / (1000 * 60 * 60)) % 24);
            hours = (hours < 10) ? '0' + hours : hours;
            minutes = (minutes < 10) ? '0' + minutes : minutes;
            seconds = (seconds < 10) ? '0' + seconds : seconds;
            return hours;
        }
        if (!getCookie('access_websites')) {
            setCookie('access_websites', new Date(), 4555858);
            setTimeout(function () {
                jQuery('.wp-form-show').addClass('active');
            }, 10000);
        } else {
            var datecookie = (new Date(getCookie('access_websites'))).getTime();
            var today = (new Date()).getTime();
            var result = today - datecookie;
            var subdate = msToTime(result);
            if (subdate && subdate > 24) {
                setCookie('access_websites', new Date(), 4555858);
                setTimeout(function () {
                    jQuery('.wp-form-show').addClass('active');
                }, 10000);
            }
        }
        //var showPup = JSON.parse(localStorage.getItem('showPopup'));
        /*if(showPup != true){
        localStorage.setItem('showPopup',JSON.stringify(true));
        setTimeout(function(){
        jQuery('.wp-form-show').addClass('active');
        },10000);
        }*/
        jQuery(document).ready(function () {
            jQuery('.wp-form-show .overlays').click(function () {
                jQuery('.wp-form-show').removeClass('active');
            });
            jQuery('.remove-icon').click(function () {
                jQuery('.wp-form-show').removeClass('active');
                $(this).removeClass('overlays');
            });
        });
    </script>
    <div class="sidebar-footer"><span class="hidden" style="display:none">10000</span></div>
    <%- include("./../layout/form-show-phone"); -%>
    <%- include("./../layout/layout-footer"); -%>