<%- include("./../layout/layout-header"); -%>
<body class="archive category category-recruitment category-1 full-width lightbox lazy-icons nav-dropdown-has-arrow">
    <%- include("./../layout/contact-sidebar"); -%>
    <a class="skip-link screen-reader-text" href="https://devteam.mobi/chuyen-muc/recruitment/#main">Skip to content</a>
    <div id="wrapper">
        <%- include("./../layout/header"); -%>
	    <main id="main" class="">
	        <div id="content" class="blog-wrapper blog-archive page-wrapper">
	            <header class="archive-page-header">
	                <div class="row">
	                    <div class="large-12 text-center col">
	                        <h1 class="page-title is-large uppercase"> <span>Tuyển dụng</span></h1>
	                    </div>
	                </div>
	            </header>
	            <div class="row row-large row-divided ">
	                <div class="large-9 col">
	                    <div id="row-1691198557" class="row large-columns-2 medium-columns- small-columns-1 row-masonry" data-packery-options="{&quot;itemSelector&quot;: &quot;.col&quot;, &quot;gutter&quot;: 0, &quot;presentageWidth&quot; : true}" style="position: relative; height: 2379.53px;">
	                        <div class="col post-item" style="position: absolute; left: 0px; top: 0px;">
	                            <div class="col-inner">
	                                <div class="box box-text-bottom box-blog-post has-hover">
	                                    <a href="https://devteam.mobi/kinh-nghiem-quan-ly-tiem-nail/" class="plain">
	                                        <div class="box-image">
	                                            <div class="image-cover" style="padding-top:56%;"> <img width="370" height="246" src="./../../assets/kinh-nghiem-quan-li-tiem-nail-1-370x246.jpg" data-src="https://devteam.mobi/wp-content/uploads/2019/10/kinh-nghiem-quan-li-tiem-nail-1-370x246.jpg"
	                                                    class="attachment-medium size-medium wp-post-image lazy-loaded lazy-load-active" alt="Kinh Nghiệm Quản Lý Tiệm Nail Cho Người Mới Bắt Đầu" srcset="https://devteam.mobi/wp-content/uploads/2019/10/kinh-nghiem-quan-li-tiem-nail-1-370x246.jpg 370w, https://devteam.mobi/wp-content/uploads/2019/10/kinh-nghiem-quan-li-tiem-nail-1.jpg 512w"
	                                                    data-srcset="" sizes="(max-width: 370px) 100vw, 370px"></div>
	                                        </div>
	                                    </a>
	                                    <div class="box-text text-left">
	                                        <div class="box-text-inner blog-post-inner">
	                                            <a href="https://devteam.mobi/kinh-nghiem-quan-ly-tiem-nail/" class="plain">
	                                                <h5 class="post-title is-large ">Kinh Nghiệm Quản Lý Tiệm Nail Cho Người Mới Bắt Đầu</h5>
	                                            </a>
	                                            <div class="is-divider"></div>
	                                            <p class="from_the_blog_excerpt ">Nhu cầu làm đẹp của con người ngày càng cao. Nên để đáp ứng điều ....</p>
	                                        </div>
	                                    </div>
	                                    <div class="badge absolute top post-date badge-outline">
	                                        <div class="badge-inner"> <span class="post-date-day">29</span><br> <span class="post-date-month is-xsmall">Th10</span></div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="col post-item" style="position: absolute; left: 401px; top: 0px;">
	                            <div class="col-inner">
	                                <div class="box box-text-bottom box-blog-post has-hover">
	                                    <a href="https://devteam.mobi/tuyen-dung-nhan-vien-thiet-ke-do-hoa-tphcm/" class="plain">
	                                        <div class="box-image">
	                                            <div class="image-cover" style="padding-top:56%;"> <img width="370" height="231" src="./../../assets/Project-NameCard-DevTeam-370x231.jpg" data-src="https://devteam.mobi/wp-content/uploads/2019/06/Project-NameCard-DevTeam-370x231.jpg" class="attachment-medium size-medium wp-post-image lazy-loaded lazy-load-active"
	                                                    alt="Tuyển Dụng Nhân Viên Thiết Kế Đồ Họa Tp HCM" srcset="https://devteam.mobi/wp-content/uploads/2019/06/Project-NameCard-DevTeam-370x231.jpg 370w, https://devteam.mobi/wp-content/uploads/2019/06/Project-NameCard-DevTeam-768x480.jpg 768w, https://devteam.mobi/wp-content/uploads/2019/06/Project-NameCard-DevTeam-1024x640.jpg 1024w"
	                                                    data-srcset="" sizes="(max-width: 370px) 100vw, 370px"></div>
	                                        </div>
	                                    </a>
	                                    <div class="box-text text-left">
	                                        <div class="box-text-inner blog-post-inner">
	                                            <a href="https://devteam.mobi/tuyen-dung-nhan-vien-thiet-ke-do-hoa-tphcm/" class="plain">
	                                                <h5 class="post-title is-large ">Tuyển Dụng Nhân Viên Thiết Kế Đồ Họa Tp HCM</h5>
	                                            </a>
	                                            <div class="is-divider"></div>
	                                            <p class="from_the_blog_excerpt ">Công ty TNHH phát triển phần mềm Devteam cần tuyển vị trí Thiết kế đồ ....</p>
	                                        </div>
	                                    </div>
	                                    <div class="badge absolute top post-date badge-outline">
	                                        <div class="badge-inner"> <span class="post-date-day">07</span><br> <span class="post-date-month is-xsmall">Th6</span></div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="col post-item" style="position: absolute; left: 0px; top: 475px;">
	                            <div class="col-inner">
	                                <div class="box box-text-bottom box-blog-post has-hover">
	                                    <a href="https://devteam.mobi/tuyen-dung-react-native/" class="plain">
	                                        <div class="box-image">
	                                            <div class="image-cover" style="padding-top:56%;"> <img width="370" height="157" src="./../../assets/react_native_logo-370x157.png" data-src="https://devteam.mobi/wp-content/uploads/2019/05/react_native_logo-370x157.png" class="attachment-medium size-medium wp-post-image lazy-load-active"
	                                                    alt="Tuyển dụng React Native" srcset="https://devteam.mobi/wp-content/uploads/2019/05/react_native_logo-370x157.png 370w, https://devteam.mobi/wp-content/uploads/2019/05/react_native_logo.png 737w" data-srcset="https://devteam.mobi/wp-content/uploads/2019/05/react_native_logo-370x157.png 370w, https://devteam.mobi/wp-content/uploads/2019/05/react_native_logo.png 737w"
	                                                    sizes="(max-width: 370px) 100vw, 370px"></div>
	                                        </div>
	                                    </a>
	                                    <div class="box-text text-left">
	                                        <div class="box-text-inner blog-post-inner">
	                                            <a href="https://devteam.mobi/tuyen-dung-react-native/" class="plain">
	                                                <h5 class="post-title is-large ">Tuyển dụng React Native</h5>
	                                            </a>
	                                            <div class="is-divider"></div>
	                                            <p class="from_the_blog_excerpt ">Công ty TNHH phát triển phần mềm Devteam cần tuyển vị trí React Native, với ....</p>
	                                        </div>
	                                    </div>
	                                    <div class="badge absolute top post-date badge-outline">
	                                        <div class="badge-inner"> <span class="post-date-day">20</span><br> <span class="post-date-month is-xsmall">Th5</span></div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="col post-item" style="position: absolute; left: 401px; top: 475px;">
	                            <div class="col-inner">
	                                <div class="box box-text-bottom box-blog-post has-hover">
	                                    <a href="https://devteam.mobi/tuyen-nhan-vien-kinh-doanh/" class="plain">
	                                        <div class="box-image">
	                                            <div class="image-cover" style="padding-top:56%;"> <img width="370" height="231" src="./../../assets/Tuyen-dung-SALES-facebook-1080x675-370x231.jpg" data-src="https://devteam.mobi/wp-content/uploads/2019/05/Tuyen-dung-SALES-facebook-1080x675-370x231.jpg"
	                                                    class="attachment-medium size-medium wp-post-image lazy-load-active" alt="Tuyển Nhân Viên Kinh Doanh Phần Mềm, Website tại TP HCM" srcset="https://devteam.mobi/wp-content/uploads/2019/05/Tuyen-dung-SALES-facebook-1080x675-370x231.jpg 370w, https://devteam.mobi/wp-content/uploads/2019/05/Tuyen-dung-SALES-facebook-1080x675-768x480.jpg 768w, https://devteam.mobi/wp-content/uploads/2019/05/Tuyen-dung-SALES-facebook-1080x675-1024x640.jpg 1024w, https://devteam.mobi/wp-content/uploads/2019/05/Tuyen-dung-SALES-facebook-1080x675.jpg 1080w"
	                                                    data-srcset="https://devteam.mobi/wp-content/uploads/2019/05/Tuyen-dung-SALES-facebook-1080x675-370x231.jpg 370w, https://devteam.mobi/wp-content/uploads/2019/05/Tuyen-dung-SALES-facebook-1080x675-768x480.jpg 768w, https://devteam.mobi/wp-content/uploads/2019/05/Tuyen-dung-SALES-facebook-1080x675-1024x640.jpg 1024w, https://devteam.mobi/wp-content/uploads/2019/05/Tuyen-dung-SALES-facebook-1080x675.jpg 1080w"
	                                                    sizes="(max-width: 370px) 100vw, 370px"></div>
	                                        </div>
	                                    </a>
	                                    <div class="box-text text-left">
	                                        <div class="box-text-inner blog-post-inner">
	                                            <a href="https://devteam.mobi/tuyen-nhan-vien-kinh-doanh/" class="plain">
	                                                <h5 class="post-title is-large ">Tuyển Nhân Viên Kinh Doanh Phần Mềm, Website tại TP HCM</h5>
	                                            </a>
	                                            <div class="is-divider"></div>
	                                            <p class="from_the_blog_excerpt ">Tuyển nhân viên kinh doanh phần mềm số lượng không giới hạn, tuyển quanh năm ....</p>
	                                        </div>
	                                    </div>
	                                    <div class="badge absolute top post-date badge-outline">
	                                        <div class="badge-inner"> <span class="post-date-day">05</span><br> <span class="post-date-month is-xsmall">Th5</span></div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="col post-item" style="position: absolute; left: 0px; top: 951px;">
	                            <div class="col-inner">
	                                <div class="box box-text-bottom box-blog-post has-hover">
	                                    <a href="https://devteam.mobi/tuyen-vi-tri-fresher-junior-lap-trinh-android/" class="plain">
	                                        <div class="box-image">
	                                            <div class="image-cover" style="padding-top:56%;"> <img width="300" height="116" src="./../../assets/lazy.png" data-src="https://devteam.mobi/wp-content/uploads/2019/04/lap-trinh-vien-android-300x116.png" class="lazy-load attachment-medium size-medium wp-post-image"
	                                                    alt="Tuyển Vị Trí Fresher/ Junior Lập Trình Android" srcset="" data-srcset="https://devteam.mobi/wp-content/uploads/2019/04/lap-trinh-vien-android-300x116.png 300w, https://devteam.mobi/wp-content/uploads/2019/04/lap-trinh-vien-android-768x298.png 768w, https://devteam.mobi/wp-content/uploads/2019/04/lap-trinh-vien-android.png 980w"
	                                                    sizes="(max-width: 300px) 100vw, 300px"></div>
	                                        </div>
	                                    </a>
	                                    <div class="box-text text-left">
	                                        <div class="box-text-inner blog-post-inner">
	                                            <a href="https://devteam.mobi/tuyen-vi-tri-fresher-junior-lap-trinh-android/" class="plain">
	                                                <h5 class="post-title is-large ">Tuyển Vị Trí Fresher/ Junior Lập Trình Android</h5>
	                                            </a>
	                                            <div class="is-divider"></div>
	                                            <p class="from_the_blog_excerpt ">Công ty TNHH phát triển phần mềm Devteam cần tuyển vị trí Fresher/ Junior lập ....</p>
	                                        </div>
	                                    </div>
	                                    <div class="badge absolute top post-date badge-outline">
	                                        <div class="badge-inner"> <span class="post-date-day">03</span><br> <span class="post-date-month is-xsmall">Th4</span></div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="col post-item" style="position: absolute; left: 401px; top: 951px;">
	                            <div class="col-inner">
	                                <div class="box box-text-bottom box-blog-post has-hover">
	                                    <a href="https://devteam.mobi/tuyen-dung-nhan-vien-content/" class="plain">
	                                        <div class="box-image">
	                                            <div class="image-cover" style="padding-top:56%;"> <img width="300" height="161" src="./../../assets/lazy.png" data-src="https://devteam.mobi/wp-content/uploads/2019/02/post_tuyen-nhan-vien-content-marketing-233246021016-min-300x161.png" class="lazy-load attachment-medium size-medium wp-post-image"
	                                                    alt="Tuyển Dụng Nhân Viên Content " srcset="" data-srcset="https://devteam.mobi/wp-content/uploads/2019/02/post_tuyen-nhan-vien-content-marketing-233246021016-min-300x161.png 300w, https://devteam.mobi/wp-content/uploads/2019/02/post_tuyen-nhan-vien-content-marketing-233246021016-min-768x412.png 768w, https://devteam.mobi/wp-content/uploads/2019/02/post_tuyen-nhan-vien-content-marketing-233246021016-min.png 800w"
	                                                    sizes="(max-width: 300px) 100vw, 300px"></div>
	                                        </div>
	                                    </a>
	                                    <div class="box-text text-left">
	                                        <div class="box-text-inner blog-post-inner">
	                                            <a href="https://devteam.mobi/tuyen-dung-nhan-vien-content/" class="plain">
	                                                <h5 class="post-title is-large ">Tuyển Dụng Nhân Viên Content&nbsp;</h5>
	                                            </a>
	                                            <div class="is-divider"></div>
	                                            <p class="from_the_blog_excerpt ">Công ty TNHH phát triển phần mềm Devteam cần tuyển vị trí Content Marketing, với ....</p>
	                                        </div>
	                                    </div>
	                                    <div class="badge absolute top post-date badge-outline">
	                                        <div class="badge-inner"> <span class="post-date-day">28</span><br> <span class="post-date-month is-xsmall">Th2</span></div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="col post-item" style="position: absolute; left: 0px; top: 1427px;">
	                            <div class="col-inner">
	                                <div class="box box-text-bottom box-blog-post has-hover">
	                                    <a href="https://devteam.mobi/tuyen-dung-fresher-va-junior-lap-trinh-ios/" class="plain">
	                                        <div class="box-image">
	                                            <div class="image-cover" style="padding-top:56%;"> <img width="300" height="134" src="./../../assets/lazy.png" data-src="https://devteam.mobi/wp-content/uploads/2019/02/td-min-300x134.png" class="lazy-load attachment-medium size-medium wp-post-image"
	                                                    alt="Tuyển Dụng Fresher và Junior Lập Trình IOS" srcset="" data-srcset="https://devteam.mobi/wp-content/uploads/2019/02/td-min-300x134.png 300w, https://devteam.mobi/wp-content/uploads/2019/02/td-min-768x342.png 768w, https://devteam.mobi/wp-content/uploads/2019/02/td-min-600x267.png 600w, https://devteam.mobi/wp-content/uploads/2019/02/td-min.png 811w"
	                                                    sizes="(max-width: 300px) 100vw, 300px"></div>
	                                        </div>
	                                    </a>
	                                    <div class="box-text text-left">
	                                        <div class="box-text-inner blog-post-inner">
	                                            <a href="https://devteam.mobi/tuyen-dung-fresher-va-junior-lap-trinh-ios/" class="plain">
	                                                <h5 class="post-title is-large ">Tuyển Dụng Fresher và Junior Lập Trình IOS</h5>
	                                            </a>
	                                            <div class="is-divider"></div>
	                                            <p class="from_the_blog_excerpt ">Công ty TNHH phát triển phần mềm Devteam cần tuyển vị trí Fresher/ Junior lập ....</p>
	                                        </div>
	                                    </div>
	                                    <div class="badge absolute top post-date badge-outline">
	                                        <div class="badge-inner"> <span class="post-date-day">14</span><br> <span class="post-date-month is-xsmall">Th2</span></div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="col post-item" style="position: absolute; left: 401px; top: 1427px;">
	                            <div class="col-inner">
	                                <div class="box box-text-bottom box-blog-post has-hover">
	                                    <a href="https://devteam.mobi/tuyen-dung-vi-tri-nhan-su/" class="plain">
	                                        <div class="box-image">
	                                            <div class="image-cover" style="padding-top:56%;"> <img width="300" height="157" src="./../../assets/lazy.png" data-src="https://devteam.mobi/wp-content/uploads/2018/10/tuyenne-4508-1490343117_ouhd-300x157.jpg" class="lazy-load attachment-medium size-medium wp-post-image"
	                                                    alt="Tuyển dụng vị trí nhân sự" srcset="" data-srcset="https://devteam.mobi/wp-content/uploads/2018/10/tuyenne-4508-1490343117_ouhd-300x157.jpg 300w, https://devteam.mobi/wp-content/uploads/2018/10/tuyenne-4508-1490343117_ouhd.jpg 670w"
	                                                    sizes="(max-width: 300px) 100vw, 300px"></div>
	                                        </div>
	                                    </a>
	                                    <div class="box-text text-left">
	                                        <div class="box-text-inner blog-post-inner">
	                                            <a href="https://devteam.mobi/tuyen-dung-vi-tri-nhan-su/" class="plain">
	                                                <h5 class="post-title is-large ">Tuyển dụng vị trí nhân sự</h5>
	                                            </a>
	                                            <div class="is-divider"></div>
	                                            <p class="from_the_blog_excerpt ">VỊ TRÍ TUYỂN DỤNG (KHÔNG YÊU CẦU KINH NGHIỆM) Chuyên viên tuyển dụng HR (Human ....</p>
	                                        </div>
	                                    </div>
	                                    <div class="badge absolute top post-date badge-outline">
	                                        <div class="badge-inner"> <span class="post-date-day">24</span><br> <span class="post-date-month is-xsmall">Th10</span></div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="col post-item" style="position: absolute; left: 0px; top: 1903px;">
	                            <div class="col-inner">
	                                <div class="box box-text-bottom box-blog-post has-hover">
	                                    <a href="https://devteam.mobi/lap-trinh-php/" class="plain">
	                                        <div class="box-image">
	                                            <div class="image-cover" style="padding-top:56%;"> <img width="300" height="172" src="./../../assets/lazy.png" data-src="https://devteam.mobi/wp-content/uploads/2018/10/Tuyển-dụng-DEV-PHP-300x172.jpg" class="lazy-load attachment-medium size-medium wp-post-image"
	                                                    alt="Tuyển Dụng Lập Trình Viên PHP Tại Tp HCM" srcset="" data-srcset="https://devteam.mobi/wp-content/uploads/2018/10/Tuyển-dụng-DEV-PHP-300x172.jpg 300w, https://devteam.mobi/wp-content/uploads/2018/10/Tuyển-dụng-DEV-PHP.jpg 698w"
	                                                    sizes="(max-width: 300px) 100vw, 300px"></div>
	                                        </div>
	                                    </a>
	                                    <div class="box-text text-left">
	                                        <div class="box-text-inner blog-post-inner">
	                                            <a href="https://devteam.mobi/lap-trinh-php/" class="plain">
	                                                <h5 class="post-title is-large ">Tuyển Dụng Lập Trình Viên PHP Tại Tp HCM</h5>
	                                            </a>
	                                            <div class="is-divider"></div>
	                                            <p class="from_the_blog_excerpt ">VỊ TRÍ TUYỂN DỤNG LẬP TRÌNH VIÊN PHP (KHÔNG YÊU CẦU KINH NGHIỆM) Số lượng: ....</p>
	                                        </div>
	                                    </div>
	                                    <div class="badge absolute top post-date badge-outline">
	                                        <div class="badge-inner"> <span class="post-date-day">19</span><br> <span class="post-date-month is-xsmall">Th10</span></div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="col post-item" style="position: absolute; left: 401px; top: 1903px;">
	                            <div class="col-inner">
	                                <div class="box box-text-bottom box-blog-post has-hover">
	                                    <a href="https://devteam.mobi/tuyen-dung-vi-tri-tester/" class="plain">
	                                        <div class="box-image">
	                                            <div class="image-cover" style="padding-top:56%;"> <img width="300" height="167" src="./../../assets/lazy.png" data-src="https://devteam.mobi/wp-content/uploads/2018/10/Tuyển-dụng-Tester-Trung-tâm-Không-Gian-Mạng-300x167.jpg" class="lazy-load attachment-medium size-medium wp-post-image"
	                                                    alt="Tuyển Dụng Nhân Viên Kiểm Thử Phần Mềm – Tester Tại HCM" srcset="" data-srcset="https://devteam.mobi/wp-content/uploads/2018/10/Tuyển-dụng-Tester-Trung-tâm-Không-Gian-Mạng-300x167.jpg 300w, https://devteam.mobi/wp-content/uploads/2018/10/Tuyển-dụng-Tester-Trung-tâm-Không-Gian-Mạng.jpg 720w"
	                                                    sizes="(max-width: 300px) 100vw, 300px"></div>
	                                        </div>
	                                    </a>
	                                    <div class="box-text text-left">
	                                        <div class="box-text-inner blog-post-inner">
	                                            <a href="https://devteam.mobi/tuyen-dung-vi-tri-tester/" class="plain">
	                                                <h5 class="post-title is-large ">Tuyển Dụng Nhân Viên Kiểm Thử Phần Mềm – Tester Tại HCM</h5>
	                                            </a>
	                                            <div class="is-divider"></div>
	                                            <p class="from_the_blog_excerpt ">VỊ TRÍ TUYỂN DỤNG Nhân viên Tester (Không yêu cầu kinh nghiệm) Số lượng: 03 ....</p>
	                                        </div>
	                                    </div>
	                                    <div class="badge absolute top post-date badge-outline">
	                                        <div class="badge-inner"> <span class="post-date-day">17</span><br> <span class="post-date-month is-xsmall">Th10</span></div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <div class="post-sidebar large-3 col">
	                    <div id="secondary" class="widget-area " role="complementary">
	                        <aside id="custom_html-3" class="widget_text widget widget_custom_html">
	                            <div class="textwidget custom-html-widget">
	                                <div class="fb-page fb_iframe_widget" data-href="https://www.facebook.com/devteam.mobi/" data-width="380" data-hide-cover="false" data-show-facepile="false" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=&amp;container_width=0&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fdevteam.mobi%2F&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=false&amp;width=380"><span style="vertical-align: bottom; width: 380px; height: 130px;"><iframe name="f3320818b960a6c" width="380px" height="1000px" title="fb:page Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="./../../assets/page.html" style="border: none; visibility: visible; width: 380px; height: 130px;" class=""></iframe></span></div>
	                            </div>
	                        </aside>
	                        <aside id="search-2" class="widget widget_search">
	                        	<span class="widget-title "><span>Tìm kiếm</span></span>
	                            <div class="is-divider small"></div>
	                            <form method="get" class="searchform" action="https://devteam.mobi/" role="search">
	                                <div class="flex-row relative">
	                                    <div class="flex-col flex-grow"> <input type="search" class="search-field mb-0" name="s" value="" id="s" placeholder="Search…" autocomplete="off"></div>
	                                    <div class="flex-col"> <button type="submit" class="ux-search-submit submit-button secondary button icon mb-0"> <i class="icon-search"></i> </button></div>
	                                </div>
	                                <div class="live-search-results text-left z-top">
	                                    <div class="autocomplete-suggestions" style="position: absolute; display: none; max-height: 300px; z-index: 9999;"></div>
	                                </div>
	                            </form>
	                        </aside>
	                        <aside id="relatedpoststhumbnailswidget-2" class="widget relpoststh_widget"> 
	                        	<span class="widget-title "> Bài viết nổi bật </span>
	                            <div class="is-divider small"></div>
	                            <div class="relpost-thumb-wrapper">
	                                <div class="border-d" style=" height: 4px; background: red; width: 50px; position: absolute; top: 40px; "></div>
	                                <div class="post-hover-v">
	                                    <div class="relpost-block-container">
	                                        <div class="wrap-relpost" style="width: 250px; height: 325px;">
	                                            <a class="relpost-block-single" href="https://devteam.mobi/noi-phat-trien-phan-mem-van-chuyen-hang-hoa-quoc-te-chuyen-nghiep/">
	                                                <div class="relpost-block-single-text" style="font-family: Arial;  font-size: 14px;  color: #333333;"><span class="color_number_related">01<img src="./../../assets/i_bacham.svg" style="padding: 0px 2px 1px 1px;width: 5px;"></span>Nơi Phát Triển Phần Mềm Vận Chuyển Hàng Hoá Quốc Tế Chuyên Nghiệp</div>
	                                                <div
	                                                    class="border-d"></div>
			                                        <div class="relpost-block-single-image" alt="Nơi Phát Triển Phần Mềm Vận Chuyển Hàng Hoá Quốc Tế Chuyên Nghiệp" style=" background: transparent url(https://devteam.mobi/wp-content/uploads/2019/03/van-chuyen-hang-hoa-quoc-te.jpg) no-repeat scroll 0% 0%; width: 250px; height: 250px;  background-size: cover; ">
			                                            <div class="border-div-img"></div>
			                                        </div>
	                                        	</a>
		                                        <div class="wrap-link-relpost"> <a href="https://devteam.mobi/noi-phat-trien-phan-mem-van-chuyen-hang-hoa-quoc-te-chuyen-nghiep/" style="display: block; position: relative; min-width: inherit;margin-bottom: unset;font-weight: 600;top:5px;color: #555555; ">ĐỌC CHI TIẾT<img src="./../../assets/i_retangle.svg" style="width: 15px; padding: 4px;  top: -2px;  position: relative; left: 0px;"></a>
		                                            <div class="date_post_v"> <span class="related_post_date" style=" transform: skewX(20deg); display: block; color: red;text-align: center;">31/03/2019</span></div>
		                                        </div>
		                                    </div>
		                                </div>
		                                <div style="clear: both"></div>
		                            </div>
		                            <div class="post-hover-v">
		                                <div class="relpost-block-container">
		                                    <div class="wrap-relpost" style="width: 250px; height: 325px;">
		                                        <a class="relpost-block-single" href="https://devteam.mobi/stable-coin-la-gi-tai-sao-can-stable-coin-binh-on-gia/">
		                                            <div class="relpost-block-single-text" style="font-family: Arial;  font-size: 14px;  color: #333333;"><span class="color_number_related">02<img src="./../../assets/i_bacham.svg" style="padding: 0px 2px 1px 1px;width: 5px;"></span>Stable Coin là gì? Tại sao cần Stable Coin bình ổn giá?</div>
		                                            <div
		                                                class="border-d"></div>
				                                    <div class="relpost-block-single-image" alt="Stable Coin là gì? Tại sao cần Stable Coin bình ổn giá?" style=" background: transparent url(https://devteam.mobi/wp-content/uploads/2019/03/stablecoin-min-1.png) no-repeat scroll 0% 0%; width: 250px; height: 250px;  background-size: cover; ">
				                                        <div class="border-div-img"></div>
				                                    </div>
		                                    	</a>
			                                    <div class="wrap-link-relpost"> <a href="https://devteam.mobi/stable-coin-la-gi-tai-sao-can-stable-coin-binh-on-gia/" style="display: block; position: relative; min-width: inherit;margin-bottom: unset;font-weight: 600;top:5px;color: #555555; ">ĐỌC CHI TIẾT<img src="./../../assets/i_retangle.svg" style="width: 15px; padding: 4px;  top: -2px;  position: relative; left: 0px;"></a>
			                                        <div class="date_post_v"> <span class="related_post_date" style=" transform: skewX(20deg); display: block; color: red;text-align: center;">05/03/2019</span></div>
			                                    </div>
			                                </div>
			                            </div>
			                            <div style="clear: both"></div>
			                    	</div>
				                    <div class="post-hover-v">
				                        <div class="relpost-block-container">
				                            <div class="wrap-relpost" style="width: 250px; height: 325px;">
				                                <a class="relpost-block-single" href="https://devteam.mobi/thiet-ke-ung-dung-live-streaming-tuong-tu-bigo-chat/">
				                                    <div class="relpost-block-single-text" style="font-family: Arial;  font-size: 14px;  color: #333333;"><span class="color_number_related">03<img src="./../../assets/i_bacham.svg" style="padding: 0px 2px 1px 1px;width: 5px;"></span>Thiết Kế Ứng Dụng Live Streaming Tương Tự Bigo Chat</div>
				                                    <div class="border-d"></div>
				                                    <div class="relpost-block-single-image" alt="Thiết Kế Ứng Dụng Live Streaming Tương Tự Bigo Chat" style=" background: transparent url(https://devteam.mobi/wp-content/uploads/2019/06/bigo-chat.png) no-repeat scroll 0% 0%; width: 250px; height: 250px;  background-size: cover; ">
				                                        <div class="border-div-img"></div>
				                                    </div>
				                                </a>
				                                <div class="wrap-link-relpost"> <a href="https://devteam.mobi/thiet-ke-ung-dung-live-streaming-tuong-tu-bigo-chat/" style="display: block; position: relative; min-width: inherit;margin-bottom: unset;font-weight: 600;top:5px;color: #555555; ">ĐỌC CHI TIẾT<img src="./../../assets/i_retangle.svg" style="width: 15px; padding: 4px;  top: -2px;  position: relative; left: 0px;"></a>
				                                    <div class="date_post_v"> <span class="related_post_date" style=" transform: skewX(20deg); display: block; color: red;text-align: center;">05/06/2019</span></div>
				                                </div>
				                            </div>
				                        </div>
				                        <div style="clear: both"></div>
				                    </div>
				                    <div class="post-hover-v">
				                        <div class="relpost-block-container">
				                            <div class="wrap-relpost" style="width: 250px; height: 325px;">
				                                <a class="relpost-block-single" href="https://devteam.mobi/hoi-dap-nen-tang-jupviec-la-gi-jupviec-co-lua-dao/">
				                                    <div class="relpost-block-single-text" style="font-family: Arial;  font-size: 14px;  color: #333333;"><span class="color_number_related">04<img src="./../../assets/i_bacham.svg" style="padding: 0px 2px 1px 1px;width: 5px;"></span>Hỏi đáp | Nền Tảng Jupviec Là Gì? Jupviec Có Lừa Đảo</div>
				                                    <div class="border-d"></div>
				                                    <div class="relpost-block-single-image" alt="Hỏi đáp | Nền Tảng Jupviec Là Gì? Jupviec Có Lừa Đảo" style=" background: transparent url(https://devteam.mobi/wp-content/uploads/2019/05/jupviec-min.png) no-repeat scroll 0% 0%; width: 250px; height: 250px;  background-size: cover; ">
				                                        <div class="border-div-img"></div>
				                                    </div>
				                                </a>
				                                <div class="wrap-link-relpost"> <a href="https://devteam.mobi/hoi-dap-nen-tang-jupviec-la-gi-jupviec-co-lua-dao/" style="display: block; position: relative; min-width: inherit;margin-bottom: unset;font-weight: 600;top:5px;color: #555555; ">ĐỌC CHI TIẾT<img src="./../../assets/i_retangle.svg" style="width: 15px; padding: 4px;  top: -2px;  position: relative; left: 0px;"></a>
				                                    <div class="date_post_v"> <span class="related_post_date" style=" transform: skewX(20deg); display: block; color: red;text-align: center;">14/05/2019</span></div>
				                                </div>
				                            </div>
				                        </div>
				                        <div style="clear: both"></div>
				                    </div>
				                    <div class="post-hover-v">
				                        <div class="relpost-block-container">
				                            <div class="wrap-relpost" style="width: 250px; height: 325px;">
				                                <a class="relpost-block-single" href="https://devteam.mobi/xu-huong-gia-cong-phan-mem-cho-nuoc-ngoai-tai-viet-nam/">
				                                    <div class="relpost-block-single-text" style="font-family: Arial;  font-size: 14px;  color: #333333;"><span class="color_number_related">05<img src="./../../assets/i_bacham.svg" style="padding: 0px 2px 1px 1px;width: 5px;"></span>Xu Hướng Gia Công Phần Mềm Cho Nước Ngoài Tại Việt Nam</div>
				                                    <div class="border-d"></div>
				                                    <div class="relpost-block-single-image" alt="Xu Hướng Gia Công Phần Mềm Cho Nước Ngoài Tại Việt Nam" style=" background: transparent url(https://devteam.mobi/wp-content/uploads/2019/04/devteam-la-cong-ty-cung-cap-dich-vu-outsourcing-uy-tin-nhat-hien-nay.jpg) no-repeat scroll 0% 0%; width: 250px; height: 250px;  background-size: cover; ">
				                                        <div class="border-div-img"></div>
				                                    </div>
				                                </a>
				                                <div class="wrap-link-relpost"> <a href="https://devteam.mobi/xu-huong-gia-cong-phan-mem-cho-nuoc-ngoai-tai-viet-nam/" style="display: block; position: relative; min-width: inherit;margin-bottom: unset;font-weight: 600;top:5px;color: #555555; ">ĐỌC CHI TIẾT<img src="./../../assets/i_retangle.svg" style="width: 15px; padding: 4px;  top: -2px;  position: relative; left: 0px;"></a>
				                                    <div class="date_post_v"> <span class="related_post_date" style=" transform: skewX(20deg); display: block; color: red;text-align: center;">08/04/2019</span></div>
				                                </div>
				                            </div>
				                        </div>
				                        <div style="clear: both"></div>
				                    </div>
				                    <div class="post-hover-v">
				                        <div class="relpost-block-container">
				                            <div class="wrap-relpost" style="width: 250px; height: 325px;">
				                                <a class="relpost-block-single" href="https://devteam.mobi/tra-loi-nhanh-lam-the-nao-de-thiet-ke-website-giong-tiki-vn-vay/">
				                                    <div class="relpost-block-single-text" style="font-family: Arial;  font-size: 14px;  color: #333333;"><span class="color_number_related">06<img src="./../../assets/i_bacham.svg" style="padding: 0px 2px 1px 1px;width: 5px;"></span>Trả Lời Nhanh | Làm Thế Nào Để Thiết Kế Website Giống Tiki.Vn Vậy?</div>
				                                    <div
				                                        class="border-d"></div>
				                            <div class="relpost-block-single-image" alt="Trả Lời Nhanh | Làm Thế Nào Để Thiết Kế Website Giống Tiki.Vn Vậy?" style=" background: transparent url(https://devteam.mobi/wp-content/uploads/2019/04/Tiki.vn_-1.png) no-repeat scroll 0% 0%; width: 250px; height: 250px;  background-size: cover; ">
				                                <div class="border-div-img"></div>
				                            </div>
				                            </a>
				                            <div class="wrap-link-relpost"> <a href="https://devteam.mobi/tra-loi-nhanh-lam-the-nao-de-thiet-ke-website-giong-tiki-vn-vay/" style="display: block; position: relative; min-width: inherit;margin-bottom: unset;font-weight: 600;top:5px;color: #555555; ">ĐỌC CHI TIẾT<img src="./../../assets/i_retangle.svg" style="width: 15px; padding: 4px;  top: -2px;  position: relative; left: 0px;"></a>
				                                <div class="date_post_v"> <span class="related_post_date" style=" transform: skewX(20deg); display: block; color: red;text-align: center;">17/04/2019</span></div>
				                            </div>
				                        </div>
				                    </div>
				                    <div style="clear: both"></div>
				                </div>
				            </div>
			            </aside>
			        </div>
			        </div>
			    </div>
	        </div>
	    </main>
        <%- include("./../layout/footer"); -%>
    </div>
    <%- include("./../layout/hotline"); -%>
    <div class="block-profile-capacity"> <img class="icon-doc" src="./../../assets/file.svg"> <img class="icon-devteam" src="./../../assets/devteam-logo.svg"> <a href="https://devteam.mobi/ho-so-nang-luc-devteam.pdf" target="_blank" class="link-sub"></a></div>
    <%- include("./../layout/sidebar"); -%>
    <div style="display:none"></div>
    <script id="lazy-load-icons">
        /* Lazy load icons css file */
        var fl_icons = document.createElement('link');
        fl_icons.rel = 'stylesheet';
        fl_icons.href = 'https://devteam.mobi/wp-content/themes/flatsome/assets/css/fl-icons.css';
        fl_icons.type = 'text/css';
        var fl_icons_insert = document.getElementsByTagName('link')[0];
        fl_icons_insert.parentNode.insertBefore(fl_icons, fl_icons_insert);
    </script>
    <script type="text/javascript">
        var wpcf7 = {
            "apiSettings": {
                "root": "https:\/\/devteam.mobi\/wp-json\/contact-form-7\/v1",
                "namespace": "contact-form-7\/v1"
            },
            "cached": "1"
        };
    </script>
    <script type="text/javascript" src="./../../assets/devicepx-jetpack.js"></script>
    <script type="text/javascript">
        var tocplus = {
            "visibility_show": "hi\u1ec7n",
            "visibility_hide": "\u1ea9n",
            "visibility_hide_by_default": "1",
            "width": "Auto"
        };
    </script>
    <script type="text/javascript" src="./../../assets/gprofiles.js"></script>
    <script type="text/javascript">
        var WPGroHo = {
            "my_hash": ""
        };
    </script>
    <script type="text/javascript">
        var flatsomeVars = {
            "ajaxurl": "https:\/\/devteam.mobi\/wp-admin\/admin-ajax.php",
            "rtl": "",
            "sticky_height": "70",
            "user": {
                "can_edit_pages": false
            }
        };
    </script>
    <%- include("./../layout/form-show"); -%>
    <script>
        function setCookie(name, value, days) {
            var expires = '';
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = 'expires=' + date.toUTCString();
            }
            document.cookie = name + '=' + (value || '');
        }

        function getCookie(name) {
            var nameEQ = name + '=';
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }

        function msToTime(duration) {
            var milliseconds = parseInt((duration % 1000) / 100),
                seconds = Math.floor((duration / 1000) % 60),
                minutes = Math.floor((duration / (1000 * 60)) % 60),
                hours = Math.floor((duration / (1000 * 60 * 60)) % 24);
            hours = (hours < 10) ? '0' + hours : hours;
            minutes = (minutes < 10) ? '0' + minutes : minutes;
            seconds = (seconds < 10) ? '0' + seconds : seconds;
            return hours;
        }
        if (!getCookie('access_websites')) {
            setCookie('access_websites', new Date(), 4555858);
            setTimeout(function () {
                jQuery('.wp-form-show').addClass('active');
            }, 10000);
        } else {
            var datecookie = (new Date(getCookie('access_websites'))).getTime();
            var today = (new Date()).getTime();
            var result = today - datecookie;
            var subdate = msToTime(result);
            if (subdate && subdate > 24) {
                setCookie('access_websites', new Date(), 4555858);
                setTimeout(function () {
                    jQuery('.wp-form-show').addClass('active');
                }, 10000);
            }
        }

        jQuery(document).ready(function () {
            jQuery('.wp-form-show .overlays').click(function () {
                jQuery('.wp-form-show').removeClass('active');
            });
            jQuery('.remove-icon').click(function () {
                jQuery('.wp-form-show').removeClass('active');
                $(this).removeClass('overlays');
            });
        });
    </script>
    <div class="sidebar-footer"><span class="hidden" style="display:none">10000</span></div>
    <%- include("./../layout/form-show-phone"); -%>
    <%- include("./../layout/layout-footer"); -%>