<%- include("./../layout/layout-header"); -%>
<body class="archive category category-tin-tuc category-117 full-width lightbox lazy-icons nav-dropdown-has-arrow">
    <%- include("./../layout/contact-sidebar"); -%>
    <a class="skip-link screen-reader-text" href="https://devteam.mobi/chuyen-muc/tin-tuc/#main">Skip to content</a>
    <div id="wrapper">
        <%- include("./../layout/header"); -%>
        <main id="main" class="">
            <div id="content" class="blog-wrapper blog-archive page-wrapper">
                <header class="archive-page-header">
                    <div class="row">
                        <div class="large-12 text-center col">
                            <h1 class="page-title is-large uppercase"> <span>Tin tức</span></h1>
                        </div>
                    </div>
                </header>
                <div class="row row-large row-divided ">
                    <div class="large-9 col">
                        <div id="row-2055515810" class="row large-columns-2 medium-columns- small-columns-1 row-masonry" data-packery-options="{&quot;itemSelector&quot;: &quot;.col&quot;, &quot;gutter&quot;: 0, &quot;presentageWidth&quot; : true}" style="position: relative; height: 2855.44px;">
                            <div class="col post-item" style="position: absolute; left: 0px; top: 0px;">
                                <div class="col-inner">
                                    <div class="box box-text-bottom box-blog-post has-hover">
                                        <a href="https://devteam.mobi/thiet-ke-lap-trinh-viet-app-dat-phong-khach-san/" class="plain">
                                            <div class="box-image">
                                                <div class="image-cover" style="padding-top:56%;"> <img width="370" height="158" src="./../../assets/viet-app-dat-phong-khach-san-2-370x158.png" data-src="https://devteam.mobi/wp-content/uploads/2019/11/viet-app-dat-phong-khach-san-2-370x158.png"
                                                        class="attachment-medium size-medium wp-post-image lazy-loaded lazy-load-active" alt="Thiết Kế, Lập Trình, Viết App Đặt Phòng Khách Sạn" srcset="https://devteam.mobi/wp-content/uploads/2019/11/viet-app-dat-phong-khach-san-2-370x158.png 370w, https://devteam.mobi/wp-content/uploads/2019/11/viet-app-dat-phong-khach-san-2-768x328.png 768w, https://devteam.mobi/wp-content/uploads/2019/11/viet-app-dat-phong-khach-san-2-1024x437.png 1024w, https://devteam.mobi/wp-content/uploads/2019/11/viet-app-dat-phong-khach-san-2.png 1080w"
                                                        data-srcset="" sizes="(max-width: 370px) 100vw, 370px"></div>
                                            </div>
                                        </a>
                                        <div class="box-text text-left">
                                            <div class="box-text-inner blog-post-inner">
                                                <a href="https://devteam.mobi/thiet-ke-lap-trinh-viet-app-dat-phong-khach-san/" class="plain">
                                                    <h5 class="post-title is-large ">Thiết Kế, Lập Trình, Viết App Đặt Phòng Khách Sạn</h5>
                                                </a>
                                                <div class="is-divider"></div>
                                                <p class="from_the_blog_excerpt ">Nhu cầu du lịch của con người ngày càng cao. Bởi vậy các công ty ....</p>
                                            </div>
                                        </div>
                                        <div class="badge absolute top post-date badge-outline">
                                            <div class="badge-inner"> <span class="post-date-day">26</span><br> <span class="post-date-month is-xsmall">Th11</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col post-item" style="position: absolute; left: 401px; top: 0px;">
                                <div class="col-inner">
                                    <div class="box box-text-bottom box-blog-post has-hover">
                                        <a href="https://devteam.mobi/mo-tiem-nail-o-my/" class="plain">
                                            <div class="box-image">
                                                <div class="image-cover" style="padding-top:56%;"> <img width="370" height="172" src="./../../assets/mo-tiem-nail-o-my-370x172.jpeg" data-src="https://devteam.mobi/wp-content/uploads/2019/11/mo-tiem-nail-o-my-370x172.jpeg" class="attachment-medium size-medium wp-post-image lazy-loaded lazy-load-active"
                                                        alt="Mở Tiệm Nail Ở Mỹ Cần Những Gì ?" srcset="https://devteam.mobi/wp-content/uploads/2019/11/mo-tiem-nail-o-my-370x172.jpeg 370w, https://devteam.mobi/wp-content/uploads/2019/11/mo-tiem-nail-o-my-768x356.jpeg 768w, https://devteam.mobi/wp-content/uploads/2019/11/mo-tiem-nail-o-my.jpeg 1000w"
                                                        data-srcset="" sizes="(max-width: 370px) 100vw, 370px"></div>
                                            </div>
                                        </a>
                                        <div class="box-text text-left">
                                            <div class="box-text-inner blog-post-inner">
                                                <a href="https://devteam.mobi/mo-tiem-nail-o-my/" class="plain">
                                                    <h5 class="post-title is-large ">Mở Tiệm Nail Ở Mỹ Cần Những Gì ?</h5>
                                                </a>
                                                <div class="is-divider"></div>
                                                <p class="from_the_blog_excerpt ">Nail là một nghề phổ biến tại nước Mỹ. Nghề này hái ra tiền nên ....</p>
                                            </div>
                                        </div>
                                        <div class="badge absolute top post-date badge-outline">
                                            <div class="badge-inner"> <span class="post-date-day">26</span><br> <span class="post-date-month is-xsmall">Th11</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col post-item" style="position: absolute; left: 0px; top: 475px;">
                                <div class="col-inner">
                                    <div class="box box-text-bottom box-blog-post has-hover">
                                        <a href="https://devteam.mobi/cach-tang-doanh-thu-cho-tiem-nail/" class="plain">
                                            <div class="box-image">
                                                <div class="image-cover" style="padding-top:56%;"> <img width="370" height="208" src="./../../assets/tang-doanh-thu-cho-tiem-nail1-1-370x208.jpg" data-src="https://devteam.mobi/wp-content/uploads/2019/11/tang-doanh-thu-cho-tiem-nail1-1-370x208.jpg"
                                                        class="attachment-medium size-medium wp-post-image lazy-load-active lazy-loaded" alt="Cách Tăng Doanh Thu Cho Tiệm Nail Đơn Giản Nhất" srcset="https://devteam.mobi/wp-content/uploads/2019/11/tang-doanh-thu-cho-tiem-nail1-1-370x208.jpg 370w, https://devteam.mobi/wp-content/uploads/2019/11/tang-doanh-thu-cho-tiem-nail1-1.jpg 750w"
                                                        data-srcset="" sizes="(max-width: 370px) 100vw, 370px"></div>
                                            </div>
                                        </a>
                                        <div class="box-text text-left">
                                            <div class="box-text-inner blog-post-inner">
                                                <a href="https://devteam.mobi/cach-tang-doanh-thu-cho-tiem-nail/" class="plain">
                                                    <h5 class="post-title is-large ">Cách Tăng Doanh Thu Cho Tiệm Nail Đơn Giản Nhất</h5>
                                                </a>
                                                <div class="is-divider"></div>
                                                <p class="from_the_blog_excerpt ">Nhu cầu làm đẹp của các chị em ngày càng nhiều. Bởi vậy các dịch ....</p>
                                            </div>
                                        </div>
                                        <div class="badge absolute top post-date badge-outline">
                                            <div class="badge-inner"> <span class="post-date-day">26</span><br> <span class="post-date-month is-xsmall">Th11</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col post-item" style="position: absolute; left: 401px; top: 475px;">
                                <div class="col-inner">
                                    <div class="box box-text-bottom box-blog-post has-hover">
                                        <a href="https://devteam.mobi/devteam-va-doi-tac-singapore-ky-thanh-cong-hop-dong-moi-ve-lap-trinh-ung-dung-mobile/" class="plain">
                                            <div class="box-image">
                                                <div class="image-cover" style="padding-top:56%;"> <img width="300" height="169" src="./../../assets/devteam3-min-300x169.jpg" data-src="https://devteam.mobi/wp-content/uploads/2019/04/devteam3-min-300x169.jpg" class="attachment-medium size-medium wp-post-image lazy-load-active lazy-loaded"
                                                        alt="Devteam Và Đối Tác Singapore, Ký Thành Công Hợp Đồng Mới Về Lập Trình Ứng Dụng Mobile" srcset="https://devteam.mobi/wp-content/uploads/2019/04/devteam3-min-300x169.jpg 300w, https://devteam.mobi/wp-content/uploads/2019/04/devteam3-min-768x432.jpg 768w, https://devteam.mobi/wp-content/uploads/2019/04/devteam3-min.jpg 800w"
                                                        data-srcset="" sizes="(max-width: 300px) 100vw, 300px"></div>
                                            </div>
                                        </a>
                                        <div class="box-text text-left">
                                            <div class="box-text-inner blog-post-inner">
                                                <a href="https://devteam.mobi/devteam-va-doi-tac-singapore-ky-thanh-cong-hop-dong-moi-ve-lap-trinh-ung-dung-mobile/" class="plain">
                                                    <h5 class="post-title is-large ">Devteam Và Đối Tác Singapore, Ký Thành Công Hợp Đồng Mới Về Lập Trình Ứng Dụng Mobile</h5>
                                                </a>
                                                <div class="is-divider"></div>
                                                <p class="from_the_blog_excerpt ">Sứ mệnh của chúng tôi đó là đưa dịch vụ của Việt Nam vươn ra ....</p>
                                            </div>
                                        </div>
                                        <div class="badge absolute top post-date badge-outline">
                                            <div class="badge-inner"> <span class="post-date-day">14</span><br> <span class="post-date-month is-xsmall">Th4</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col post-item" style="position: absolute; left: 0px; top: 951px;">
                                <div class="col-inner">
                                    <div class="box box-text-bottom box-blog-post has-hover">
                                        <a href="https://devteam.mobi/sinh-nhat-lan-thu-5-cua-cong-ty-tnhh-giai-phap-phan-mem-devteam/" class="plain">
                                            <div class="box-image">
                                                <div class="image-cover" style="padding-top:56%;"> <img width="300" height="225" src="./../../assets/4-min-300x225.jpg" data-src="https://devteam.mobi/wp-content/uploads/2019/03/4-min-300x225.jpg" class="attachment-medium size-medium wp-post-image lazy-load-active"
                                                        alt="Sinh Nhật Lần Thứ 5 Của Công Ty TNHH Giải Pháp Phần Mềm DevTeam" srcset="https://devteam.mobi/wp-content/uploads/2019/03/4-min-300x225.jpg 300w, https://devteam.mobi/wp-content/uploads/2019/03/4-min-768x577.jpg 768w, https://devteam.mobi/wp-content/uploads/2019/03/4-min-1024x769.jpg 1024w"
                                                        data-srcset="https://devteam.mobi/wp-content/uploads/2019/03/4-min-300x225.jpg 300w, https://devteam.mobi/wp-content/uploads/2019/03/4-min-768x577.jpg 768w, https://devteam.mobi/wp-content/uploads/2019/03/4-min-1024x769.jpg 1024w"
                                                        sizes="(max-width: 300px) 100vw, 300px"></div>
                                            </div>
                                        </a>
                                        <div class="box-text text-left">
                                            <div class="box-text-inner blog-post-inner">
                                                <a href="https://devteam.mobi/sinh-nhat-lan-thu-5-cua-cong-ty-tnhh-giai-phap-phan-mem-devteam/" class="plain">
                                                    <h5 class="post-title is-large ">Sinh Nhật Lần Thứ 5 Của Công Ty TNHH Giải Pháp Phần Mềm DevTeam</h5>
                                                </a>
                                                <div class="is-divider"></div>
                                                <p class="from_the_blog_excerpt ">09.03.2019 – Một ngày thật đẹp trong lòng tập thể nhân viên Devteam. Nói như ....</p>
                                            </div>
                                        </div>
                                        <div class="badge absolute top post-date badge-outline">
                                            <div class="badge-inner"> <span class="post-date-day">20</span><br> <span class="post-date-month is-xsmall">Th3</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col post-item" style="position: absolute; left: 401px; top: 951px;">
                                <div class="col-inner">
                                    <div class="box box-text-bottom box-blog-post has-hover">
                                        <a href="https://devteam.mobi/thong-bao-lich-nghi-tet-nguyen-dan-ky-hoi-2019/" class="plain">
                                            <div class="box-image">
                                                <div class="image-cover" style="padding-top:56%;"> <img width="300" height="157" src="./../../assets/lich-nghi-tet-copy-min-300x157.png" data-src="https://devteam.mobi/wp-content/uploads/2019/01/lich-nghi-tet-copy-min-300x157.png" class="attachment-medium size-medium wp-post-image lazy-load-active"
                                                        alt="Thông báo lịch nghỉ Tết Nguyên đán Kỷ Hợi 2019" srcset="https://devteam.mobi/wp-content/uploads/2019/01/lich-nghi-tet-copy-min-300x157.png 300w, https://devteam.mobi/wp-content/uploads/2019/01/lich-nghi-tet-copy-min-768x402.png 768w, https://devteam.mobi/wp-content/uploads/2019/01/lich-nghi-tet-copy-min-600x314.png 600w, https://devteam.mobi/wp-content/uploads/2019/01/lich-nghi-tet-copy-min.png 800w"
                                                        data-srcset="https://devteam.mobi/wp-content/uploads/2019/01/lich-nghi-tet-copy-min-300x157.png 300w, https://devteam.mobi/wp-content/uploads/2019/01/lich-nghi-tet-copy-min-768x402.png 768w, https://devteam.mobi/wp-content/uploads/2019/01/lich-nghi-tet-copy-min-600x314.png 600w, https://devteam.mobi/wp-content/uploads/2019/01/lich-nghi-tet-copy-min.png 800w"
                                                        sizes="(max-width: 300px) 100vw, 300px"></div>
                                            </div>
                                        </a>
                                        <div class="box-text text-left">
                                            <div class="box-text-inner blog-post-inner">
                                                <a href="https://devteam.mobi/thong-bao-lich-nghi-tet-nguyen-dan-ky-hoi-2019/" class="plain">
                                                    <h5 class="post-title is-large ">Thông báo lịch nghỉ Tết Nguyên đán Kỷ Hợi 2019</h5>
                                                </a>
                                                <div class="is-divider"></div>
                                                <p class="from_the_blog_excerpt ">Hoà trong không khí tưng bừng đón chào Tết Nguyên đán Kỷ 2019, Công ty ....</p>
                                            </div>
                                        </div>
                                        <div class="badge absolute top post-date badge-outline">
                                            <div class="badge-inner"> <span class="post-date-day">30</span><br> <span class="post-date-month is-xsmall">Th1</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col post-item" style="position: absolute; left: 0px; top: 1427px;">
                                <div class="col-inner">
                                    <div class="box box-text-bottom box-blog-post has-hover">
                                        <a href="https://devteam.mobi/tiec-tat-nien-cong-ty-tnhh-giai-phap-phan-mem-devteam-chao-don-nam-moi-ky-hoi-2019/" class="plain">
                                            <div class="box-image">
                                                <div class="image-cover" style="padding-top:56%;"> <img width="300" height="225" src="./../../assets/lazy.png" data-src="https://devteam.mobi/wp-content/uploads/2019/01/50719302_2348363121880865_2204658213989646336_n-1-min-300x225.jpg" class="lazy-load attachment-medium size-medium wp-post-image"
                                                        alt="TIỆC TẤT NIÊN CÔNG TY TNHH GIẢI PHÁP PHẦN MỀM DEVTEAM – CHÀO ĐÓN NĂM MỚI KỶ HỢI 2019" srcset="" data-srcset="https://devteam.mobi/wp-content/uploads/2019/01/50719302_2348363121880865_2204658213989646336_n-1-min-300x225.jpg 300w, https://devteam.mobi/wp-content/uploads/2019/01/50719302_2348363121880865_2204658213989646336_n-1-min-768x576.jpg 768w, https://devteam.mobi/wp-content/uploads/2019/01/50719302_2348363121880865_2204658213989646336_n-1-min-1024x768.jpg 1024w, https://devteam.mobi/wp-content/uploads/2019/01/50719302_2348363121880865_2204658213989646336_n-1-min-600x450.jpg 600w"
                                                        sizes="(max-width: 300px) 100vw, 300px"></div>
                                            </div>
                                        </a>
                                        <div class="box-text text-left">
                                            <div class="box-text-inner blog-post-inner">
                                                <a href="https://devteam.mobi/tiec-tat-nien-cong-ty-tnhh-giai-phap-phan-mem-devteam-chao-don-nam-moi-ky-hoi-2019/" class="plain">
                                                    <h5 class="post-title is-large ">TIỆC TẤT NIÊN CÔNG TY TNHH GIẢI PHÁP PHẦN MỀM DEVTEAM – CHÀO ĐÓN NĂM MỚI KỶ HỢI 2019</h5>
                                                </a>
                                                <div class="is-divider"></div>
                                                <p class="from_the_blog_excerpt ">Năm 2018 sắp đi qua, một năm mới với nhiều bước tiến mới, thành công ....</p>
                                            </div>
                                        </div>
                                        <div class="badge absolute top post-date badge-outline">
                                            <div class="badge-inner"> <span class="post-date-day">23</span><br> <span class="post-date-month is-xsmall">Th1</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col post-item" style="position: absolute; left: 401px; top: 1427px;">
                                <div class="col-inner">
                                    <div class="box box-text-bottom box-blog-post has-hover">
                                        <a href="https://devteam.mobi/thong-bao-ngay-1-12-devteam-se-chuyen-co-so-moi/" class="plain">
                                            <div class="box-image">
                                                <div class="image-cover" style="padding-top:56%;"> <img width="300" height="106" src="./../../assets/lazy.png" data-src="https://devteam.mobi/wp-content/uploads/2018/11/123321-1-300x106.jpg" class="lazy-load attachment-medium size-medium wp-post-image"
                                                        alt="[THÔNG BÁO] NGÀY 1/12  DEVTEAM SẼ  CHUYỂN CƠ SỞ MỚI" srcset="" data-srcset="https://devteam.mobi/wp-content/uploads/2018/11/123321-1-300x106.jpg 300w, https://devteam.mobi/wp-content/uploads/2018/11/123321-1-768x270.jpg 768w, https://devteam.mobi/wp-content/uploads/2018/11/123321-1-1024x360.jpg 1024w, https://devteam.mobi/wp-content/uploads/2018/11/123321-1-600x211.jpg 600w"
                                                        sizes="(max-width: 300px) 100vw, 300px"></div>
                                            </div>
                                        </a>
                                        <div class="box-text text-left">
                                            <div class="box-text-inner blog-post-inner">
                                                <a href="https://devteam.mobi/thong-bao-ngay-1-12-devteam-se-chuyen-co-so-moi/" class="plain">
                                                    <h5 class="post-title is-large ">[THÔNG BÁO] NGÀY 1/12 DEVTEAM SẼ CHUYỂN CƠ SỞ MỚI</h5>
                                                </a>
                                                <div class="is-divider"></div>
                                                <p class="from_the_blog_excerpt ">Công ty TNHH giải pháp phần mềm Devteam xin thông báo Từ ngày 01/12/2018 Devteam ....</p>
                                            </div>
                                        </div>
                                        <div class="badge absolute top post-date badge-outline">
                                            <div class="badge-inner"> <span class="post-date-day">30</span><br> <span class="post-date-month is-xsmall">Th11</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col post-item" style="position: absolute; left: 0px; top: 1903px;">
                                <div class="col-inner">
                                    <div class="box box-text-bottom box-blog-post has-hover">
                                        <a href="https://devteam.mobi/devteam-gap-go-doi-tac-singapore-han-quoc-co-hoi-hop-tac-lau-dai-mang-devteam-ra-ngoai-the-gioi/" class="plain">
                                            <div class="box-image">
                                                <div class="image-cover" style="padding-top:56%;"> <img width="300" height="200" src="./../../assets/lazy.png" data-src="https://devteam.mobi/wp-content/uploads/2018/11/45643901_1059864330884865_7883255782811107328_n-2-300x200.jpg" class="lazy-load attachment-medium size-medium wp-post-image"
                                                        alt="Devteam gặp gỡ đối tác Singapore &amp; Hàn Quốc: “Cơ hội hợp tác, phát triển, quốc tế”" srcset="" data-srcset="https://devteam.mobi/wp-content/uploads/2018/11/45643901_1059864330884865_7883255782811107328_n-2-300x200.jpg 300w, https://devteam.mobi/wp-content/uploads/2018/11/45643901_1059864330884865_7883255782811107328_n-2-768x512.jpg 768w, https://devteam.mobi/wp-content/uploads/2018/11/45643901_1059864330884865_7883255782811107328_n-2.jpg 960w"
                                                        sizes="(max-width: 300px) 100vw, 300px"></div>
                                            </div>
                                        </a>
                                        <div class="box-text text-left">
                                            <div class="box-text-inner blog-post-inner">
                                                <a href="https://devteam.mobi/devteam-gap-go-doi-tac-singapore-han-quoc-co-hoi-hop-tac-lau-dai-mang-devteam-ra-ngoai-the-gioi/" class="plain">
                                                    <h5 class="post-title is-large ">Devteam gặp gỡ đối tác Singapore &amp; Hàn Quốc: “Cơ hội hợp tác, phát triển, quốc tế”</h5>
                                                </a>
                                                <div class="is-divider"></div>
                                                <p class="from_the_blog_excerpt ">Trong tháng 11 Devteam đã đón tiếp hai đoàn Đối Tác đến từ Singapore và ....</p>
                                            </div>
                                        </div>
                                        <div class="badge absolute top post-date badge-outline">
                                            <div class="badge-inner"> <span class="post-date-day">27</span><br> <span class="post-date-month is-xsmall">Th11</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col post-item" style="position: absolute; left: 401px; top: 1903px;">
                                <div class="col-inner">
                                    <div class="box box-text-bottom box-blog-post has-hover">
                                        <a href="https://devteam.mobi/devteam-trao-hoc-bong-tai-truong-cao-dang-cong-nghe-thong-tin-itc-thanh-pho-ho-chi-minh/" class="plain">
                                            <div class="box-image">
                                                <div class="image-cover" style="padding-top:56%;"> <img width="300" height="225" src="./../../assets/lazy.png" data-src="https://devteam.mobi/wp-content/uploads/2018/11/46474627_266962117344597_3552603278585888768_n-1024x768-1-300x225.jpg" class="lazy-load attachment-medium size-medium wp-post-image"
                                                        alt="DEVTEAM TRAO HỌC BỔNG TẠI TRƯỜNG CAO ĐẲNG CÔNG NGHỆ THÔNG TIN (ITC)  THÀNH PHỐ HỒ CHÍ MINH" srcset="" data-srcset="https://devteam.mobi/wp-content/uploads/2018/11/46474627_266962117344597_3552603278585888768_n-1024x768-1-300x225.jpg 300w, https://devteam.mobi/wp-content/uploads/2018/11/46474627_266962117344597_3552603278585888768_n-1024x768-1-768x576.jpg 768w, https://devteam.mobi/wp-content/uploads/2018/11/46474627_266962117344597_3552603278585888768_n-1024x768-1.jpg 1024w, https://devteam.mobi/wp-content/uploads/2018/11/46474627_266962117344597_3552603278585888768_n-1024x768-1-600x450.jpg 600w"
                                                        sizes="(max-width: 300px) 100vw, 300px"></div>
                                            </div>
                                        </a>
                                        <div class="box-text text-left">
                                            <div class="box-text-inner blog-post-inner">
                                                <a href="https://devteam.mobi/devteam-trao-hoc-bong-tai-truong-cao-dang-cong-nghe-thong-tin-itc-thanh-pho-ho-chi-minh/" class="plain">
                                                    <h5 class="post-title is-large ">DEVTEAM TRAO HỌC BỔNG TẠI TRƯỜNG CAO ĐẲNG CÔNG NGHỆ THÔNG TIN (ITC) THÀNH PHỐ HỒ CHÍ MINH</h5>
                                                </a>
                                                <div class="is-divider"></div>
                                                <p class="from_the_blog_excerpt ">Nhân ngày 20/11 Ngày Nhà Giáo Việt Nam, từng là cựu sinh viên theo học ....</p>
                                            </div>
                                        </div>
                                        <div class="badge absolute top post-date badge-outline">
                                            <div class="badge-inner"> <span class="post-date-day">21</span><br> <span class="post-date-month is-xsmall">Th11</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col post-item" style="position: absolute; left: 0px; top: 2379px;">
                                <div class="col-inner">
                                    <div class="box box-text-bottom box-blog-post has-hover">
                                        <a href="https://devteam.mobi/nen-chon-mot-cong-ty-tot-hay-mot-nguoi-sep-tot/" class="plain">
                                            <div class="box-image">
                                                <div class="image-cover" style="padding-top:56%;"> <img width="128" height="300" src="./../../assets/lazy.png" data-src="https://devteam.mobi/wp-content/uploads/2018/11/cDung-1-1-128x300.jpg" class="lazy-load attachment-medium size-medium wp-post-image"
                                                        alt="NÊN CHỌN MỘT CÔNG TY TỐT HAY MỘT NGƯỜI SẾP TỐT" srcset="" data-srcset="https://devteam.mobi/wp-content/uploads/2018/11/cDung-1-1-128x300.jpg 128w, https://devteam.mobi/wp-content/uploads/2018/11/cDung-1-1-768x1794.jpg 768w, https://devteam.mobi/wp-content/uploads/2018/11/cDung-1-1-438x1024.jpg 438w, https://devteam.mobi/wp-content/uploads/2018/11/cDung-1-1-600x1401.jpg 600w, https://devteam.mobi/wp-content/uploads/2018/11/cDung-1-1.jpg 912w"
                                                        sizes="(max-width: 128px) 100vw, 128px"></div>
                                            </div>
                                        </a>
                                        <div class="box-text text-left">
                                            <div class="box-text-inner blog-post-inner">
                                                <a href="https://devteam.mobi/nen-chon-mot-cong-ty-tot-hay-mot-nguoi-sep-tot/" class="plain">
                                                    <h5 class="post-title is-large ">NÊN CHỌN MỘT CÔNG TY TỐT HAY MỘT NGƯỜI SẾP TỐT</h5>
                                                </a>
                                                <div class="is-divider"></div>
                                                <p class="from_the_blog_excerpt ">GÓC CHIA SẺ 17/01/2017 9h00 Buổi phỏng vấn vị trí Marketing Mr: Bạn đã từng ....</p>
                                            </div>
                                        </div>
                                        <div class="badge absolute top post-date badge-outline">
                                            <div class="badge-inner"> <span class="post-date-day">07</span><br> <span class="post-date-month is-xsmall">Th11</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col post-item" style="position: absolute; left: 401px; top: 2379px;">
                                <div class="col-inner">
                                    <div class="box box-text-bottom box-blog-post has-hover">
                                        <a href="https://devteam.mobi/chuyen-di-nghi-duong-cua-devteam-tai-coral-sea-resort-phan-thiet/" class="plain">
                                            <div class="box-image">
                                                <div class="image-cover" style="padding-top:56%;"> <img width="300" height="185" src="./../../assets/lazy.png" data-src="https://devteam.mobi/wp-content/uploads/2018/10/chuyen-di-phan-thiet-2-300x185-1-300x185.jpg" class="lazy-load attachment-medium size-medium wp-post-image"
                                                        alt="Chuyến đi nghỉ dưỡng của Devteam tại Coral Sea Resort Phan Thiết"></div>
                                            </div>
                                        </a>
                                        <div class="box-text text-left">
                                            <div class="box-text-inner blog-post-inner">
                                                <a href="https://devteam.mobi/chuyen-di-nghi-duong-cua-devteam-tai-coral-sea-resort-phan-thiet/" class="plain">
                                                    <h5 class="post-title is-large ">Chuyến đi nghỉ dưỡng của Devteam tại Coral Sea Resort Phan Thiết</h5>
                                                </a>
                                                <div class="is-divider"></div>
                                                <p class="from_the_blog_excerpt ">Devteam hoạt động theo phương châm “ Làm hết sức, chơi hết mình”, nhân dịp ....</p>
                                            </div>
                                        </div>
                                        <div class="badge absolute top post-date badge-outline">
                                            <div class="badge-inner"> <span class="post-date-day">30</span><br> <span class="post-date-month is-xsmall">Th10</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="page-numbers nav-pagination links text-center">
                            <li><span aria-current="page" class="page-number current">1</span></li>
                            <li><a class="page-number" href="https://devteam.mobi/chuyen-muc/tin-tuc/page/2/">2</a></li>
                            <li><a class="next page-number" href="https://devteam.mobi/chuyen-muc/tin-tuc/page/2/"><i class="icon-angle-right"></i></a></li>
                        </ul>
                    </div>
                    <div class="post-sidebar large-3 col">
                        <div id="secondary" class="widget-area " role="complementary">
                            <aside id="custom_html-3" class="widget_text widget widget_custom_html">
                                <div class="textwidget custom-html-widget">
                                    <div class="fb-page fb_iframe_widget" data-href="https://www.facebook.com/devteam.mobi/" data-width="380" data-hide-cover="false" data-show-facepile="false" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=&amp;container_width=0&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fdevteam.mobi%2F&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=false&amp;width=380"><span style="vertical-align: bottom; width: 380px; height: 130px;"><iframe name="f13a3ec07740b7c" width="380px" height="1000px" title="fb:page Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="./../../assets/page.html" style="border: none; visibility: visible; width: 380px; height: 130px;" class=""></iframe></span></div>
                                </div>
                            </aside>
                            <aside id="search-2" class="widget widget_search">
                                <span class="widget-title "><span>Tìm kiếm</span></span>
                                <div class="is-divider small"></div>
                                <form method="get" class="searchform" action="https://devteam.mobi/" role="search">
                                    <div class="flex-row relative">
                                        <div class="flex-col flex-grow"> <input type="search" class="search-field mb-0" name="s" value="" id="s" placeholder="Search…" autocomplete="off"></div>
                                        <div class="flex-col"> <button type="submit" class="ux-search-submit submit-button secondary button icon mb-0"> <i class="icon-search"></i> </button></div>
                                    </div>
                                    <div class="live-search-results text-left z-top">
                                        <div class="autocomplete-suggestions" style="position: absolute; display: none; max-height: 300px; z-index: 9999;"></div>
                                    </div>
                                </form>
                            </aside>
                            <aside id="relatedpoststhumbnailswidget-2" class="widget relpoststh_widget"> 
                                <span class="widget-title "> Bài viết nổi bật </span>
                                <div class="is-divider small"></div>
                                <div class="relpost-thumb-wrapper">
                                    <div class="border-d" style=" height: 4px; background: red; width: 50px; position: absolute; top: 40px; "></div>
                                    <div class="post-hover-v">
                                        <div class="relpost-block-container">
                                            <div class="wrap-relpost" style="width: 250px; height: 325px;">
                                                <a class="relpost-block-single" href="https://devteam.mobi/hoi-dap-nhanh-thiet-ke-website-giong-30shine-com-gia-bao-nhieu/">
                                                    <div class="relpost-block-single-text" style="font-family: Arial;  font-size: 14px;  color: #333333;"><span class="color_number_related">01<img src="./../../assets/i_bacham.svg" style="padding: 0px 2px 1px 1px;width: 5px;"></span>Hỏi Đáp Nhanh | Thiết Kế Website Giống 30shine.com Giá Bao Nhiêu?</div>
                                                    <div class="border-d"></div>
                                                    <div class="relpost-block-single-image" alt="Hỏi Đáp Nhanh | Thiết Kế Website Giống 30shine.com Giá Bao Nhiêu?" style=" background: transparent url(https://devteam.mobi/wp-content/uploads/2019/04/web-1.jpg) no-repeat scroll 0% 0%; width: 250px; height: 250px;  background-size: cover; ">
                                                        <div class="border-div-img"></div>
                                                    </div>
                                                </a>
                                                <div class="wrap-link-relpost"> 
                                                    <a href="https://devteam.mobi/hoi-dap-nhanh-thiet-ke-website-giong-30shine-com-gia-bao-nhieu/" style="display: block; position: relative; min-width: inherit;margin-bottom: unset;font-weight: 600;top:5px;color: #555555; ">ĐỌC CHI TIẾT<img src="./../../assets/i_retangle.svg" style="width: 15px; padding: 4px;  top: -2px;  position: relative; left: 0px;"></a>
                                                    <div class="date_post_v"> <span class="related_post_date" style=" transform: skewX(20deg); display: block; color: red;text-align: center;">19/04/2019</span></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="clear: both"></div>
                                    </div>
                                    <div class="post-hover-v">
                                        <div class="relpost-block-container">
                                            <div class="wrap-relpost" style="width: 250px; height: 325px;">
                                                <a class="relpost-block-single" href="https://devteam.mobi/neu-la-moi-gioi-nha-dat-thi-dung-bo-qua-bai-viet-nay/">
                                                    <div class="relpost-block-single-text" style="font-family: Arial;  font-size: 14px;  color: #333333;"><span class="color_number_related">02<img src="./../../assets/i_bacham.svg" style="padding: 0px 2px 1px 1px;width: 5px;"></span>Nếu Là Môi Giới Nhà Đất, Thì Đừng Bỏ Qua Bài Viết Này</div>
                                                    <div class="border-d"></div>
                                                    <div class="relpost-block-single-image" alt="Nếu Là Môi Giới Nhà Đất, Thì Đừng Bỏ Qua Bài Viết Này" style=" background: transparent url(https://devteam.mobi/wp-content/uploads/2019/03/thiet-ke-web-bđs-4.jpg) no-repeat scroll 0% 0%; width: 250px; height: 250px;  background-size: cover; ">
                                                        <div class="border-div-img"></div>
                                                    </div>
                                                </a>
                                                <div class="wrap-link-relpost"> <a href="https://devteam.mobi/neu-la-moi-gioi-nha-dat-thi-dung-bo-qua-bai-viet-nay/" style="display: block; position: relative; min-width: inherit;margin-bottom: unset;font-weight: 600;top:5px;color: #555555; ">ĐỌC CHI TIẾT<img src="./../../assets/i_retangle.svg" style="width: 15px; padding: 4px;  top: -2px;  position: relative; left: 0px;"></a>
                                                    <div class="date_post_v"> <span class="related_post_date" style=" transform: skewX(20deg); display: block; color: red;text-align: center;">08/04/2019</span></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="clear: both"></div>
                                    </div>
                                    <div class="post-hover-v">
                                        <div class="relpost-block-container">
                                            <div class="wrap-relpost" style="width: 250px; height: 325px;">
                                                <a class="relpost-block-single" href="https://devteam.mobi/gia-thiet-ke-website-lap-la-so-tu-vi-giong-tuvivietnam-vn/">
                                                    <div class="relpost-block-single-text" style="font-family: Arial;  font-size: 14px;  color: #333333;"><span class="color_number_related">03<img src="./../../assets/i_bacham.svg" style="padding: 0px 2px 1px 1px;width: 5px;"></span>Giá Thiết Kế Website Lập Lá Số Tử Vi Giống Tuvivietnam.vn | Devteam</div>
                                                    <div class="border-d"></div>
                                                    <div class="relpost-block-single-image" alt="Giá Thiết Kế Website Lập Lá Số Tử Vi Giống Tuvivietnam.vn | Devteam" style=" background: transparent url(https://devteam.mobi/wp-content/uploads/2019/05/Untitled-1-min.jpg) no-repeat scroll 0% 0%; width: 250px; height: 250px;  background-size: cover; ">
                                                        <div class="border-div-img"></div>
                                                    </div>
                                                </a>
                                                <div class="wrap-link-relpost"> 
                                                    <a href="https://devteam.mobi/gia-thiet-ke-website-lap-la-so-tu-vi-giong-tuvivietnam-vn/" style="display: block; position: relative; min-width: inherit;margin-bottom: unset;font-weight: 600;top:5px;color: #555555; ">ĐỌC CHI TIẾT<img src="./../../assets/i_retangle.svg" style="width: 15px; padding: 4px;  top: -2px;  position: relative; left: 0px;"></a>
                                                    <div class="date_post_v"> <span class="related_post_date" style=" transform: skewX(20deg); display: block; color: red;text-align: center;">28/05/2019</span></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="clear: both"></div>
                                    </div>
                                    <div class="post-hover-v">
                                        <div class="relpost-block-container">
                                            <div class="wrap-relpost" style="width: 250px; height: 325px;">
                                                <a class="relpost-block-single" href="https://devteam.mobi/the-nao-la-thuong-mai-dien-tu-ban-chinh-xac-nhat/">
                                                    <div class="relpost-block-single-text" style="font-family: Arial;  font-size: 14px;  color: #333333;"><span class="color_number_related">04<img src="./../../assets/i_bacham.svg" style="padding: 0px 2px 1px 1px;width: 5px;"></span>Thế Nào Là Thương Mại Điện Tử? [Bản Chính Xác Nhất]</div>
                                                    <div class="border-d"></div>
                                                    <div class="relpost-block-single-image" alt="Thế Nào Là Thương Mại Điện Tử? [Bản Chính Xác Nhất]" style=" background: transparent url(https://devteam.mobi/wp-content/uploads/2019/03/thuong-mai-dien-tu-min.jpg) no-repeat scroll 0% 0%; width: 250px; height: 250px;  background-size: cover; ">
                                                        <div class="border-div-img"></div>
                                                    </div>
                                                </a>
                                                <div class="wrap-link-relpost"> <a href="https://devteam.mobi/the-nao-la-thuong-mai-dien-tu-ban-chinh-xac-nhat/" style="display: block; position: relative; min-width: inherit;margin-bottom: unset;font-weight: 600;top:5px;color: #555555; ">ĐỌC CHI TIẾT<img src="./../../assets/i_retangle.svg" style="width: 15px; padding: 4px;  top: -2px;  position: relative; left: 0px;"></a>
                                                    <div class="date_post_v"> <span class="related_post_date" style=" transform: skewX(20deg); display: block; color: red;text-align: center;">20/03/2019</span></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="clear: both"></div>
                                    </div>
                                    <div class="post-hover-v">
                                        <div class="relpost-block-container">
                                            <div class="wrap-relpost" style="width: 250px; height: 325px;">
                                                <a class="relpost-block-single" href="https://devteam.mobi/chi-tiet-dich-vu-thiet-ke-vong-quay-may-man-giong-appota/">
                                                    <div class="relpost-block-single-text" style="font-family: Arial;  font-size: 14px;  color: #333333;"><span class="color_number_related">05<img src="./../../assets/i_bacham.svg" style="padding: 0px 2px 1px 1px;width: 5px;"></span>Chi Tiết Dịch Vụ Thiết Kế Vòng Quay May Mắn Giống Appota</div>
                                                    <div class="border-d"></div>
                                                    <div class="relpost-block-single-image" alt="Chi Tiết Dịch Vụ Thiết Kế Vòng Quay May Mắn Giống Appota" style=" background: transparent url(https://devteam.mobi/wp-content/uploads/2019/06/vong-quay-may-man-min.png) no-repeat scroll 0% 0%; width: 250px; height: 250px;  background-size: cover; ">
                                                        <div class="border-div-img"></div>
                                                    </div>
                                                </a>
                                                <div class="wrap-link-relpost"> <a href="https://devteam.mobi/chi-tiet-dich-vu-thiet-ke-vong-quay-may-man-giong-appota/" style="display: block; position: relative; min-width: inherit;margin-bottom: unset;font-weight: 600;top:5px;color: #555555; ">ĐỌC CHI TIẾT<img src="./../../assets/i_retangle.svg" style="width: 15px; padding: 4px;  top: -2px;  position: relative; left: 0px;"></a>
                                                    <div class="date_post_v"> <span class="related_post_date" style=" transform: skewX(20deg); display: block; color: red;text-align: center;">05/07/2019</span></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="clear: both"></div>
                                    </div>
                                    <div class="post-hover-v">
                                        <div class="relpost-block-container">
                                            <div class="wrap-relpost" style="width: 250px; height: 325px;">
                                                <a class="relpost-block-single" href="https://devteam.mobi/top-10-phan-mem-crm-xin-nhat-thi-truong-hien-nay/">
                                                    <div class="relpost-block-single-text" style="font-family: Arial;  font-size: 14px;  color: #333333;"><span class="color_number_related">06<img src="./../../assets/i_bacham.svg" style="padding: 0px 2px 1px 1px;width: 5px;"></span>Top 10 Phần Mềm CRM “Xịn” Nhất Thị Trường Hiện Nay</div>
                                                    <div class="border-d"></div>
                                                    <div class="relpost-block-single-image" alt="Top 10 Phần Mềm CRM “Xịn” Nhất Thị Trường Hiện Nay" style=" background: transparent url(https://devteam.mobi/wp-content/uploads/2019/04/phan-mem-crm-co-the-cham-soc-khach-hang-nhu-the-nao.png) no-repeat scroll 0% 0%; width: 250px; height: 250px;  background-size: cover; ">
                                                        <div class="border-div-img"></div>
                                                    </div>
                                                </a>
                                                <div class="wrap-link-relpost"> <a href="https://devteam.mobi/top-10-phan-mem-crm-xin-nhat-thi-truong-hien-nay/" style="display: block; position: relative; min-width: inherit;margin-bottom: unset;font-weight: 600;top:5px;color: #555555; ">ĐỌC CHI TIẾT<img src="./../../assets/i_retangle.svg" style="width: 15px; padding: 4px;  top: -2px;  position: relative; left: 0px;"></a>
                                                    <div class="date_post_v"> <span class="related_post_date" style=" transform: skewX(20deg); display: block; color: red;text-align: center;">27/04/2019</span></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="clear: both"></div>
                                    </div>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <%- include("./../layout/footer"); -%>
    </div>
    <%- include("./../layout/hotline"); -%>
    <div class="block-profile-capacity"> <img class="icon-doc" src="./../../assets/file.svg"> <img class="icon-devteam" src="./../../assets/devteam-logo.svg"> <a href="https://devteam.mobi/ho-so-nang-luc-devteam.pdf" target="_blank" class="link-sub"></a></div>
    <%- include("./../layout/sidebar"); -%>
    <div style="display:none"></div>
    <script id="lazy-load-icons">
        /* Lazy load icons css file */
        var fl_icons = document.createElement('link');
        fl_icons.rel = 'stylesheet';
        fl_icons.href = 'https://devteam.mobi/wp-content/themes/flatsome/assets/css/fl-icons.css';
        fl_icons.type = 'text/css';
        var fl_icons_insert = document.getElementsByTagName('link')[0];
        fl_icons_insert.parentNode.insertBefore(fl_icons, fl_icons_insert);
    </script>
    <script type="text/javascript">
        var wpcf7 = {
            "apiSettings": {
                "root": "https:\/\/devteam.mobi\/wp-json\/contact-form-7\/v1",
                "namespace": "contact-form-7\/v1"
            },
            "cached": "1"
        };
    </script>
    <script type="text/javascript" src="./../../assets/devicepx-jetpack.js"></script>
    <script type="text/javascript">
        var tocplus = {
            "visibility_show": "hi\u1ec7n",
            "visibility_hide": "\u1ea9n",
            "visibility_hide_by_default": "1",
            "width": "Auto"
        };
    </script>
    <script type="text/javascript" src="./../../assets/gprofiles.js"></script>
    <script type="text/javascript">
        var WPGroHo = {
            "my_hash": ""
        };
    </script>
    <script type="text/javascript">
        var flatsomeVars = {
            "ajaxurl": "https:\/\/devteam.mobi\/wp-admin\/admin-ajax.php",
            "rtl": "",
            "sticky_height": "70",
            "user": {
                "can_edit_pages": false
            }
        };
    </script>
    <%- include("./../layout/form-show"); -%>
    <script>
        function setCookie(name, value, days) {
            var expires = '';
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = 'expires=' + date.toUTCString();
            }
            document.cookie = name + '=' + (value || '');
        }

        function getCookie(name) {
            var nameEQ = name + '=';
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }

        function msToTime(duration) {
            var milliseconds = parseInt((duration % 1000) / 100),
                seconds = Math.floor((duration / 1000) % 60),
                minutes = Math.floor((duration / (1000 * 60)) % 60),
                hours = Math.floor((duration / (1000 * 60 * 60)) % 24);
            hours = (hours < 10) ? '0' + hours : hours;
            minutes = (minutes < 10) ? '0' + minutes : minutes;
            seconds = (seconds < 10) ? '0' + seconds : seconds;
            return hours;
        }
        if (!getCookie('access_websites')) {
            setCookie('access_websites', new Date(), 4555858);
            setTimeout(function () {
                jQuery('.wp-form-show').addClass('active');
            }, 10000);
        } else {
            var datecookie = (new Date(getCookie('access_websites'))).getTime();
            var today = (new Date()).getTime();
            var result = today - datecookie;
            var subdate = msToTime(result);
            if (subdate && subdate > 24) {
                setCookie('access_websites', new Date(), 4555858);
                setTimeout(function () {
                    jQuery('.wp-form-show').addClass('active');
                }, 10000);
            }
        }
        jQuery(document).ready(function () {
            jQuery('.wp-form-show .overlays').click(function () {
                jQuery('.wp-form-show').removeClass('active');
            });
            jQuery('.remove-icon').click(function () {
                jQuery('.wp-form-show').removeClass('active');
                $(this).removeClass('overlays');
            });
        });
    </script>
    <div class="sidebar-footer"><span class="hidden" style="display:none">10000</span></div>
    <%- include("./../layout/form-show-phone"); -%>
    <%- include("./../layout/layout-footer"); -%>